<% include ../partials/header %>
<head>
  <title>The researcher</title>
</head>

<body>
<div class="container">
  <div class="row">
<h1>Louise Romain Watson, digital anthropologist and activist-researcher</h1>
<img src="/pictures/the-researcher/me.jpg" alt="" class="img-responsive center"/>
<p class="caption">self-portrait, Montreal, April 2016</p>
<h3>My story</h3>
<p>More and more these past years, I’ve been defining myself through my work. Being a researcher, I aim to cultivate a vision, a sense of dedication and a practice of collaboration. Circle of Voices has been the first meaningful culmination of all that.</br></br>
I grew up in a suburban town near Paris, where I never really had to worry. I left the familiar nest at 18 to begin my own adventure in Berlin. I started studying socio-cultural anthropology, and it seemed to be a scholarly way to nurture my curiosity about the diversity of human cultures in the world. The need to belong to vibrant communities gradually took more meaning in my life. First, by becoming a festival organizer and co-founder of <u><a href="http://www.serendubity.com/" target="_blank">Serendubity Festival</u></a> in Germany, and later by supporting the co-creation of the educational program <u><a href="http://www.schoolofallrelations.com/" target="_blank">School Of All Relations</a></u> in Greece. Along the way, I developed a passion for multilingualism, photography, dancing, group facilitation, and writing. My economic privileges and my thirst for adventure allowed me to travel to stunning places on different continents, and encounter truly inspiring individuals. As part of my studies, I ended up living on Reunion island for half a year, an exotic French piece of land next to Madagascar, and a year later in Montreal, Quebec. For the first time, I could apply my knowledge into practice in the setting of an ethnographic fieldwork. While doing my work, I was confronted with the painful heritage left by the former members of my vocation and my country. I came to realize what academia couldn’t teach me and I began carving my own learning path. Back in Europe, I got involved in the NoDAPL movement, and initiated a <u><a href="https://actionnetwork.org/events/berlin-in-support-of-standingrock-nodapl" target="_blank">local mobilization in Berlin</u></a> to support indigenous sovereignty and climate justice. Recently, I’ve been settling in Copenhagen, Denmark, where I started a Master in Techno-Anthropology.</br></p>
<h5>Circle of Voices is my offering after these past years of exploration. It is my way to bring change, hope, and mutual understanding between peoples. It is my attempt to gain recognition, acceptance and give meaning to my life. I believe academic research has a role to play in enacting social and political change. I’m convinced that technology and the arts can enhance the dynamic relationship between academia and activism.</h5>
<img src="/pictures/the-researcher/manawan.jpg" alt="" class="img-responsive center">
<p class="caption"> picture taken in Manawan by <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a></p>

<h3>Poem written half way through the fieldwork - May 2016</h3>
<h5>I heard a call and so, I showed up:</br>
  Leaving home, crossing the ocean</br>
  Hungry for learning, the heart full of passion</br>
  Coming on this land, with a big vision,</br>
  Not quite ready to meet that bitter illusion</br>
  How ignorant was I...</br>
  while starting this journey</br>
  How innocent am I...</br>
  Fuck, I had no idea.
</br></br>
I heard a call and so, I listened:</br>
To the ways the stories were told</br>
To the tragedies where too much was sold</br>
Now, I honor how we are all so bold</br>
And I wonder how we can, together, grow old.
</br></br>
I heard a call and so, I stepped in!</br>
Into this fascinating community</br>
Where it isn't only about love, peace and harmony</br>
Where we share what hurts and what feels wrong,</br>
Enabling us to trully bound.
</br></br>
Questioning my (his)story</br>
Feeling unsettled in this fragmented reality</br>
Pushing me to re-frame my identity</br>
Simply being challenged by life's fertility
</br></br>
I am thankful for the gifts,</br>
The former, the present and the future ones</br>
I am thankful for the relationships,</br>
The former, the present and the future ones
</br></br>
So let's rise with hope and mutual understanding</br>
Let's go face the world, open to healing</br>
Transform it into a better place to live in</br>
For all coming generations and all forms of being</br>
</h5>
<img src="/pictures/the-researcher/withMK.jpg" class="img-responsive center">
<p class="caption">MK and Louise in Odanak, taken by <u><a href="/the-women/Catherine-Boivin" target="_blank">Catherine Boivin</u></a></p>
</div>
</div>
</body>
<% include ../partials/footer %>
