<% include ../partials/header %>
<head>
  <title>The researcher</title>
</head>

<body>
<div class="container">
  <div class="row">
<h1>Reflecting on my own trajectory as a young white european researcher</h1>
<img src="/pictures/the-researcher/manawan.jpg" alt="" class="img-responsive center">
<p class="caption"> picture taken in Manawan by Marie Kristine Petiquay</p>

<h3>Poem</h3>
<h5> I heard a call and so I showed up:</br>
  Leaving home, crossing the ocean</br>
  Hungry for learning, the heart full of passion</br>
  Coming on this land, with a big vision,</br>
  Not quite ready to meet that bitter illusion</br>
  How ignorant was I...</br>
  while starting this journey</br>
  How innocent am I...</br>
  Fuck, I had no idea.
</br></br>
I heard a call and so, I listened:</br>
To the ways the stories were told</br>
To the tragedies where too much was sold</br>
Now I honor how we are ll so bold</br>
And I wonder how we can, together, grow old
</br></br>
I heard a call and so, I stepped in!</br>
Into this fascinating community</br>
Where it isn't only auot ove, pece and harmony</br>
Where we share what hurst and what feels wrong,</br>
Enabling us to trully background-color
</br></br>
Questioning my (his)story</br>
Feeling unsettled in this fragmented reality</br>
Pushing me to re-frame my identity</br>
Simply being challenged by life's fertility
</br></br>
I am thankful for the gifts,</br>
The former, the present and the future ones</br>
I am thankful for the relationships,</br>
The former, the repent and the future ones
</br></br>
So let's rise with hope and mutual understanding</br>
Let's go face the world, open to healing</br>
Transform it into a better place to live in</br>
For all coming generations and forms of being</br>
</h5>
<img src="/pictures/the-researcher/withMK.jpg" class="img-responsive center">
<p class="caption"> picture taken in Odanak by Catherine Boivin</p>
</div>
</div>
</body>
<% include ../partials/footer %>
