<% include ../partials/header %>
<head>
  <title>The research</title>
</head>

<body>
<div class="container">
  <div class="row">

<h3> The academic writing below was published as my Bachelor thesis in social and cultural anthropology for the Free University in Berlin, Germany</h3>
<h5>I'm sharing it here, because I believe that academic research should be made accessible for anyone who is interested. You can download it for free on <u><a href="https://www.researchgate.net/publication/321295712_Merging_digital_tools_with_collaborative_methodologies_CircleofVoicescom_a_multimedia_research_project_on_the_cultural_revitalization_of_young_Indigenous_women_of_Quebec" target="_blank">Researchgate</u></a> and <u><a href="https://www.academia.edu/35263716/Merging_digital_tools_with_collaborative_methodologies_Circle_of_Voices_a_multimedia_project_on_the_cultural_revitalization_of_young_Indigenous_women_of_Quebec" target="_blank">Academia</u></a>.</h5>
<iframe src="https://docs.google.com/document/d/16kGYeoOmSY7CEMLSPs_eIj_v_A0JFDKzNIISPo1XAXM/edit?usp=sharing"style="width:900px; height:990px;" frameborder="0"></iframe>
<!--
-->
</div>
</div>
</body>

<% include ../partials/footer %>
