<% include ../partials/header %>
<head>
  <title>The research</title>
</head>

<body>
<div class="container">
<h1>Merging digital tools with collaborative methodologies:
Circle of Voices, a multimedia project supporting the cultural revitalization of young Native women of Québec</h1>

<h2>Chapter 1: At the crossroads of visual and digital anthropology</2>

<h3>Using traditional methods of visual anthropology</h3>
<p>Sarah Pink, Doing visual ethnography; Working Images. Visual Research and Representation in Ethnography

<h3>Experimenting with various digital tools</h3>
<p>Anthrovision review 2.1 2014 -Anthropology and Digital Technologies

  Academia 2.0: presenting research through the web
  Anthrovision review 2.2 - Digital Visual Engagement (laviedurail.net)

<h2>Chapter 2: A collaborative approach</h2>

<h3>The underlying ethical principles</h3>
Quebec Native Inc - guidelines for research with aboriginal women
Laurent Jérôme: pour quelle participation? Ethique, protocoles et nouveaux cadres de la recherche avec les Premières Nations du Québec

<h3>Applied methodologies: opening the space for co-creation</h3>
Sarah Elder, Collaborative Filmmaking: an open space for making meaning, a moral ground for ethnographic film


  Limits of collaboration
  Terence Turner, Representation, Collaboration and Mediation In Contemporary Ethnographic and Indigenous Media
  Jay, Ruby - Speaking For, Speaking About, Speaking With, or Speaking Alongside- An Anthropological and Documentary Dilemma
  Carlos Y. Flores, Indigenous video, development and shared anthropology: a collaborative experience with maya q'eqchil'filmmakers in postwar guatemala


  <h2>Chapter 3: Framing cultural revitalization within the broader defense of indigenous rights</h2>


  Drawing from international and local legal documents
  The United Nations Declaration on the Rights of Indigenous Peoples
  Truth and Reconciliation Commision of Canada: Call to Actions


  Two movements, one direction: decolonization and resurgence
  Tuhiwai Smith, Linda: Decolonizing Methodologies: research and indigenous people

  <h3>Restoring the identities, restoring the Nations</h3>
      Taiaiake Alfred, Jeff Corntassel

<h2>Chapter 4: The people</h2>

  Specificities of working with women
  (Amnesty International Report: no more stolen sisters - the need for a comprehensive response to discrimination and violence against indigenous women in Canada (2009)
  UN Briefing Notes : Gender and Indigenous Women (2010)
  Rauna Kuokkanen, Self-Determination and Indigenous Women’s Rights at the Intersection of International Human Rights)

  <h3>Specificities of working with youths</h3>

<p>Emergence of a generation proud of its roots
    Ryan McMahon? Leanne Simpson?</p>

<h2>Chapter 5: The place</h2>
wabanaki, atikamekw, wolastoqiyik: all part of the Algonquian family
Tri-dimensional identity: indigenous, quebecois and canadian?

</div>
</body>

<% include ../partials/footer %>
