<% include ../partials/header %>
<head>
  <title>The research</title>
  <!-- Hotjar Tracking Code for http://www.circleofvoices.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2099940,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
<h3>Master thesis ~ Aalborg Universitet, Copenhagen, Denmark</h3>
<p class="home">Circle of Voices: a techno-anthropological venture among Quebec First Nations</p></br>
<div class="video">
  <iframe src="/pictures/the-researcher/CircleofVoices_a techno-anthropological venture.pdf"style="width:responsive; height:responsive;" frameborder="0"></iframe>
</div>
    </div>
    <div class="col-xs-6">
  <h3>Bachelor thesis ~ Freie Universität, Berlin, Germany</h3>
  <p class= "home">Merging digital tools with collaborative methodologies:
Circle of Voices, a multimedia project on the cultural revitalization of young Indigenous women of Quebec</p>
<div class="video">
<iframe src="/pictures/the-researcher/Merging digital tools with collaborative methodologies_CircleofVoices.pdf"style="width:responsive; height:responsive;" frameborder="0"></iframe>
</div>
  </div>
  <div class="col-xs-12">
  <h5>Visit my profile on <u><a href="https://www.researchgate.net/profile/Louise_Romain"target="_blank">Researchgate</u></a> and
  <u><a href="https://aau-cph.academia.edu/LouiseRomain" target="_blank">Academia</u></a>.</h5>
  </div>
</div>
</div>
</body>

<% include ../partials/footer %>
