<body>
  <div class="container">
    <div class="row">
<div class="col-xs-12" id="footer">

</br></br>
Contact: Louise Romain Watson</br>
Email: petitelouise (at) posteo (dot) de</br>
Phone: +45.8194.7521</br>
Short bio: Digital anthropologist and activist researcher, with roots in France and feet in Canada and Denmark.
</br></br></br>
</div>
  </div>

</div>
</body>
</html>
