<body>
  <div class="container">
    <div class="row">
<div class="col-xs-12" id="footer">

</br></br>
Contact: Louise Romain</br>
Email: louise[at]circleofvoices[dot]com</br>
Short bio: Digital anthropologist and activist researcher, with roots in France and feet in Canada and Denmark.
</br></br></br>
</div>
  </div>

</div>
</body>
</html>
