<!DOCTYPE html>
<html>

<head>
    <title>Circle of Voices</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/circle.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/circle.js"></script>
</head>

<body>
<div class="container container-navbar">
<nav class="navbar navbar-default">
    <!--<div class="navbar-header">
    <!-- mini wheel?</div>-->
    <div class="nav navbar-nav">
      <ul>
        <li><a href="/home" class="header">Home</a></li>
        <li><a href="/the-women"class="header">The women</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle header" data-toggle="dropdown" href="/about">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">The website</a></li>
            <li><a href="the-research">The research</a></li>
            <li><a href="/the-communities">The communities</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="acknowledgments">Acknowledgements</a></li>
          </ul>
        </li>
        <li class="dropdown pull-right">
          <a class="dropdown-toggle header" data-toggle="dropdown" href="#">Language<span class="caret"></span></a>
          <ul id="language-nav" class="dropdown-menu">
            <li><a href="/fr/home">French</a></li>
            <li><a href="/en/home">English</a></li>
          </ul>
        </li>
      </ul>
</div>
</nav>
  </div>
  </body>
