<!DOCTYPE html>
<html>

<head>
    <title>Circle of Voices</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/circle.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/circle.js"></script>
</head>

<body>
<div class="container container-navbar">
<nav class="navbar navbar-default">
    <!--<div class="navbar-header">
    <!-- mini wheel?</div>-->
    <div class="nav navbar-nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/the-women">The women</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/about">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">Who</a></li>
            <li><a href="/the-communities">The communities</a></li>
            <li><a href="the-research">The research: academic writing</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="acknowledgments">Acknowledgements</a></li>

              </ul>
            </ul>
    </div>

  </div>
</nav>
    <!-- OLD NAVBAR
    <nav class="navbar navbar-default">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">HOME</a>
                            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/">HOME</a></li>
                    <li><a href="/the-women">The women <span class="sr-only">(current)</span></a></li>
                    <li><a href="/the-communities">The communities <span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">About</a></li>
                    </li></ul>
                    <li><a href="/the-research">Research</a></li>
                    <li><a href="#">Circle of Voices</a></li>
                    <li><a href="#">Contact</a></li>
                    </li>
                </ul>-->
    </div>
    </div>
    </div>
    </body>
