<!DOCTYPE html>
<html>

<head>
    <title>Circle of Voices</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/circle.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/circle.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<div class="container container-navbar">
<nav class="navbar navbar-default">
    <!--<div class="navbar-header">
    <!-- mini wheel?</div>-->
    <div class="nav navbar-nav">
      <ul>
        <li><a href="/home" class="header">Home</a></li>
        <li><a href="/the-women"class="header">Youths' stories</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle header" data-toggle="dropdown" href="/about">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">Circle of Voices</a></li>
            <li><a href="/the-communities">The communities</a></li>
            <li><a href="/the-research">The research</a></li>
            <li><a href="/the-researcher">The researcher</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/ack">Acknowledgements</a></li>
            </li>
        </ul>
        </ul>
</div>
</nav>
  </div>
  </body>
