<% include ../partials/header %>
<head>
  <title>The women</title>
</head>
<body>
<div class="container">
<h1>Catherine Boivin</h1>
<h3>Nation atikamekw, communauté d'origine: Wemotaci </h3>

<div class="row">
<div class="col-xs-6">
  <img href src="/pictures/the-women/cath.jpg" class="img-responsive img-left" alt""/>
  <p class="caption">autoportrait, 11.06.2016 </p>
</div>
<div class="col-xs-6">
<h3> Courte biographie</h3>
<p> Catherine Boivin est une jeune atikamekw de 27 ans. Elle a été élevée avec ses quatre autres sœurs
principalement à Wemotaci, dont son père est originaire et a aussi vécu un an à Manawan, d’où
vient sa mère. A 18 ans, elle quitte sa communauté pour aller étudier à Montréal et se retrouve vite
 confronter à des défis auxquels beaucoup de jeunes autochtones doivent faire face: l’isolement et le
 repli sur la consommation (d’alcool ou de drogues). Elle interrompt ses études et retourne dans sa
 communauté, où elle trouve du travail au sein de la maison des jeunes. Après quelques années et à
 force d’entendre parler de Kiuna, elle décide de retourner aux études en 2012. Elle a gradué en mai
 2016 dans le programme Sciences Humaines et a poursuivi ses études en s’installant de nouveau à
 Montréal. Catherine est une créatrice dans l’âme, que cela concerne la musique, la photographie, le
 cinéma, l’écriture, les arts plastiques ou encore l’artisanat. Ainsi, elle a décidé de suivre sa passion
 et réalise un certificat en arts visuels à UQAM.
 </p>
</div>

</div>

<div class="row">
  <div class="col-xs-6">
    <h4>Son parcours scolaire</h4>
    <p>Après avoir passé la totalité de son éducation à Wemotaci, elle part à Montréal à 18 ans pour un Diplôme d'Etudes Collégiales
      en design de mode. Elle se retrouve vite isolée et seule dans cette grande ville: <em>"L'isolement, ça m'a beaucoup affectée.
      Ca m'a presque mis en dépression parce-que j'étais toute seule dans l'appartement. Au début j'étais avec quelqu'un
      mais elle aussi a décidé de changer de session. J'avais personne à qui parler, j'avais pas de contact."</em>
      Malgré son échec scolaire, elle parvient à en tirer le positif:<em> "Finalement, ça m'a permis de voir un peu que...
        j'avais échoué tous mes cours, mais je retournais dans ma communauté l'été, pis on dirait j'ai réalisé à quel
        point ça a été important pour moi d'être chez nous."</em></p>

  <h4>Kiuna, unique institution post-secondaire des Premières Nations au Québec</h4>
    <p>Mais Catherine ne désespère pas. Elle entend parler de Kiuna par différentes voies et décide de retourner aux études en 2012.
      Elle y passe quatre ans et réalise l'importance de persévérer mais aussi de se développer: <em>"Kiuna m'a permis
        d'être un peu plus indépendante, de me reconstruire un peu en tant qu'individu mais également en tant
      que femme et de plus voir ce que je peux faire dans ma vie, mes capacités."</em></p>
  </div>
<div class="col-xs-6">
  <h3>Ecoute son histoire</h3>
<iframe width="640" height="360" src="https://www.youtube.com/embed/4pOca5TKcaE" frameborder="0" allowfullscreen>
</iframe>
<p class="caption">Entrevue réalisée à Odanak le 03.08.2016, </br>filmée par <a target="_blank"
  href="/the-women/Marie-Christine-Petiquay">Marie Kristine Petiquay</a>, montée par Catherine Boivin</p>
</div>
</div>

<div class="row">
<div class="col-xs-4">
<ul><h4>Le futur qu'elle imagine...</h4>
<li>Pour elle-même:</li>
<p>Avant tout, elle envisage un futur heureux! A la rentrée 2016, elle a commencé un certificat en arts visuels à l'UQAM:
<em>"J'ai décidé de plus me tourner vers les arts visuels, en me disant que ça peut contribuer aussi aux jeunes d'aujourd'hui. Je me dis peut-être que je
pourrais retourner dans ma communauté et enseigner de quoi aux plus jeunes."</em>. Désormais lancée, elle continue
sa route dans le milieu universitaire et poursuit en 2017 avec un bac en arts visuels et médiatiques dans la même université.
Sur le long terme, elle s'imagine de nouveau dans sont territoire natal:
 <em>"Je me vois avoir une maison dans le bois, retourner chez nous."</em>. Elle espère qu'elle pourra réaliser ses propres films et continuer à faire de l'art.</p>

<li>Pour les autres jeunes autochtones:</li>
<p>Elle souhaite que d'autres jeunes parviennent à trouver et suivre leur passion: <em>"[qu']ils se développent et
  découvrent de quoi qui va les passionner, les pousser à partir, à aller faire leurs études pis à avancer."</em></p>
</ul>
</div>
<div class="col-xs-4">
<ul><h4>Les défis à surmonter</h4>
<li>Sortir de l'isolement:</li> <p>
  <em>"De s'ouvrir aux autres mais également aux autres cultures, aux autres Nations. De s'ouvrir aussi à l'extérieur.
    De pas toujours croire que c'est noir."</em>
<li>Se prendre en main:</li>
<p><em>"Le défi aussi c'est de faire de quoi que t'aimes. De [se] pousser à faire, pas juste rester là et penser que
  quelque chose de bien va te tomber sur la tête. Non, c'est toi qui doit aller chercher ce que t'as besoin, ce que tu veux là."</em></p>
</ul>
</div>

<div class="col-xs-4">
<ul><h4>Les stéréotypes qu'elle souhaiterait éradiquer</h4>
<li>La pureté autochtone:</li> <p><em>"Je déteste quand quelqu'un me parle de pureté autochtone... Comme si, on était des
  chevaux de course. "T'es pure à combien?" j'ai déjà eu ce genre de questions. Moi je suis pure, pure quoi?
  Oui mes parents sont autochtones, mes arrières grand-parents le sont aussi, mais après ça je remonte... et peut-être
  pas l'arrière arrière grand père. Pendant la colonisation, c'est sûr qu'il y a eu des Québécois, qui se sont mariés
  avec des autochtones, des atikamekws. C'est un truc que je déteste, cette question là de pureté."</em></p>
  <li>Le mot "Indien"</li>
  <p>Malgré le fait que d'autres générations plus âgées l'utilisent sans malaise, car c'est encore aujourd'hui leur
    dénomination officielle par le gouvernement, Catherine n'est pas de cet avis: <em>"Ca m'énerve aussi, les indiens.
      Mais bon, ça vient avec l'éducation là."</em> Au mieux, on utilise les noms des Nations ou des termes génériques comme 'autochtone'</p>
  <li>Les taxes:</li>
  <p><em>"Les taxes reviennent tout le temps. Comme si on payait pas de taxes partout mais je trouve que c'est un
  désavantage parce-qu'on c'est comme si on est une bande à part. C'est ça que les gens voient pas, que moi j'ai pas
  <!-- link -->certains droits que d'autres personnes ont.</em></p>
  <li>L'existence même de leur peuple</li>
  <p><em>"Il y en a certains aussi qui pensent qu'il n'y en plus d'autochtones, que c'est comme fini."</em></p>
</ul>
</div></div>

<div class="row">
    <h3>Découvre ses créations...</h3>
    <div class="col-xs-6 gallery">
      <h4>Photographie</h4>
     <a target="_blank" href="/pictures/the-women/cath-phot1.jpg"><img src="/pictures/the-women/cath-phot1.jpg" class="img-center" alt=""/></a>
    </div>
    <div class="col-xs-6 gallery">
      <h4>Bijoux</h4>
    <a target="_blank" href="/pictures/the-women/cath-capt1.jpg"><img src="/pictures/the-women/cath-capt1.jpg" class="img-responsive right" alt="" style="width:380px;height:490px"/></a>
    </div></div>

  <div class="row">
    <div class="col-xs-6">
    <h4> Difficultés traversées</h4>
    <p>Etant la plus âgée du groupe, Catherine revient sur ses expériences de jeunesse avec des paroles de sagesse.
      <em>"Ca a pas été facile pendant un moment à Wemo, il y a eu une période très dure parce-que on est quand même pas
    mal touchés par l'alcool et les drogues. C'était très facile à une époque tsé parce-que tu penses qu'il y a rien
    d'autre mais... Aujourd'hui je réalise qu'il y a plus que ça. Comme si tu prenais conscience que la vie a un sens,
    que t'as pas besoin de ça pour te sentir bien. J'avoue que ça a pas été facile l'adolescence... Je suis contente
    d'avoir pu cheminer un peu mieux parce-que sinon je serai pas là en ce moment. Il a fallu pas mal de sacrifices aussi,
    que tu te délaisses de trucs pour mieux avancer. Dans le fond, tu prends plus conscience de toi-même en tant
    qu'individu. Si t'aimes de quoi, tu le fais et ça a tout le temps un résultat positif."</em>
</p>
</div>
<div class="col-xs-6">
  <h4> Rêves et projets à venir </h4>
<p></br> En 2015, Catherine a été stagiaire pour <a target="_blank" href="http://www.avantlesrues.com/" >"Avant les Rues"</a>
  [premier long-métrage en langue atikamekw. Sa passion pour le cinéma avait déjà été stimulée plus tôt lorsque la
  roulotte du <a target="_blank" href="http://www.wapikoni.ca/">Wapikoni Mobile</a> était passée dans sa communauté
  quelques années plus tôt. Elle aimerait continuer à faire des films, plutôt dans un format de court-métrages d'abord et
  éventuellement ouvrir une chaîne YouTube: <em>"Avec YouTube, tu peux créer des productions, faire de l'argent.
    Plus tard, [j'aimerais] inviter d'autres autochtones à contribuer à mes films. C'est comme un petit rêve à côté là."</em></p>
    </div></div>

<div class="row">
<div class="col-xs-6">
  <a target="_blank" href="/pictures/the-women/cath-musee.jpg"</a>
  <img src="/pictures/the-women/cath-musee.jpg" class="img-responsive" alt=""/>
</div>

  <div class="col-xs-6">
    <h3>Comment vit-elle la revitalisation culturelle?</h3>
<p>Pendant deux ans, Catherine a travaillé au musée des Abénakis à Odanak. C'était une expérience interculturelle
  enrichissante car elle présentait l'histoire et des artistes contemporains d'une autre Nation que la sienne.
  En parallèle des visites, sa job l'a amené à se mettre à l'artisanat. <em>"C'est un petit côté fun du travail, tu dois
    faire de l'artisanat quant t'as du temps. On fabriquait des bracelets, ça m'a un peu mieux connecter à ce qui
    est artisanat autochtone. Alors je me suis dit, ça m'intéresse aussi de faire ça! C'était une chance, un privilège
    de travailler là-bas.</em>
     <!--<em>"Les arts me passionnent beaucoup,
  c'est quelque chose qui m'intéresse et me permet de m'exprimer. J'ai découvert que j'aime beaucoup faire des films,
  faire du montage, capturer des images... j'aime ça créer."</em> C'est au travers des arts que Catherine renoue le plus avec ses traditions.
--></p>
</div></div>

</div>
</body>

<% include ../partials/footer %>
