<% include ../partials/header %>
<head>
  <title>The women: Catherine Boivin</title>
</head>
<body>
<div class="container">
  <div class="row">
  <div class="col-xs-12">
  <a target="_blank" href="/pictures/the-women/cath.jpg"><img href src="/pictures/the-women/cath.jpg" class="img-responsive img-left"alt""/></a>
  <p class="caption">autoportrait, 11.06.2016</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Short biography <em><a href="/the-researcher" target="_blank">by Louise Watson</a></em></h3>
<p> Catherine Boivin est une jeune atikamekw de 27 ans. Elle a été élevée avec ses quatre autres sœurs
principalement à Wemotaci, dont son père est originaire et a aussi vécu un an à Manawan, d’où
vient sa mère. A 18 ans, elle quitte sa communauté pour aller étudier à Montréal et se retrouve vite
 confronter à des défis auxquels beaucoup de jeunes autochtones doivent faire face: l’isolement et le
 repli sur la consommation (d’alcool ou de drogues). Elle interrompt ses études et retourne dans sa
 communauté, où elle trouve du travail au sein de la maison des jeunes. Après quelques années et à
 force d’entendre parler de Kiuna, elle décide de retourner aux études en 2012. Elle a gradué en mai
 2016 dans le programme Sciences Humaines et a poursuivi ses études en s’installant de nouveau à
 Montréal. Catherine est une créatrice dans l’âme, que cela concerne la musique, la photographie, le
 cinéma, l’écriture, les arts plastiques ou encore l’artisanat. Ainsi, elle a décidé de suivre sa passion
 et réalise un certificat en arts visuels à UQAM.
 The interview has been conducted in Odanak, in August 2016 (recorded by Marie Kristine, edited and translated by Louise Watson) </p>
</div></div>

<div class="row">
    <h3> Biographical interview with Catherine Boivin</h3>
      <div class="col-xs-6">
  <img src="/pictures/bubbles/cath.png" alt="" height="298" width="273">
</div>
        <div class="col-xs-6"></br></br>
  <audio src="/audio/entrevues/cath1.wav" controls="true"/> </audio></br></br>
  <p> <em>Kwei Catherine ni icinikason</em>, j'ai 26 ans non j'ai 27 ans. Désolé j'ai pas l'habitude! J'ai 27 ans. <em>Wemotaci ni pe otcitan.</em>"</p>
</div> </div>

<div class="row">
<div class="col-xs-12">
<h3>Can you tell me more about where you come from, your childhood and your family ? </h3>
<p> «I come from a family with five girls. My mother is from Manawan, my father from Wemo. At the beginning, we were five girls, and my parents got divorced, so today I also have a brother and two other sisters. So we are 8 children. I’m the oldest in my family, so I care a lot for my sisters, I’m very close to them let’s say. I grew up in Wemo and I spent a year in Manawan afterwards, but just a year. Then, I came back to Wemo to finish my secondary school.» </p>
</div></div>

<div class="row">
<h3>How has your process been with school?</h3>
<div class="col-xs-12">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q90EYw5iHcQ" frameborder="0" allowfullscreen></iframe>
    <p>« quotes are missing»
      <!-- After finishing secondary school, I tried… so I was 18 years old I think, or 19 and I tried to do a DEC in fashion design. </br>-What’s a DEC? </br>-A Diplôme d’Etudes Collégiales. It’s like cegep (college). But it didn’t… Let’s say that Montreal… In Montreal, it really didn’t go well because I was very isolated, I was on my own. I realized, that was… that it didn’t help me to be isolated because all of a sudden, it was a chock for me. You know, I was in my community before, I was always with people I knew, everything was accessible after all. And suddenly, I end up in a place where everything is big. Isolation affected me a lot actually. It almost put me into depression because I was alone in the flat. At the beginning, I was with someone else, but she decided to give up too, to change studies and suddenly, I ended up on my own there. I didn’t have anyone to talk to, I didn’t know anyone. It was very… It put me into… well, I was drinking a lot, it put me into struggles!</br></br>-Into a difficult situation.</br> -Very difficult, yes. And in the end, it allowed me to see that… Because I went back to my community you know, I had failed all courses, but I went back to my community in the summer. It was as if I realized how important it was for me to be home. So during that time, I worked as a replacing and then, I decided to apply for a position, which was opened at the youths office in my community. I worked there three years long, as a youth facilitator.» -->
</p></div></div>

<div class="row">
  <h3>How did you arrive at Kiuna College?</h3>
<div class="col-xs-12">
    <p>«The director quited her job. She was going to be the the director of the new Kiuna college. Actually, she told me about the cegep, that it’s going to be for indigenous youths, and that it’s going to take place in Odanak. I stayed at the youth office one more year because she left. I didn’t tell myself ‘I will go there’ but I thought about it, it was like an idea on the side. Then, I had relatives in my family who went there, they kept telling me how fun Kiuna was. It was at a time in my life where I was in a transitional phase, I was telling myself: yes, Wemo is beautiful but I think I need more than that. That’s why I decided to start studying again/go back to college. That was in 2012. For sure, you have to realize that you must work. In life, you have to work , to engage yourself in the things I which you’re engaged. That is what Kiuna taught me. It took 4 years. Actually, Kiuna allowed me to be more independent, to build my own identity again, also my identity as an independent woman and to… better comprehend what I can do in my life, my capacities.» </p>
</div></div>

<div class="row">
  <h3> What is next for you?</h3>
<div class="col-xs-6">
  <img src="/pictures/bubbles/cath.png" alt="" height="298" width="273">
  <audio src="/audio/entrevues/cath2.wav" controls="true"/> </audio></br></br>
      <p>«And now I’m going back to Montréal, for a second trial but I feel I’m better equipped since I am at Kiuna, and before that my experiences in Wemo. So I’m better equipped now, it’s good, I think it’s gonna work out. I’m going to do a certificate diploma in visual arts. Well, I’m very passionate about the arts, it interests me since… You know, sometimes you don’t really know what you want to do in your life, but it seems that [the arts] allowed me to express myself. I saw something of a great interest/potential in that. In particular movies you know… I found out I really like to make movies. I had already made movies with the Wapikoni Mobile and I had also worked as an assistant on the movie “Before the Streets”.»</br></br>(...)</br></br>«So in conclusion, I decided to focus on the arts, visual arts, telling myself it could help today’s youths. You know, I’m thinking maybe I can go back to my community, and teach that to the younger generations… At the moment, for sure I’m focusing on myself. I try to develop myself as much as possible, to build my identity because one must keep on learning. Currently, I need to explore, see what’s around. So Montreal will hopefully work out better for me this time. I’m going to get what I need.» </p>
      </div>
    <div class="col-xs-6">
img Before the Streets (Cath sur le tournage?) img to match with content
<img src="" alt="" > performance Cath Montreal
        </div></div>

  <div class="row">
<div class="col-xs-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VMq2EOGWJbM" frameborder="0" allowfullscreen></iframe>
  <p>«quotes missing»</p>
    <!--Yes that’s it. That is interesting. It’s true that… Because sometimes you also need help to then help others. But first you have to help yourself. Let’s say that it wasn’t easy for a while in Wemo, you know there was a very hard time, because we were hit by alcohol and drugs. It was very easy at that time, because you think there is nothing else but… Today, when I look back, I tell myself: “well, that was bullshit, for sure I won’t get trapped by that because I realize there is more than that.” It’s as if you become aware that… life has meaning, and that you don’t need that [drugs and alcohol] to feel good in your life. Even I have to admit, it wasn’t easy during my youth because I was struggling to get out of that, even at the adult age. For now, I am happy I could walk off a bit better because otherwise I wouldn’t be here now. Sacrifices were necessary too, telling yourself: “well, you have to renounce to some things”, or not to renounce but, you know you have to let go to walk further.» --> </p>
  </div></div>

  <div class="row">
<h3> You told me about your passion for the audiovisual creation… What are the other things that make you alive? </h3>
<div class="col-xs-6">
  <a target="_blank" href="/pictures/the-women/cath-musee.jpg"</a>
  <img src="/pictures/the-women/cath-musee.jpg" class="img-responsive" alt=""/>
  <p class="caption"> Catherine presenting the collections at the Musée des Abénakis, summer 2016</p>
</div>
<div class="col-xs-6">
  <p> «I love to write, to read. I love movies, to watch movies and to learn about film-making in general. I like music too. Also people, I like to interact with people. It’s like something I realized when… I started working at the museum of the Abenaki (picture). (…) I really liked it. I could work a bit nearby, because I had only one course the past autumn at Kiuna. The band council doesn’t financially support you when you work part time. So I needed money and it helped me. And I got a lot into crafting. That’s a fun side of the job, you have do some crafting when you have time, like bracelets. It connected me to indigenous crafting. I was also interested by that.
    Recently, I decided to make earrings. I made them in two, three hours. I ended up selling that pair of earrings. If you like what you’re doing, doing it will bring you a positive outcome. At least you should give it a try.»</p>
  </div></div>

  <div class="row">
  <h3>How do you envision your future and more generally the future of young First Nations?</h3>
  <div class="col-xs-12">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SC2PmYhAdio" frameborder="0" allowfullscreen></iframe>
    <p> «...»</p>
  </div></div>

  <div class="row">
  <h3>What do you see as the challenges faced by indigenous youths in Quebec and Canada?</h3>
  <div class="col-xs-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nD2E0O1YERQ" frameborder="0" allowfullscreen></iframe>
    </div>
  <div class="col-xs-6">
    <p> «...»</p>
</div></div>

  <div class="row">
  <h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
  <div class="col-xs-6">
    <p> «...»</p>
  </div>
  <div class="col-xs-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Qi15FcDDhh8" frameborder="0" allowfullscreen></iframe>
  </div></div>


<div class="row">
    <h3>Check out her work:</h3>
    <div class="col-xs-6 gallery">
      <h4>Photographs</h4>
     <a target="_blank" href="/pictures/the-women/cath-phot1.jpg"><img src="/pictures/the-women/cath-phot1.jpg" class="img-center" alt=""/></a>
    </div>
    <div class="col-xs-6 gallery">
      <h4>Jewelry</h4>
    <a target="_blank" href="/pictures/the-women/cath-capt1.jpg"><img src="/pictures/the-women/cath-capt1.jpg" class="img-responsive right" alt="" style="width:380px;height:490px"/></a>
  </div></div>


  <div class="row">
    <div class="col-xs-12">
      <h3>What did the project bring you?</h3>
  </div></div>
</div>
</body>

<% include ../partials/footer %>
