<!--<% include ../partials/header %>
<head>
  <title>Catherine Boivin</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-2">
    </div>
      <div class="col-xs-8">
              <h2>Catherine Boivin</h2>
  <a target="_blank" href="/pictures/the-women/catherine.jpg"><img href src="/pictures/the-women/catherine.jpg" class="img-responsive"alt""/></a>
  <p class="caption">Self-portrait (June 2016), short bio by <a href="/the-researcher" target="_blank">Louise</a>.
    The interview took place in Odanak (August 2016), and was filmed by Marie Kristine, translated by Louise and edited by Tamás.</p>
</div>
  <div class="col-xs-2">
  </div></div>

<div class="row">
<div class="col-xs-12">
<p>Catherine grew up in the Atikamekw community of Wemotaci. Leaving her home at 18 to start studying in Montreal, she faces challenges many Indigenous youth have to deal with: isolation, lack of support and withdraw into alcohol or drugs. She ends up failing her courses and goes back to home, where she begins working as a youth facilitator. A few years later, she gives herself a second chance by enrolling at Kiuna college. After a successful graduation in 2016 in social sciences, she moves again to Montreal to follow her passion: the arts. Currently studying at UQAM in visual arts, this talented young woman explores various media, techniques and materials, ranging from photography, video, painting, sculpture, textiles and crafting.
  She selected some of her work to be displayed below the interview!</br></br>
 <em>The videos are in French with English subtitles</em>.</p>
</div></div>

<div class="row">
      <div class="col-xs-6">
  <img src="/pictures/bubbles/cath.png" alt="" height="298" width="273">
</div>
        <div class="col-xs-6"></br></br>
  <audio src="/audio/entrevues/cath1.mp3" controls="true"/> </audio></br></br>
  <p> «<em>Kwei Catherine ni icinikason</em>, I'm 27 years old. <em>Wemotaci ni pe otcitan atikmekw.</em>»</p>
</div> </div>

<div class="row">
<div class="col-xs-12">
<h3>Can you tell me more about where you come from, your childhood and your family ? </h3>
<p> «I come from a family with five girls. My mother is from Manawan, my father from Wemo. At the beginning, we were five girls, and my parents got divorced, so today I also have a brother and two other sisters. So we are 8 children. I’m the oldest in my family, so I care a lot for my sisters, I’m very close to them let’s say. I grew up in Wemo and I spent a year in Manawan afterwards, but just a year. Then, I came back to Wemo to finish my secondary school.» </p>
</div></div>

<div class="row">
<h3>How has your process been with school?</h3>
<div class="col-xs-12">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q90EYw5iHcQ" frameborder="0" allowfullscreen></iframe>
    <p>«When I was 18 or 19, I tried to do a Diploma of College Studies in fashion design in Montreal. It really didn’t go well because I was very isolated. (...)
      I ended up on my own there. I didn’t have anyone to talk to, I didn’t know anyone. It put me into a very difficult situation...
    I realized how important it was for me to be home. During that time, I worked for three years as a youth facilitator.»</p>
  </div></div>

<div class="row">
  <h3>How did you arrive at <u><a href="/the-communities/Kiuna" target="_blank">Kiuna College</u>?</a></h3>
<div class="col-xs-12">
    <p>«The director quit her job. She was going to be the director of the new Kiuna college. Actually, she told me about the cegep, that it’s going to be for Indigenous youths, and that it’s going to take place in Odanak. I stayed at the youth office one more year because she left. I didn’t tell myself ‘I will go there’ but I thought about it, it was like an idea on the side. Then, I had relatives in my family who went there, they kept telling me how fun Kiuna was. It was at a time in my life where I was in a transitional phase, I was telling myself: yes, Wemo is beautiful but I think I need more than that. That’s why I decided to start studying again/go back to college. That was in 2012. For sure, you have to realize that you must work. In life, you have to work , to engage yourself in the things in which you’re engaged. That is what Kiuna taught me. It took 4 years. Actually, Kiuna allowed me to be more independent, to build my own identity again, also my identity as an independent woman and to better comprehend what I can do in my life, what I’m capable of.» </p>
</div></div>

<div class="row">
  <h3> What is next for you?</h3>
      <div class="col-xs-12">
        <audio src="/audio/entrevues/cath2.mp3" controls="true"/> </audio> <em>original recording in french</em>
            <p>«And now I’m going back to Montréal, for a second attempt but I feel I’m better equipped since I went to Kiuna, and before that, with my experiences in Wemo. So I’m better equipped now, it’s good, I think it’s gonna work out. I’m going to get a certificate diploma in visual arts. Well, I’m very passionate about the arts, it interests me since… You know, sometimes you don’t really know what you want to do in your life, but it seems that [the arts] allowed me to express myself. I saw something of a great potential in that. In particular movies you know… I found out I really like to make movies. I had already made movies with the Wapikoni Mobile and I had also worked as an assistant on the movie “Before the Streets”.»</p>

<iframe src="https://www.youtube.com/embed/qpKe2NpemU4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div></div>

<div class="row">
            <div class="col-xs-12">
        <audio src="/audio/entrevues/cath3.mp3" controls="true"/> </audio><em>original recording in french</em>
  <p>«So in conclusion, I decided to focus on the arts, visual arts, telling myself it could help today’s youths. You know, I’m thinking maybe I can go back to my community, and teach that to the younger generations… At the moment, for sure I’m focusing on myself. I try to develop myself as much as possible, to build my identity because one must keep on learning. Currently, I need to explore, see what’s around. So Montreal will hopefully work out better for me this time. I’m going to get what I need.» </p>
</div></div>

  <div class="row">
<div class="col-xs-12">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VMq2EOGWJbM" frameborder="0" allowfullscreen></iframe>
  <p>«Sometimes you also need help to then help others. Let’s say that it wasn’t easy for a while in Wemo, you know there was a very hard time, because we were hit by alcohol and drugs.(...)
  Today, when I look back, I tell myself: for sure I won’t get trapped by that because I realize there is more than that. You become aware that life has meaning. (...)
</br>For now, I am happy I could make progress because otherwise I wouldn’t be here now.»</p>
  </div></div>

  <div class="row">
<h3> You told me about your passion for the audiovisual creation… What are the other things that make you alive? </h3>
<div class="col-xs-12">
  <a target="_blank" href="/pictures/the-women/cath-musee.jpg"></a>
  <img src="/pictures/the-women/cath-musee.jpg" class="img-responsive" alt=""/>
  <p class="caption"> Catherine presenting the collections at the Musée des Abénakis, summer 2016</p>

  <p> «I love to write, to read. I love movies, to watch movies and to learn about film-making in general. I like music too. Also people, I like to interact with people. It’s like something I realized when… I started working at the museum of the Abenaki. (…) I really liked it. I could work a bit nearby, because I had only one course the past autumn at Kiuna. The band council doesn’t financially support you when you work part time. So I needed money and it helped me. And I got a lot into crafting. That’s a fun side of the job, you have do some crafting when you have time, like bracelets. It connected me to Indigenous crafting. I was also interested by that. Recently, I decided to make earrings. I made them in two, three hours. I ended up selling that pair of earrings. If you like what you’re doing, doing it will bring you a positive outcome. At least you should give it a try.»</p>
  </div>

  <div class="row">
  <h3>How do you envision your future and more generally the future of young First Nations?</h3>
  <div class="col-xs-12">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SC2PmYhAdio" frameborder="0" allowfullscreen></iframe>
    <p> «I would like to be happy. (...) I hope the youths will develop as well, discover what makes them feel alive, which will encourage them to leave, to pursue their studies and to move forward. I hope I will make movies later you know, and keep making art too. (...)
      Otherwise, I see myself in the woods, back home, having a house in the woods.»</p>
  </div></div>

  <div class="row">
  <h3>What do you see as the challenges faced by Indigenous youths in Quebec and Canada?</h3>
  <div class="col-xs-12">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nD2E0O1YERQ" frameborder="0" allowfullscreen></iframe>

    <p> «To not always believe that life is all dark. To tell yourself: there is something stronger. The challenge is also to get out and to do what you like...
      You have to go get what you need, what you want.»</p>
</div></div>

  <div class="row">
  <h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
  <div class="col-xs-12">
    <p> «I hate when someone asks me: how pure are you? As if we were race horses. Otherwise, yes taxes. Taxes always come up... What people don’t see, is that I don’t have the rights other people have. </br></br>Some people think that there is no more Indigenous people, that it’s over. Or they think that we aren’t pure anymore, that we are all mixed or things like that.»</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/Qi15FcDDhh8" frameborder="0" allowfullscreen></iframe>
  </div></div>


<div class="row">
    <h3>Check out her work:</h3>
    <h2>Jewelry</h2>
<div class="col-xs-6 gallery">
<a target="_blank" href="/pictures/the-women/cath/earring1.jpg"><img src="/pictures/the-women/cath/earring1.jpg" class="img-responsive "/></a>
<p class="caption"></p>
</div>

<div class="col-xs-6 gallery">
  <a target="_blank" href="/pictures/the-women/cath-capt1.jpg"><img src="/pictures/the-women/cath-capt1.jpg" class="img-responsive right" alt=""</a>
</div></div>

<div class="row">
<div class="col-xs-12 gallery">
  <a target="_blank" href="/pictures/the-women/cath/earring2.jpg"><img src="/pictures/the-women/cath/earring2.jpg" class="img-responsive"/></a>
<p class="caption"></p>
</div>
</div>

<div class="row">
<div class="col-xs-12 gallery">
<h2>Installation</h2>
<a target="_blank" href="/pictures/the-women/cath/instal1.jpg"><img src="/pictures/the-women/cath/instal1.jpg" class="img-responsive center"/></a>
<p class="caption"></p>

<h2>Textile</h2>
<a target="_blank" href="/pictures/the-women/cath/coiffe.jpg"><img src="/pictures/the-women/cath/coiffe.jpg" class="img-responsive center"/></a>
<p class="caption"></p>

<h2>Sculpture</h2>
<a target="_blank" href="/pictures/the-women/cath/sculpture.jpg"><img src="/pictures/the-women/cath/sculpture.jpg" class="img-responsive center"/></a>
<p class="caption"></p>

      <h2>Photography</h2>
     <a target="_blank" href="/pictures/the-women/cath-phot1.jpg"><img src="/pictures/the-women/cath-phot1.jpg" class="img-center img-responsive" alt=""/></a>

  </div></div>


  <!--<div class="row">
    <div class="col-xs-12">
      <h3>What did the project bring you?</h3>
  </div></div>-->
</div>
</body>-->
