<% include ../partials/header %>
<head>
  <title>Ivanie Aubin Malo</title>
</head>

<body>
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
          <h2>Ivanie Aubin Malo</h2>
  <a target="_blank" href="/pictures/the-women/iva-pers.jpg"><img src="/pictures/the-women/iva-pers.jpg" class="img-responsive center"></a>
  <p class="caption">photographed by Marie Kristine Petiquay in Kahnawake, Mohawk/Kanien'kehá:ka Nation (August 2017), short bio by <a href="/the-researcher" target="_blank">Louise</a>.
  The interview took place in Rivière du Loup (July 2016), and was filmed and translated by Louise, edited by Tamás.</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <p>Ivanie inherited her Wolastoq origins (Maliseet of <u><a href="/the-communities/Cacouna" target="_blank">Viger</a></u>) though her mother. She grew up in the suburbs of Montreal, and decided to pursue an education in contemporary dance at 17 years old. Her final graduation project, in 2014, merged the culture of First Nations and contemporary dance. The year after, she traveled to Vancouver to learn the fancy shawl, a pow-wow dance. There, she met her mentor, Curtis Joe Miller, who has been an inspiring role model. Back in Quebec, she met groups of drummers, such as the Buffalo Hat Singers, who invited her to perform in various events. From there, she started organizing fancy-shawl workshops and taught the dance to children, youths and adults. At 25 years old, her desire to exchange, to share and to learn, brought her to integrate the organism Kina8at, being an intermediary between its members and young First Nations, on the transmission of ancestral knowledge. Besides, she still co-creates diverse contemporary dance projects, such as the collective Flamant.</br></br>
 <em>The videos are in French with English subtitles</em>.</p>
</div></div>

<div class="row">
      <div class="col-xs-6">
      <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
</div>
      <div class="col-xs-6"> </br></br>
<audio src="/audio/entrevues/iva1.mp3" controls="true"/> </audio> </br></br>
<p> <em>Kwe</em>, Ivanie Aubin Malo I’m Maliseet from Viger. I am 25 years old, born in 1991.</p>
</div> </div>

<div class="row">
<div class="col-xs-12">
<h3>What do you do in life?</h3>
<div class="video">
<iframe width="480" height="420" src="https://youtube.com/embed/lGhU2pNlKc8" allowfullscreen frameborder="0"/></iframe> </div>
<p> «After I was 16, I went to post-secondary schools to learn dancing and be trained as a dancer. In 2014, I graduated from the contemporary dance school wit a personal project to end my study was to reconnect with my roots and my goal was to present a contemporary dance with an Indigenous dimension.»
 «At the beginning of 2015, I wanted to learn fancy shawl dance, which is a pow-wow dance. So I went to Vancouver, I met Curtis Joe Miller, my mentor.»
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the pow-wow ? </h3>
<audio src="/audio/entrevues/iva2.mp3" controls="true"/> </audio>
<p>«The pow-wows are Indigenous gatherings, though it’s also open to non-Indigenous. Yes exactly, non-Indigenous people are welcome. There are competitive and traditional pow-wows. In the competitive pow-wows, the dancers and the drummers have numbers, and in the traditional pow-wows, they don’t. That’s the main difference. Competitive, some people win, traditional ones there are no winners, everyone wins. In the pow-wows, there is crafting, food, traditional songs and dances. There is also contemporary dance. Fancy shawl counts among the contemporary dances, but contemporary doesn’t mean new from this year. It means new from 1920.»</p> </br>
  </div></div>

        <div class="row">
      <div class="col-xs-12">
          <div class="video"><iframe src="https://www.youtube.com/embed/VpQ40Zlx5kw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
    </div></div>


<div class="row">
<div class="col-xs-12">
  <h3>Could you share a personal experience of a pow-wow? </h3>
  <div class="video">
<iframe width="480" height="420" src="https://youtube.com/embed/2DK_3icyOV4" frameborder="0" allowfullscreen></iframe></div>
<p>«One experience I had was in Wemotaci last year. There was a little friendly competition. It was a team dance, we had to find people wearing the same regalia, so practicing the same style of dance. At the last minute, I asked if I could join two little girls, they really had a lot of fun dancing around the head dancer.. Right away, they said yes, they were really excited. So I asked their names, and I told them: we are going to play a game.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What does cultural re-appropriation mean to you and how do you experience it?</h3>
<!--<audio src="/audio/entrevues/iva3.mp3" controls="true"/> </audio>-->
<p> «I think it would be to go back to nature, go back to the roots, to the values of family, to the essential… which is nature. Also to meet each other, and the meetings create exchanges, discussions, ideas, inspirations which bring each of us towards the same.» </p>

  <div class="video"><iframe src="https://player.vimeo.com/video/233842911?color=ffffff" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<p><a href="https://vimeo.com/233842911">Video directed</a> by <a href="https://vimeo.com/flamant">FLAMANT</a>.</p>

</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you envision the future of young First Nations? </h3>
  <div class="video"><iframe width="480" height="420" src="https://youtube.com/embed/5XDa2BFx9jM" frameborder="0" allowfullscreen></iframe></div>
<p>«A beautiful future! I realize that there was much misery before me, many challenges. I know that my grand-father was among the people who faced challenges. I knew he acted so that we have a better future and I feel that a lot. There is a lot of pride here, and this pride makes me strong, makes us united, and that make us beautiful. I believe people are curious to know that beauty, and to learn more about that culture, which is still a lot discover and highly fragile.»</br></br>
«The journey is not over. I have to stay humble, I have to stay honest with what I know and don’t know.So yes, the future of Indigenous youths I think it’s beautiful but there are great responsibilities with it. But I think we are ready for it.»  </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>From your perspective, what do the media spread about Indigenous women? </h3>
<!--<audio src="/audio/entrevues/iva4.mp3" controls="true"/> </audio>-->
<p> «Currently, it’s the missing and murdered Indigenous women. I think we see that a lot, we are shown a lot the victims. I think we are seen as victims. And also as fighters. You know, it’s like both.» </p>
 </div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against? </h3>
  <div class="video"><iframe width="480" height="420" src="https://youtube.com/embed/XhppWtDWpZk" frameborder="0" allowfullscreen></iframe></div>
<p> «Because I graduated from a contemporary dance school, there are professional scholarships specific for Indigenous, First Nations people. I know there is a judgement: ‘ah that’s easy. Go for it because you will have it’. And: ‘you get to work on projects because you’re Native, because it’s trendy at the moment, so that’s it, that’s easy.’ » </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What makes your proud to be a Maliseet, a First Nation woman? </h3>
<p> «I am proud because there is a darker history behind all that, and we are still here. That makes me proud. Because I know it’s not up to me. It depends on my mother who always told me that I was Maliseet. It’s up to my grandfather, who said it again, that he was Amerindian, Indigenous. It’s up to my great-grandfather, who still spoke his language but people said he talked a jargon. That makes me proud, to say that we never surrendered. It’s not a self-absorbed pride.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What is the message you want to pass on? </h3>
  <div class="video"><iframe width="480" height="420" src="https://youtube.com/embed/MS3JsrN__0g" frameborder="0" allowfullscreen></iframe></div>
<p> «The message of transformation. That we can always change, after all. We can always get there even if it’s hard. The fancy shawl dance has to do with the butterfly. It’s the butterly dance, which honors the transformation.» </p>
</div></div>
<div class="row">
<div class="col-xs-2">
</div>
  <div class="col-xs-8">
<a target="_blank" href="/pictures/the-women/iva.jpg"><img src="/pictures/the-women/iva.jpg" class="img-responsive center"></a>
<div class="col-xs-2">
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>As part of the project and beyond, Ivanie hosted a few <a href="/art/dance"> intergenerational dance workshops</a>.</h3>
<p>Below are some recordings, step into the full experience <a href="/art/dance"><u>here</u></a></p>
<img src="/pictures/art/dance/6.jpg" alt="" class="img-responsive img-center"/>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>Workshop 1</h3>
  <div class="video"><iframe src="https://player.vimeo.com/video/240272982" frameborder="0" allowfullscreen></iframe></div>

<h3>Workshop 2</h3>
  <div class="video"><iframe src="https://player.vimeo.com/video/241374399" frameborder="0" allowfullscreen></iframe></div>
</div></div>

</div>
</body>
