<% include ../partials/header %>
<head>
  <title>The women: Ivanie Aubin Malo</title>
</head>

<body>
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
  <a target="_blank" href="/pictures/the-women/iva-pers.jpg"><img src="/pictures/the-women/iva-pers.jpg" class="img-responsive"></a>
  <p class="caption">photographed by Marie Kristine Petiquay in Kahnawake (Mohawk Nation)</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Short biography <em><a href="/the-researcher" target="_blank">by Louise Watson</a></em></h3>
  <p> Ivanie Aubin Malo est une jeune wolastoq (malécite de <a href source="/the-communities/Cacouna">Viger</a>) de par sa mère. Elle a grandi en banlieue de
Montréal avec son frère et ses parents, puis à l’âge de 16 ans, elle est partie se former en danse dans
des écoles post-secondaires. Elle a gradué de l’école de danse contemporaine de Montréal en 2014 en voulant
allier la danse contemporaine à la culture amérindienne comme projet de fin d’études. L’année suivante, elle a
entrepris un voyage vers l’Ouest du pays pour y apprendre un type de danse pow-wow, le fancy-shawl.
Là-bas, elle y a rencontré son mentor, Curtis Joe Miller, qui lui a enseigné de nombreuses pratiques
artistiques et l’a inspiré par son parcours de vie unique. De retour au Québec, Ivanie rencontre des groupes de tambour,
dont Buffalo Hats, qui l’invitent à danser dans des évènements corporatifs, des écoles. Elle organise ensuite des
ateliers de fancy-shawl dans des centres culturels et se met à enseigner la danse aux plus jeunes comme aux plus vieux.
A 27 ans, ce désir de partage, d’échange et d’apprentissage constant l’a amené à intégrer l’organisme Kina8at, en tant
qu'intermédiaire entre les jeunes et les membres de Kina8at autour de la transmission de savoirs ancestraux. </p>
</div></div>

<div class="row">
    <h3> Biographical interview with Ivanie Aubin Malo</h3>
      <div class="col-xs-6">
      <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
      <div class="col-xs-6"></br></br>
<audio src="/audio/entrevues/iva1.wav" controls="true"/> </audio></br></br>
<p> <em>Kwe</em>,Ivanie Aubin Malo I’m Maliseet from Viger. I am 25 years old, born in 91.</p>
</div> </div>

<div class="row">
<div class="col-xs-12">
<h3>What do you do in life?</h3>
<iframe height="360" src="https://youtube.com/embed/lGhU2pNlKc8" allowfullscreen frameborder="0"/></iframe>
<p> Clip 1«...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the pow-wow ? </h3>
<audio src="/audio/entrevues/iva2.wav" controls="true"/> </audio>
<p> audio + picture «...»</p> </br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/onxlje79wQA" frameborder="0" allowfullscreen></iframe>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Could you share a personal experience of a pow-wow ? </h3>
<p>Clip 2«...»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What does cultural re-appropriation mean to you and how do you experience it?</h3>
<audio src="/audio/entrevues/iva3.wav" controls="true"/> </audio>
<p> sound «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you envision the future of young First Nations? </h3>
<p> Clip 3 «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>From your perspective, what do the media spread about indigenous women? </h3>
<audio src="/audio/entrevues/iva4.wav" controls="true"/> </audio>
<p> «Currently, it’s the missing and murdered indigenous women. I think we see that a lot, we are shown a lot the victims. I think we are seen as victims. And also as fighters. You know, it’s like both.» </p>
picture from MTL? </div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against? </h3>
<p> Clip 4 «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What makes your proud to be a Maliseet, a First Nation woman? </h3>
<p> «I am proud because there is a darker history behind all that, and we are still here. That makes me proud. Because I know it’s not up to me. It depends on my mother who always told me that I was Maliseet. It’s up to my grandfather, who said it again, that he was Amerindian, indigenous. It’s up to my great-grandfather, who still spoke his language but people said he talked a jargon. That makes me proud, to say that we never surrendered. It’s not a self-absorbed pride.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What is the message you want to pass on? </h3>
<p> «...» clip 5 </p>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h4> Dans le cadre du projet, Ivanie a animé des ateliers de danse </h4>
<ul>
<li>1er atelier à Odanak</li>
<li>2nd atelier à Odanak</li>
<li>3ème atelier à Cacouna</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WZ31zLYsEQI" frameborder="0" allowfullscreen></iframe>

<!-- straight song--></ul>
</div></div>

</div>
</body>
