<% include ../partials/header %>
<head>
  <title>Ivanie Aubin Malo</title>
</head>

<body>
<div class="container">
  <h1>Ivanie Aubin Malo</h1>
  <h3> Nation wolastoqiyik, <a href source="/the-communities/Cacouna">Viger de Cacouna</a></h3>

<div class="row">
<div class="col-xs-6">
  <a target="_blank" href="/pictures/the-women/iva-pers.jpg"</a>
<img src="/pictures/the-women/iva-pers.jpg" class="img-responsive img-center">
<p class="caption">prise par Marie Kristine Petiquay à Kahnawake</p>
</div>
<div class="col-xs-6">
<h3>Courte biographie</h3>
  <p>Ivanie est une jeune wolastoq (malécite de Viger) de par sa mère. Elle a grandi en banlieue de
Montréal avec son frère et ses parents, puis à l’âge de 16 ans, elle est partie se former en danse dans
des écoles post-secondaires. Elle a gradué de l’école de danse contemporaine de Montréal en 2014 en voulant
allier la danse contemporaine à la culture amérindienne comme projet de fin d’études. L’année suivante, elle a
entrepris un voyage vers l’Ouest du pays pour y apprendre un type de danse pow-wow, le fancy-shawl.
Là-bas, elle y a rencontré son mentor, Curtis Joe Miller, qui lui a enseigné de nombreuses pratiques
artistiques et l’a inspiré par son parcours de vie unique. De retour au Québec, Ivanie rencontre des groupes de tambour,
dont Buffalo Hats, qui l’invitent à danser dans des évènements corporatifs, des écoles. Elle organise ensuite des
ateliers de fancy-shawl dans des centres culturels et se met à enseigner la danse aux plus jeunes comme aux plus vieux.
A 27 ans, ce désir de partage, d’échange et d’apprentissage constant l’a amené à intégrer l’organisme Kina8at, en tant
qu'intermédiaire entre les jeunes et les membres de Kina8at autour de la
transmission de savoirs ancestraux.
</p>
</div></div>

<div class="row">
<div class="col-xs-6">
  <h4>Son parcours</h4>
  <p>Tout de suite en sortant du secondaire, Ivanie s'est spécialisée en danse. Ce n'est qu'à la fin de ses études
    qu'elle puise son inspiration dans ses origines autochtones: <em>"Mon projet personnel de fin d'études était de reconnecter
      avec mes racines donc d'aller dans quatre communautés différentes pour en apprendre plus sur les communautés,
      sur les Nations. Mon but c'était de présenter une danse contemporaine à saveur amérindienne."</em>
Après avoir déposé son projet en 2014, elle décide de suivre la suggestion de son cousin et part pour Vancouver en
mars 2015. Bien qu'elle ne connaissait personne, sa route a croisé celle de Curtis Joe Miller, son mentor:
<em>"Pendant 4 mois il m'a appris la danse, la sculpture sur bois, l'artisanat, le beadwork, comment coudre.
  Il m'a amené à mes premiers pow-wow, m'a donné mon regalia à ma fête de 24 ans, en avril 2015. Il a été d'une grande
   générosité, puis il m'a aussi challengé au niveau personnel. Ca a été formateur pour moi dans tous les sens.
   Alors quand je suis revenue de Vancouver, j'ai montré ça à ma famille, que j'avais appris la fancy et que j'étais
   vers un nouveau départ."</em>
</p></div>

<div class="col-xs-6">
  <h3>Ecoute son histoire</h3>
<iframe height="360" src="https://youtube.com/embed/lGhU2pNlKc8" allowfullscreen frameborder="1"/></iframe>
</div></div>

<div class="row">
<div class="col-xs-4">
  <ul><h4>Le futur qu'elle imagine...</h4>
  <li>Pour elle-même:</li>
  <p>En dehors des pow-wow, Ivanie est impliquée dans toutes sortes de projets mêlant la danse contemporaine à d'autres
    disciplines artistiques...<p>
  <li>Pour les autres jeunes autochtones:</li>
  <p>Ivanie est une jeune femme très positive et optimiste et elle n'hésite pas à le montrer: <em>"Un beau futur ! Peu importe
    les hauts et les bas, c’est un beau futur! Je me rends compte qu‘il y a eu beaucoup de misère avant moi, beaucoup
    de défis et mon grand-père faisait partie des gens qui ont eu des défis. Je sais qu’il a travaillé pour que nous
    ayons un futur meilleur, je le ressens beaucoup. Il y a beaucoup de fierté qui est là, qui est présente et [c'est]
    cette fierté là [qui] nous rend fort, nous rend unis, nous rend beaux. Le futur des jeunes autochtones je pense
    qu’il est beau mais il va y avoir de grandes responsabilités. Mais je pense
    qu’on a beaucoup de maturité, qu’on est prêts à le faire en équipe, avec beaucoup d’écoute, beaucoup d’ouverture."</em></p>
</ul></div>
<div class="col-xs-4">
  <ul><h4>Les défis à surmonter</h4>
    <p>...<p>
</div>
<div class="col-xs-4">
<ul><h4>Les stéréotypes qu'elle souhaiterait éradiquer</h4>
  <li>L'humiliation sonore:</li>
  <p> Elle me raconte une histoire qui s'est passée la veille de notre entrevue, dans un centre commercial à Montréal:
    <em>"Je sors en régalia parce-qu’il y avait un spectacle sur la scène extérieure. On m'a regardé et
    [quelqu'un] a fait 'ouhouhouhouhou'. J’étais comme... non. Faites pas ça. On me l’a pas fait souvent mais hier ça s’est passé."</em></p>
<li>Discrimination dans son milieu:</li>
<p> Dans le monde de la danse contemporaine, il existe des bourses professionnelles pour soutenir certaines personnes,
  y compris pour les Premières Nations. Même si elle est encouragée par ses proches pour poser sa candidature,
  Ivanie m'explique: <em>"je sais qu’il y a un regard 'Ah c’est facile! Vas-y parce-que tu vas l’avoir, tsé t’as des
  projets parce-que t’es autochtone, parce-que c’est comme la mode en ce moment, pis c’est ça, c’est facile."
  Elle ajoute que cette soit-disant facilité vient avec beaucoup de responsibilité et une pression de suivre sa voie.</em> </p>
</ul></div></div>

<div class="row">
<div class="col-xs-6">
  <h3>Être fière de ses origines...</h3>
  <p>Ivanie honore la résilience. Celle de sa famille, de sa culture et de sa Nation. <em>"Je suis fière parce-qu’il
    y a une histoire plus noire derrière tout ça, pleins de vies se sont éteintes, beaucoup de savoirs se sont perdus...
    [mais] on est encore là. Ça me rend fière parce-que je sais que ça dépend pas de moi. Ça dépend de ma mère qui
    m’a toujours dit que j’étais Malécite. Ça dépend de mon grand-père qui l’a re-dit, qu’il était amérindien,
    autochtone. Ça dépend de mon arrière grand-père qui parlait encore sa langue mais qu’on dit qui parlait jargon.
    C’est ça [qui] me rend fière, de dire qu’on a jamais voulu plier."</em></p>
</div>
<div class="col-xs-6">
  <h3> Pour mieux aller de l'avant</h3>
  <p>Bien sûr la quête identitaire est un perpétuel mouvement, de l'intérieur vers l'extérieur, du passé vers l'avenir.
  Dans tout ça, Ivanie affiche un sourire déterminé et une grande humilité. <em>"Je pense qu’il faudrait que j’en lise
  beaucoup plus, que j’en sache beaucoup plus. Mais c‘est ça le cheminement n’est pas fini. Faut que je reste humble,
  que je reste honnête envers ce que je sais et ce que je sais pas. Mais je sais qu’il en reste beaucoup à savoir..."</em>
"</em>
</p>
</div></div>

<div class="row">
<div class="col-xs-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/onxlje79wQA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-xs-6">
 <h4>Quel est le message que tu souhaites transmettre?</h4>
</br>
 <p>Pour la dernière question de notre entrevue, Ivanie délivre ce message profond:
   <em>"C’est le message de transformation. Qu'on peut toujours changer, malgré tout.
   Changer dans le bon sens. On peut toujours y arriver même si c’est difficile. C’est la grande force que mon mentor
   m’a transmis juste en étant lui-même. C’est un homme qui a changé du tout au tout après des années d’expérience.
   La danse fancy-shawl, c’est la danse du papillon, ce qui honore la transformation. C’est vraiment le message que
   je veux transmettre, c’est comme une puissance de la vie, qui fait que la vie pousse, la vie se transforme, la vie
   évolue, s’épanouie."</em></p>
</div></div>

<div class="row">
<div class="col-xs-6">
  <h3> Comment voit-elle la revitalisation culturelle?</h3>
  <p>Bien sûr, au travers de la danse, Ivanie a renoué avec ses racines. Mais la première dimension qu'elle évoque
    est celle de la Nature: <em>"Revenir à la nature, revenir aux sources, aux valeurs familiales, à l’essentiel… qui
    est la Nature. La danse me guide parce-que ça m’a mené vers ce monde là. Au travers des rencontres, mon chemin
    est plus spirituel, plus naturel. Mais c’est sûr que ça se fait pas du jour au lendemain parce-qu’il y a beaucoup,
beaucoup de connaissances qui se sont dispersées, qui ont [été] oubliées."</em> Avec Kina8at, elle approfondit son
  cheminement en cherchant à organiser des rencontres pour la transmission de savoirs ancestraux et c'est justement
  avec cet aspect sur lequel elle conclue: <em>"Ca serait de se réunir. Les rencontres font qu'il y a des échanges,
    des discussions, des idées, des inspirations qui fait que chacun chemine vers un même objectif."</em></p>
</div>
<div class="col-xs-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WZ31zLYsEQI" frameborder="0" allowfullscreen></iframe>

</div></div>

<div class="row">
  <div class="col-xs-12">
<h4> Dans le cadre du projet, Ivanie a animé des ateliers de danse </h4>
<ul>
<li>1er atelier à Odanak</li>
<li>2nd atelier à Odanak</li>
<li>3ème atelier à Cacouna</li>
<!-- straight song--></ul>
</div></div>




</div>
</body>
