<% include ../partials/header %>
<head>
  <title>Jessica Ann Watso</title>
</head>

<body>
  <div class="container">
  <h1>Jessica Ann Watso</h1>
  <h3> Nation wabanaki, actuellement établie à: <a href source="/the-communities/Manawan">Odanak</a></h3>

<div class="row">
<div class="col-xs-6">
<img src="/pictures/the-women/jess-pers.jpg" class="img responsive center" height="560" width="340"/>
</div>
<div class="col-xs-6">
  <h3>Courte biographie</h3>
<p>Jessica est une jeune abénakise de 26 ans. Elle a grandi avec sa mère, non-autochtone dans un village proche
  d’Odanak, à Notre Dame tandis que son père, ses deux frères et sa sœur se sont enracinés de l’autre côté de la
  frontière, dans diverses régions des Etats-Unis. Elle a eu un parcours scolaire un peu chaotique et a fait beaucoup
  de petits boulots entre sa formation de coiffeuse en 2011 et son entrée à Kiuna en 2014/2015. Depuis deux ans, elle
  s'implique au sein de Femmes Autochtones du Québec, dans le comité Jeunesse des femmes abénakises. Cette année, elle
  en charge de coordonner un projet pour l'inclusion des personnes LGBTQI+/bi-spirituelles. Jessica est proche
  du territoire, elle pêche et depuis peu elle s'est aussi mise à la chasse (chevreuil, lapin?). L'été 2016, elle a fait
  poussé un jardin traditionnel ainsi qu'un jardin communautaire pour les étudiant(e)s de Kiuna. </p>

  <h4>Son parcours</h4>
  <p>Jessica a fait son éducation primaire à Pierreville, puis à Saint-François du Lac et elle a continué son
    secondaire à Nicolet. Elle quitte l'école à 16 ans et retourne de nouveau à Saint-François pour intégrer l'école
    des adultes. En 2012, elle termine son Diplôme d'Etudes Professionelles pour être coiffeuse. Après plusieurs
  difficultés à s'insérer dans le système collégial, elle décide de se lancer dans le programme en Sciences Humaines -
  Profil Premières Nations à Kiuna.</p>
  <h4>Kiuna, unique institution post-secondaire des Premières Nations au Québec</h4>
  <p>Deux raisons principales ont incité Jessica à postuler: la proximité de l'école et le désir de s'instruire.
    <em>"D'abord c'est proche de chez moi tsé. Je souhaitais me connecter plus à ma culture pis en apprendre
      davantage. Plus j'en apprends sur mes racines, plus ça m’intéresse."</em></p>
</div>
</div>

<div class="row">
  <div class="col-xs-4">
    <h4>Le jardin traditionnel à Kiuna</h4>
<ul><p>Espèces plantées:
  <li>4 variétés de blé d'inde: mandan bride, pickaninny, golden batam and strawberry corn</li>
  <li>Courges</li>
  <li>Haricots/Fèves</li>
  <li>Foin d'odeur</li>
  <li>3 variétés de tabac: maya, périque et havana</li></ul></p>
</div>
<div class="col-xs-4">
<img src="/pictures/the-women/jess/entre.jpg" class="img-responsive"/>
<p class="caption">prise par Louise, 11.07.2016</p>
</div>

<div class="col-xs-4">
      <h4>Le jardin communautaire</h4>
<ul><p>Espèces plantées:
  <li>Tomate</li>
  <li>Concombre</li>
  <li>Melon d'eau</li>
  <li>Salades</li>
  <li>Piments</li>
</p></ul></div></div>

<div class="row">
  <h3>Evolution du jardin au cours de l'été</h3>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin1.jpg"><img src="/pictures/the-women/jess/jardin1.jpg" class="img-responsive"/></a>
  <p class="caption">prise par Louise, 07.06.2016</p></div>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin2.jpg"><img src="/pictures/the-women/jess/jardin2.jpg" class="img-responsive"/></a>
  <p class="caption">prise par Louise, 14.06.2016</p></div>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin3.jpg"><img src="/pictures/the-women/jess/jardin3.jpg" class="img-responsive"/></a>
  <p class="caption">prise par Louise, 29.06.2016</p></div></div>

  <div class="row">
  <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin4.jpg"><img src="/pictures/the-women/jess/jardin4.jpg" class="img-responsive"/></a>
    <p class="caption">prise par Louise, 11.07.2016</p></div>
    <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin5.jpg"><img src="/pictures/the-women/jess/jardin5.jpg" class="img-responsive"/></a>
    <p class="caption">prise par Louise, 19.07.2016</p></div>
    <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin6.jpg"><img src="/pictures/the-women/jess/jardin6.jpg" class="img-responsive"/></a>
    <p class="caption">prise par Louise, 30.08.2016</p></div></div>

<div class="row">
  <h3>Plantes médecines: le foin d'odeur et le tabac</h3>
  <div class="col-xs-6">
<a target="_blank" href="/pictures/the-women/jess/foin.jpg"><img src="/pictures/the-women/jess/foin.jpg" class="img-responsive"/></a>
  <p class="caption">prise par Jessica, 19.07.2016</p>
</div>
  <div class="col-xs-6">
<a target="_blank" href="/pictures/the-women/jess/tabac.jpg"><img src="/pictures/the-women/jess/tabac.jpg" style="height:575px" class="img-center"/></a>
<p class="caption">prise par Louise, 28.07.2016</p>
  </div></div>

<div class="row">
  <div class="col-xs-6">
    <h4>Foin d'odeur - Sweet grass - Hierochloë odorata</h4>
  <p>La fumigation est utilisée traditionnellement par les peuples d'Amérique du Nord pour purifier les lieux,
    les gens et les événements. Le Foin d'Odeur est le plus féminin des encens, souvent appelé cheveux de la Terre-Mère.
    Il est utilisé pour attirer les énergies bénéfiques. Le bison se nourrit entre autre de foin d’odeur.</p>
</div>
<div class="col-xs-6">
  <h4>Tabac - Tobacco - Nicotina Rustica </h4>
  <p>Ces informations ont été rassemblées par Jessica pour la fiche informative sur cette plante ancestrale:</br>
  Considéré comme sacré au sein des Premières Nations, le tabac est originaire de l’Amérique Centrale et de l'Amérique du Sud
  (Nicotina Tabacum), et sa culture aurait débuté il y a plus de 8000 ans.  On le retrouvait surtout
 chez les Nations sédentaires, qui vivaient d’agriculture et c’était particulièrement les aînés qui le cultivaient.
  Le tabac peut être utilisé de nombreuses manières: on peut le brûler juste au-dessus du feu, le jeter à l’eau,
  le laisser au sol, le fumer dans le Calumet seul ou en groupe pour communiquer avec les esprits, le mâcher (chiquer)
  et on peut aussi l’offrir en don. On l’utilise lors de cérémonies pour communiquer avec les esprits par sa fumée.
  On dit que la fumée qui s’élève, simule l’âme du tabac qui emporte les prières avec elle vers les esprits. On peut
  adresser des remerciements au Créateur, prier pour obtenir une bonne récolte ou une meilleure prise de poissons.
  On s’en sert lors de cérémonies de rites de passage comme la naissance, le mariage ou les funérailles entre autres.
  En le fumant avec le Calumet de la paix on demande la paix avec les ennemis. On peut l’utiliser de façon médicinale
  ou lors de rituel de purification (du corps et de l’esprit) accompagné de la sauge, du foin d’odeur et de l’écorce
  de cèdre. Certaines nations ont un « gardien du calumet », un guérisseur spécial, ou Chaman, qui utilise le tabac de
  façon traditionnelle pour communiquer avec le Créateur. Bien que ses usages varient selon les contextes culturels et
  géographiques des Nations, les Iroquois le consommaient principalement sous forme de fumée.
</p>
    </div></div>

  <div class="row">
    <h3> Les trois soeurs - Three sisters - Tionhekwa [Kanien’keha/Mohawk]</h3>
    <div class="col-xs-6">
        <p>Ces informations ont été rassemblées par Jessica pour la fiche informative sur ces cultures traditionelles:</br>
      Selon la légende, les trois soeurs sont un cadeau du créateur. Elles sont nées sur la tombe de leur Mère-Terre
    après que celle-ci eu accouché de jumeaux et de la nation Iroquoise par la suite. On dit que la nuit venue, au clair
  de lune, elles prennent la forme de jolies jeunes femmes et dansent à l'ombre des champs de maïs, chantant des louanges
  à leur mère. Autrefois, les familles iroquoiennes, qui étaient sédentaires, pratiquaient l'agriculture. Le plus gros
  du travail était effectué par les femmes. Les principales cultures étaient la courge, le haricot et le maïs. On
  appelle la forme de culture des trois soeurs: la compagnonnage, qui consiste à les faire pousser ensemble. En plus
  de produire un bon compost, elles fournissent une bonne alimentation bien équilibrée.</p>
  <ul><li>Le haricot fournit l'azote nécessaire au sol.</li>
    <li>Le maïs fournit une structure permettant aux fèves de grimper.</li>
        <li>Les feuilles de la courge bloquent le soleil et empêchent les mauvaises herbes de pousser, tout en gardant
      l'humidité au sol. Les poils épineux de la vigne dissuadent les petits ravageurs herbivores.</li>
    </ul>
  </div>

    <div class="col-xs-6">
      <img src="/pictures/the-women/jess/3soeurs.jpg" class="img-responsive center"/>
      <p class="caption">prise par <a href="/the-women/Marie-Christine-Petiquay">Marie Kristine</a>, 13.09.2016, 3 sisters</p>
      </div></div>

<div class="row">
  <h4>Blé d'inde/maïs</h4>
  <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé4.jpg"><img src="/pictures/the-women/jess/blé4.jpg" class="img-responsive center" /></a>
    <p class="caption">prise par Jessica, 05.08.2016, variété: golden bantam</p>
</div>

<div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé5.jpg"><img src="/pictures/the-women/jess/blé5.jpg" class="img-responsive center"/></a>
  <p class="caption">prise par Jessica, 05.08.2016</p>
</div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/jess/blé6.jpg"><img src="/pictures/the-women/jess/blé6.jpg" class="img-responsive center"/></a>
<p class="caption">prise par Jessica, 05.08.2016, polen au-dessus du blé d'inde</p>
</div></div>

<div class="row">
  <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé1.jpg"><img src="/pictures/the-women/jess/blé1.jpg" class="img-responsive center" /></a>
    <p class="caption">prise par Jessica, 13.09.2016, variété: mandan bride corn</p>
</div>

<div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé2.jpg"><img src="/pictures/the-women/jess/blé2.jpg" class="img-responsive center"/></a>
  <p class="caption">prise par Jessica, 13.09.2016, variété: pickaninny corn</p>
</div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/jess/blé3.jpg"><img src="/pictures/the-women/jess/blé3.jpg" class="img-responsive center"/></a>
<p class="caption">prise par Jessica, 13.09.2016, variété: mäis fraise/strawberry corn</p>
</div></div>

<div class="row">
  <h4>Courges</h4>
  <div class="col-xs-6 gallery">
  <a target="_blank" href="/pictures/the-women/jess/courge1.jpg"><img height="575" src="/pictures/the-women/jess/courge1.jpg" class="img-center"/></a>
    <p class="caption">prise par Jessica 05.08.2016</p>
  </div>

  <div class="col-xs-6 gallery">
    <a target="_blank" href="/pictures/the-women/jess/courge2.jpg"><img src="/pictures/the-women/jess/courge2.jpg" class="img-responsive center"/></a>
  <p class="caption">prise par Jessica, 13.09.2016</p>
  </div></div>
  <!-- photos de haricots à rajouter-->

<div class="row">
  <div class="col-xs-6">
    <h3>Autres thèmes de l'entrevue...? Défis/Stéréotypes/Futur</h3>
    <p> </p>
</div>
<div class="col-xs-6">
<h3>Comment voit-elle la revitalisation culturelle?</h3>
<p>En cultivant un jardin traditionnel et un jardin communautaire, elle avait pour objectif d'amener les étudiants
à comprendre les bienfaits d'un jardin et pourvoir se servir des récoltes. Elle souhaitait mettre en place des activités
traditionnelles, qu'elle soient artisanales comme les poupées de maïs avec les feuilles séchées ou la tresse de foin
d'odeur; ou gustatives, par exemple des ateliers cuisine ou une dégustation de blé d'inde.</p>
</div></div>

</div>
</body>

<% include ../partials/footer %>
