<% include ../partials/header %>
<head>
  <title>Jessica Ann Watso</title>
</head>

<body>
  <div class="container">

<div class="row">
<div class="col-xs-12">
<img src="/pictures/the-women/jess-pers.jpg"/>

  <h3>Short biography by <u><a href="/the-researcher" target="_blank">Louise Watson</a></u></h3>
  <p>Jessica grew up with her non-indigenous mother in Notre Dame, a village near <a href source="/the-communities/Manawan">Odanak</a>. Unlike other Abenaki families, her father, her two brothers and sister live on the other side of the border, in various regions of the United States. Her educational journey has been a bit chaotic, and she had many jobs since her training as a hairdresser in 2011, and her start at Kiuna in 2014/2015. Two years ago, she started being involved in Quebec Native Women Inc., in the Youth committee of Abenaki women. This year, she coordinates a project on the inclusion of LGBTQI+/bi-spiritual people. Jessica is connected to the land, she goes fishing and she recently started hunting as well. She has her own garden, and in the summer of 2016, she started a traditional garden and a community garden for the students of Kiuna.</p>
<h2>Jessica Ann Watso</h2>
<img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Her process with school and how she landed at Kiuna College</h3>
  <p>Jessica completed her primary education in Pierreville, in Saint-François du Lac, and she continued in Nicolet for secondary education. She left the school system at 16, and went back to Saint-François to join a school for adults. In 2012, she graduated, ready to become a hairdresser. After several difficulties integrating into college, she decided to get into the First Nations Social Sciences program at Kiuna College.Two reasons motivated Jessica to apply for that program:
  </br></br> «First, it’s close to my home. I wanted to connect more with my culture, learn more about it. The more I learn about my roots, the more I’m interested.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<img src="/pictures/the-women/jess/entre.jpg" class="img-responsive center"/>
<p class="caption">taken by Louise Watson, 11.07.2016</p>
</div></div>

<div class="row">
  <div class="col-xs-6">
    <h5>The traditional garden, </br>species planted:</h5>
<p><ul>
  <li>4 varieties of corn: mandan bride, pickaninny, golden batam and strawberry corn</li>
  <li>Squash</li>
  <li>Beans</li>
  <li>Sweetgrass</li>
  <li>3 varieties of tobacco: maya, perique and havana</li></ul></p>

</div>
<div class="col-xs-6">
  <h5>The community garden, </br>species planted:</h5>
<p><ul>
<li>Tomato</li>
<li>Cucumber</li>
<li>Watermelon</li>
<li>Salad greens</li>
<li>Peppers</li>
</ul></p>
</div></div>

<div class="row">
  <h3>Evolution of the garden throughout the summer</h3>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin1.jpg"><img src="/pictures/the-women/jess/jardin1.jpg" class="img-responsive"/></a>
  <p class="caption">taken by Louise Watson, 07.06.2016</p></div>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin2.jpg"><img src="/pictures/the-women/jess/jardin2.jpg" class="img-responsive"/></a>
  <p class="caption">taken by Louise Watson, 14.06.2016</p></div>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/jess/jardin3.jpg"><img src="/pictures/the-women/jess/jardin3.jpg" class="img-responsive"/></a>
  <p class="caption">taken by Louise Watson, 29.06.2016</p></div></div>

  <div class="row">
  <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin4.jpg"><img src="/pictures/the-women/jess/jardin4.jpg" class="img-responsive"/></a>
    <p class="caption">taken by Louise Watson, 11.07.2016</p></div>
    <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin5.jpg"><img src="/pictures/the-women/jess/jardin5.jpg" class="img-responsive"/></a>
    <p class="caption">taken by Louise Watson, 19.07.2016</p></div>
    <div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/jess/jardin6.jpg"><img src="/pictures/the-women/jess/jardin6.jpg" class="img-responsive"/></a>
    <p class="caption">taken by Louise Watson, 30.08.2016</p></div></div>

<div class="row">
  <h3>Medicinal plants: sweetgrass and tobacco</h3>
  <p>The information presented below has been gathered by Jessica, as she was making an info sheet about these ancestral plants. Translated from French by Louise Watson.</p>
  <div class="col-xs-6">
<a target="_blank" href="/pictures/the-women/jess/foin.jpg"><img src="/pictures/the-women/jess/foin.jpg" class="img-responsive"/></a>
  <p class="caption">taken by Jessica Ann Watso, 19.07.2016</p>
</div>
  <div class="col-xs-6">
<a target="_blank" href="/pictures/the-women/jess/tabac.jpg"><img src="/pictures/the-women/jess/tabac.jpg" style="height:575px" class="img-center responsive"/></a>
<p class="caption">taken by Louise Watson, 28.07.2016</p>
  </div></div>

<div class="row">
  <div class="col-xs-4">
    <h5>Foin d'odeur - Sweetgrass - Hierochloë odorata</h5>
  <p>The smudging is traditionally done by Indigenous peoples of North America to purify spaces, people and events. Sweetgrass is the most feminine incense, often called the hair of Mother Earth. It is used to attract positive energies. The bison eats sweetgrass, among other plants.</p>
</div>
<div class="col-xs-8">
  <h5>Tabac - Tobacco - Nicotina Rustica </h5>
  <p>Considered as sacred by First Nations, the tobacco plant originates from South and Central America (Nicotina Tabacum), and its cultivation would have started more than 8000 years ago. It was commonly found among the sedentary Nations, who lived off farming, and it was especially the elders who cultivated it. The tobacco can be used in different ways: it can be burnt just above the fire, thrown in water, left on the soil, chewed, smoked in the calumet alone or in a group to communicate with the spirits, and it can also be given as a gift. We use it for the ceremonies to connect with the spirits through the smoke. We say that the smoke which rises simulates the soul of the tobacco, taking along the prayers towards the spirits. We can address thankfulness to the Creator, pray to obtain a better harvest or a better catch of fish. We use it during the rites of passage ceremonies, such as for birth, marriage, or funerals among others. By smoking it with the peace calumet, we ask for peace with the enemies. We can use it as a medicine or during rites of purification of the body and the spirit, together with sage, sweetgrass and cedar bark. Certain Nations have a ”calumet keeper”, a special healer, or shaman, who uses tobacco in a traditional manner to communicate with the Creator. Although its usages vary with the cultural and geographical contexts of the Nations, the Iroquois mostly consumed it by smoking it.</p>
    </div></div>

  <div class="row">
        <div class="col-xs-12">
    <h3> Les trois soeurs - Three sisters - Tionhekwa [Kanien’keha/Mohawk]</h3>
    <img src="/pictures/the-women/jess/3soeurs.jpg" class="img-center img-responsive"/>
    <p class="caption">taken by <u><a href="/the-women/Marie-Christine-Petiquay">Marie Kristine</u></a>, 13.09.2016</p>

        <p> According to the legend, the three sisters are a gift from the Creator. They are born on the grave of their Mother Earth, after she gave birth to twins and to the Iroquois Nation. It is told that when night falls, in the moonlight, they take the shape of beautiful young women, and they dance in the shadow of the corn fields, singing lullabies to their mother. Back in the days, the Iroquois families were sedentary and practiced farming. The biggest workload was accomplished by the women. The most common crops were pumpkin, beans and corn. The way we cultivate the three sisters is called the companionship, which consists of growing them together. Apart from making a good compost, they provide a balanced diet.
  <ul><li>The beans provide the azote necessary for the soil.</li>
    <li>The corn gives a structure allowing the beans to climb.</li>
        <li> The leaves of the pumpkin block the sun and prevent the weeds from growing, while keeping the soil moist. The spiky hair of the vine dissuades the little herbivore pests.</li>
    </ul></p>
  </div></div>

<div class="row">
  <h3>Corn</h3>
  <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé4.jpg"><img src="/pictures/the-women/jess/blé4.jpg" class="img-responsive center" /></a>
    <p class="caption">taken by Jessica Ann Watso, 05.08.2016, variety: golden bantam</p>
</div>

<div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé5.jpg"><img src="/pictures/the-women/jess/blé5.jpg" class="img-responsive center"/></a>
  <p class="caption">taken by Jessica Ann Watso, 05.08.2016</p>
</div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/jess/blé6.jpg"><img src="/pictures/the-women/jess/blé6.jpg" class="img-responsive center"/></a>
<p class="caption">taken by Jessica Ann Watso, 05.08.2016, polen at the top of the corn</p>
</div></div>

<div class="row">
  <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé1.jpg"><img src="/pictures/the-women/jess/blé1.jpg" class="img-responsive center" /></a>
    <p class="caption">taken by Jessica Ann Watso, 13.09.2016, variety: mandan bride corn</p>
</div>

<div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/jess/blé2.jpg"><img src="/pictures/the-women/jess/blé2.jpg" class="img-responsive center"/></a>
  <p class="caption">taken by Jessica Ann Watso, 13.09.2016, variety: pickaninny corn</p>
</div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/jess/blé3.jpg"><img src="/pictures/the-women/jess/blé3.jpg" class="img-responsive center"/></a>
<p class="caption">taken by Jessica Ann Watso, 13.09.2016, variety: strawberry corn</p>
</div></div>

<div class="row">
  <h3>Squash</h3>
  <div class="col-xs-6 gallery">
  <a target="_blank" href="/pictures/the-women/jess/courge1.jpg"><img height="575" src="/pictures/the-women/jess/courge1.jpg" class="img-center"/></a>
    <p class="caption">taken by Jessica Ann Watso, 05.08.2016</p>
  </div>

  <div class="col-xs-6 gallery">
    <a target="_blank" href="/pictures/the-women/jess/courge2.jpg"><img src="/pictures/the-women/jess/courge2.jpg" class="img-responsive center"/></a>
  <p class="caption">taken by Jessica Ann Watso, 13.09.2016</p>
  </div></div>
  <!-- photos de haricots à rajouter-->

<div class="row">
<div class="col-xs-12">
<p>By cultivating a traditional garden and a community garden, Jessica had the vision to help students understand the benefits of a garden, and to be able to use the harvests. She wished to organize traditional activities, either related to crafting, such as the creation of corn puppets with the leaves of the corn; or to eating, for example cooking workshops or a corn tasting.</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>Project on the inclusion of LGBTQI+/bi-spiritual people</h3>
<p>Led by Maite Saganash in the Youth Committee of <u><a href="http://www.faq-qnw.org/en" target="_blank">Quebec Native Women Inc.</u></a>, together with the organisation <u><a href="https://equitas.org/" target="_blank">Equitas</u></a>, the goal of the project is to get one girl in each Indigenous community to be engaged for more tolerance and inclusion of LGBTQI+/bi-spiritual people. They want to support each individual in their rights of freedom of expression, and of self-determination of sexual orientations and ways of being. Jessica is currently following a leadership training. Find out more about a past <u><a href="http://www.faq-qnw.org/wp-content/uploads/2016/12/TurningTraditionsEN.pdf" target="_blank">conference</u></a> "Turning towards our traditions: Valuing LGBTQ/
Two-Spirited Aboriginals and Fighting Against Sexual Discrimination."</p>
  </div></div>

</div>
</body>

<% include ../partials/footer %>
