<% include ../partials/header %>
<head>
  <title>Lisa Aubin Bérubé</title>
</head>

<body>
<div class="container">
  <h1>Lisa-Maude Aubin Bérubé</h1>
  <h3> Nation wolastoqiyik/malécite, <a href src="/the-communities/Cacouna">Viger de Cacouna</a></h3>

  <div class="row">
<div class="col-xs-6">
  <img src="/pictures/the-women/lisa-pers.jpg" class="img-center" width="450" height="520"/>


</div>

  <div class="col-xs-6">
  </br> <h3> Courte biographie</h3>
</br>
<p>Lisa est une jeune wolastoq (malécite de Viger) de 20 ans. Elle a grandi dans une banlieue de Montréal, à Otterburn Park
  avec ses deux grands frères et ses parents. Son père est originaire du Saguenay et sa mère fait partie de la Nation
  wolastoqiyik de Cacouna. Sa famille maternelle a eu un rôle essentiel dans la re-constitution de sa Nation. C'est notamment
  son grand-père Jean Marie Aubin, à l'époque grand-chef, accompagné de sa grand mère et de ses tantes qui a appelé au
  rassemblement des ses membres. Avant d'intégrer Kiuna, Lisa a étudié à <em>"l'école des blancs"</em> et y trouvait sa place.
  Depuis ses études à Odanak, elle a découvert d'autres dimensions de son identité. A l'été 2017,
  elle va graduer en Sciences Humaines - Profil Premières Nations et son projet final porte sur la
  revitalisation de la langue. A l'automne, elle va continuer à approfondir cet intérêt avec un bac en linguistique
  à Concordia University à Montréal.</p>
  <h4>Son parcours scolaire</h4></br>
<p>Ayant grandit hors de la réserve, Lisa a suivi une éducation entièrement non-autochtone:
"<em>J'ai été à l'école des blancs. J'ai un parcours sans fautes et plein d'amis."</em>
A la fin de son secondaire, elle souhaite d'abord se tourner vers des études en sciences pures,
plus précisément de chimie. Et puis sur les conseils de son frère, elle change d'avis et décide d'intégrer Kiuna.<p>
</div></div>

<div class="row">
  <div class="col-xs-6">
  </br> </br></br> </br></br> </br>
      <h4>Kiuna, unique unique institution post-secondaire des Premières Nations au Québec</h4>
      <p>Entourée d'autres jeunes Premières Nations, l'école l'a amené à explorer l'autre moitié d'elle-même:
<em>"ça m'a ouvert sur mon identité parce-que avant c'était plus ma vie de blanche là, parce-que je suis moitié.
  Je suis venue à Kiuna, pis j'ai réalisé ce que mon grand-père il voulait qu'on fasse dans un sens... Qu'on ait pas
honte, qu'on découvre ce qu'on est."</em> Cette force d'affirmation, transmise par sa famille et mise en pratique via
l'école a grandi et évolué avec elle. Ainsi, malgré son intérêt initial pour la chimie, Lisa a choisit de mettre la
priorité sur son développement personnel et l'approfondissement de ses racines culturelles:
"<em>C'était identitairement que je voulais faire ça, c'était pas pour mes études.</em>" En 2016, elle était en charge
 de la promotion et du recrutement de Kiuna. <em>"J'ai fait de la promotion directement dans l'école,j'ai travaillé avec l'école,
  je suis allée dans les pow-wow, j'ai présenté l'école devant les gens. Ce que j'en tire, c'est que les jeunes sont
  très gênés dans les communautés. Faq c'était plus présenter aux parents, ce qu'ils doivent dire à leurs enfants."</em></p>

  <audio src="/audio/entrevues/lisa.mp3" controls="true"/></audio>
  <p class="caption">Entrevue réalisée à Odanak, 05.09.2016 </p>
</div>

<div class="col-xs-6">
  <h3>Ecoute son histoire</h3>
<img src="/pictures/the-women/lisa-pers2.jpg" class="img-responsive center" alt=""/>
<p class="caption">Prise par Louise Watson, 02.07.2016 durant le pow-wow d'Odanak</p>

</div></div>

<div class="row">
<div class="col-xs-4">
<ul><h4>Le futur qu'elle imagine...</h4>
<li>Pour elle-même:</li>
<p>A la rentrée 2017, Lisa commencera un bac en linguistique à l'université de Concordia, avec une mineure en Etudes
Autochtones (First Nations studies) à Montréal. Les langues la passionnent et elle souhaite se préparer à aller
apprendre sa langue, le wolastoq/malécite, qui est complètement extincte au Québec (c'est la seule Nation dans ce cas
dans la province): <em>"Faut que je retrouve ma langue pour que ce soit quelque chose qui reste vivant."</em>
A l'horizon des prochaines années, elle désire donc se rendre au Nouveau-Brunswick avec son frère pour y apprendre sa langue natale.</p>
<li>Pour les autres jeunes autochtones:</li>
<p>Lisa a une vision très positive et pleine d'espoir: <em>"Les Premières Nations se lèvent.
J'imagine qu'on va devenir autonome très bientôt, c'est ce que je vois, ce que j'espère."</em> Elle y voit le rôle
primordial que l'Institution Kiuna joue dans dans ce processus <em>"Avec Kiuna, ce que ça fait c'est que ça lève de
nouveaux leaders. Faq j'imagine qu'il y a beaucoup de choses qui vont changer dans les prochaines années."</em></p>
</ul></div>

<div class="col-xs-4">
<ul><h4> Les défis à surmonter</h4>
  <li>Les préjugés:</li>
<p>Un des buts de ce projet est de déconstruire les préjugés et stéréotypes qui pèsent sur le quotidien. En parcourant
  les témoignages des <a href="/the-women">jeunes femmes</a>, la liste s'allonge. Le combat contre l'ignorance est loin
d'être terminé.</p>

  <li> Le gouvernement:</li>
  <p>Quand je lui demande de préciser ce qu'elle entend par gouvernement, elle précise son propos d'abord en
    l'élargissant, puis en soulignant un aspect précis de la politique qui la dérange: la corruption.
  <em>"Tous les gouvernements qui nous gouvernent... Même le conseil de bande. Les corrompus, surtout chez nous."</em></p>
</ul></div>

<div class="col-xs-4">
<ul><h4> Les stéréotypes qu'elle souhaiterait ne plus entendre</h4>
<li>L'ignorance:</li>
<p>Lisa évoque pour causes l'influence des médias et un système éducatif outdated:
<em>"Les gens vont tout de suite te dire ce qu'ils ont vu aux nouvelles pis les nouvelles c'est tout le temps
ce qu'il y a de pire... il y a tout le temps quelque chose de grave qui se passe. Et dans les livres d'histoire
c'est pas la réalité d'aujourd'hui."</em> Malheureusement, l'ignorance touche tout le monde.
<em>"Ce qui me fâche, c'est que mes propres ami(e)s, j'ai des ami(e)s qui sont blancs, il y en a qui vont venir te
  dire des choses alors qu'ils ont pas chercher à savoir. [Même] des personnes qui sont proches de moi, ils vont
  être ignorants par rapport à ça."</em></p>
<li>La violence dans les communautés:</li>
<p>En lien avec l'ignorance, Lisa me raconte qu'une fois, une amie lui<em> "a carrément dit que Kahnawage
  [réserve mohawk sur la rive sud de Montréal], c'était un trou perdu, que les gens étaient alcooliques et violents
  là-bas et que je devais pas aller vivre là-bas sinon il y a aurait quelque chose qui me serait arrivé."</em>
Lisa se rend souvent à Kahnawage pour rendre visite à des ami(e)s et ses expériences contredisent ce stéréotype:
  <em>"Déjà, il m'est rien arrivé. Les gens sont super accueillants, il [n'] y a aucune méchanceté.
    C'est comme du côté des blancs, il y a des gens qui sont méchants mais ils sont rares.
  Pis, oui il y a des gens alcooliques mais la plupart du temps, c'est à cause du background qui est arrivé.
  C'est juste une manière d'échapper à ses problèmes là."</em></p></ul>
</div></div>

<div class="row">
  <div class="col-xs-6">
    <img src="/pictures/the-women/lisa-fiere.jpg" class="img-responsive center" alt=""/>
    <p class="caption">Visite impromptue d'un aîné malécite, 30.06.2016 </p>
    <audio src="/audio/entrevues/lisa.mp3" controls="true"/></audio>
  </div>
<div class="col-xs-6">
<h4>Qu'est-ce-qui te rend fière?</h4>
<p><em>"Je suis fière de tout. Je suis fière d'être une femme, autochtone. Je suis fière d'être la petite fille de
  Jean-Marie Aubin, je suis fière de ma mère, je suis fière de ma tante, de <a href="/the-women/Ivanie-Aubin-Malo">
    ma cousine de qu'elle fait</a>,
  de mon frère qui fait de l'artisanat. De la passion dans mes cousins que je vois, tsé c'est quelque chose qui
  te rend fière pis tu le ressens.Parce-que toi aussi t'as le même sentiment, qui t'es. Je suis fière de mon école.
  Je représente les couleurs de mon école. Je suis fière des gens que je rencontre là pis qu'est-ce-qui font
  pour changer... Quand t'entends leur histoire, pis de voir ce qui, tout ce que p'tit monde là ils veulent
  faire tsé. C'est grand là. Pis quand tu les entends dire leur histoire, pis... Par rapport à leur histoire,
  c'est qu'ils veulent changer tsé. C'est toujours ça qu'arrive là. Pis c'est quelque chose d'inspirant,
  c'est une fierté.</em>"</p>
</div></div>

<div class="row">
    <div class="col-xs-6">
      </br></br></br>
      <h1 class="lisa">SIQONAWSULTUWOK: </br></br>Ils ont survécu </br> jusqu'au printemps</h1>
</div>
<div class="col-xs-6">
  <h3>Comment vit-elle la revitalisation culturelle?</h3>
  <p> Ainsi s'intitule son travail final à Kiuna. C'est ce mouvement de revitalisation, cette connection à ses racines
    qu'elle est venue chercher en s'inscrivant à Kiuna il y trois ans. Son travail approche de nombreuses dimensions,
    comme la connection entre le déplacement des peuples autochtones sur le territoire et la perte de leur langue,
    les conséquences de ce phénomène ainsi que des initiatives de revitalisation. Personne dans sa famille ne parle la
    langue car: <em>"Mon grand-père a grandit chez les blancs mais avec une famille autochtone. Il y a eu beaucoup d'intimidation.
  Ils pouvaient pas parler dans leur langue, alors ils ont pas appris leur langue. Avec la génération de mon grand-père
  ils ont pas appris leur langue... Il voulait pas que ses enfants et petits-enfants grandissent en ayant honte
  d'être autochtones."</em>
</p>
</div></div>


</div>
</body>

<% include ../partials/footer %>
