<% include ../partials/header %>
<head>
  <title>Lisa-Maude Aubin Bérubé</title>
</head>

<body>
  <div class="container">
  <div class="row">
  <div class="col-xs-2">
  </div>
    <div class="col-xs-8">
          <h2>Lisa-Maude Aubin Bérubé</h2>
  <a target="_blank" href="/pictures/the-women/lisa/pers.jpg"><img href src="/pictures/the-women/lisa/pers.jpg" class="img-responsive"alt""/></a>
  <p class="caption">Short bio and portrait by <a href="/the-researcher" target="_blank">Louise</a> (July 2016). The interview took place in Odanak (August 2016), and was recorded and translated by Louise.</p>
  </div>
  <div class="col-xs-2">
    </div>
</div>

  <div class="row">
  <div class="col-xs-12">
      <h5 class="disclaimer"><em> Disclaimer: The story portrayed here reflects only parts of Lisa's identity, at a specific point in time and in a particular context. Some of her answers might be outdated and inaccurate, as her life evolved beyond the project.</em></h5>
<p>Lisa grew up in the suburbs of Montreal with her two big brothers and her parents. Her father comes from the Saguenay region and her mother is a Wolastoq/Maliseet from Viger. Her mum’s side of the family had a vital role in the reconstitution of the Nation. Especially her grandfather Jean-Marie Aubin, who was Chief at the time. He called for the gathering of the members of the Nations, together with her grandmother and her aunts. Before studying at Kiuna, Lisa studied in a non-Indigenous school and was happy about it. Since her start at Kiuna, she explored other aspects of her identity, such as her
  indigeneity. In the summer of 2017, she graduated from the First Nations Social Sciences program, concluding with a project about
  language revitalization. This autumn, she pursued that interest by enrolling for a bachelor's degree in
  linguistics at Concordia University, in Montreal.</p>
</div></div>
<div class="row">
    <div class="col-xs-6">
  <img src="/pictures/bubbles/lisa.png" alt="" height="298" width="273">
</div>
  <div class="col-xs-6"></br></br>
<audio src="/audio/entrevues/lisa1.mp3" controls="true"/> </audio></br></br>
<p>«<em>Kwe</em>, my name is Lisa-Maude Aubin Bérubé, I am Wolastoqiyik of Viger in Cacouna.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Can you tell me more about your childhood, your family and where you grew up? </h3>
<p> «I grew up in a suburb, in Ottoburn Park. My father comes from Saguenay and my mother comes from Cacouna. I have two big brothers. I’m close with my aunts, from my mother's side, as well as my grandmother.» </p>
</div></div>

<div class="row">
  <h3>Can you tell me more about your grandfather and the role he played for your Nation?</h3>
<div class="col-xs-4">
  <a target="_blank" href="/pictures/the-women/lisa/malecites.jpg"><img href src="/pictures/the-women/lisa/malecites.jpg" class="img-responsive center"alt""/></a>
</div>
<div class="col-xs-8">
  <audio src="/audio/entrevues/lisa2.mp3" controls="true"></audio>original recording in french</br>
<p>«My grandfather grew up among white people, but with an Indigenous family, and there was lot of bullying. They couldn’t talk in their language, so they didn’t learn their language, with my grandfather’s generation. So he didn’t want his children and grandchildren to grow up feeling ashamed to be Indigenous. Because my Nation was scattered. So he was the big chief, he brought back the Nation, with my grandmother and my aunts. So, it was really a family story.»</p>
</div></div>

<div class="row">
<h3>How has been your process with school and how did you land at Kiuna College?</h3>
<div class="col-xs-12">
<audio src="/audio/entrevues/lisa3.mp3" controls="true"/> </audio>original recording in french</br></br>
<p> «I went to the school of white people. I have a faultless path, and many friends. Well! When I finished secondary
   school, I shifted my perspective, I came here and it opened me up to my identity because it’s only... Before, it
   was more my life as a white woman, because I’m half. So I came to Kiuna. And actually I realized what my
   grandfather wanted us to do, in a way… That we don’t feel shameful and that we discover who we are.
My brother came to study here a year before me. And actually, he had done some research, because he’s the kind of
guy who does research. He found out about that, and he found it interesting, so he came here. I said that I wanted
to go in pure sciences, to do a degree, in chemistry. And he told me that it’s more valuable to come here. Worst case, you can always go back and do that later on, you know. It was because of my identity that I wanted to do that, it wasn’t for my studies.» </p>
<a target="_blank" href="/pictures/the-women/lisa/kiuna.jpg"><img src="/pictures/the-women/lisa/kiuna.jpg" class="img-responsive" alt=""/></a>
<p class="caption">Lisa and Marie Kristine working at Kiuna College (Picture by Louise, July 2016).</p>

<p> «My plan at the moment is to go learn my language. I will see what I will do afterwards. Because at the moment, I study Quebec peoples but we don’t talk much about the Maliseet, the Micmac, the Abenaki. These peoples are closer to me. So I want to explore there.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What was your job this summer?</h3>
    <p> «I was in charge of the promotion and recruitment for Kiuna. So I went and promoted directly at school, I worked with the school, I went in pow-wows, I presented the school for people. But the public was far younger. Because the youths are usually embarrassed in the communities, that’s what I understood from that. So in the end, it was presenting for the parents, what they have to say to their children.» </p>
    <a target="_blank" href="/pictures/the-women/lisa/powwow.jpg"><img src="/pictures/the-women/lisa/powwow.jpg" class="img-responsive" alt=""/></a>
    <p class="caption">Lisa and Marie Kristine representing Kiuna College during the pow-wow of Odanak (picture by Louise, 02.07.2016)</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>What are your passions?</h3>
<p>«I love all sorts of things! I love music, I love movies. I love anime. I love Nature, people, cultures and languages.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you envision your future and more generally the future of young First Nations in Quebec and Canada?</h3>
<p>«What do I see in the future… Well with Kiuna, what it does is raise new leaders, so I imagine that many things will change in the coming years. First Nations are rising. I imagine that we will become autonomous very soon, that’s what I see, what I hope.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What do you see as the challenges faced by Indigenous youths?</h3>
  <!--<audio src="/audio/entrevues/lisa.mp3" controls="true"/></audio>-->
<p>Lisa-Maude: Prejudices. The government.</br>
Louise: Which government?</br>
Lisa-Maude: «All the governments governing us… Even the Band Council. The corrupted, even at home. Also, all the prejudices that are ignorant.  Because I have friends who are white, and when I came here, you know there are people who tell you things, without even knowing what they are talking about. Right away, they will tell you, what they saw in the news, and in the news it’s always the worst, always something serious which happened. And in the history books, it’s not the reality of today you know. That’s what makes me angry, that my own friends, people close to me, will be ignorant regarding that. But you only have to ask if it’s true or not. It’s easy to ask, you don’t have to tell me these things. A while back my friend even told me straight that Kahnawage is a backwater, that people were alcoholic and violent there, and that I shouldn’t live there otherwise something bad will happen to me. First of all, Kahnawage is not a backwater, it’s right next to the city. And the people are really welcoming, there is no nastiness. Just like among white people, they are mean people but they are rare you know. And yes, there are alcoholic people but most of the time, it’s due to the background and what happened in the past… It’s only a way to escape these problems. And nothing happened to me!»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you construct your identity, as a youth, as a women and as Indigenous?</h3>
  <!--<audio src="/audio/entrevues/lisa.mp3" controls="true"/></audio>-->
<p>«As a youth, as a woman and as Indigenous, I have responsibilities. I have to seek out my culture and keep it alive. I have to find my language again, so that it stays alive. And as a young Indigenous woman, I have to get back the rights for Indigenous women. Well we have it, but there are still stereotypes, because the stereotypes entered into the Indigenous communities.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <a target="_blank" href="/pictures/the-women/lisa/fiere.jpg"><img src="/pictures/the-women/lisa/fiere.jpg" class="img-responsive" alt=""/></a>
  <p class="caption">Unexpected visit of a Wolastoq elder Hank Eagle, 30.06.2016 </p>
<h3>What makes you proud to be an Indigenous woman?</h3>
<p> «What makes me proud? Everything. It’s the most beautiful culture in the world! I am proud of everything. I am proud to be a woman, to be Indigenous. I am proud to be the granddaughter of Jean Marie Aubin. I am proud of my mother. I am proud of my aunt, of my cousin, what she does, of my brother, who does handicrafts, and of the passion I see in my cousins. It’s something that makes me proud, and you feel it. Because you too have the same feeling, of who you are. I am proud of my school. I represent the colours of my school. I am proud of the people I meet and what they do to change. When you hear their story, and to see what all these people want to do. You know, it’s big. And when you hear them tell their story, in regards to their story, what they want to change. It always happens like that. It’s something inspiring, it’s a source of pride.»
</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What did the project Circle of Voices bring you?</h3>
  <p> «I became aware I think, because you never ask yourself questions. You know, I never sat in a circle with my friends, and asked them what they think of this and that… At the same time, it opened me up to my friends, to see that we have things in common. And we have things that aren’t in common, but we acknowledge each other. It makes you conscious of things you never ask yourself, you simply live and at some point you realize that you’re doing it.»</p>
</div></div>


</div>
</body>
