<% include ../partials/header %>
<head>
  <title>Marie-Christine-Petiquay</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
<a target="_blank" href="/pictures/the-women/mk/pers1.jpg"><img href src="/pictures/the-women/mk/pers1.jpg" class="img-responsive"alt""/></a>
<p class="caption">self-portrait, 21.07.2016</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Short biography <u><a href="/the-researcher" target="_blank">by Louise Watson</a></u></h3>
<p>Marie Kristine grew up on atikamekw traditional territory. At age 13, she leaves her home community, Manawan, to gain a better education in the biggest town of the Mauricie region. As a young Indigenous girl in Trois-Rivières, she faces many challenges, such as discrimination at school and isolation, living far from her family. She eventually suspends her studies and goes back home to finish secondary school. After several attempts to find a fitting college program, she hears about Kiuna College. She successfully graduated from the program First Nations Social Sciences in the spring 2017 and started a BA in political sciences at UQAM (Université du QUébec à Montréal). Besides her growing dedication and passion for her studies, Marie Kristine is also a multidisciplinary artist, with a profound interest for visual arts, such as photography or movie making. She currently works for <u><a href="https://www.facebook.com/LEspaceCulturelAshukan/" target="_blank">Ashukan Cultural Space</u></a>, an art gallery, gift shop and training centre at once, helping to promote Aboriginal artists and cultures.</p>
<h5>The interview was conducted in Odanak, in August 2016 and March 2017. English subtitles are available for each clip. Filmed and translated by Louise Watson, edited by Tamás from Intermedia Solutions.</h5>

</div></div>

<div class="row">
  <div class="col-xs-12">
    <h2>Biographical interview with Marie Kristine Petiquay</h2>
  <img src="/pictures/bubbles/mk.png" alt="" height="298" width="273">
  <audio src="audio/entrevues/mk2.mp3" controls="true"> </audio>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Can you tell me more about your childhood, your family and where you grew up? </h3>
<p>«I am an atikamekw from Manawan. I am born from an atikamekw mother who comes from Manawan, and a metis father from Wemotaci. Metis because he’s mixed between quebecois and atikamekw. But he still grew up on the reserve with his atikamekw mother. The first years of my life, I lived in Wemotaci with my father’s family. I was relatively young when we moved out to Manawan.
I have two sisters and one brother. They all left the family house, we are quite spread out on the territory of Quebec. One of my sister moved to Lac-Simon, an algonquin reserve in Abitibi, because her boyfriend comes from there. My brother and my other sister are with my father in Wemotaci. I recently lost my grand-father. He died on Mother’s Day. It’s still hard, I mean it was a big loss. Having both parents who worked, I was raised a lot by my grandparents. It was hard for me to mourn him. I also have grandparents in Wemotaci but I know them less, because I spent less time there, than in Manawan.» </p>
<img src="/pictures/land/photo/1.jpg" class="img-responsive"/>
<p class="caption">The lake of Manawan, taken by Marie Kristine in<a href="/land/photo" target="_blank"><u>the participatory workshop on land.</u></a></p>
</div></div>

<div class="row">
  <h3>How has been your process with school and how did you land at Kiuna College?</h3>
<div class="col-xs-6">
<audio src="audio/entrevues/mk2.mp3" controls="true"> </audio>
<p>«In primary school, in Manawan, I received an education in atikamekw language. I think from the first to the third year of primary school. Most of the subjects are taught in atikamekw language, but there was a woman who would come with her trolley in the classroom, two or three times a week, to teach us French. Then from the fourth year until the sixth, it switched. We were taught in French, and there was another woman with her trolley, who would teach us atikamekw. Later on, in secondary school, my parents wanted me to receive a better education, so the first and second year I did in Manawan, and for the third year of secondary, I was sent to Trois-Rivières. But I couldn’t finish my school year there, I had to come back to Manawan. The fact is that I was so far from home that young, I was 13 years old at that time . I was in a flat on my own, even though I had neighbours that came from Manawan. So I wasn’t completely on my own either. But you’re far from your family, it’s hard at 13 years old. Also, the racism I knew at school, from my school mates.»</p>
</div>
<div class="col-xs-6">
  <audio src="audio/entrevues/mk2.mp3" controls="true"> </audio>
  <p>«So I didn’t finish my school year, I had two months left before finishing, so I went back to Manawan and I ended my secondary there in 2009. Then, in 2009, I started college. First, I was doing a training in arts, theater and media. But I didn’t like the atmosphere there, I didn’t even finish my session, I thought the atmosphere was too snobby, I was trying to find myself a lot. Actually, it’s not so much the theater that interested me, but more the media. Because with the Wapikoni Mobile, during secondary school, I was driven towards cinema and media. The theater didn’t interest me at all. And the first session was only about theater. So I changed programs in autumn 2010. I enrolled in a degree “Diplôme d’Etudes Collegiales” in social sciences and visual arts. I did two sessions, but once more, I didn’t complete the program. Personal issues pulled me back home, to Manawan. I stayed there two years, doing all sorts of jobs. Eventually I heard about Kiuna. I thought why not? I enrolled here, and here I am, currently concluding my last session, before graduating and getting my diploma in the program First Nations Social Sciences.» </p>
</div>
<img src="/pictures/the-communities/o-k-front.jpg" class="img-responsive" target="_blank"/>
<p class="caption">Kiuna college in Odanak (taken by Louise Watson)</p>
</div>

<div class="row">
<div class="col-xs-12">
<h3>What did your experience at <a href="/the-communities/kiuna" target="_blank"><u>Kiuna College</a></u> bring you?</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zGR3KIHUizE" frameborder="0" allowfullscreen></iframe>
<p> «In secondary school, I really experienced racism, which made me withdraw into myself. Not that I was ashamed of being indigenous, but let’s say I wasn’t showing it bravely. (...) However here, at Kiuna, it really reinforced my pride, it seems like I’m asserting myself.»
</br></br>?? For the summer [in 2016], I’m assisting with the development of cultural activities for the student life. I work at Kiuna for the summer. So my job consists of developing activities, as much playful as cultural, together with the student life facilitator in charge of the cultural component. Actually with my job, because I’m also doing it during the session, I am an assistant to the student life facilitator life also during the session not only during the summer. With atikamekw elders, I learned to make baskets out of bark. It’s the atikamekw people who did that. Although, I know they were other peoples doing it too… You know, that’s something my job brought me to learn. That’s great I think. I also learned to sew a baby carrier with other atikamekw elders.
-Your job allows you to have access to practices that you wouldn’t have had, or wouldn’t have reached for…
-Well, beside my job, I would have needed to go see certain people in Manawan, ask the elders to teach me. Whereas here, we invite them to come to us to pass on their knowledge. That’s what I like.<p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are you passionate about?</h3>
<audio src="audio/entrevues/mk3.mp3" controls="true"> </audio>
<p> «Well I got a couple. Actually, everything that requires me to be creative, like playing music, I draw, I paint, as much acrylic as watercolor. I tried oil painting but I didn’t like it. It takes ages to dry…
And, I also started beadwork. I learned that by myself, by observing others doing. It’s not something that someone taught me. I make earrings, but it’s more for me, I don’t sell them.
Otherwise, I have a passion for audiovisual creations. I did some short-movies with the Wapikoni Mobile at at Kiuna, I had the chance to do more. They were giving me contracts for editing or making short promotion clips, which will be released on the internet. I like to do that too. Do I have more, I think that’s it… Ah there is photography that I enjoy too.»
 // picture of her drawing? See some of her creations at the bottom of the page!<p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you envision your future and more generally the future of young First Nations in Quebec and Canada?</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2xmV1r8NN6U" frameborder="0" allowfullscreen></iframe>
<p> «I didn’t think I would go up to university, but I enrolled in political sciences at UQAM in Montreal. (...)</br>
  Also I talked about my passion for the audiovisual creation, I would like to work for the <u><a href="http://www.wapikoni.ca/">Wapikoni Mobile</a></u>, to work as a trainer-filmmaker.»
  </br></br> «I noticed that more and more youths are affirming themselves. Yes before, we withdrew on ourselves, we hided, we didn’t want people to know we were indigenous, let’s stay we didn’t want to be pointed at. But I noticed that, since the movement <a href="http://www.idlenomore.ca/" target="_blank"><u>Idle No More</a></u>, or maybe a little before, it started to change. So I think it can only grow, let’s hope.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What do you see as the challenges faced by Indigenous youths?</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mGW3cdFAXlY" frameborder="0" allowfullscreen></iframe>
<p> «For those who grew up in the reserve, for sure leaving the reserve to go in an urban community to study, it’s definitely destabilizing.»</br>
 «There is also the language barrier because they didn’t necessarily learn French first.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/socCJR9QEr8" frameborder="0" allowfullscreen></iframe>
<p> «There is the prejudice of the alcoholic Indian that I don’t like. At the same time, it’s true that there are a lot of people who drink, but you have to look at what we went through, with the boarding schools and all, it destroys lives.»</br>
«Also the racism I experienced at school, from my classmates. Sometimes there was racism, but also a lot of ignorance.»</p>
</div></div>

  <div class="row">
    <div class="col-xs-12">
  <h5>Marie Kristine invited me to her home community over a week-end. On a tranquille afternoon, her grandmother shared a family story in atkamekw language.
  <u><a href="/language/trad.ejs" target="_blank">Curious to listen to it?</a></u></h5>
  <img src="/pictures/the-women/mk/kokum.jpg" class="img-responsive center" alt=""/>
  <p class="caption">photographed by Louise Watson in Manawan</p>
</div>
</div>

  <div class="row">
    <h3>Sharing her identity and her culture through her creations:</h3>

      <h2>Exhibition</h2>
<div class="col-xs-6 gallery">
  <a target="_blank" href="/pictures/the-women/mk/ex1.jpg"><img src="/pictures/the-women/MK/ex1.jpg" class="img-responsive center"/></a>
<p class="caption">Graduating project at Kiuna College:</br> "I am not a number"</p>
<p>«I am the number 2635 of the 78th Indian Band. 0780263501. It is this number which confirms my Indigenous identity according to the Indian Act. Just like the Jews during the Holocaust, or like cattle in a farm, we have been numbered too. This serie of photographical portraits aim t denounce the fact that it is still this paternalist and colonialist law which defines our identity. Time has come to grasp the nettle, and to define, ourselves, who we are.»</p>
</div>

<div class="col-xs-6 gallery">
  <a target="_blank" href="/pictures/the-women/mk/ex2.jpg"><img src="/pictures/the-women/MK/ex2.jpg" class="img-responsive center"/></a>
<p class="caption">To see the whole photography serie, <u><a href="https://mkpetiquay.wixsite.com/not-a-number/page" target="_blank">over here</u>...</a></p>
</div>
</div>

<div class="row">
      <h2>Photographs</h2><p>See more on <u><a href="https://mkpetiquay.wixsite.com/mkphotography" target="_blank">her website</u></a></p>

    <div class="col-xs-4 gallery">
      <a target="_blank" href="/pictures/the-women/mk/phot1.jpg"><img src="/pictures/the-women/MK/phot1.jpg" class="img-responsive center"/></a>
    <p class="caption">First pow-wow for Rocksanne, her young niece, Lac Simon (algonquin community), July 2016</p></div>

    <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/the-women/mk/phot2.jpg"><img src="/pictures/the-women/MK/phot2.jpg" class="img-responsive center"/></a>
  <p class="caption">First pow-wow for Rocksanne, her young niece, Lac Simon (algonquin community), July 2016</p></div>

    <div class="col-xs-4 gallery">
      <a target="_blank" href="/pictures/the-women/mk/phot3.jpg"><img src="/pictures/the-women/MK/phot3.jpg" class="img-responsive center"/></a>
    <p class="caption">Atimwcicak - Two brother dogs in Manawan</p></div>
</div>

<div class="row">
<h2>Paintings - Drawings</h2>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/mk/paint1.jpg"><img src="/pictures/the-women/MK/paint1.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Her dog in Manawan</p> </div>

<div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/mk/paint2.jpg"><img src="/pictures/the-women/MK/paint2.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">The multicolored owl which helped her during her depressive times</p></div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/mk/paint3.jpg"><img src="/pictures/the-women/MK/paint3.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Ariel the little mermaid </p></div></div>

<div class="row">

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/mk/paint4.jpg"><img src="/pictures/the-women/MK/paint4.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Monroe in aquarelle</p> </div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/mk/paint6.jpg"><img src="/pictures/the-women/MK/paint6.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Illustration of a theater piece by Yves Sioui Durand</p></div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/the-women/mk/paint5.jpg"><img src="/pictures/the-women/MK/paint5.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Duotone - Biochromie</p></div></div>

<div class="row">
<div class="col-xs-6 gallery">
<h2>Musical creation</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uWqbA0EViSM" frameborder="0" allowfullscreen></iframe>
<p class="caption">Perfomance with Loco Locass, <u><a href="/the-women/Lisa-Aubin-Berube.ejs" target="_blank">Lisa Maude Aubin Bérubé</u></a>, other students from Kiuna</p>
</div>
<div class="col-xs-6 gallery">
  <h2>Audiovisual creation</h2>
<iframe src="https://player.vimeo.com/video/153150428" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p class="caption">Short movie with the Wapikoni Mobile.</p>
</div></div>

<div class="row">
<div class="col-xs-8 gallery">
  <h2> Beading</h2>
  <a target="_blank" href="/pictures/the-women/mk/bead1.jpg"><img src="/pictures/the-women/mk/bead1.jpg" class="img-responsive center" alt=""/></a>
    <!--- autre boucle d'oreilles + chapeau fin d'études-->
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>What did the project bring you ?</h3>
<p>So far, it reconnected me with a passion I had lost, which is photography. You know… I started to use your camera and I ended up buying my own. And yes, we do the project with other First Nations too, so it helps me learn about them. That’s fun. But it’s similar to what Kiuna does too.</p>
</div></div>

</div>
</body>

<% include ../partials/footer %>
