<% include ../partials/header %>
<head>
  <title>Marie-Christine-Petiquay</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
<a target="_blank" href="/pictures/the-women/mk-pers1.jpg"><img href src="/pictures/the-women/mk-pers1.jpg" class="img-responsive"alt""/></a>
<p class="caption">autoportrait, 21.07.2016</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h5>Short biography <em><a href="/the-researcher" target="_blank">by Louise Watson</a></em></h5>
<p><span class="emphasis">Marie-Kristine Petiquay</span> est une jeune atikamekw de 24 ans. Elle a grandi à <a href="/the-communities/Manawan">Manawan</a>, dont sa
  mère est originaire, avec ses deux sœurs et son frère. Son père vient de Wemotaci, la communauté
 voisine. A l'âge de 16 ans, elle quitte sa communauté pour poursuivre son éducation en ville et se
 retrouve confrontée à de nombreux défis qui l'amènent à interrompre ses études. Elle retourne
 travailler à Manawan jusqu'à ce qu'elle entende parler de Kiuna. Cette année, elle a gradué en
 Science Humaines Profil Premières Nations à L'Institution Kiuna et commence un bac en sciences politiques à
 l'université du Québec à Montréal (UQAM) à l'automne 2017. En plus d'être une élève exemplaire, Marie-Kristine est
une artiste multidisciplinaire et c'est au travers de la peinture, du dessin, du perlage, de la création
audiovisuelle, de la photographie ou encore de la musique que cette jeune femme trilingue s'exprime.</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
    <h3> Biographical interview with Marie Christine Petiquay</h3>
  <img src="/pictures/bubbles/mk.png" alt="" height="298" width="273">
</div></div>

<div class="row">
<div class="col-xs-12">
<h2>Can you tell me more about your childhood, your family and where you grew up? </h2>
<p> ... <p>
</div></div>
<div class="row">
<div class="col-xs-12">
<h2>How has been your process with school and how did you land at Kiuna College?</h2>
<p>... </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you envision your future and more generally the future of young First Nations in Quebec and Canada?</h3>
<p> «...» + video clip <p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What do you see as the challenges faced by indigenous youths?</h3>
<p> «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
<p> «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you construct and develop your identity, as a woman, as a youth and as indigenous?</h3>
<p> «...» </p>
</div></div>
<div class="row">
<div class="col-xs-12">
<h3>How do you envision your future and more generally the future of young First Nations in Quebec and Canada?</h3>
<p> «...» + video clip <p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What do you see as the challenges faced by indigenous youths?</h3>
<p> «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
<p> «...» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>How do you construct and develop your identity, as a woman, as a youth and as indigenous?</h3>
<p> «...» </p>
</div></div>


<div class="row">
<h3>Imagining the future as and for Native youth</h3>
<!-- <p class="bloc">Dans un premier temps, sa priorité est la poursuite de ses études à l'université. Elle commence un bac
  en Sciences Politiques à l'Université du Québec à Montréal à l'automne 2017. Ensuite, elle aimerait faire une
  maîtrise en droit constitutionnel car son but est d'obtenir l'autonomie gouvernementale de sa Nation. En parallèle de
  ses études, elle aimerait travailler pour la <a href="http://www.wapikoni.ca/">Wapikoni Mobile</a>, être cinéaste formateur. <em>"C'est quelque chose
  qui me permettrait de voyager, d'aller visiter les autres communautés autochtones des autres Nations et leur apprendre ce que je connais,
  les aider à créer leur propres short films."</em></p>
</br>
</div>
<div class="col-xs-6">
<h5>Pour les autres jeunes autochtones:</h5>
<p class="bloc"> Elle croît à un avenir positif. Selon elle, le mouvement <a href="http://www.idlenomore.ca/">Idle No More</a>
  a propulsé les Nations autochtones à affirmer leur identité et à marcher pour leurs droits. Ce mouvement s'inscrit
  dans les revendications à la souveraineté et l'auto-détermination ainsi que dans la protection de l'environnement.
  <em>"J'ai remarqué dans le fond qu'il y a de plus en plus de jeunes qui s'affirment. Oui avant on était renfermés, on se cachait, on voulait pas que les gens
  sachent qu'on était autochtone. Mettons on voulait pas se faire pointer du doigt."</em></p> -->
<div class="col-xs-8">
<iframe class="interview" width="640" height="360" src="https://www.youtube.com/embed/jPtYimPmQS8?rel=0" frameborder="0" allowfullscreen></iframe>
<p class="caption">Entrevue réalisée à Odanak le 19.05.2016 et 13.04.2017</p>
</div>
<div class="col-xs-4">
<p>my own notes dazu</p>
</div></div>

<div class="row">
  <h3>Overcoming specific challenges</h3>
  <!--   <h5>Sortir de la réserve et s'adapter à un environnement urbain:</h5><p>
     <em>"Pour ceux qu'on grandit en réserve, sortir de la réserve pour
    aller dans une commnauté urbaine pour les études, c'est sûr que c'est destabilisant."</em></p>
    <h5>La barrière de la langue:</h5><p>
     L'attikamekw reste la langue maternelle pour la plupart des habitants des communautés de cette Nation. Ils sont aussi
     beaucoup à parler le français et l'anglais. <em>
    "Il y a la barrière de la langue parce-que ils n'ont pas nécessairement appris le français en premier. Ils ont
  appris la langue maternelle, ce qui fait que apprendre le français plus tard à l'école, c'est plus difficile."</em> </p>
  </div>
  <div class="col-xs-6">
  <h5>Le rascisme et l'ignorance</h5>
  <p>C'est surtout à l'école secondaire que ça l'a frappé, en essayant de s'inclure 'dans le monde des blancs'.
    Elle partage un moment vécu à Trois-Rivières: <em>"Je me rappelle une fois en géographie, après que le prof ai callé
      les noms [fait l'appel], la fille qui était assise en avant de moi se retourne et me demande "-Es tu amérindienne?
      Es tu autochtone? -Oui... -Cool! Tu viens de quel pays?"</em> A l'époque, elle n'assumait pas ses origines et donnait
      parfois de réponses loin de la vérité. <em>"Souvent il y a des jeunes qui me disaient de retourner chez
      moi..."</em> Malgré tout, elle garde le sens de l'humour et ajoute: je suis chez moi, toi retournes chez vous!
  </p>-->
  <div class="col-xs-8">
  <iframe class="interview" width="640" height="360" src="https://www.youtube.com/embed/jPtYimPmQS8?rel=0" frameborder="0" allowfullscreen></iframe>
  <p class="caption">Entrevue réalisée à Odanak le 19.05.2016 et 13.04.2017</p>
  </div>
  <div class="col-xs-4">
  <p>my own notes dazu</p>
  </div></div>

<div class="row">
  <h3>Coping with stereotypes and prejudics</h3>
  <!--<h5>L'indien alcoolique</h5>
  <p class="bloc">Avec le préjugé sur les taxes, celui-ci est sans doute un de ces ceux qui collent le plus à leurs peaux:
    Signe extérieur d'un peuple en souffrance, les problèmes actuels de consommation sont liés aux conséquences
    intergénérationnelles de la colonisation passée et présente. <em>"En même temps, oui c'est vrai, il y a beaucoup de gens
    qui boivent. Mais c'est parce-qu'il faut que tu regardes aussi par où on a traversé avec les
    pensionnats et tout là! *link*<hyperlink page site histoire> Ca détruit des vies ça."</em></p>
  </div>
<div class="col-xs-6" class="bloc">
      <h5>L'abus de l'aide sociale offerte par l'Etat</h5>
    <p class="bloc">Les réserves sont administrées par le gouvernement fédéral et les Conseils de bande, issus de la Loi sur les
      Indiens *link*. Ainsi, les communautés se retrouvent dans l'incapacité de pleinement gérer leurs territoires,
      ainsi que leurs situations économiques et sociales. <em>"Il y a pas beaucoup d'emplois dans les réserves,
      parce que c'est pas développé économiquement et le gouvernement ne donne pas assez d'argent pour qu'on puisse se
      développer, qu'on créé des emplois dans le fond. C'est pour ça qu'il y a beaucoup de gens sur le bien-être social."</em></p>-->

  <div class="col-xs-8">
  <iframe class="interview" width="640" height="360" src="https://www.youtube.com/embed/jPtYimPmQS8?rel=0" frameborder="0" allowfullscreen></iframe>
  <p class="caption">Entrevue réalisée à Odanak le 19.05.2016 et 13.04.2017</p>
  </div>
  <div class="col-xs-4">
  <p>my own notes dazu</p>
  </div></div>

  <div class="row">
    <div class="col-xs-6">
  <img src="/pictures/the-women/MK-kokum.jpg" class="img-responsive center" alt=""/>
  <p class="caption">prise par Louise Watson à Manawan</p>

  <p> Ecoute l'histoire de sa grand-mère en atikamekw</p>
  <audio src="/audio/kokom.mp3" controls="true"/>
  </div>

  <div class="col-xs-6">
  <h3>Comment vit-elle la revitalisation culturelle? </h3>
  <p>Marie Kristine a eu deux postes à Kiuna. Cette année, elle était responsable à l'infographie et à la photographie et
    en 2016/2017, assistante au développement d'activités destinées à la vie étudiante et culturelle de l'école.
    Ainsi, elle a pu participé à de nombreuses activités traditionelles, comme le tressage de paniers en écorce avec des
    aîné.e.s atikamekws ou la confection d'un porte bébé. Etant fortement liée à son territoire natal et à sa langue,
    c'est au travers des arts que Marie-Christine renoue le plus avec ses traditions. *feeback survey*</p>
  </div></div>

<div class="row">
    <h3>Representing herself through.. <span class="emphasis">the ARTS</span></h3>
</br>
      <h2>Photographs</h2>
      <div class="col-xs-4">
        <a target="_blank" href="/pictures/the-women/MK-phot1.jpg"><img src="/pictures/the-women/MK-phot1.jpg" class="img-responsive center"/></a>
      <p class="caption">Premier pow-wow pour Rocksanne, sa jeune nièce, Lac Simon (communauté anishinabee), 23.07.2016</p></div>

      <div class="col-xs-4">
        <a target="_blank" href="/pictures/the-women/MK-phot2.jpg"><img src="/pictures/the-women/MK-phot2.jpg" class="img-responsive center" /></a>
      <p class="caption">Premier pow-wow pour Rocksanne, sa jeune nièce, Lac Simon(communauté anishinabee), 23.07.2016</p></div>

      <div class="col-xs-4">
        <a target="_blank" href="/pictures/the-women/MK-phot3.jpg"><img src="/pictures/the-women/MK-phot3.jpg" class="img-responsive center"/></a>
      <p class="caption">Deux frères chiens à Manawan</p></div>
      </div>

<div class="row">
<h2>Paintings - Drawings</h2>
<div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/MK-paint1.jpg"><img src="/pictures/the-women/MK-paint1.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Son chien à Manawan</p> </div>

<div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/MK-paint2.jpg"><img src="/pictures/the-women/MK-paint2.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Le hibou multicolore qui l'a aidé durant ses périodes dépressives</p></div>

<div class="col-xs-4">
<a target="_blank" href="/pictures/the-women/MK-paint3.jpg"><img src="/pictures/the-women/MK-paint3.jpg" class="img-responsive center" alt=""/></a>
<!-- panneau final -->
<p class="caption"> </p></div></div>

<div class="row">
<div class="col-xs-6">
<h2>Création audiovisuelle/Musique</h2>
<iframe src="https://player.vimeo.com/video/153150428" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<!-- chansons Loco Locass-->
</div>

<div class="col-xs-6">
  <h2> Perlage</h2>
  <a target="_blank" href="/pictures/the-women/MK-bead1.jpg"><img src="/pictures/the-women/mk-bead1.jpg" class="img-responsive center" alt=""/></a>
    <!--- autre boucle d'oreilles + chapeau fin d'études-->
</div>
</div>
</div>
</body>

<% include ../partials/footer %>
