<% include ../partials/header %>
<head>
  <title>Marie-Christine-Petiquay</title>
</head>

<body>
  <div class="container MK">
<div class="row">

<h1>Marie-Christine-Petiquay</h1>
<h3> attikamekw Nation, <a href="/the-communities/Manawan">Manawan</a></h3>

<div class="col-xs-6">
<img href src="/pictures/the-women/mk-pers1.jpg" class="img-responsive img-left" alt""/>
</div>

<div class="col-xs-6">
</br> </br> </br> 
<p> Marie Christine Petiquay is a young attikamekw who grew up in Manawan. She will be graduating in social Sciences and Humanities at the Kiuna Institution in Odanak this summer.
  Leaving her community to pursue her education in a non-indigenous college was really hard hence she had to come back to Manawan.
  More than a dedicated student Marie-Christine is also an artist in various ways, curious to foster her creative abilities and experiment.</p>
</div>

</div>

<div class="row">
  <div class="col-xs-6">
<h3>Watch her interview below</h3>

<a> href <source src="https://" type="video/"</a>
</div>

<div class="col-xs-6">

  <ul>The futur she envisions...
  <li>For herself:</li>
  <p>j'aimerais ça travailler pour la Wapikoni Mobile, être cinéaste formateur.
    C'est quelque chose qui me permettrait de voyager, d'aller visiter les autres communautés autochtones des autres Nations
    pis leur apprendre ce que je connais, pis les aider à créer leur propres short films.
    C'est quelque chose que j'aimerais. Oui, il y a comme une tournure là-dedans que j'aimerais ça, qui m'intéresse dans le fond,
    c'est comme j'ai remarqué avec la Wapikoni, les gens qui font comme... les films, c'est bien souvent des sujets qui leur
    tiennent à coeur, comme une espèce de thérapie qui font. Il y avait sinon le travail social ou psychologique qui m'intéressait
    mais je me dis qu'avec la Wapi, j'aurai les deux mondes, les deux affaires que je veux faire en même temps.</p>
  <li>For other Native youths:</li>
</ul>
  <ul>he challenges she sees non-indigenous youths have to face:
    <ul>
      <li>Leaving their community</li>
      <li>Not mastering french language</li>
    </ul> </br>
  <ol>The stereotypes she wants people to get over with
      <li>Alcooholism</li>
      <li>Profiting of welfare</li>
    </ol>
  </div>
</div>

<h3> See some of her work...</h3>
<div class="row">
<div class="col-xs-6">
<img href src="/pictures/the-women/MK-pers2.jpg" class="img-responsive center" alt=""/>
</div>
<div class="col-xs-6">
<img href src="/pictures/the-women/MK-pers3.jpg" class="img-responsive center" alt=""/>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<img href src="/pictures/the-women/MK-pers4.jpg" class="img-responsive center" alt=""/>
</div>
<div class="col-xs-6">
<img href src="/pictures/the-women/MK-pers5.jpg" class="img-responsive center" alt=""/>
</div>
</div>

<div class="row">
<img href src="/pictures/the-women/MK-kokum.jpg" class="img-responsive center" alt="">
<p> Listen to the story of her grand mother in attikamekw language</p>

</div>

</div>
</body>

<% include ../partials/footer %>
