<% include ../partials/header %>
<head>
  <title>Raphaelle OBomsawin</title>
</head>

<body>
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
  <a target="_blank" href="/pictures/the-women/raph-pers.jpg"><img href src="/pictures/the-women/raph-pers.jpg" class="img-responsive-center"alt""/></a>
  <p class="caption">self-portrait, November 2014</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
  <h3>Short biography by <u><a href="/the-researcher" target="_blank">Louise Watson</a></u></h3>
<p>Raphaelle comes from the abenaki community of <u><a href="/the-communities/odanak" target="_blank">Odanak</u></a>. Growing up in a non-traditional environment, her curiosity for her indigenous origins started just a few years ago. The spark was initiated by archeological digs organized by the Abenaki Museum, where she works now as a tour-guide. Via her job, she also started crafting and beading, creating jewelry and dream-catchers, displayed below her interview. She graduated from the Kiuna College in 2016 in social sciences, and she is now studying special education in the neighbouring town.</p>
  <h5>The interview was conducted in Odanak, in August 2016. <b>English subtitles</b> are available for each clip. Filmed and translated by Louise Watson, edited by Tamás from Intermedia Solutions.</h5>

</div></div>

<div class="row">
    <h2>Raphaelle Obomsawin</h2>
      <div class="col-xs-6">
  <img src="/pictures/bubbles/raph.png" alt="" height="298" width="273">
</div>
        <div class="col-xs-6"></br></br>
  <audio src="/audio/entrevues/raph1.mp3" controls="true"/> </audio></br></br>
  <p> <em>Kwai</em>, that means hello or hi in abenaki or <em>Kolipa8n</em> which means welcome! My name is Raphaelle Obomsawin, I'm 19 years old and I come from the community of Odanak, so I am abenakis!</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Can you tell me more about your childhood, your family and where you grew up? </h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-mFcHXxCBEY" frameborder="0" allowfullscreen></iframe>
    <p>«I always grew up in a non-traditional environnement with abenaki values.»</p>
      </div></div>

<div class="row">
<div class="col-xs-12">
<h3>How has your process been with school and how did you land at Kiuna College?</h3>
<p> «First, there is no school in Odanak, so I had no choice to go to the neighbouring schools. I started in Pierreville, then Saint François du Lac and after that I went to highschool in Nicolet. Highschool wasn’t easy…I didn’t want to take a sabbatical year after highschool because I saw people who did and how hard it was to go back to school. Knowing that I don’t really like school, I told myself that I will finish it all at once, so I went to Kiuna. It is a way to get a little closer to my values, to make me discover my culture too. Because as I said, I don’t know my values since I didn’t grow up with them, unlike other people in the community. At least now, I have a foundation of my own culture, that I didn’t know of before arriving at Kiuna… so up to my first year of college, I didn’t know anything about the abenaki.»</p>
</div></div>

<div class="row">
<h3>What are the abenaki values to you? </h3>
<div class="col-xs-6">
<audio src="/audio/entrevues/raph2.mp3" controls="true"/></audio>original recording in french</br></br></br>
<p> «The abenaki values for me start with learning my language. It’s something I like… I like to learn the symbols too, what do they mean; like the eagle, which is our great protector; the turtle, which represents the woman for her wisdom; the bear stands more for the man, his strength and bravery. These are good values that I think we can understand among the abenaki such as courage, sharing, wisdom, and mutual support. So that is really what I learned, and among all the other First Nations, there are really collective values instead of more individualistic societies, where one thinks only of oneself.» <p>
</div>
  <div class="col-xs-6">
<a href="/pictures/the-women/raph-odanak.jpg" target="_blank"/><img src="/pictures/the-women/raph-odanak.jpg" class="img-responsive center" alt=""/></a>
<p class="caption">Emblem of the wabanaki Nation, by Raphaelle Obomsawin, taken during the <u><a href="/land/photo" target="-_blank">photography session</u></a> about the land</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What did your experience at <a href="/the-communities/kiuna" target="_blank"><u>Kiuna College</a></u> bring you?</h3>
<p> «Kiuna really opened my mind regarding the other Nations but also to myself. It is one of the most beautiful schools I have been to. I really felt at ease, as much in the classroom as with the teachers. I learned to know each Nation chapter by chapter, whereas if I had been in a school like in Trois-Rivières or Sorel, right away I wouldn’t have learned that. All this makes the education I received there invaluable.» </p>
</div></div>

<div class="row">
<h3>What are you passionate about? </h3>
<div class="col-xs-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/mXFcQi7d6aY" frameborder="0" allowfullscreen></iframe>
</div>
    <div class="col-xs-6">
<p> «It evolved with the time... Recently, I got into arts and crafts. I find it relaxing and it allows me to show my personality»
</br>(...)</br></br>«Also I like to learn legends, I think it’s part of the learnings of my culture.»</br>(...) <p>
</div>
  <img src="/pictures/the-women/raph-musee.jpg" class="img-center" alt=""/>
  <p class="caption">Raphaelle explaining the moon cycles at the Abenaki Museum, summer 2016 (taken by Louise Watson)</p>
</div>

<div class="row">
  <h3>How far did your job bring you close to your values and reconnect you with your culture?</h3>
  <div class="col-xs-6">
<p> «I work at the Abenaki Museum in <a href="/the-communities/odanak" target="_blank"><u>Odanak</u></a>. I started there in 2013. The first year I was there, I was doing archeological excavations, because I was way too embarrassed to be a guide.»
</br>(...)</br></br>«Whereas before, I had no… I had no will. There was nothing that made me want to learn about the abenaki culture.» </br>(...)</p></div>
  <div class="col-xs-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_GzhH2a12Tw" frameborder="0" allowfullscreen></iframe>
</div></div>

<div class="row">
<h3>How do you envision your future and more generally the future of young First Nations in Quebec and Canada?</h3>
<div class="col-xs-12">
<iframe width="560" height="315" src="https://www.youtube.com/embed/GZU0YFaTraw" frameborder="0" allowfullscreen></iframe>
<p> «I would like to work for a school board for people with intellectual and physical disabilities.
Afterwards, I would like to build my own house in Odanak. For sure, it would be ideal if I could work in my community here, it is really one of my goals, because I love Odanak.» (...)
</br></br>«For Odanak, I am not quite certain what will happen, but for sure we are less and less in the community. I hope there will be a glorious future for First Nations, that more youths will go to school, that they won’t drop out of school.» (...)
</br></br>«If we never take care of the people within the communities, (...) for sure the communities won’t persist through time. We should push ourselves to reach out… You know I am abenaki but I am willing to help other First Nations too.»
</div></div>

<div class="row">
<h3>What do you see as the challenges faced by Indigenous youths?</h3>
<div class="col-xs-12">
    <audio src="/audio/entrevues/raph3.mp3" controls="true"/> </audio>original recording in french</br></br>
    <p> «I think that education is really one of the biggest challenges to overcome... There is a huge gap between the quebecois and indigenous graduates. And that would be really good to improve that. So, I’m saying not to equalize it for now, because it would still be difficult, but at least to raise the number of graduates in the reserves. So, like here first, to have a college about First Nations, well it motivates indigenous people to come study here. Whereas it doesn’t mean that they want to study the history of Canada, to pursue the basic courses we have in the other colleges. Here at Kiuna for example, it’s specialised. The problem is that we are still far from the other reserves. For example, for the Innus they must drive ten, twelve hours to get here. So, it would be fun to have more of this type of college.»
  </br></br>«But it’s really one of the biggest challenges, regarding the education and as I said, trying to solve the problems of alcohol, the drug dependency too, which is unfortunately very high in the communities. Even at the school here, many have dependencies and end up dropping out of school. So we would need to find ways to cope with that, I don’t know what, but it neeps to be developped in the future.»</p>

  <img src="/pictures/the-communities/o-k-front.jpg" class="img-center" target="_blank"/>
<p class="caption">Kiuna college in Odanak (taken by Louise Watson)</p></br>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
<p> «When I work at the museum, a prejudice that comes up a lot is about taxes. This one… it really makes me angry! Often people aren’t tactful either, it’s like they come in and they seem proud to be targeted on that, so they say “well you, you don’t pay taxes”. It seems that people don’t understand, that they only see one side of the coin. I mean, we don’t pay taxes in the community, but we pay them elsewhere.» </p>
</div></div>

<div class="row">
  <h3> How do you construct your identity, as a youth, as a women and as Indigenous?</h3>

  <div class="col-xs-12">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GTx-eyQyHdA" frameborder="0" allowfullscreen></iframe>
<p> «When I was going go secondary school, I didn’t tell to anyone that I was indigenous, if I was asked questions, I didn’t know anything. I knew my community was called Odanak, and that was it.» (...)
</br></br>«Now, I can really interact with people in my community, whereas I had never thought I would interact with them before, because being indigenous wasn’t part of my identity.» (...)</p>
</div></div>

<div class="row">
<h3>Representing herself through her creations</h3>
</br>
<div class="col-xs-4">
<h4>Earrings</h4>
<img src="/pictures/the-women/raph-bij1.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
<h4>Bracelets</h4>
<img src="/pictures/the-women/raph-bij2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
<h4>Necklaces</h4>
<img src="/pictures/the-women/raph-bij3.jpg" class="img-responsive center"/>
</div>
</div>

<div class="row">
<div class="col-xs-4">
  <img src="/pictures/the-women/raph-bij1.2.jpg" class="img-responsive center"style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
  <img src="/pictures/the-women/raph-bij2.2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>
</div>

<div class="row">
    <h4>Dreamcatchers</h4>
  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt1.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt1.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>

  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt2.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>

  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt3.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt3.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <h3>What did the project bring you?</h3>
    <p>«It helped me a lot to search for answers. Because it's not the kind of things one will ask every day. So it allowed me to search in my memory and to see what do I think and to question my ways of thinking. It also allows me to compare with my older self, and to observe that my way of thinking really evolved, compared to when I was 15 or 16 years old. I'm more mature since I started learning about my culture, and your questions, really bring us to reflect, and to develop too. It's really self-reflection, and that brings us to evolve through the answers and the topics you talk us about. In my case, I had never approached the art with the questions you asked, but from there, I understood that I liked art way more than I thought. As I said, it brought me to learn about myself, to discover, to interact with myself, to do an introspection actually.»<p>
</div></div>

</div>
</body>

<% include ../partials/footer %>
