<% include ../partials/header %>
<head>
  <title>Raph</title>
</head>

<body>
  <div class="container">
<h1>Raphaelle OBomsawin</h1>
<h3> Nation wabanaki, communauté d'origine: <a href source="/the-communities/odanak">Odanak</a></h3>

<div class="row">
  <div class="col-xs-6">
    <img href src="/pictures/the-women/raph-pers.jpg" class="img-responsive img-left" />
  </div>
  <div class="col-xs-6">
    <h3>Courte biographie</h3>
<p>Raphaelle Obomsawin est une jeune abénakise de 19 ans. Elle a grandit à Odanak dans
 un environnement non-traditionnel aux valeurs abénakises. Son père est abénaki, sa mère et ses
 deux sœurs sont non-autochtones. Après avoir fréquenté plusieurs écoles hors de la communauté,
 Raphaelle se retrouve à Kiuna et pour la première fois, elle étudie dans sa communauté avec
 d'autres jeunes Premières Nations. Les enseignements spécialisés du cégep lui permettent de
 découvrir sa propre culture ainsi que celle des autres Nations. Elle a gradué en 2016 en Sciences
 Humaines et a emménagé dans une ville voisine avec sa cousine pour commencer une technique en éducation
 spécialisée. Les passions artistiques de Raphaelle ont évolué au fil des âges et inclues l'écriture,
 la musique, l'artisanat ou encore la confection de capteurs de rêve ou de bijoux.
 </p>

</div>
</div>

<div class="row">
  <h3>Ecoute son histoire</h3>
  <div class="col-xs-6">
        <h4>Son parcours scolaire</h4>
<p><em>"Premièrement, il n'y a pas d'école à Odanak, ce qui fait que j'ai pas le choix d'aller
  dans les écoles environnantes."</em> Raphaelle a donc fait toute son éducation dans des écoles non-autochtones: d'abord à Pierreville,
puis à Saint François du Lac et enfin à Nicolet pour le secondaire. Ces années là n'ont pas été faciles mais elle a persévéré: <em>"je voulais
pas prendre d'année sabbatique parce-que j'avais vu un petit peu les gens qui en prenaient et que c'était dur de retourner à l'école.
Déjà que j'aime pas vraiment l'école je m'étais dit, je vais tout finir d'un coup, faq là je suis allée à Kiuna."</em></p>
</div>
<div class="col-xs-6">
        <h4>Kiuna, unique institution post-secondaire des Premières Nations au Québec</h4>
        <p>Son passage à Kiuna a été très bénéfique, autant sur la connaissance de soi que sur celle de sa culture: "<em>Kiuna ça m'a vraiment
ouvert l'esprit par rapport aux autres Nations mais par rapport à moi-même aussi. C'est une des plus belles écoles
où est-ce-que j'ai été. Je me suis vraiment sentie à l'aise, autant dans les classes qu'avec les profs.</em>"
Que ce soit en littérature, en histoire ou en sciences politiques, Raphaelle a apprécié recevoir des enseignements spécifiques aux Premières Nations:
"<em>C'est une place où est-ce-qu'on peut vraiment apprendre des valeurs autochtones. J'ai appris à connaître chacune des Nations chapitre par chapitre,
  tandis que si j'aurai été dans une école comme par exemple à Trois-Rivières, à Sorel, ben
j'aurai jamais appris ça. Ce qui fait que pour moi c'est inestimable ce que j'ai appris là-bas.</em>"</p>
  </div></div>

  <div class="row">
    <div class="col-xs-12">
<iframe height="360" src="https://youtube.com/embed/bkjAcgz9VPY" frameborder="0" allowfullscreen>
</iframe>
<p class="caption">Entrevue réalisée à Odanak le 19.08.2016 - filmée et montée par... </p>
  </div>
</div>

<div class="row">
    <h3> Thèmes de l'entrevue</h3>
  <h4>Le futur qu'elle imagine...</h4>
<div class="col-xs-6">
  <ul>
  <li>Pour elle-même:</li>
  <p>Malgré ses difficultés avec le milieu scolaire, Raphaelle est déterminée à acquérir la formation qu'elle souhaite,
    en éducation spécialisée: <em>"Je voudrais travailler pour une commission scolaire avec des personnes ayant une déficience intellectuelle ou
    physique."</em> Elle envisage de se spécialiser en psycho-éducation à l'université de Québec à Trois-Rivières mais
    elle m'explique que: <em>"c'est quelque chose qui est vraiment dur pour moi d'aller à l'école tous les jours...
    Donc je vais commencer par faire 3 ans. Après ça, je voudrais me construire une maison à Odanak.</em> Raphaelle souhaite
    rester proche des siens et un de ses buts est de travailler auprès des jeunes dans sa communauté.
    <em>"Il va juste rester à savoir si mon conseil dans le fond peut ouvrir des postes auxquels je vais être admissible.
    Sinon c'est sûr que je vais être obligée de travailler à l'extérieur ou sinon j'aurai pas d'emploi. Mais ce serait
    vraiment idéal si je pouvais travailler dans ma communauté, c'est vraiment un de mes buts parce-que j'aime ça
Odanak, j'aime les activités qui se font, j'aime le pow-wow, le musée et l'ambiance aussi qu'on a entre
les personnes."</em></p>
</div>
<div class="col-xs-6">

  <li>Pour les autres jeunes autochtones:</li>
  <p><em>"J'espère qu'il va y avoir un futur glorieux pour les Premières Nations, que les jeunes vont plus aller à
    l'école aussi, qu'ils lâchent pas leurs études. Je sais qu'il y a beaucoup de problèmes d'alcoolisme et de drogues
    dans les communautés pis je trouve ça vraiment dommage parce-que les jeunes peuvent pas profiter autant de leur éducation comme ils devraient."</em> </p>
  </ul>
</div></div>

<div class="row">
  <h4>Les défis à surmonter</h4>
  <div class="col-xs-6">
<ul>
<li>L'accès à l'éducation post-secondaire:</li>
<p>Selon *données statistiques à ajouter*, il existe une grande disparité entre diplômé(e)s autochtones et non-autochtones.
  <em>"Ce serait vraiment le fun d'élever ça. Je dis pas de l'égaliser pour l'instant
   parce-que ce serait quand même difficile mais au moins d'augmenter le nombre de diplômé(e)s dans les réserves
   "</em> C'est notamment une des missions de <a href="/the-communities/Kiuna">l'Institution Kiuna</a>.</p>
</div>
<div class="col-xs-6">
  <li>Comprendre et solutionner les problèmes de consommation et de dépendance:</li>
<p>L'abus de drogues et d'alcool dans les communautés, ainsi qu'en espace urbain s'enracine dans les conséquences
  intergénérationelles de la colonisation. <em>"C'est pas juste ici qu'on a des problèmes, il y en a vraiment
  partout dans les communautés.Faudrait qu'il y ait plus de démarches pour aider les jeunes dans les communautés, les aînes aussi.."</em>
<li>La longévité des communautés</li>
<p>Beaucoup de jeunes sont obligés de quitter les réserves pour poursuivre leur études, certains retournent chez eux,
  d'autres non. Raphaelle a une opinion ferme là-dessus: <em>"si on prend jamais soin des personnes qui sont à
 l'intérieur des communautés, si on prend pas soin de la communauté en [y] travaillant, en [y] habitant, si on s'en
 va tous ailleurs... c'est sûr que les communautés pourront pas perdurer à travers le temps ."</em>.</p></ul>
</div></div>

<div class="row">
  <h4>Les stéréotypes qu'elle souhaiterait éradiquer</h4>
<div class="col-xs-6">
<ul>
  <li>Les taxes</li>
  <p>Celui ci est certainement un des préjugés les plus répandus et aussi l'un des plus évoquées par les jeunes.
      <em>"Quand je travaille au musée, il y a surtout le préjugé sur les taxes. Ca là.. ça m'énerve! On dirait que
      le monde y comprenne pas, on dirait qu'ils voient juste un côté de la médaille:"</em>
    </br>*explication sur les taxes à ajouter, voir dossier pdf*</em> </p></ul>
</div></div>

<div class="row">
  <h3>Découvre ses créations</h3>
</br>
<div class="col-xs-4">
<h4>Boucles d'oreilles</h4>
<img src="/pictures/the-women/raph-bij1.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
<h4>Bracelets</h4>
<img src="/pictures/the-women/raph-bij2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
<h4>Colliers</h4>
<img src="/pictures/the-women/raph-bij3.jpg" class="img-responsive center"/>
</div>
</div>

<div class="row">
<div class="col-xs-4">
  <img src="/pictures/the-women/raph-bij1.2.jpg" class="img-responsive center"style="width:380px;height:440px"/>
</div>

<div class="col-xs-4">
  <img src="/pictures/the-women/raph-bij2.2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
</div>
</div>

<div class="row">
    <h4>Capteurs de rêve</h4>
  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt1.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt1.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>

  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt2.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt2.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>

  <div class="col-xs-4">
    <a href="/pictures/the-women/raph-capt3.jpg" target="_blank"/>
    <img src="/pictures/the-women/raph-capt3.jpg" class="img-responsive center" style="width:380px;height:440px"/>
  </div>
  </div>
</br>
<div class="row">
<div class="col-xs-6">
  <a href="/pictures/the-women/raph-odanak.jpg" target="_blank"/>
  <img src="/pictures/the-women/raph-odanak.jpg" class="img-responsive center" alt=""/>
  <p class="caption">Logo de la Nation Wabanaki, prise par Raphaelle OBomsawin</p>
</div>
<div class="col-xs-6">
  <h4>Grandir dans un environnement non traditionnel...</h4>
  <p>Au début de notre entrevue, Raphaelle indique qu'elle a grandit dans un contexte déconnecté de
    la culture abénakise. Ainsi, elle n'a développé son côté autochtone que récemment: <em>"Auparavant, je connaissais pas la culture abénakise.
    Quand j'allais au secondaire, je disais pas à personne que j'étais autochtone, si on me posait des questions, je
    savais rien. Je savais que ma communauté s'appelait Odanak, je savais même pas combien qu'on était sur la réserve,
    la superficie..."</em>
    <h4>aux valeurs abénakises</h4>
    <p>Je lui demande de préciser ce qu'elle entend par ça: <em>"Les valeurs abénakises pour moi c'est de commencer
    à apprendre ma langue. J'aime apprendre les symboles aussi, qu'est-ce-que ça veux dire, comme l'aigle qui est notre
    grand protecteur, la tortue, qui est représentative de la femme pour sa sagesse, l'ours un petit peu plus pour
    l'homme, pour la force, le courage. C'est des bonnes valeurs, qu'on est capable de comprendre chez les abénakis
    comme le courage, le partage, la sagesse, l'entraide.</em> Elle trace aussi une ligne entre les valeurs de son peuple
    et celle des sociétés occidentales: <em>"Chez toutes les autres Premières Nations, c'est vraiment
    des valeurs qui sont collectivistes au contraire d'être une société individualiste, où est-ce-qu'on pense vraiment
    à nous-même... C'est vraiment mieux de pas s'occuper juste de sa personne."</em></p>
</div></div>
<div class="col-xs-6">
  <h3>Comment vit-elle la revitalisation culturelle?</h3>
  <p> Raphaelle a commencé son cheminement de connexion à ses racines au travers d'un atelier de fouilles archéologiques
    dans les environs du musée: <em>"J'ai eu des cours sur l'histoire des Premières Nations, surtout des Abénakis,
    concernant le territoire qu'ils occupaient lorsque je faisais les fouilles. Je trouvais des artefacts et [c'était]
    vraiment le fun, parce-que je me disais 'il y a un de mes ancêtres qui a touché à ça, qui l'a fabriqué'.
    Je trouvais ça toujours impressionnant de voir comment ils s'en sortaient à leur époque quand il y avait vraiment
    rien. Pis ça, ça m'a vraiment donné un regain de vouloir apprendre sur ma culture"</em>.</br>
    Désireuse d'approfondir ses connaissances, elle devient guide-animatrice en 2013 et travaille encore aujourd'hui
    au musée des Abénakis. C'est au travers des récits et histoires que Raphaelle
    s'instruit sur les cultures des Premières Nations. <em>"Pendant presque deux ans, tous les étés, je lisais des livres sur les Premières Nations, autant sur les
    abénakis, les atikamekw, les innus, les algonquins, les mohawks... je lisais vraiment sur tout en fait!
    C'est vraiment là que ça ma donné envie de continuer à apprendre."</em>. </br> Passionée par les légendes, comme celle
    sur le cycle des lunes, elle les considère comme partie intégrante de son apprentissage culturel et souhaite les
    partager autour d'elle: <em>"Je vais apprendre ça ma nièce, qui elle est pas autochtone mais je veux vraiment lui
    apprendre mes légendes, qu'elle connaisse mes origines aussi. Dans le fond, ses ancêtres à elle aussi un peu là!"</em>

 </div>
 <div class="col-xs-6">
 </br></br></br></br>
   <img src="/pictures/the-women/raph-musee.jpg" class="img-responsive center" alt=""/>
</div></div>


</div>
</body>

<% include ../partials/footer %>
