<head>
  <title>The women</title>
</head>
<% include ../partials/header %>
<body>
<div class="container">

<h1> Six women, three Nations</h1>
<p>These six young women were the central collaborators who made this project a reality.
  They agreed to sit and share with me a part of their life.
With this page, I want to acknowledge their journey as young indigenous women in the 21st century.</p>

  <h3>Explore each individual story</h3>

<div class="row">

  <div class="col-xs-4">
  <div class= "frame">
  <a href="/the-women/Marie-Christine-Petiquay"><img src="pictures/the-women/MK.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div>
</div>

<div class="col-xs-4">
<div class= "frame">
<a href="/the-women/Raphaelle-OBomsawin"><img src="pictures/the-women/raph.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
  </div>
</div>

<div class="col-xs-4">
<div class= "frame">
<a href="/the-women/Catherine-Boivin"><img src="pictures/the-women/cath.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>

</div>
</div>

<div class="col-xs-4">
<div class= "frame2 frame">
  <a href="/the-women/Jessica-Ann-Watso"><img src="pictures/the-women/jess.jpg" class="img-responsive center img-rounded" alt=""/></a>

</div>
</div>

<div class="col-xs-4">
<div class= "frame2 frame">
  <a href="/the-women/Lisa-Aubin-Berube"><img src="pictures/the-women/lisa.jpg" class="img-responsive center img-rounded" alt=""/></a>

</div>
</div>

<div class="col-xs-4">
<div class= "frame2 frame">
  <a href="/the-women/Ivanie-Aubin-Malo"><img src="pictures/the-women/iva.jpg" class="img-responsive center img-rounded" alt=""/></a>
  </div>
</div>

</div>

<p> The biographical interviews were conducted in Odanak and Rivière-du-Loup between April and September 2016.</p>
</div>


</body>
<% include ../partials/footer %>
