<head>
  <title>The women</title>
</head>
<% include ../partials/header %>
<body>
<div class="container">

<h1>Six women, three Nations</h1>

<h5>These six women were the key collaborators who made this project a reality. Young, independent and proud of
   their origins, some are multidisciplinary artists, others persevering students. Some speak the language of their
    Nations whereas others are involved in their territories, whether it is a physical or imagined space,
    expressed through culture. Most of them went to the Kiuna Institution, the only First Nations college in Quebec.
    For this research project, they agreed to share their time and stories, to question themselves, and to challenge
    the objectifying and victimizing narratives on young Native women.</h5>
  <h2>Explore their individual journeys</h2>

<div class="row">

  <div class="col-xs-6">
  <div class= "frame">
    <h5>Marie Kristine Petiquay</h5>
  <a href="/the-women/Marie-Christine-Petiquay"><img src="pictures/the-women/marie.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div></div>

<div class="col-xs-6">
<div class= "frame">
<h5>Raphaelle OBomsawin</h5>
<a href="/the-women/Raphaelle-OBomsawin"><img src="pictures/the-women/raph.jpg" style="height: 385px; width: 575px"
  class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div>
</div>
</div>

<div class="row">
  <div class="col-xs-6">
  <div class= "frame">
    <h5>Catherine Boivin</h5>
  <a href="/the-women/Catherine-Boivin"><img src="pictures/the-women/caath.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
  </div>
  </div>

<div class="col-xs-6">
<div class= "frame2 frame">
  <h5>Jessica Ann Watso</h5>
  <a href="/the-women/Jessica-Ann-Watso"><img src="pictures/the-women/jess.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div></div>

<div class="row">
<div class="col-xs-6">
<div class= "frame2 frame">
  <h5> Lisa Aubin Bérubé</h5>
  <a href="/the-women/Lisa-Aubin-Berube"><img src="pictures/the-women/lisa.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div>

<div class="col-xs-6">
<div class= "frame2 frame">
<h5> Ivanie Aubin Malo</h5>
  <a href="/the-women/Ivanie-Aubin-Malo"><img src="pictures/the-women/iva.jpg" style="height: 588px; width: 575px" class="img-responsive center img-rounded" alt=""/></a>
  </div>
</div></div>


</br></br>
<p> Marie Kristine: photographed by Gloria Malek / Catherine: autoportrait / Lisa: photographed by Catherine /
</br> Jessica: autoportait / Raphaëlle and Ivanie: photographed by Louise </br> </br>
  The biographical interviews were conducted in Odanak and Rivière du Loup between mai 2016 and april 2017.</h5>
</br></br>

</div>
</body>
<% include ../partials/footer %>
