<head>
  <title>The women</title>
</head>
<% include ../partials/header %>
<body>
  <div class="container">
  <div class="row">
    
<h1>Six women, three Nations</h1>

<h5>How do you navigate being a Indigenous women in the 21st century?</br>
  These six women agreed to share their time and stories, to question themselves, and to challenge
  the objectifying and victimizing narratives on Native women. They were the key collaborators who made this project a reality.
  They are proud of their diverse origins, and affirm themselves as strong and resilient young women.
    </h5>

<div class="row">
    <h2>Learn about their journeys</h2>
  <div class="col-xs-4">
    <img src="/pictures/circle-icon.png" height="80" width="105"/>the sharing circles
</div>
    <div class="col-xs-4">
      <img src="/pictures/dance-icon.jpg" height="80" width="90"/>the traditional dance workshops
      </div>
      <div class="col-xs-4">
        <img src="/pictures/photo-icon.png" height="70" width="90"/>the photography sessions
  </div></div>
<!--
  <h5> These women were the key contributors of the project. You can access their biographies by clicking on their
    pictures or on their specific page via the header. With various levels of participation, they took part in:
    <ul>
      <li class="horizontal"></li>
      <li class="horizontal"></li>
      <li class="horizontal"></li>
    </ul></h5>-->

<div class="row">
<div class="bubbles" class="col-xs-12" class="col-md-12">
  <a href="/the-women/Catherine-Boivin"><img src="/pictures/bubbles/cath-c.png" alt=""height="298" width="273"></a>
<a href="/the-women/Lisa-Aubin-Berube"><img src="/pictures/bubbles/lisa-c.png" alt=""height="298" width="273"></a>
<a href="/the-women/Jessica-Ann-Watso"><img src="/pictures/bubbles/jess-c.png" alt=""height="298" width="273"></a>
</div>
</div>

<div class="row">
<div class="bubbles" class="col-xs-12">
<a href="/the-women/Ivanie-Aubin-Malo"><img src="/pictures/bubbles/iva-c.png" alt="" height="298" width="273"></a>
<a href="/the-women/Marie-Christine-Petiquay"><img src="/pictures/bubbles/mk-c.png" alt=""height="298" width="273"></a>
<a href="/the-women/Raphaelle-Obomsawin"><img src="/pictures/bubbles/raph-cc.png" alt="" height="298" width="273"></a>
</div>
</div>

<!--
<div class="col-xs-6">
  <div class= "frame">
    <h5>Marie Kristine Petiquay</h5>
  <a href="/the-women/Marie-Christine-Petiquay"><img src="pictures/the-women/marie.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div></div>

<div class="col-xs-6">
<div class= "frame">
<h5>Raphaelle OBomsawin</h5>
<a href="/the-women/Raphaelle-OBomsawin"><img src="pictures/the-women/raph.jpg" style="height: 385px; width: 575px"
  class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div>
</div>
</div>

<div class="row">
  <div class="col-xs-6">
  <div class= "frame">
    <h5>Catherine Boivin</h5>
  <a href="/the-women/Catherine-Boivin"><img src="pictures/the-women/caath.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
  </div>
  </div>

<div class="col-xs-6">
<div class= "frame2 frame">
  <h5>Jessica Ann Watso</h5>
  <a href="/the-women/Jessica-Ann-Watso"><img src="pictures/the-women/jess.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div></div>

<div class="row">
<div class="col-xs-6">
<div class= "frame2 frame">
  <h5> Lisa Aubin Bérubé</h5>
  <a href="/the-women/Lisa-Aubin-Berube"><img src="pictures/the-women/lisa.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div>

<div class="col-xs-6">
<div class= "frame2 frame">
<h5> Ivanie Aubin Malo</h5>
  <a href="/the-women/Ivanie-Aubin-Malo"><img src="pictures/the-women/iva.jpg" style="height: 588px; width: 575px" class="img-responsive center img-rounded" alt=""/></a>
  </div>
</div></div>

<div class="row">
<div class="col-xs-12">
<p> From top-left to bottom-right:</br>Marie Kristine, Atikamekw Nation: photographed by Gloria Malek</br>
   Raphaelle, Abenaki Nation: photographed by Louise Watson</br>
  Catherine, Atikamekw Nation: self-portrait </br>
  Jessica, Abenaki Nation: self-portrait</br>
  Lisa, Wolastoqiyik/Maliseet Nation: photographed by Catherine </br>
  Ivanie, Wolastoqiyik/Maliseet Nation: photographed by Louise Watson
<h5> The biographical interviews were conducted by <u><a href="/the-researcher" target="_blank">Louise Watson</a></u> in Odanak and Rivière du Loup, Quebec, between May 2016 and April 2017.</h5>
</div></div>
-->
</div>
</div>
</body>
<% include ../partials/footer %>
