<head>
  <title>The women</title>
</head>
<% include ../partials/header-fr %>
<body>
<div class="container">

<h1>Six femmes, trois Nations</h1>

<p>Ces six femmes ont été les collaboratrices centrales qui ont fait de ce projet une réalité.
Jeunes, indépendantes et fières de leurs origines, certaines sont artistes multidisciplinaires, d'autres des étudiantes
persévérantes.Certaines parlent la langue de leurs Nations, d'autres sont impliquées dans leur territoire, qu'il soit espace
physique, tangible ou bien imaginé, exprimé au travers de la culture. La majorité d'entre elles sont passées par l'Institution Kiuna, unique institution post-secondaire des
Premières Nations au Québec. Dans le cadre de ce projet de recherche, elles ont accepté de partager leurs temps et leurs
 histoires, ouvertes à se questionner, se positionner et à contester les récits objectifiant et victimisant les jeunes femmes Premières Nations. </p>

  <h2>Découvre leurs parcours...</h2>

<div class="row">

  <div class="col-xs-6">
  <div class= "frame">
    <h5>Marie Kristine Petiquay</h5>
  <a href="/the-women/Marie-Christine-Petiquay"><img src="pictures/the-women/Marie.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div></div>

<div class="col-xs-6">
<div class= "frame">
<h5>Raphaelle OBomsawin</h5>
<a href="/the-women/Raphaelle-OBomsawin"><img src="pictures/the-women/raph.jpg" style="height: 385px; width: 575px"
  class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
</div>
</div>
</div>

<div class="row">
  <div class="col-xs-6">
  <div class= "frame">
    <h5>Catherine Boivin</h5>
  <a href="/the-women/Catherine-Boivin"><img src="pictures/the-women/caath.jpg" class="img-responsive center img-rounded img-thumbnail" alt=""/></a>
  </div>
  </div>

<div class="col-xs-6">
<div class= "frame2 frame">
  <h5>Jessica Ann Watso</h5>
  <a href="/the-women/Jessica-Ann-Watso"><img src="pictures/the-women/jess.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div></div>

<div class="row">
<div class="col-xs-6">
<div class= "frame2 frame">
  <h5> Lisa Aubin Bérubé</h5>
  <a href="/the-women/Lisa-Aubin-Berube"><img src="pictures/the-women/lisa.jpg" class="img-responsive center img-rounded" alt=""/></a>
</div>
</div>

<div class="col-xs-6">
<div class= "frame2 frame">
<h5> Ivanie Aubin Malo</h5>
  <a href="/the-women/Ivanie-Aubin-Malo"><img src="pictures/the-women/iva.jpg" style="height: 588px; width: 575px" class="img-responsive center img-rounded" alt=""/></a>
  </div>
</div></div>


</br></br>
<h5> Marie Christine: photographiée par Gloria Malek / Catherine: autoportrait / Lisa: photographiée par Catherine /
</br> Jessica: autoportait / Raphaëlle et Ivanie: photographiées par Louise </br> </br>
  Les entrevues biographiques ont été réalisées à Odanak et Rivière du Loup entre mai et septembre 2016.</h5>
</br></br></br>

</div>
</body>
<% include ../partials/footer %>
