<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>

</head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">

    <h1>Welcome to Circle of Voices</br>
    a multimedia journey among Quebec First Nations </h1>
</br>
<h3>Revitalizing their cultural identities through land, language, art and spirit</h3>

      <h5>This wheel invites you to learn about the <a href="/the-communitie">atikamekw, abenaki and wolastoqiyik</a> Nations.
      This research project was conducted with the collaboration of <a href="/the-women" target="_blank"
     >six young Native women</a> in Quebec in the summer of 2016, exploring the interplay between
the process of cultural revitalization and the construction of their identity. </br>
Explore each theme or travel straight to the various multimedia elements</h5>
</br>
    <div class="row">
      <div class="col-xs-12">
              <% include circle-opt.svg %>
      </div>
    </div>
<!-- >>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729-->
  </div>
</body>
<% include partials/footer %>
