<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>
  
</head>

<body>
  <div class="container">
<<<<<<< HEAD
<div class="row">
  <div class="col-xs-12">

    <h1>Welcome to Circle of Voices</h1>
    <h1>a multimedia journey among Quebec First Nations on <a>cultural revitalization</a></h1>
</br>
      <h5>This wheel invites you to travel and xplore the differnt multimedia activities.
      This research project was conducted with the collaboration of <a href="/the-women" target="_blank"
     >six young Native women</a> in Quebec in the summer
   of 2016. <ul>
     <li>the traditionl dance workshops</li>
     <li>the sharing circles</li>
     <li>the participatory photography workshops</li>
     <li>biographical interviews</li> 
         Centered around their paths, we explored the interplay between
   the process of cultural revitalization and the construction of their identity through four topics: land,
   language, art and spirit.</h5>

<<<<<<< HEAD
    <img src="/pictures/circle.svg" class="img-center" height="660px" width="660px"/>
  </div></div>

<div class="row">

  <!-- <div class="col-lg-4">
    <img src="/pictures/wheel.svg" alt="" />
  </div>
  <div class="col-xs-4">
=======
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome to Circle of Voices</h1>
        <h1>a multimedia journey among Quebec First Nations</h1>
        </br>
        <h5>This wheel invites you to travel and xplore the differnt multimedia activities.
          This research project was conducted with the collaboration of <a href="/the-women" target="_blank">six young Native women</a> 
          in Quebec in the summer of 2016. Centered around their paths, we explored the interplay between
          the process of cultural revitalization and the construction of their identity through four topics: land,
          language, art and spirit.</h5>

        <% include circle-opt.svg %>
      </div>
    </div>
>>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729
  </div>
</body>
<% include partials/footer %>
