<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>
</head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>Circle of Voices</h1>
    <h2>an ethnographic multimedia journey among Quebec First Nations*</h2>

      <h5>Can you determine your future, and the one of your Nation if you don’t know your roots?</br>
This digital research project explores the process of cultural revitalization through land, language, art and spirituality.
It displays the stories of <u><a href="the-women">six young women</a></u> from the *Atikamekw, Abenaki and Wolastoqiyik/Maliseet Nations, as well as traditional knowledge holders.
Its principal aim is to bring about educational awareness about the situation of Native youth, in particular women.</h5>

<h3>Explore the wheel of cultural revitalization and listen to the stories</h3>
  </br>

<a class="btn btn-default main pull-right" data-toggle="modal" data-target="#helpmodal">How to navigate?</a>
<div id="helpmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How to navigate Circle of Voices?</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
          <img src="/pictures/circle.png" class="img-responsive"></>
          </div>
          <div class="col-xs-6 text-center">
          <img src="/pictures/bubbles.jpg" class="img-responsive center-block"></>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
          <p>This is the central map of the website. Divided in the four topics (land, language, art and spirit), you will find various multimedia elements and activities of the project. You can either access each element individually or
            get an thematic for each quarter. They all relate to cultural revitalization. The design is drawn from the Medicine Wheel.</p>  </div>
          <div class="col-xs-6">
<p>Another way to explore the website is to access the personal narratives of the six young women and the four knowledge holders.
A unique page has been created for the young women, as they stad at the center of this research project. </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="row home">
      <div class="col-md-8 col-md-offset-2">
          <% include circle-opt.svg %>
      </div>
    </div>
  <div class="row">
  <div class="col-xs-12">
    <h2>The collaborators</h2>
    <a href="/the-women"><h3>The young women</h3></a>
    <h5> These women were the key contributors of the project. You can access their biographies by clicking on their
      pictures or on their specific page via the header. With various levels of implication, they took part in:
      <ul>
        <li class="horizontal"><img src="/pictures/circle-icon.png" height="80" width="105"/>
         the sharing circles</li>
        <li class="horizontal"><img src="/pictures/dance-icon.jpg" height="80" width="90"/>the traditional dance workshops</li>
        <li class="horizontal"><img src="/pictures/photo-icon.png" height="70" width="90"/>
          the photography sessions</li>
      </ul></h5>

  <div class="bubbles">
<a href="/the-women/Ivanie-Aubin-Malo"><img src="/pictures/bubbles/iva.png" alt="" height="298" width="273"></a>
<a href="/the-women/Lisa-Aubin-Berube"><img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273"></a>
<a href="/the-women/Jessica-Ann-Watso"><a href="/the-women/Ivanie-Aubin-Malo"><img src="/pictures/bubbles/jess.png" alt=""height="298" width="273"></a>
</div>
</div>

<div class="row">
<div class="bubbles">
  <a href="/the-women/Catherine-Boivin"><img src="/pictures/bubbles/cath.png" alt=""height="298" width="273"></a>
<a href="/the-women/Marie-Christine-Petiquay"><img src="/pictures/bubbles/mk.png" alt=""height="298" width="273"></a>
<a href="/the-women/Raphaelle-Obomsawin"><img src="/pictures/bubbles/raph.png" alt="" height="298" width="273"></a>
</div>
</div>
<h3>The knowledge holders</h3>
  <h5>I conducted an in-depth interview with each of them, highlighting
    the role they play in the revitalization processes of the land, the language, the arts or the spirit of their Nations.</h5>
<div class="row">
<div class="bubbles">
  <a href="art/interview"><img src="/pictures/bubbles/guy.png" alt=""height="280" width="256"></a>
  <a href="land/interview"><img src="/pictures/bubbles/luc.png" alt=""height="280" width="256"></a>
<a href="language/interview"><img src="/pictures/bubbles/monique.png" alt=""height="285" width="256"></a>
<a href="spirit/interview"><img src="/pictures/bubbles/michel.png" alt=""height="285" width="256"></a>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<h3>On social media, Circle of Voices wishes to offer a digital space to uphold stories of pride, resilience and hope for Indigenous youth. </h3>
<h5>The <u><a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank">Facebook</a></u> and <u><a href="https://www.instagram.com/circleofvoices/" target="_blank">Instagram</a></u></h5>
</div>
</div>


<!-- >>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729-->
  </div>
</body>
<% include partials/footer %>
