<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>
</head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>Circle of Voices</h1>
    <!-- LOGO position fix/absolute top left corner -->

    <h3>an anthropological multimedia journey among Quebec First Nations</h3>
    <iframe width="480" height="420" src="https://www.youtube.com/embed/ucjtMrZB3rI" allowfullscreen frameborder="0" allow="autoplay; encrypted-media"></iframe>
  </div></div>

    <div class="row">
    <div class="col-xs-12">
      <h2>Revitalizing your roots to determine your future </br>and the future of your Nations</h2>
    <p class="home">Circle of Voices is a research project in digital anthropology centered on the cultural revitalization of young First Nations in Quebec.
Together with <u><a href="the-women">these women</a></u> from the Nehirowisiw (Atikamekw), Abenaki and Wolastoq (Maliseet) Nations, we explored how they connect back to their cultures.
</br></br>The vision of the project is to counteract the demeaning representations of Indigenous cultures and identities,
and to contribute to the digitalization and dissemination of Indigenous knowledge and rights.</p>
</div>
</div>

<!--
<div class="col-xs-4">
    <a class="btn btn-default main pull-right" data-toggle="modal" data-target="#helpmodal">How to navigate?</a>
    <div id="helpmodal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">How to navigate Circle of Voices?</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
              <img src="/pictures/circle.png" class="img-responsive"></>
              </div>
              <div class="col-xs-6 text-center">
              <img src="/pictures/bubbles.jpg" class="img-responsive center-block"></>
            </div></div>
    </div>

            <div class="row">
              <div class="col-xs-6">
              <p>This is the central map of the website. Divided in the four topics (land, language, art and spirit), you will find various multimedia elements and activities of the project. You can either access each element individually or
                get an thematic for each quarter. They all relate to cultural revitalization. The design is drawn from the Medicine Wheel.</p>  </div>
              <div class="col-xs-6">
    <p>Another way to explore the website is to access the personal narratives of the six young women and the four knowledge holders.
    A unique page has been created for the young women, as they stad at the center of this research project. </p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             interior little window
          </div>
        </div><!-- /.modal-content
      </div><!-- /.modal-dialog
</div>
</div> -->

<h1>Circle of revitalization</h1>
</br></br>
    <div class="row home">
      <div class="col-md-8 col-md-offset-2">
          <% include circle-opt.svg %>
      </div>
    </div>

  <div class="row">
  <div class="col-xs-12">
    <h1><u><a href="/the-women">Youth voices</u></a></h1>
    <img src="/pictures/voices.png"  class="img-responsive img-center"/>
    <pc class="caption"><u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Christine Petiquay</u></a>, self-portrait, Odanak 2016</p>

</div>
</div>

<!--
<h3> The knowledge holders</h3>
  <h5>I conducted an in-depth interview with each of them, highlighting
    the role they play in the revitalization processes of the land, the language, the arts or the spirit of their Nations.</h5>
<div class="row">
<div class="bubbles">
  <a href="art/interview"><img src="/pictures/bubbles/guy.png" alt=""height="280" width="256"></a>
  <a href="land/interview"><img src="/pictures/bubbles/luc.png" alt=""height="280" width="256"></a>
<a href="language/interview"><img src="/pictures/bubbles/monique.png" alt=""height="285" width="256"></a>
<a href="spirit/interview"><img src="/pictures/bubbles/michel.png" alt=""height="285" width="256"></a>
</div> -->

</div></div>


<!-- >>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729-->
  </div>
</body>
<% include partials/footer %>
