<% include partials/header-fr %>
<head>
  <title>Homepage - Circle of Voices</title>

</head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">

    <h1>Cercle de voiX</h1>
    <h2>un voyage multimédia au sein des Premières Nations du Québec*</h2>

      <p>Ce projet de recherche a été réalisé au Québec à l'été 2016. Il vise à informer sur les réalités des
        <a href="/the-women.fr" target="_blank">jeunes femmes autochtones</a>. ing the interplay between
the process of cultural revitalization and the construction of their identity. </br>
Explore each theme or travel straight to the various multimedia elements</p>

<h3>Revitalizing their cultural identities through land, language, art and spirit</h3>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <% include circle-opt.svg %>
      </div>
    </div>
  <div class="row">
  <div class="col-xs-12">
    <h3 class="experiment">The contributors</h3>
    <a href="/the-women"><h2>The young women</h2></a>
  <div class="bubbles">

<a href="/the-women/Ivanie-Aubin-Malo"><img src="/pictures/bubbles/iva.png" alt="" height="298" width="273"></a>
<a href="/the-women/Lisa-Aubin-Berube"><img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273"></a>
<a href="/the-women/Jessica-Ann-Watso"><a href="/the-women/Ivanie-Aubin-Malo"><img src="/pictures/bubbles/jess.png" alt=""height="298" width="273"></a>
</div>
</div>

<div class="row">
<div class="bubbles">
  <a href="/the-women/Catherine-Boivin"><img src="/pictures/bubbles/cath.png" alt=""height="298" width="273"></a>
<a href="/the-women/Marie-Christine-Petiquay"><img src="/pictures/bubbles/MK.png" alt=""height="298" width="273"></a>
<a href="/the-women/Raphaelle-Obomsawin"><img src="/pictures/bubbles/raph.png" alt="" height="298" width="273"></a>
</div>
</div>
<h2>The knowledge holders/les passeurs de savoir<h2>
<div class="row">
<div class="bubbles">
  <a href="art/interview"><img src="/pictures/bubbles/guy.png" alt=""height="298" width="273"></a>
  <a href="land/interview"><img src="/pictures/bubbles/luc.png" alt=""height="298" width="273"></a>
</div>
</div>

<div class="row">
<div class="bubbles">
<a href="language/interview"><img  src="/pictures/bubbles/monique.png" alt=""height="298" width="273"></a>
<a href="spirit/interview"><img src="/pictures/bubbles/michel.png" alt=""height="298" width="273"></a>
</div>
</div>
</div>



<!-- >>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729-->
  </div>
</body>
<% include partials/footer %>
