<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>
   </head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">

    <h1>Welcome to Circle of Voices</h1>
    <h1>a multimedia journey among Quebec First Nations on <a>cultural revitalization</a></h1>
</br>
      <h5>This wheel invites you to travel and xplore the differnt multimedia activities.
      This research project was conducted with the collaboration of <a href="/the-women" target="_blank"
     >six young Native women</a> in Quebec in the summer
   of 2016. <ul>
     <li>the traditionl dance workshops</li>
     <li>the sharing circles</li>
     <li>the participatory photography workshops</li>
     <li>biographical interviews</li> 
         Centered around their paths, we explored the interplay between
   the process of cultural revitalization and the construction of their identity through four topics: land,
   language, art and spirit.</h5>

<<<<<<< HEAD
    <img src="/pictures/circle.svg" class="img-center" height="660px" width="660px"/>
  </div></div>

<div class="row">

  <!-- <div class="col-lg-4">
    <img src="/pictures/wheel.svg" alt="" />
  </div>
  <div class="col-xs-4">
  </div>

  <div class="col-xs-4">
    <svg id="final" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2580 2580">
        <defs>
            <style>
                .cls-1 {
                    fill: #ff931e;
                }
                .cls-2 {
                    fill: #3fa9f5;
                }
                .cls-3 {
                    fill: #803e56;
                }
                .cls-4 {
                    fill: #7ac943;
                }
                .cls-5 {
                    fill: #ff0;
                }
                .cls-6 {
                    fill: #401f2b;
                }
                .cls-10,
                .cls-11,
                .cls-12,
                .cls-13,
                .cls-7,
                .cls-8 {
                    fill: none;
                }
                .cls-11,
                .cls-7 {
                    stroke: #000;
                }
                .cls-7,
                .cls-8 {
                    stroke-miterlimit: 10;
                }
                .cls-10,
                .cls-11,
                .cls-7,
                .cls-8 {
                    stroke-width: 3px;
                }
                .cls-8 {
                    stroke: #1d1d1b;
                }
                .cls-10,
                .cls-11,
                .cls-12,
                .cls-13,
                .cls-8 {
                    stroke-linecap: round;
                }
                .cls-9 {
                    fill: #ed1c24;
                }
                .cls-10 {
                    stroke: #1a1a1a;
                }
                .cls-10,
                .cls-11,
                .cls-12,
                .cls-13 {
                    stroke-linejoin: round;
                }
                .cls-12,
                .cls-13 {
                    stroke-width: 0.5px;
                }
                .cls-12 {
                    stroke: url("#radial-gradient");
                }
                .cls-13 {
                    stroke: url("#radial-gradient-2");
                }
                .cls-14 {
                    font-size: 213px;
                    font-family: ComicSansMS, Comic Sans MS;
                }
            </style>
            <radialGradient id="radial-gradient" cx="1290" cy="1290" r="250.25" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"/><stop offset="1"/></radialGradient><radialGradient id="radial-gradient-2" cy="1292" r="225.25" xlink:href="#radial-gradient"/></defs>
        <title>Artboard 1</title><path class="cls-1" d="M2188.29,1290.35h238.77c0,125-16.84,231.92-55.65,351.37l-.1,0,.1-.31-225.06-73.13a899.4,899.4,0,0,0,42-272.4C2188.31,1294,2188.3,1292.18,2188.29,1290.35Z"/><path class="cls-2" d="M2427.06,1290.35H2188.29A898.74,898.74,0,0,0,2143,1013.19L2371.41,939C2410.22,1058.43,2427.06,1164.35,2427.06,1290.35Z"/><path class="cls-3" d="M2371.41,1641.38l-.1.31-225.06-73.13.1-.31Z"/><path class="cls-4" d="M2371.41,938.63l-228.49,74.24A896.89,896.89,0,0,0,2014.27,763.8l195.64-142.14C2283.73,723.26,2332.6,819.18,2371.41,938.63Z"/><path class="cls-3" d="M2146.25,1568.56l225.06,73.13c-38.79,119.3-87.64,215.14-161.4,316.66l-190.08-138.1A896.73,896.73,0,0,0,2146.25,1568.56Z"/><path class="cls-3" d="M2209.91,621.66,2014.27,763.8a904.84,904.84,0,0,0-198.59-197.33L1958.35,370.1C2060,443.92,2136.08,520,2209.91,621.66Z"/><path class="cls-4" d="M2019.83,1820.25l190.08,138.1C2136.08,2060,2060,2136.07,1958.35,2209.91l-137.12-188.73A905,905,0,0,0,2019.83,1820.25Z"/><path class="cls-1" d="M1958.35,370.1,1815.68,566.47a896.76,896.76,0,0,0-249.37-126.86l75.06-231C1760.82,247.4,1856.74,296.27,1958.35,370.1Z"/><path class="cls-2" d="M1821.23,2021.18l137.12,188.73c-101.61,73.82-197.53,122.69-317,161.5L1569.75,2151A897.06,897.06,0,0,0,1821.23,2021.18Z"/><path class="cls-5" d="M1641.18,208.59l-75,231a899.12,899.12,0,0,0-276.33-43.69V152.94C1415.81,152.94,1521.73,169.78,1641.18,208.59Z"/><path class="cls-5" d="M1569.57,2151l71.61,220.38c-119.45,38.82-225.37,55.66-351.37,55.66V2195.84A898.81,898.81,0,0,0,1569.57,2151Z"/><path class="cls-1" d="M1289.81,2195.84v231.23c-104,0-193.6-11.77-294.29-38.75v-.05l.18.05,59.72-222.89a901.38,901.38,0,0,0,232.88,30.42Z"/><path class="cls-3" d="M1289.81,152.94V395.86h-1.5a899.21,899.21,0,0,0-274.94,42.77l-74.74-230-.17.06,0-.06C1057.89,169.78,1164.81,152.94,1289.81,152.94Z"/><path class="cls-1" d="M1055.43,2165.43l-59.72,222.89-.18-.05,59.73-222.89Z"/><path class="cls-5" d="M1055.26,2165.38l-59.73,222.89c-100.61-27-183.83-61.45-274.06-113.54L837,2074.67A894.39,894.39,0,0,0,1055.26,2165.38Z"/><path class="cls-4" d="M938.63,208.59l74.74,230-.17.06-74.74-230Z"/><path class="cls-4" d="M938.46,208.65l74.74,230a896.78,896.78,0,0,0-250,126.18L621.65,370.1C723.21,296.32,819.09,247.45,938.46,208.65Z"/><path class="cls-6" d="M837,2074.67l-115.5,200.06c-90.28-52.12-161.78-107-235.49-180.7l163.86-163.86A903.61,903.61,0,0,0,837,2074.67Z"/><path class="cls-2" d="M621.65,370.1,763.16,564.86A905,905,0,0,0,563.53,762.19L370.1,621.66C443.92,520,520,443.92,621.65,370.1Z"/><path class="cls-3" d="M649.84,1930.17,486,2094c-73.71-73.71-128.58-145.22-180.7-235.49l201.38-116.27A903.2,903.2,0,0,0,649.84,1930.17Z"/><path class="cls-1" d="M370.1,621.66,563.53,762.19A897.1,897.1,0,0,0,434,1011.88L208.59,938.63C247.4,819.18,296.28,723.26,370.1,621.66Z"/><path class="cls-4" d="M506.66,1742.27,305.28,1858.54c-52.07-90.18-86.55-173.37-113.51-273.92l225.75-60.49A893.75,893.75,0,0,0,506.66,1742.27Z"/><path class="cls-5" d="M208.59,939l225.33,73.21a898.94,898.94,0,0,0-45.59,278.16H152.94C152.94,1164.35,169.78,1058.43,208.59,939Z"/><path class="cls-2" d="M417.43,1523.81l.09.32-225.75,60.49-.09-.32Z"/><path class="cls-2" d="M417.43,1523.81,191.68,1584.3l.09.32-.09,0c-27-100.69-38.74-190.29-38.74-294.29H388.33c0,1.83,0,3.67,0,5.5A901.66,901.66,0,0,0,417.43,1523.81Z"/><path class="cls-7" d="M1289.81,152.94c126,0,231.92,16.84,351.37,55.65l-75,231"/><path class="cls-7" d="M1566.31,439.61l75.06-231c119.45,38.81,215.37,87.69,317,161.51"/><path class="cls-7" d="M1815.68,566.47,1958.35,370.1C2060,443.92,2136.08,520,2209.91,621.66"/><path class="cls-7" d="M2014.27,763.8l195.64-142.14c73.82,101.6,122.69,197.52,161.5,317l-228.49,74.24"/><path class="cls-7" d="M2143,1013.19,2371.41,939c38.81,119.45,55.65,225.37,55.65,351.37"/><path class="cls-7" d="M2188.29,1290.35h238.77c0,125-16.84,231.92-55.65,351.37l-.1,0"/><path class="cls-7" d="M2146.35,1568.25l225.06,73.13-.1.31c-38.79,119.3-87.64,215.14-161.4,316.66"/><path class="cls-7" d="M2019.83,1820.25l190.08,138.1C2136.08,2060,2060,2136.07,1958.35,2209.91"/><path class="cls-7" d="M1821.23,2021.18l137.12,188.73c-101.61,73.82-197.53,122.69-317,161.5L1569.75,2151"/><path class="cls-7" d="M1569.57,2151l71.61,220.38c-119.45,38.82-225.37,55.66-351.37,55.66"/><line class="cls-7" x1="1289.81" y1="1290.01" x2="1289.83" y2="1290.05"/><path class="cls-7" d="M1289.81,2195.84v231.23c-104,0-193.6-11.77-294.29-38.75v-.05"/><line class="cls-7" x1="1289.81" y1="1290.01" x2="1289.81" y2="1290.05"/><line class="cls-7" x1="1289.81" y1="1290.01" x2="1289.81" y2="1290"/><path class="cls-7" d="M1055.43,2165.43l-59.72,222.89-.18-.05c-100.61-27-183.83-61.45-274.06-113.54"/><line class="cls-7" x1="1290" y1="1290.01" x2="1289.91" y2="1290.32"/><path class="cls-7" d="M837,2074.67l-115.5,200.06c-90.28-52.12-161.78-107-235.49-180.7"/><line class="cls-7" x1="1289.99" y1="1290.01" x2="1289.88" y2="1290.21"/><path class="cls-7" d="M649.84,1930.17,486,2094c-73.71-73.71-128.58-145.22-180.7-235.49"/><line class="cls-7" x1="1290" y1="1290.01" x2="1289.99" y2="1290.01"/><path class="cls-7" d="M506.66,1742.27,305.28,1858.54c-52.07-90.18-86.55-173.37-113.51-273.92"/><path class="cls-7" d="M417.52,1524.13l-225.75,60.49-.09,0c-27-100.69-38.74-190.29-38.74-294.29"/><path class="cls-7" d="M388.33,1290.35H152.94c0-126,16.84-231.92,55.65-351.37l225.33,73.21"/><path class="cls-7" d="M434,1011.88,208.59,938.63c38.81-119.45,87.69-215.37,161.51-317"/><path class="cls-7" d="M563.53,762.19,370.1,621.66C443.92,520,520,443.92,621.65,370.1"/><path class="cls-7" d="M763.16,564.86,621.65,370.1c101.56-73.78,197.44-122.65,316.81-161.45"/><path class="cls-7" d="M1013.2,438.68l-74.74-230,0-.06c119.45-38.81,226.37-55.65,351.37-55.65V395.86"/><path
            class="cls-8"
            d="M417.43,1523.81a901.66,901.66,0,0,1-29.12-228c0-1.83,0-3.67,0-5.5a898.94,898.94,0,0,1,45.59-278.16c0-.11.07-.21.11-.31a901.79,901.79,0,0,1,579.17-573.2l.17-.06a899.21,899.21,0,0,1,274.94-42.77h1.5a899.12,899.12,0,0,1,276.33,43.69l.17.06a902,902,0,0,1,576.61,573.26c0,.1.07.21.11.32a898.74,898.74,0,0,1,45.26,277.16c0,1.83,0,3.67,0,5.5a899.4,899.4,0,0,1-42,272.4l-.1.31A901.92,901.92,0,0,1,1569.75,2151l-.18.06a898.81,898.81,0,0,1-279.76,44.81h-1.5a901.38,901.38,0,0,1-232.88-30.42l-.17-.05A894.39,894.39,0,0,1,837,2074.67a904.25,904.25,0,0,1-330.31-332.4,893.75,893.75,0,0,1-89.14-218.14Z"/><path class="cls-9" d="M1540,1290h-25c-1.07-123.34-101.4-223-225-223v-27C1428.07,1040,1540,1151.93,1540,1290Z"/><path class="cls-9" d="M1539.21,1290h.79c0,138.07-111.93,250-250,250v-23c124.26,0,225-100.74,225-225,0-.67,0-1.33,0-2Z"/><path class="cls-9" d="M1290,1517v23c-138.07,0-250-111.93-250-250h25c0,.67,0,1.33,0,2C1065,1416.26,1165.74,1517,1290,1517Z"/><path class="cls-9" d="M1290,1040v27c-123.59,0-223.92,99.66-225,223h-25C1040,1151.93,1151.93,1040,1290,1040Z"/><line class="cls-10" x1="390.01" y1="1290" x2="1040" y2="1290"/><line class="cls-11" x1="1290" y1="1540" x2="1290" y2="2194"/><line class="cls-11" x1="1290" y1="394" x2="1290" y2="1040"/><line class="cls-10" x1="1540" y1="1290" x2="2189.99" y2="1290"/><circle class="cls-12" cx="1290" cy="1290" r="250"/><path class="cls-13" d="M1290,1517c-124.26,0-225-100.74-225-225,0-.67,0-1.33,0-2,1.07-123.34,101.4-223,225-223s223.92,99.66,225,223c0,.67,0,1.33,0,2C1515,1416.26,1414.26,1517,1290,1517Z"/>
        <text class="cls-14" transform="translate(576.61 1117.44) rotate(-70.63)">S</text>
        <text class="cls-14" transform="translate(615.25 1005.02) rotate(-62.59)">p</text>
        <text class="cls-14" transform="matrix(0.54, -0.84, 0.84, 0.54, 659.19, 921.11)">i</text>
        <text class="cls-14" transform="translate(680.45 884.9) rotate(-52.33)">r</text>
        <text class="cls-14" transform="translate(732.25 818.06) rotate(-47.4)">i</text>
        <text class="cls-14" transform="translate(759.65 785.89) rotate(-42.54)">t</text>
        <text class="cls-14" transform="translate(815.56 732.43) rotate(-36.11)">u</text>
        <text class="cls-14" transform="translate(884.79 680.23) rotate(-29.4)">a</text>
        <text class="cls-14" transform="translate(963.75 636.08) rotate(-24.27)">l</text>
        <text class="cls-14" transform="translate(1004.83 617.08) rotate(-20.64)">i</text>
        <text class="cls-14" transform="translate(1043.56 600.75) rotate(-15.71)">t</text>
        <text class="cls-14" transform="translate(1117.33 578.33) rotate(-9.21)">y</text>
        <text class="cls-14" transform="translate(1207.85 563.86) rotate(-3.89)"></text>
        <text class="cls-14" transform="translate(1259.87 560.49) rotate(-0.93)"></text>
        <text class="cls-14" transform="matrix(1, 0.07, -0.07, 1, 1307.33, 559.52)"></text>
        <text class="cls-14" transform="matrix(0.99, 0.13, -0.13, 0.99, 1356.94, 562.32)"></text>
        <text class="cls-14" transform="translate(1406.16 568.46) rotate(11.57)"></text>
        <text class="cls-14" transform="translate(1446.79 573.14) rotate(17.98)">T</text>
        <text class="cls-14" transform="translate(1557.38 607.96) rotate(26.03)">e</text>
        <text class="cls-14" transform="translate(1641.05 647.71) rotate(32.73)">r</text>
        <text class="cls-14" transform="matrix(0.78, 0.63, -0.63, 0.78, 1708.95, 689.92)">r</text>
        <text class="cls-14" transform="translate(1774.61 743.23) rotate(43.9)">i</text>
        <text class="cls-14" transform="matrix(0.66, 0.75, -0.75, 0.66, 1806.15, 771.36)">t</text>
        <text class="cls-14" transform="translate(1858.25 828.31) rotate(55.23)">o</text>
        <text class="cls-14" transform="matrix(0.47, 0.88, -0.88, 0.47, 1909.6, 900.4)">r</text>
        <text class="cls-14" transform="translate(1948.28 969.13) rotate(68.33)">y</text>
        <text class="cls-14" transform="matrix(0.28, 0.96, -0.96, 0.28, 1981.88, 1054.23)"></text>
        <text class="cls-14" transform="translate(1996.23 1101.63) rotate(77.63)"></text>
        <text class="cls-14" transform="matrix(-0.15, -0.99, 0.99, -0.15, 2194.57, 1186.44)"></text>
        <text class="cls-14" transform="translate(2199.45 1248.08) rotate(-94.58)"></text>
        <text class="cls-14" transform="translate(2200.28 1309.69) rotate(-90.93)"></text>
        <text class="cls-14" transform="translate(2196.78 1371.68) rotate(-86.91)"></text>
        <text class="cls-14" transform="matrix(0.12, -0.99, 0.99, 0.12, 2189.22, 1433.08)"></text>
        <text class="cls-14" transform="translate(2177.51 1493.78) rotate(-79.13)"></text>
        <text class="cls-14" transform="matrix(0.26, -0.97, 0.97, 0.26, 2114.29, 1541.05)"></text>
        <text class="cls-14" transform="matrix(0.35, -0.94, 0.94, 0.35, 2077.17, 1643.86)">e</text>
        <text class="cls-14" transform="translate(2028.77 1735.75) rotate(-62.6)">g</text>
        <text class="cls-14" transform="translate(1971.97 1818.2) rotate(-55.81)">a</text>
        <text class="cls-14" transform="translate(1904.84 1895.03) rotate(-49.12)">u</text>
        <text class="cls-14" transform="translate(1827.51 1964.81) rotate(-42.31)">g</text>
        <text class="cls-14" transform="matrix(0.81, -0.58, 0.58, 0.81, 1743.67, 2023.86)">n</text>
        <text class="cls-14" transform="translate(1655.53 2071.53) rotate(-28.74)">a</text>
        <text class="cls-14" transform="matrix(0.93, -0.37, 0.37, 0.93, 1554.93, 2111.43)">L</text>
        <text class="cls-14" transform="translate(1524.9 1982.17) rotate(163.78)"></text>
        <text class="cls-14" transform="matrix(-0.98, 0.21, -0.21, -0.98, 1477.48, 1996.47)"></text>
        <text class="cls-14" transform="translate(1429.15 2007.49) rotate(171.61)"></text>
        <text class="cls-14" transform="translate(1380.09 2015.21) rotate(175.49)"></text>
        <text class="cls-14" transform="translate(1329.43 2019.45) rotate(179.07)"></text>
        <text class="cls-14" transform="translate(1280.65 2020.62) rotate(-176.83)"></text>
        <text class="cls-14" transform="translate(1231 2018.35) rotate(-172.96)"></text>
        <text class="cls-14" transform="translate(1181.71 2012.75) rotate(-169.06)"></text>
        <text class="cls-14" transform="translate(1132.99 2003.83) rotate(-165.14)"></text>
        <text class="cls-14" transform="translate(1085.01 1991.6) rotate(-161.22)"></text>
        <text class="cls-14" transform="matrix(-0.92, -0.39, 0.39, -0.92, 1037.95, 1976.11)"></text>
        <text class="cls-14" transform="translate(992.05 1957.44) rotate(-153.39)"></text>
        <text class="cls-14" transform="translate(947.5 1935.66) rotate(-149.49)"></text>
        <text class="cls-14" transform="matrix(0.81, 0.58, -0.58, 0.81, 726.99, 1993.78)">t</text>
        <text class="cls-14" transform="translate(653.59 1928.2) rotate(41.69)">r</text>
        <text class="cls-14" transform="matrix(0.65, 0.76, -0.76, 0.65, 554.57, 1814.43)">A</text>
    </svg>
  </div>

  <div class="col-xs-4">
  </div>
</div>
-->
=======
    <img src="/pictures/circle-embedded.svg" class="img-center" height="660px" width="660px"/>
  </div></div>

<div class="row">
  <h5>Circle of Voices is a collaborative multimedia research project conducted in Quebec in the summer
 of 2016 with young Native women. Centered around their paths, we explored the interplay between
 the process of cultural revitalization and the construction of their identity through four topics: land,
 language, art and spirit.</h5>
>>>>>>> 7ebce4550a352b16faed050c7ce902bb96e0c333
</div>
</body>
<% include partials/footer %>
