<% include partials/header %>
<head>
  <title>Homepage - Circle of Voices</title>
</head>

<body>
  <div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to Circle of Voices</h1>
      <h3>a digital ethnographic journey among</br> Quebec First Nations</h3>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mXFelx4urJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

      <h2>Research project in digital anthropology</h2>
    <p class="home">Circle of Voices is centered on the cultural revitalization among First Nations in Quebec.
      You are invited to interact with the circle below to explore various multimedia testimonies about
      the contemporary realities of some Indigenous cultures and identities. These materials are focused on
      the Abenaki, Wolastoq (Maliseet) and Nehirowisiw (Atikamekw) Nations.
</br></br>The aims of the project are to resist harmful representations of Indigenous cultures and identities,
and to share Indigenous knowledge through digital tools.</p>
</div>
</div>

  <div class="row home">
    <div class="col-xs-12">
      <h1>Circle of revitalization</h1>
      <p>Cultural revitalisation can be understood as the reclaiming, restoring and regenerating of relationships with the land, with ancestral practices, with belief systems and with each other.</p>
         </div>
         <div class="col-xs-12">
                 <a class="btn btn-default main" data-toggle="modal" data-target="#helpmodal">How to navigate ?</a>
                 <div id="helpmodal" class="modal fade" tabindex="-1" role="dialog">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title">How to navigate Circle of Voices?</h4>
                       </div>

                       <div class="modal-body">
                         <div class="row">
                           <div class="col-xs-6">
                           <img src="/pictures/circle/minicircle.jpg" class="img-responsive"></>
                           </div>
                           <div class="col-xs-6 text-center">
                           <img src="/pictures/circle/girls.jpg" class="img-responsive center-block"></>
                         </div>
                       </div>
                  </div>

                         <div class="row">
                           <div class="col-xs-6">
                           <p>Each icon corresponds to an activity of the project. This is the central map of the website. Divided in the four topics (land, language, art and spirit), you will find various multimedia elements and activities of the project. You can either access each element individually or
                             get an thematic for each quarter. They all relate to cultural revitalization. The design is drawn from the Medicine Wheel.</p>  </div>
                           <div class="col-xs-6">
                 <p>Another way to explore the website is to access the personal narratives of the six young women and the four knowledge holders.
                 A unique page has been created for the young women, as they stad at the center of this research project. </p>
                           </div>
                         </div>

                         <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                     </div>

<!-- >>>>>>> 047367b183053a55f3a597e3acc95b0c40b20729-->

  </div><!-- /.modal dialog-->
    </div>
      </div><!-- /.how to navigate button-->
        <div class="row home">
               <div class="col-md-8 col-md-offset-2">
               <% include circle-opt.svg %>
                   </div>
                   </div>

        <div class="row">
        <div class="col-xs-12">
          <h1><u><a href="/the-women">Youths' stories</u></a></h1>
          <img src="/pictures/youthvoices.JPG"  class="img-responsive img-center"/>
          <p class="caption">Raphaelle OBomsawin and Jessica Ann Watso, Musée des Abénakis, Odanak 2016</p>
      </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="https://www.facebook.com/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png"/></a>
        <a href="https://www.instagram.com/circleofvoices" target="_blank"><img src="/icons/insta.png"/></a>
        </div></div>

          </div><!-- /.container-->

</body>
<% include partials/footer %>
