<head>
  <title> The communities </title>

</head>
<% include partials/header %>

<div class="container">

<h1 class="title"> Visiting the atikamekw, wabanaki and wolastogiyik Nations</h1>

<p> Throughout my time, I venture in differen indigenous communities. Learn more about each of them below! </p>
<!-- how much shall I disclose about the communities here? -->
<div class="row">

  <div class="col-xs-12">
    <img src="/pictures/the-communities/painting.jpg" class="img-circle img-responsive center-block" alt="" height="1200" width="995"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <h2><a href="/the-communities/odanak">Odanak</a> </h2>
 </div>

  <div class="col-xs-4">
<h2> <a href="/the-communities/manawan">Manawan</a> </h2>
</div>

  <div class="col-xs-4">
<h2> <a href="/the-communities/cacouna">Cacouna</a> </h2>
</div>
</div>
</div>
<% include partials/footer %>
