<% include partials/header %>

<div class="container">
<h2>Hallo chen</h2>

<p> This page is about the indigenous communities in Quebec </p>
<div class="row">
  <div class="col-xs-4">

  </div>
  <div class="col-xs-4">
    <img src="/pictures/the-communities/manawan.jpg" class="img-responsive" alt="" />
  </div>
  <div class="col-xs-4">

  </div>
</div>

</div>
<% include partials/footer %>
