<% include partials/header %>

<div class="container">
<h2>Visiting the atikamekw, wabanaki and wolastogiyik Nations</h2>

<p> This page is about the indigenous communities in Quebec </p>
<div class="row">

  <div class="col-xs-12">
    <img src="/pictures/the-communities/painting.jpg" class="img-circle img-responsive center-block" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
<a href="/the-communities/odanak">Odanak</a>
</div>

  <div class="col-xs-4">
<a href="/the-communities/manawan">Manawan</a>
</div>

  <div class="col-xs-4">
<a href="/the-communities/cacouna">Cacouna</a>
</div>
</div>
</div>
<% include partials/footer %>
