/* the 'class' container in html specifies the element in css*/

.title {
text-align: center;
color: red;
}

body {
  background-color: #FFF4C5;
  background-image: url(/pictures/background.jpg);
  background-size: contain;
}

.container {
  text-align: center;
  padding-bottom: 40px;
  background-color: white;
  transparent;
  width: auto;
  margin: 0px;
  }

  @media (min-width: 768px) {
      .container {
        margin: 0 175px;
      }
  }

  .container-navbar {
    background-color: transparent;
    background-image: url(/pictures/background.jpg);
    padding-bottom: 20px;
    padding-top: 20px
  }

.navbar-header {
  margin-left: 200px;
  }
#footer {
  background-color: grey;
  color: white;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 115px;
  border: 0px;
}
.navbar-nav li {
  list-style: none;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 0 25 0 25;
}
.navbar-nav li a{
  color: white;
  padding: 30px;
  display: inline;
}
.navbar-default .navbar-nav li:hover a {
  color: black;
}

.navbar-nav li #socialmedia {
  padding: 10px;
}

.frame {
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
}

.frame h5 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  padding: 8px;
}
.frame:hover h5 {
display: block;
z-index:1;
background-color: rgba(0, 0, 0, 0.5);
margin-bottom: 0;
font-family: 'Arial', sans-serif;
font-size: 30px;

}
.frame:hover img {
  filter:grayscale(100%);

}
.frame img {
  border: 2px;
  border-style:solid;
  border-color:black;
  width: 100%;
  padding: 0px;
  display: inline-block;
}
.row {
  padding-bottom: 20px;
}
.row.home {
  padding-bottom: 40px;
}
.col-xs-3 {
  padding: 0px;
  margin: 0px;
}
.col-xs-4 {
  padding: 0px;
  margin: 0px;
  }

.col-xs-6 {
  padding: 0px;
  margin: 0px;
}
.col-xs-8 {
  padding: 0px;
  margin: 0px;
}
.col-xs-12 {
  padding: 0px;
  margin: 0px;
}

.miniwheel.affix {
  width: 350px;
  padding-left: 15px;
}

/* combinaison couleurs:
serif pour <p>
sans serif pour les titres
ou tout sans serif
entre 8 à 12 mots par ligne
h4 et h5 à retravailler
+ fonts*/

h1 {
color: #B251A3;
text-align: center;
font-family: 'Garamond',serif;
font-size: 45px;
margin:0;
padding: 40px 15px 10px 15px;
}

h2 {
color: #B251A3;
font-family: 'Garamond',serif;
text-align: center;
font-size: 28px;
margin-top: 10px;
margin-bottom: 10px;
padding: 20px 70px 20px 70px;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'Garamond',serif;
  padding: 20px 70px 20px 70px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 28px;
  font-style: normal;
}

h3.special {
  font-size: 28px;
}

h4 {
color: #B251A3;
text-align: inherit;
margin: 0px;
padding: 20px 70px 20px 70px;
font-size: 25px;
}
h5 {
  color: black;
  font-family: 'Arial', sans-serif;
  text-align: left;
  padding: 20px 45px 20px 45px;
  font-size: 21px;
}

h5.home {
  color: black;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 8px 50px 20px 8px;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 21px;
}

.community-categories h3 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: left;
  padding: 20px 70px 20px 70px;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
p.quote {
  color: #B251A3;
  text-align: left;
  padding: 20px 70px 20px 70px;
  margin: 0px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
p.bloc {
  border: 3px;
  border-style: simple;
  border-color:black;
  border-radius: 8px;
  padding: 10px;
}
p.caption {
  padding: 15px 70px 15px 70px;
  font-size: 15px;
  font-style: none;
}
/*
em {
  color: black;
  font-weight:600;
  text-decoration:
  font-style: normal;
  font-family: 'Oxygen', serif;
  font-size: 15px;
    }
*/
ul{
  margin: 0px;
  padding-left: 70px;
  list-style-position: inside;
  text-align: left;
  font-size: 20px;
      }

  li.about {
  padding: 10px 70px 10px 0px;
  font-size: 20px;

  }

li.horizontal {
display: inline;
  padding: 10px 150px 10px 0px;
  }

.btn-default {
  border: 3px black;
  border-radius: 50px;
  border-style: ridge;
  background-color: white;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}
.btn-default:hover {
background-color: #B251A3;
}
.btn-default.main {
  border: 3px black;
  border-radius: 50px;
  border-style: ridge;
  background-color: white;
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.btn {
  white-space: normal;
}

.lisa {
color: black;
text-align: center;
font-family: 'Arial', sans-serif;
}

.emphasis {
  color: #B251A3;
  font-weight: bold;
  font-size: 22px;
}
.color-blue {
color: #6615C1;
}

/* CSS animations*/
.bubbles {
  display:inline-block;
}

.bubbles a {
  display:block;
}

@media (min-width: 768px) {
  .bubbles a {
    display:inline;
  }
}

.bubbles img {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-property: transform;
  margin: 15px 5px 5px 5px;
  padding: 5px;

}
.bubbles img:hover {
  transform: scale(1.1,1.1);
}
/* h3.experiment {
visibility: visible;
animation-name: fadeInUp;
animation-duration: 1s;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0)
}*/

a {
  color:black;
  font-weight: 200;
}
a:hover {
  font-style: underline;
  color: #B251A3;
}
img {
  padding: 15px 20px 15px 20px;
  margin-right: 15px;
  width: 100%;
  }

  @media (min-width:768px) {
    img {
    width: auto; }
  }

img-responsive {
  display: inline;
  margin: 40px;
  padding-left: 40px;
}
.gallery img {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin:10px;
  padding:10px 30px 10px 10px;
}
.gallery img:hover {
  border: 2px;
  border-style: solid;
  border-color: grey;
}
.desc {
  padding: 15px;
  text-align: left;
}
iframe {
  width: 100%;
  padding: 15px 40px 15px 40px;
  margin: 0px;
}
.interview iframe {
  padding: 25px;
}
audio {
  width: 200px;
  padding-right: 15px;
  padding-left: 15px;
  }
#helpmodal .modal-dialog {
  width: 800px;
}
