<% include ../partials/header %>

<div class="container">
<h2>Wolastoqiyik: people of the beautiful river</h2>

<p> This page is about the wolastoqiyik/maliseet community of Cacouna.
  <!-- http://www.toponymie.gouv.qc.ca/ct/ToposWeb/Fiche.aspx?no_seq=75155 --></p>
<div class="row">

  <div class="col-xs-12">
    <img src="/pictures/the-communities/c-landscape2.jpg" class="img-responsive" alt="" />

    <img src="/pictures/the-communities/c-council.jpg" class= "img-responsive" alt=""/>

  </div>
</div>
</div>
<% include ../partials/footer %>
