<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h2>Wolastoqiyik: the people of the beautiful river</h2>
<p><b>History</b>: Before the colonization, the Maleliseets/Wolastoqiyik were scattered on the area drained by the river St John (or 'Wolastoq' in their language), covering parts of
  New Brunswick, Maine and Quebec. They were surrounded to the West by the Penobscots (currently the Beauce region) and to the East by the Micmacs (currently the Gaspésie).
  The Maliseets mainly used navigable waterways to travel, and they were hunters and fishers who let seasons guide their migration and activities.
  They were quickly recognized as masters in the arts of construction, navigation and portage.
  Every summer they would gather alongside the banks of the St John River in specific areas where they could easily trade and celebrate through ceremonies
  </br></br>
  Under colonization, they were losing huge parts of their hunting territory to the French and British settlers.
  So in 1826, Maliseets requested from the federal authorities a right to these lands which in turn brought the government to grant them a lot in Viger. It became the first Aboriginal reserve in Quebec. As Maliseets were not farmers to begin with, lots of white people demanded though grievances the return of those lots of land for better, fully productive ends. Hence, in 1870, lands were reassigned and Maliseets began scattering throughout all of Quebec.
  In 1891, the government bought a lot in Cacouna; it became the smallest reserve in Canada (0,17 ha). As that reserve was too small to accommodate a large number of Maliseets, only a few buildings were constructed. Chief Jacques Launière, the very last habitant of the reserve past away in the 70’s. A wait period extended until 1987 at which time the Maliseets gathered again in Rivière-du-Loup in order to elect a new Band Council. Then all that was needed was an official acknowledgment of the Nation by the government of Québec. And, in 1989, Maliseets were recognized as the 11th Québec Aboriginal Nation. Sources: <u><a href="http://malecites.ca/en/history/" target="_blank">malecites.ca/history</a></u> and <u><a href="http://www.toponymie.gouv.qc.ca/ct/ToposWeb/Fiche.aspx?no_seq=75155 -->">toponymie.gouv.ca.qc</a></u></p>
  </div>
<div class="col-xs-6">
    <img src="/pictures/the-communities/cacouna/landscape1.jpg" class="img-responsive" alt="" />
</div>
<div class="col-xs-6">
    <img src="/pictures/the-communities/cacouna/landscape2.jpg" class= "img-responsive" alt=""/>
</div>
<div class="col-xs-1">
</div>
<div class="col-xs-10">
    <img src="/pictures/the-communities/cacouna/water.jpg" class= "img-responsive" alt=""/>
</div>
<div class="col-xs-6">
  <p class="caption">The primary mission of the Band Council of the Maliseet of Viger First Nation is to represent the Nations members by asserting their rights and ensuring their interests.
    It has a political and administrative role. works hard towards the Nation’s financial and governmental autonomy.
    Also, activities and policies are organized to increase awareness and perpetuate the Nation’s culture and traditions.</p>
    <img src="/pictures/the-communities/cacouna/council.jpg" class="img-responsive" alt="" />
</div>
<div class="col-xs-6">
  <p class="caption">Built in the 1890's, the Maison Denis-Launière is the last and only remaining physical testimony of the presence of the First Nation in the Lower Saint-Lawrence region.
  Being the only house that endured throughout the 19th and 20th centuries, the Maison Denis-Launière symbolises the Maliseet Nation that refuses to vanish in spite of trials.</br></br></p>
    <img src="/pictures/the-communities/cacouna/shop.jpg" class= "img-responsive" alt=""/>
</div>
<div class="col-xs-6">
    <img src="/pictures/the-communities/cacouna/ground.jpg" class="img-responsive" alt="" />
</div>
<div class="col-xs-6">
    <img src="/pictures/the-communities/cacouna/river.jpg" class= "img-responsive" alt=""/>
</div>

  </div>
</div>
</div>
<% include ../partials/footer %>
