<% include ../partials/header %>

<div class="container">
<h2>Visiting the wabanaki Nation</h2>

<p> This page is about the wolastogiyik community of Cacouna </p>
<div class="row">
  <div class="col-xs-4">

  </div>
  <div class="col-xs-4">
    <img src="/pictures/the-communities/manawan.jpg" class="img-responsive" alt="" />
  </div>
  <div class="col-xs-4">

  </div>
</div>
</div>
<% include ../partials/footer %>
