<% include ../partials/header %>
<head>
  <title>Kiuna</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
<h1> Kiuna: </br> the only First Nations college in Quebec</h1>
<img src="/pictures/the-communities/o-k-front.jpg" class="img center" height="480px"/>
</br>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<h3> General informations</h3>
<p>Kiuna Institution is located in <a href="/the-communities/odanak">Odanak</a>, one of the two wabanaki communities in
Quebec, between Montreal and Quebec city. 'Kiuna' means 'to us' in wabanaki language. The school aims to shape
provide First Nations citizens with the tools they need to take on the challenges that lie ahead,
be they on the individual, community or national level while enhancing of the First Nations identity. Founded in 2011
thanks to the First Nations Education Council, the college offers several programs both in english and french, as well as
support of all kinds services for the students. Its mission can be summarized in three points:</p>
   </br>
   <p><a target="_blank" href="http://kiuna-college.com/fr/"><u>Visit their website</a></u> ou their
     <a target="_blank" href="https://www.facebook.com/KiunaCollege/"><u>Facebook page </a></u>for more infos.</p>
</div>

<div class="col-xs-6"></br>
  <div class="video"><iframe src="https://player.vimeo.com/video/123852037" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<p>Kiuna College from <a href="http://www.cepn-fnec.com/index.aspx">CEPN FNEC</a></p>
<p><ol>  <li>Provide quality education in a familiar environment that promotes First Nations traditions and cultures.</li>
<li>Improve access to post-secondary studies and graduation rates.</li>
<li>Take one step further towards the autonomy of First Nations institutions.</li></ol></p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Programs</h3>
<p>Education spécialisée et contextes autochtones;</br> Attestion d'études collégiales en comptabilité; </br>First Nations - Social sciences program</p>
      <img src="/pictures/the-communities/o-k-banner.jpg" class="img-responsive center"/>

    <p>Catherine, Lisa, Marie-Kristine, Raphaelle et Jessica followed the program in Social Sciences. Unique in Quebec,
    ce program is centered on First Nations culture, history, and traditions and addresses contemporary issues affecting First Nations of Quebec, Canada and North America
    (such as Aboriginal policies, rights, and claims, economic development and self-government).
  The classes shape the students to:
    assert their identity as First Nations citizens;
    discover how they can serve their community;
    assume their social and citizenship responsibilities.
The skills acquired are equivalent to the ones gained by students enrolled in social science programs in any other college in Quebec.
As a result, Kiuna graduates can enroll in undergraduate programs in human and social sciences like <a href="/the-women//Marie-Christine-Petiquay">Marie Christine</a>, law, education
like <a href="/the-women/Raphaelle-Obomsawin">Raphaelle</a>, administration, or liberal arts.</p>
<img src="/pictures/the-communities/o-k-finissant.jpg" class="img center" height="480px"/>
</div>
</div>
<!-- FRENCH
<div class="row">
  <div class="col-xs-12">
  <h1> Kiuna:</br> unique institution post-secondaire des Premières Nations au Québec</h1>
<img src="/pictures/the-communities/o-k-front.jpg" class="img center" height="480px"/>
</div>
</div>

<div class="row">
<div class="col-xs-6">
  <h3> Informations générales</h3>
  <p>L’Institution Kiuna est située à <a href="/the-communities/odanak">Odanak</a>, dans l'une des deux communautés
    abénakises au Québec, entre Montréal et la ville de Québec. 'Kiuna' signifie 'à nous' en langue abénakise
     et vise à former des citoyens des Premières Nations afin qu’ils puissent relever les défis qui se préentent à eux
     sur le plan personnel, communautaire et national, en valorisant l’identité autochtone, l’innovation, l’ouverture
     d’esprit et l’excellence. Fondé en 2011 grâce à l'appui du Conseil en Education des Premières Nations, cet établissement
    d'études collégiales dispose de plusieurs programmes, offerts en français et en anglais, ainsi que de nombreux
    services de soutien et d'aide aux étudiant.e.s. Sa mission se résume en trois points:
<ol>
<li>Offrir une éducation de qualité dans un environnement qui met en valeur la culture et les traditions des Premières Nations.</li>
<li>Améliorer l'accès aux études postsecondaires ainsi que la réussite et le taux d'obtention d'un diplôme chez les jeunes et les adultes qui s'y inscrivent.
<li>Faire un pas de plus vers l'autonomie des établissements d'enseignement des Premières Nations.</li></ol>
 </br>
  <p><a target="_blank" href="http://kiuna-college.com/fr/">Visiter le site web </a> ou consulter leur <a target="_blank" href="https://www.facebook.com/KiunaCollege/"> page Facebook</a> pour plus d'informations</p>
</div>

<div class="col-xs-6"></br>
  <div class="video"><iframe src="https://player.vimeo.com/video/123852037" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<p>Le collège Kiuna from <a href="http://www.cepn-fnec.com/index.aspx">CEPN FNEC</a></p>
</div>
</div>

<div class="row">
<div class="col-xs-6">
  <img src="/pictures/the-communities/o-k-banner.jpg" class="img-responsive center"/>
</div>
<div class="col-xs-6">
  <h3>Programmes</h3>
  <ul>
    <p><li>Education spécialisée et contextes autochtones</li>
      <li>Attestion d'études collégiales en comptabilité</li>
      <li>Sciences Humaines - Profil Premières Nations</li></ul>

<p>Catherine, Lisa, Marie-Kristine, Raphaelle et Jessica ont suivi le programme en Sciences Humaines. Unique au Québec,
  ce programme est orienté sur l’étude de la culture, de l’histoire et des traditions des Premières Nations et traite de
  questions contemporaines touchant les Premières Nations du Québec, du Canada et de l’Amérique du Nord (comme
  des politiques, des droits et des titres autochtones, du développement économique et de l’autonomie gouvernementale).
  Les cours forment les étudiant(e)s à: </br>
affirmer leur identité en tant que citoyens des Premières Nations;</br>
explorer les moyens de servir leur communauté;</br>
assumer leurs responsabilités sociales et citoyennes.</br>
Les compétences acquises sont équivalentes à celles des étudiants des autres établissements d’enseignement collégial au
Québec. Ses diplômés peuvent donc s’inscrire à un programme de premier cycle universitaire
 dans les domaines des sciences humaines et sociales comme
 <a href="/the-women//Marie-Christine-Petiquay">Marie Christine</a>, du droit, de l’éducation comme
 <a href="/the-women/Raphaelle-Obomsawin">Raphaelle</a>, de l’administration ou des lettres.
</p></div>

</div>

<div class="row">
<div class="col-xs-6">
  <img src="/pictures/the-communities/o-kiuna.jpg" class="img-responsive"/>
</div>

<div class="col-xs-6">
  <h3> Lisa et Marie Kristine, employées temporaires à Kiuna</h3>
</div>
</div>

<div class="row">
  <div class="col-xs-12">
  <h3> Mur des finisssants</h3>
<img src="/pictures/the-communities/o-k-finissant.jpg" class="img center" height="480px"/>
<p> Cette année Lisa Aubin-Bérubé, Marie-Kristine Petiquay
</div>-->

</div>
</body>

<% include ../partials/footer %>
