<% include ../partials/header %>
<head>
  <title>Manawan</title>
  </head>

<body>
<div class="container">
<h2>Visiter la communauté atikamekw de Manawan</h2>

<p>Manawan est l'une des trois communautés de Manawan. Manawan compte 2436 habitant(e)s, dont 337 vivent sur la
  réserve*. http://www.manawan.com/historique.cshtml http://www.manawan.org/saisons_atikamekw/ete/

*Données 2016, Affaires Autochtones et du Nord Canada</p>
<div class="row">
  <div class="col-xs-12">
  <img src="/pictures/the-communities/manawan/largelake.jpg" class="img-responsive" alt=""/>

</div></div>

<div class="row">
  <h3> Eglise de Manawan </h3>
  <div class="col-xs-6">
<img src="/pictures/the-communities/manawan/church.jpg" class="img-responsive center" alt=""/>
  </div>
  <div class="col-xs-6">
  <img src="/pictures/the-communities/manawan/church1.jpg" class="img-responsive center vertical" alt=""/>
</div></div>

<div class="row">
  <div class="col-xs-6">
<img src="/pictures/the-communities/manawan/village.jpg" class="img-responsive center" alt=""/>
</div>
  <div class="col-xs-6">
<img src="/pictures/the-communities/manawan/lake.jpg" class="img-responsive center" alt=""/>
</div></div>

<div class="row">
  <div class="col-xs-6">
<img src="/pictures/the-communities/manawan/lake1.jpg" class="img-responsive center" alt=""/>
</div>
  <div class="col-xs-6">
<img src="/pictures/the-communities/manawan/village1.jpg" class="img-responsive center" alt=""/>
  </div></div>

  <div class="row">
    <h3> Chiens de Manawan </h3>
    <div class="col-xs-6">
  <a href="/pictures/the-communities/manawan/dogs.jpg"><img src="/pictures/the-communities/manawan/dogs.jpg" class="img-responsive center" alt=""/></a>
  <p class="caption">prise par <a href="/the-women/Marie-Krisitine-Petiquay">Marie Kristine Petiquay</a></p>
    </div>
    <div class="col-xs-6">
    <img src="/pictures/the-communities/manawan/dogs1.jpg" class="img-responsive center" alt=""/>
  </div></div>

</div>
<body>
<% include ../partials/footer %>
