<% include ../partials/header %>

<div class="container">
<h2>Visiting the atikamekw Nation</h2>

<p> This page is about the atikamekw community of Manawan </p>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="thumbnail">
        <div class="caption">
        <img src="/pictures/the-communities/m-largelake.jpg" class="img-responsive" alt="" />
</div>
</div>
<p> blablabl ich muss hier ganz viel schreiben </p>
</div>
  <div class="col-md-12 col-xs-12">
    <div class="thumbnail">
        <div class="caption">
<img src="/pictures/the-communities/m-houseview.jpg" class="img-responsive" alt=""/>
  </div>
  </div>
  <p> blablabl ich muss hier ganz viel schreiben </p>
</div>
</div>
</div>
<% include ../partials/footer %>
