<% include ../partials/header %>
<head>
  <title>Odanak</title>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Unicase" rel="stylesheet">"

  </head>
<div class="container">

    <div class="thumbnail">
    <img src="/pictures/the-communities/o-origins.jpg" class="responsive"/>
  </div>
      <h2>Visiting the wabanaki Nation</h2>

      <p> This page is about the wabanaki community of Odanak </p>
        </br>


<div class="main">
  <div class="row">
    <div class="col-xs-6">
      <div class="thumbnail">
        <img src="/pictures/the-communities/o-kiuna.jpg" class="img-responsive" />
        <h3><a href="/odanak/kiuna">The Kiuna Institution</a> -<i> Quebec's only college for First Nation</i></h3>
        </div>
      </div>

<div class="col-xs-6">
      <div class="thumbnail">
          <img src="/pictures/the-communities/o-musee-temp.jpg" class="img-responsive"/>
          <h3>The museum of Wabanaki</h3>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-6">
  <div class="thumbnail">
    <img src="/pictures/the-communities/o-tete.jpg" alt="">
    <h3>Bureau Terre et Environnement</h3>

    </div>
  </div>

<div class="col-xs-6">
  <div class="thumbnail">
    <img src="/pictures/the-communities/o-boutique.jpg"><p>Picture by Catherine Boivin</p>
    <h3>Boutique d'artisanat</h3>

  </div>
</div>

  </div>
</div>

<div class="final">
  <div class="col-xs-12">
    <div class="thumbnail">
      <div class= "caption">
      <img src="/pictures/the-communities/o-map.jpg" class="img-responsive" alt="">

    </div>
  </div>
  </div>

</div>
<% include ../partials/footer %>
