<% include ../partials/header %>

<div class="container">
<h2>Visiting the wabanaki Nation</h2>

<p> This page is about the wabanaki community of Odanak </p>
<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <div class="caption">
    <img src="/pictures/the-communities/o-map.jpg" class="img-responsive" alt="" />
  </div>
</div>
<p> Staying in Odanak was a wonderful experience.I was hosted by the community </p>
</div>
<div class="col-xs-12"
    <h3> Kiuna College - Quebec's only institution for First Nations </h3>


</div>
</div>
<% include ../partials/footer %>
