<% include ../partials/header %>
<head>
  <title>Odanak</title>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Unicase" rel="stylesheet">"

  </head>
  <body>
<div class="container">

    <div class="thumbnail">
    <img src="/pictures/the-communities/o-origins.jpg" class="responsive"/>
  </div>
      <h2>Being welcomed by the Abenaki</h2>

      <p>Odanak Odanak is an Abenaki First Nations reserve in the Centre-du-Québec region, Quebec, Canada. The mostly First Nations population as of the Canada 2006 Census was 469. The territory is located near the mouth of the Saint-François River at its confluence with the St. Lawrence River. It is partly within the limits of Pierreville and across the river from Saint-François-du-Lac. Odanak is an Abenaki word meaning "in the village".
         There are 2436 abenaki, including 337 living on the reserve *.
       </br>*<u><a href="http://www.toponymie.gouv.qc.ca/ct/ToposWeb/Fiche.aspx?no_seq=45182" target="_blank">Data</u></a> from 2016, Commission de topoymie, Quebec.</p>


  <div class="row">
    <div class="col-xs-6">
    <a href="/the-communities/kiuna"><img src="/pictures/the-communities/o-k-panneau.jpg" class="img-responsive center" />
    <h3>The Kiuna Institution</h3></a>
            </div>

<div class="col-xs-6">
              <img src="/pictures/the-communities/odanak/musee.jpg" class="img-responsive center"/>
          <h3>The Abenaki Museum</h3>
</div></div>

<div class="row">
<div class="col-xs-6">
  <img src="/pictures/the-communities/odanak/bateau.jpg" class="img-responsive center" alt="">
    <h3>The environmental office</h3>
  </div>

<div class="col-xs-6">
    <img src="/pictures/the-communities/odanak/wigwam.jpg" class="img-responsive center" alt=""/>
    <h3>The wigwam: craft shop</h3>

  </div></div>

<div class="row">
  <div class="col-xs-12">
      <img src="/pictures/the-communities/o-map.jpg" class="img-responsive" alt="">

</div></div>


</div>
</body>
<% include ../partials/footer %>
