<% include ../partials/header %>
<head>
  <title>Odanak</title>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Unicase" rel="stylesheet">"

  </head>
  <body>
<div class="container">

    <div class="thumbnail">
    <img src="/pictures/the-communities/o-origins.jpg" class="responsive"/>
  </div>
      <h2>Être reçue par les Abénakis</h2>

      <p>Odanak compte 2436 habitant(e)s, dont 337 vivent sur la réserve*.


      *Données 2016, Affaires Autochtones et du Nord Canada </p>
        </br>

  <div class="row">
    <div class="col-xs-6">
    <a href="/the-communities/kiuna"><img src="/pictures/the-communities/o-k-panneau.jpg" class="img-responsive center" />
    <h3>L'Institution Kiuna</h3></a>
            </div>

<div class="col-xs-6">
              <img src="/pictures/the-communities/odanak/musee.jpg" class="img-responsive center"/>
          <h3>Le musée des Abénakis</h3>
</div></div>

<div class="row">
<div class="col-xs-6">
  <img src="/pictures/the-communities/odanak/bateau.jpg" class="img-responsive center" alt="">
    <h3>Bureau Terre et Environnement</h3>
  </div>

<div class="col-xs-6">
    <img src="/pictures/the-communities/odanak/wigwam.jpg" class="img-responsive center" alt=""/>
    <h3>Boutique d'artisanat</h3>

  </div></div>

<div class="row">
  <div class="col-xs-12">
      <img src="/pictures/the-communities/o-map.jpg" class="img-responsive" alt="">

</div></div>


</div>
</body>
<% include ../partials/footer %>
