<head>
  <title>The communities</title>
  <!-- Hotjar Tracking Code for http://www.circleofvoices.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2099940,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<% include ../partials/header %>
<body>
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h2 class="color-blue"> Crossings on nehirowisiw, wabanaki and wolastoqiyik lands</h2>
  <img src="/pictures/the-communities/painting.jpg" class="img-circle img-responsive center-block" alt="" height="900" width="995"/>
  </div></div>

<div class="row">
  <div class="col-xs-12">
  <p class="home">During the summer, I was invited to visit the different territories of these First Nations. My times of exploration greatly varied, from spending
    several weeks in Odanak, to spending a week-end in Manawan, and just an afternoon in Cacouna.
    These pages aim to provide basic general information and to acknowledge some of the natural and cultural spaces that mattered for Circle of Voices such the Kiuna College and the Abenaki museum (Odanak), the lake and the woods in Manawan or the Wolastoq river (Cacouna).</p>
    <ul>
    <li class="horizontal"><a href="/the-communities/odanak">1. <u>Odanak</u></a></li>
    <li class="horizontal"><a href="/the-communities/manawan">2. <u>Manawan</u></a></li>
    <li class="horizontal"><a href="/the-communities/cacouna">3. <u>Cacouna</u></a></li>
    </ul>
  <img src="pictures/the-communities/carte1.jpg" class="img-responsive center" alt=""/>
</div></div>

</div>
</body>
<% include ../partials/footer %>
