<head>
  <title>The communities</title>
</head>
<% include ../partials/header %>
<body>
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h2 class="color-blue"> Crossing on atikamekw, wabanaki and wolastoqiyik lands</h2>
  <img src="/pictures/the-communities/painting.jpg" class="img-circle img-responsive center-block" alt="" height="900" width="995"/>
  </div></div>

<div class="row">
  <div class="col-xs-12">
  <h5 class="home">During the summer, I was invited on the different territories of these First Nations. My times of exploration varied loats:
    several weeks in Odanak, a few days in Manawan, and an afternoon in Cacouna. Here, I wish to share factual information and personal
    impressions about places that mattered for Circle of Voices: Kiuna College, the lake and the woods in Manawan, the Abenaki Museum, the river Wolastoq,
    the Wigwam shop (Odanak)</h5>
  <img src="pictures/the-communities/carte1.jpg" class="img-responsive center" alt=""/>
  </br>
  <ul>
  <li class="horizontal"><a href="/the-communities/odanak">1. Odanak</a></li>
  <li class="horizontal"><a href="/the-communities/manawan">2. Manawan</a></li>
  <li class="horizontal"><a href="/the-communities/cacouna">3. Cacouna</a></li>
  </ul>
</div></div>

</div>
</body>
<% include ../partials/footer %>
