<head>
  <title>The communities</title>
</head>
<% include ../partials/header %>
<body>
<div class="container">

<h2 class="color-blue"> Passages en terre atikamekw, wabanaki and wolastoqiyik</h2> </br>
<div class="row">
  <div class="col-xs-12">
  <img src="/pictures/the-communities/painting.jpg" class="img-circle img-responsive center-block" alt="" height="900" width="995"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </br>
  <h5> Durant l'été, j'ai été invitée sur les différents territoires de ces Premières Nations.
  Mes temps d'exploration ont beaucoup variés: plusieurs semaines à Odanak, quelques jours à Manawan et une
  après-midi à Cacouna. Le but est ici de partager mes impressions visuelles et sonores des environnements d'appartenance identitaire
  <a href="/the-women">des jeunes femmes</a>, les institutions auxquelles leurs parcours est connecté,
  tel le collège Kiuna ou le musée des Abénakis. </br> </h5>
</div>
<ol><h2>
<li class="horizontal"><a href="/the-communities/odanak">Odanak</a></li>
<li class="horizontal"><a href="/the-communities/manawan">Manawan</a></li>
<li class="horizontal"><a href="/the-communities/cacouna">Cacouna</a></li>
</h2></ol>

<div class="row">
  <div class="col-xs-12">
  <img src="pictures/the-communities/carte1.jpg" class="img-responsive center" alt=""/>
</div></div>

</div>
</body>
<% include ../partials/footer %>
