<% include ../partials/header %>
<head>
  <title>Sharing about spirituality</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>

      <div class="col-xs-8">
      <h1>SPIRIT ~ Sharing circle</h1>
      <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
        Traditionally, sharing circles were used as a format for communication, decision-making and support. Among Indigenous peoples,
        traditional teachings are passed on orally and through stories, requiring listening and observation.
        Michael Anthony Hart* declares: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
        of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
        then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.»
        Implementing this practice as a method was a way to honour Indigenous ontologies and epistemologies. </br></br>
       *<em><a href="https://fernwoodpublishing.ca/authors/view/michael-anthony-hart-kaskitemahikan" target="_blank" >Michael Anthony Hart</a>
        is an Indigenous academic from the Fisher River Cree Nation. Quote from "From Our Eyes -
      Sharing circles: Utilizing traditional practise methods for teaching, healing and supporting".</em></p>
  </div></div>

    <div class="row">
      <div class="col-xs-12">
              <img src="/pictures/language/circle.jpg" alt="" class="img-responsive"/>
        <h5>This circle features sharings from Marie Kristine Petiquay, Lisa Aubin Bérubé, Catherine Boivin, and Louise Romain Watson.</h5>
</div></div>

    <div class="row">
      <div class="col-xs-12">
    <h3>What are the values passed on by your ancestors, your Nation, and in general your culture?</h3>
  </div></div>

  <div class="row">
      <div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="245" width="220">
  </div>
            <div class="col-xs-9">
    <p><b>Catherine:</b>«I think the values that I draw from my ancestors, from my culture, that would be respect. Respect towards life, especially nature, the living, you have to respect the others and also respect yourself.
      From my point of view, we came on Earth to live something, to live an experience. Without respect, it doesn’t work.»</p>
</div></div>

  <div class="row">
  <div class="col-xs-3">
      <img src="/pictures/bubbles/lisa.png" alt="" height="245" width="220">
</div>
        <div class="col-xs-9">
          <p><b>Lisa: </b>«I have only one thing coming to mind. That would be survival. Because my ancestors left the reserve to survive, and my grandfather brought the community back together. It was for the survival of the culture, everything we lost. I think it’s something that is in my Nation. The respect as well, it’s something my grand-father passed on.
            There are several values, even if with the indigenous culture, the values are passed on from generation to generation.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«Something my grandfather always told me is to have respect for my parents, and also for my brothers and sisters. For my grandmother, it was more the preservation of the language, I don’t know if it counts as a value.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
        <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
          <div class="col-xs-9">
      <p><b>Louise: </b>«My father passed me on determination and originality. I think the determination is really nice, because it moves you forward in life and you do things properly. Regarding the originality, I was really for that when I was younger, wanting to stand out, to be different from others. My father used to say: you should not fit into the mold. And I think that’s it…
        I wanted to say the patience... But not at all, because I’m really not patient, so it doesn’t work!»</p>
</div></div>

  <div class="row">
        <div class="col-xs-12">
      <h3>What are moments or experiences which acted as rites of passage?</h3>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
      <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
    <p><b>Louise: </b>«What I mean by rites of passage, are like important transitions, which can have a spiritual dimension. Moments or changes.»</p>
    </div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«That’s a complicated question! It’s complicated because I think that a moment would be when I arrived here.
      It was really... It went well, but at the same time, I wasn’t doing so well. I knew there was something that wasn’t working. I was in a relationship with someone but we separated when I came to Kiuna. It took some time to detach myself because I was still very attached. After three years, I decided to stop thinking about him, but to think only about myself.
      So it took time. I decided to completely cut the contact. I let him do. I realized I was happy in my heart, I was being honest. It was like a liberation. I remember the sensation I had in my heart. For me, it was big, because I had reached a certain level of independence, towards my mother, my father, and the other people too.
      I’m still learning about that, I try to center on myself but also on the others. That was a rite of passage for me.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
  <div class="col-xs-9">
<p><b>Marie Kristine: </b>«We have the cultural weeks, these are weeks when you are supposed to go to the wood, to pass on the culture, that was the idea, the goal. My grand-parents always brought me in the territory, every day I put traps for hares with my grand-mother. But I would never catch a hare in my trap. Anyway, my birthday always happens on that holiday week. On the morning of my birthday, on October 14th, my grandmother and I woke up early and went to check the traps, just like we were used to. And then, there was a hare in my trap! I’m still convinced that it was my grandmother, who had woken up even earlier to put it there. But I don’t know, at that time I thought, I’m not a child anymore, I caught my own hare, I can feed myself. I’m still not convinced that I caught it...»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
    <div class="col-xs-9">
<p><b>Lisa: </b>«For me, it would be when I arrived here. I was really ignorant when I got here… I didn’t really know what I wanted to look for… I am a Maliseet and all that, but I grew up among white people. I didn’t have anything which connected me to my culture, I never knew my grandfather. When I became a woman, my aunt, who is very connected to the culture, found bird feathers on the ground. She gave it to me and named me Adouk. That was a rite of passage. But when I arrived at Kiuna, I didn’t know myself before coming here. I was in the norm, I was just with my friends, and that was what mattered. When I arrived here, I did crazy things. It helped me to open, to myself, to meet people, who then helped me to discover myself. I’m also exploring. That was my rite of passage, and at the age of 17, over a few months, I became the person that I am.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«I think it was my move to Berlin because it was... a bit like you with Kiuna I imagine. Leaving the family nest, being independent. It doesn't even matter if you have a room or an apartment, it doesn't matter what your space is, you have to tidy up, you have to take care of the laundry, cleaning all that. Starting studies that I also really enjoyed, I think… I went from studying law, where I was the only one with dreadlocks among the 10,000 students, I felt out of place at all. And then I arrived in Berlin, in a country that I didn't know much about, but studying something which I still enjoy today and I think I have found what I want to do in the next few years. And at the same time, a week after I moved to Berlin I met my husband, so that was a big time… For me, it was the most important transition period yet to this day. In such a short time. No regrets at all, having done this and having left my country since, it was the right thing to do.»</p>
</div></div>

<div class="row">
      <div class="col-xs-12">
    <h3>What are the elements of nature that are strongly spiritual to you?</h3>
  </div></div>

  <div class="row">
  <div class="col-xs-3">
    <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
  </div>
  <div class="col-xs-9">
  <p><b>Lisa: </b>«We will have to choose...»</p>
  </div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«You inspired me a bit when you talked about animals, natural elements. I'm sure we won't have chosen the same animal. An animal that has always been important to me is the wolf. Because it is my father's animal. The values ​​attached to this animal are the family, protecting their family. They are in packs, all the time together. I don't know, I didn’t really understand that question.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>«I would say animals in general. Not just one in particular... I have always had a connection with animals. My mom never wanted a dog. But I've always had an animal, a cat, or once I had a rabbit. It's not just about having them. But what does an animal mean to me? An animal does not speak. It's like he's hiding a secret from you. This is how I feel when I see an animal, it’s like he knows but he cannot share it. My favorite sport is horseback riding because you have a special connection with animals. It's not just like passing a ball, you are in a team with an animal and the horse feels what you feel. It's all happening in your body. Animals understand you best. Humans too, but animals don't judge you.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
</div>
<div class="col-xs-9">
<p><b>Catherine:</b>«I don't really have anything in mind. Because I don't know. But I would say ... anything. It could be tobacco, the smell of sap, the smell of burning sage, fire too.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«For me it's fire, I think. Seeing fire calms me down, I can concentrate, I find it beautiful too. The embers, the colors and see how it evolves. I am thinking of the fallen leaves, the autumn leaves. It’s something that comes to mind. I really like playing with dead leaves and running around in heaps, throwing them in the air. It reminds me a bit of the childish side too, not taking yourself too seriously all the time. To have fun too, to have fun with life.»</p>
</div></div>

<div class="row">
      <div class="col-xs-12">
    <h3>Do you have any healing or wellness practices in your life, or would you like to have some?</h3>
  </div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
</div>
<div class="col-xs-9">
<p><b>Catherine:</b>«I do. Sometimes, I use sage to cleanse myself. With my mother, we sometimes do that. You can do it easily. Otherwise maybe the sharing circle, it can be a good practice to deal with other people.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Lisa: </b>«For me too, it is purification. Or anything that feels good too. What I do more is drumming with my cousins ​​and my brother. It's like a way of all coming together, like creating my grandfather all over again and playing for him. It’s a way of calling for him. Also talking with my brother, my mother and my father. It always does me good.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«For me, it’s sitting in circles, a practice I've been doing for more than a year. Especially women's circles, that's what I do more of. I find that it creates a bond of solidarity, of support, it inspires me. Meditation too. Something that I try to do every day. Even just 5 minutes, it helps me to stay calm, not to get too excited about anything and to be zen. Being more patient too, something I would like to work on. Letting things come, not pushing too much, or having to organise everything and ending up frustrated when things don’t turn out as planned. But accept reality as it is. Sometimes cooking is also a wellness activity. Especially when I cook for people because I tell myself that I will give people good food and it will make them happy.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
  <div class="col-xs-9">
<p><b>Marie Kristine: </b>«I'm not going to talk about it, because if I talk about it, I going to cry.»</p>
</div></div>

<div class="row">
      <div class="col-xs-12">
    <h3>Who is the most spiritual person around you and what do they inspire you?</h3>
  </div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
    <div class="col-xs-9">
<p><b>Lisa: </b>«Louis, my brother. My brother explains various things to me. He was the one who told me to come here, and I came. I didn't pretend, I just listened to him. My brother always does things thoughtfully. He takes the time to do what needs to be done. He loves craftsmanship, I don’t know what you want me to say... he tries to connect with his culture as much as possible and share with the world. This is something very important, especially with a Nation that is destroying itself. He inspires me for the future. My brother has a lot of great things waiting for him. I can't wait to be by his side and follow him in there.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
  <div class="col-xs-9">
<p><b>Marie Kristine: </b>«Me, the most spiritual person I know is, her name is Toni Chaché. He's not my legally adopted brother, but he was adopted into the same family. Because I got to know him at La Tuque. He lived with a foster family with white people, he's a Métis. His father is a Quebecker and his mother is an Atikamekw from Opitciwan. When she passed away, he had to move in with his father. At one point, he came to my mother's house. There, he really reconnected with his culture, he started to dance traditionally, to sing. I admire him a lot for that. I remember, I was making fun of him a bit. But today I have a lot of respect and admiration for him. I'm proud of you Toni. If you read this!»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
</div>
<div class="col-xs-9">
<p><b>Catherine:</b>«Well, I don't really anyone in mind. Actually, I have my grandmother. She knows her stuff, she’s a good guide on these matters. She knows a lot of things. Taking the time to listen to her, I can get to know a lot about the spiritual level and it's simple. Otherwise my mother. I also think that therapies can be very good too.»</p>
</div></div>


<div class="row">
<div class="col-xs-3">
<img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
</div>
<div class="col-xs-9">
<p><b>Louise:</b>«I listened so deeply, that I didn't think about the question! My friend Marion. I think she's the most spiritual person I know and she makes me laugh a lot. She always has magic cards to play, or bookmarks with messages on them. There are a lot of little things that she does… It's a lot through creativity, through art, she connects to herself. She tries to find answers to her questions, to guide people.»</p>
</div></div>

    <div class="row">
      <div class="col-xs-12">
        <img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/>
      <p>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation, thus I implemented elements that were also representative of my culture and my identity.
    The questions were developped on my own, bringing together personal reflections, and inputs from readings, conversations and various events.
     </br></br>I translated the answers from French into English and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I included my voice because I find it more transparent and honest.
     The circle started with the question:  "How are you today?" and ended with a reflection on the methodology:
     "How did you find it? What would you change/improve?"
     These final thoughts from the women can be found in the anthropological notes at the very bottom.

  </br></br>«This was the third sharing circle that took place on July 5th 2016.. I had created a Facebook event a week before, where I had published the questions
to allow the participants to think about their answers. The informal discussion that happened before set the atmosphere, which I felt as relaxed and intriguing.
Due to a technical issue, I couldn't record the whole sharing on video and decided to work only with the audio file.»</br>
<u><a href="/the-researcher" target="_blank">Louise Romain Watson</u></a></p>
  </div></div>

</div>
</body>
