<% include ../partials/header %>
<head>
  <title>Sharing about spirituality</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>

      <div class="col-xs-8">
      <h1>SPIRIT ~ Sharing circle</h1>
      <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
        Traditionally, sharing circles were used as a format for communication, decision-making and support. Among Indigenous peoples,
        traditional teachings are passed on orally and through stories, requiring listening and observation.
        Michael Anthony Hart* declares: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
        of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
        then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.»
        Implementing this practice as a method was a way to honour Indigenous ontologies and epistemologies. </br></br>
       *<em><a href="https://fernwoodpublishing.ca/authors/view/michael-anthony-hart-kaskitemahikan" target="_blank" >Michael Anthony Hart</a>
        is an Indigenous academic from the Fisher River Cree Nation. Quote from "From Our Eyes -
      Sharing circles: Utilizing traditional practise methods for teaching, healing and supporting".</em></p>
  </div></div>

    <div class="row">
      <div class="col-xs-12">
              <img src="/pictures/language/circle.jpg" alt="" class="img-responsive"/>
        <h5>This circle features sharings from Marie Kristine Petiquay, Lisa Aubin Bérubé, Catherine Boivin, and Louise Romain Watson.</h5>
</div></div>

    <div class="row">
      <div class="col-xs-12">
    <h3>What are the values passed on by your ancestors, your Nation, and in general your culture?</h3>
  </div></div>

  <div class="row">
      <div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="245" width="220">
          <audio src="/audio/land/circle/cath1.mp3" controls="true"/></audio>
  </div>
            <div class="col-xs-9">
    <p><b>Catherine:</b>«I think the values that I draw from my ancestors, from my culture, that would be the respect. Respect towards life, especially nature, the living, you have to respect the others and also respect yourself.
      From my point of view, we came on Earth to live something, to live an experience. Without respect, it doesn’t work.»</p>
</div></div>

  <div class="row">
  <div class="col-xs-3">
      <img src="/pictures/bubbles/lisa.png" alt="" height="245" width="220">
</div>
        <div class="col-xs-9">
        <audio src="/audio/land/circle/lisa1.wav" controls="true"/></audio>
      <p><b>Lisa: </b>«I have only one thing coming to mind. That would be the survival. Because my ancestors left the reserve to survive, and my grand-father brought the community back together.
        It was for the survival of the culture, everything we lost. It’s something that is in my Nation I think. The respect as well, it’s something my grand-father passed on.
        There are several values, even if with the indigenous culture, the values are passed on from generation to generation.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
        <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
</div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
        <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
        <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
</div>
          <div class="col-xs-9">
      <p><b>Louise: </b>«»</p>
</div></div>

  <div class="row">
        <div class="col-xs-12">
      <h3>What are the values passed on by your ancestors, your Nation, and in general your culture?</h3>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
      <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
      <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
</div>
<div class="col-xs-9">
    <p><b>Louise: </b>«»</p>
    </div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
          <audio src="/audio/land/circle/cath1.mp3" controls="true"/></audio>
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
      <audio src="/audio/land/circle/lisa1.wav" controls="true"/></audio>
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>«»</p>
</div></div>

    <div class="row">
      <div class="col-xs-12">
        <img src="/pictures/fieldnotess.png" class="img-responsive img-left" alt="fieldnotes"/>
      <p>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation, thus I implemented elements that were also representative of my culture and my identity.
    The questions were developped on my own, bringing together personal reflections, and inputs from readings, conversations and various events.
     </br></br>I translated the answers from French into English and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I included my voice because I find it more transparent and honest.
     The circle started with the question:  "How are you today?" and ended with a reflection on the methodology:
     "How did you find it? What would you change/improve?"
     These final thoughts from the women can be found in the anthropological notes at the very bottom.

  </br></br>«This was the third sharing circle that took place on July 5th 2016.. I had created a Facebook event a week before, where I had published the questions
to allow the participants to think about their answers. The informal discussion that happened before set the atmosphere, which I felt as relaxed and intriguing.
Due to a technical issue, I couldn't record the whole sharing on video and decided to work only with the audio file.»</br>
<u><a href="/the-researcher" target="_blank">Louise Romain Watson</u></a></p>
  </div></div>

</div>
</body>
<% include partials/footer %>
