<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>

    <div class="col-xs-8">
    <h1>Sharing circles</h1>
    <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
      Traditionally, sharing circles were used as a format for communication, decision-making and support. Among indigenous peoples,
      teachings were/are passed through oral traditions, such as stories, requiring listening and observation.
      Accordingly, I consider this method as a way to honour indigenous ontologies and epistemologies, or as
      Michael Anthony Hart* puts it: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
      of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
      then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.
    </br>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation and implementing tools that represent my culture and my identity.
    For that reason, the only traditional element I maintained was a talking piece to guide the process, a sacred object
     that held special meaning to me. The questions were developped on my own, bringing together personal reflections, and
     inputs from readings, conversations and various events. I translated the answers from french into english and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I also included my voice for the sake of transparency.
     The circle started with the question: "how are you today?" and ended with a reflection on the methodology:
     "how did you find it? what would you change/improve?"
     I didn't include these final thoughts from the women, but they can be found in the anthropological notes below.
     </p>
    </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
              <img src="/pictures/art/circle.jpg" alt="" class="img-responsive"/>
        <h5> This circle features Lisa Aubin Bérubé, Catherine Boivin, Marie Kristine Petiquay and myself.
          It took place in Odanak on July 5th 2016. </h5>
</div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
    <h3>This part is still under construction...</h3>
    </div></div>

</div>
</body>
