<% include ../partials/header %>
<head>
  <title>Entrevue</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Continue à explorer ici</h3>
          <% include ../circle-opt.svg %>
      </div>
      </div>
      <div class="col-xs-8">
      <h1>SPIRITUALITÉ ~ Entrevue</h1>
<img src="/pictures/spirit/interview/michel.jpg" class="img-responsive center" alt=""/>
<a class="btn btn-default main pull-right" href="/spirit/entrevue">English</a>
<p class="caption">photo par Marie Kristine Petiquay</p>
    </div></div>

    <div class="row">
    <div class="col-xs-12">
       <h3>Michel Durand Nolett</h3>
      <p>Michel est profondément engagé dans la transmission et la diffusion des savoirs. Il partage son temps entre les
        communautés Wabanaki d'Odanak et de Wôlinak, et la participation à des conférences et ateliers au travers du Québec et du Canada.
        Les connaissances et histoires qu'il m'a partagé étaient si diverses, qu'elles sont dispersées à différents endroits de Circle of Voices:
        <u><a href="/spirit/tradition" target="_blank">ici</a></u> il m'a parlé de sa pratique avec le tambour de guérison,
        et <u><a href="/land/tradition" target="_blank">ici</a></u> de la pratique Abénakise traditionnelle du battage de frêne.
        Sa pratique spirituelle est profondément liée au territoire, comme le sont habituellement les pratiques autochtones ancestrales.
        Je l'ai aussi interviewé <u><a href="/land/entrevue" target="_blank">ici</u></a>, car il travaile comme gestionaire foncier à Odanak, et a fondé le Bureau Terre et Environment avec Luc.</p>
      </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Où et comment as tu grandit?</h3>
    <!--video clip à refaire -->
    <div class="video"><iframe src="https://www.youtube.com/embed/JsjqkGJO4DY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<p>«Je suis venu au monde ici comme je disais, à Odanak et mon père travaillait à l’extérieur,
il était cuisinier sur des pétroliers. Moi je suis né, il y avait ma mère, ma grand-mère et mon arrière grand-mère.
On restait tous dans la même maison. J’ai eu la très grande chance, d’avoir une grand-mère et une arrière grand-mère
  qui m’ont enseigné beaucoup.»</p>

  <p>«Ma grand-mère m’a enseigné beaucoup le volet plantes médicinales. J’allais chercher des plantes médicinales
    pour elle, elle me disait "j’ai besoin de telle plante", elle me la montrait.
     Mon terrain de jeu c’était la forêt alentours. Je partais et à un moment donné, je me rappelais,
      j’avais mis ça dans mes poches, je la sortais. (...) Alors je savais où il y en avait, je pouvais lui en
      chercher. C’était un jeu de trouver des plantes médicinales, pourquoi ? On savait pas
    à quoi ça servait jusqu’au jour où j’ai goûté à sa médecine...  J’ai su à quoi ça servait les plantes
    que j’allais chercher, c’était un goût à découvrir.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
    <h3>Quelle est ta place dans la communauté en terme de savoirs traditionnels?</h3>

      <p>«Sur le côté des plantes, je suis malheureusement un des seuls... Il n'y en a pas beaucoup, peut-être une
        ou deux autres personnes qui utilisent les plantes parfois. Mais pour diffuser l’information et
        diffuser le savoir traditionnel sur les plantes, je suis le seul. Je m’envoie pas de fleurs
        là, il n’y en a pas d’autres. Quand il y a un atelier sur les plantes médicinales, quand il y a une conférence
        sur les plantes médicinales, c’est moi qui va être là. Les autres personnes même si tu leur demande, ils vont
        dire: "non c’est pour nous autres, notre petite famille, ça s’arrête là." Moi j’ai eu une demande à un moment
        donné, du centre de santé, du Conseil de bande de Wôlinak, d’Odanak pour coucher sur papier
        mes connaissances traditionnelles et celles des autres aîné.e.s qui restaient encore dans la communauté, qui pouvaient
        encore le faire. J’ai accepté. C’était facile pour moi, tous les aîné.e.s, je les connaissais tous.»</p>

<!--capsule video?!-->

        <p>«Je suis venu à faire des recherches sur la médecine traditionnelle wabanakiak. Comment les Wabanakiak dans le temps, sur le territoire se soignaient,
          quelles plantes ils prenaient. Aller plus loin même sur le côté spirituel des choses. J’ai poussé plus
          sur ce côté-là. Et qu’est-ce-qui m’aidé beaucoup ? Ca a été moins long dans mes recherches car j’avais mon arrière
          grand-mère, qui elle est née en 1873. Elle est morte elle avait 100 ans. Et moi mon plaisir était de parler avec mon
          arrière grand-mère et de lui demander: "toi quand t’étais jeune, comment c’était?". La faire raconter son histoire
          quand elle était petite fille et qu’elle était en forêt avec ses parents. Là elle me racontait des choses,
          et elle me parlait de plantes aussi.»</p>

          <img src="/pictures/spirit/trad/book.jpg" class="img-responsive"</>
      </div></div>

      <div class="row">
      <div class="col-xs-4">
        <img src="/pictures/spirit/interview/book.jpg" class="img-responsive"</>
        <p class="caption">Apprends en davantage sur les plantes médicinales <u><a href="/spirit/tradition" target="_blank">ici</a></u></p>
      </div>
      <div class="col-xs-4">
        <img src="/pictures/spirit/interview/vinaigrier.JPG" class="img-responsive"</>
      </div>
            <div class="col-xs-4">
      <img src="/pictures/spirit/interview/thelab.JPG" class="img-responsive"</>
    </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Peux tu m'en dire plus sur la roue de médecine et son application pratique?</h3>
  <div class="video"><iframe src="https://www.youtube.com/embed/dOHe1yQLHlw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

  <p>«Chacun peut avoir son interprétation de la roue de médecine. La base est là pour tout le
    monde: tu diriges ta roue de médecine dans les quatre directions, nord, sud, est, ouest.
    Comme le <u><a href="/spirit/tradition" target="_blank">tambour de guérison</u></a> quand tu le construis, quand tu le mets à plat, à l’envers, c’est une
    roue de médecine portative. Les roues de médecine souvent elles vont être faites à l’extérieur, avec des pierres,
    ou ça peut être avec des branches. </br></br>
    C’est chacun qui va concevoir sa roue de médecine. Moi je suis pas uniformiste, vas-y toi avec ton cœur, ton esprit, tu fais des choses, pis ça va être correct.
    C’est comme une assiette à tartes. T’as ton assiette, et t’as ta croûte, après ça c'est à toi de
    décider ce que tu mets dedans. Si tu mets des fraises et des framboises, au lieu de mettre des pommes...
    Tu vas avoir une tarte pareil, mais ça va dépendre de ce que tu veux avoir comme tarte.»</p>
</div></div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Qu'est ce que la spiritualité pour toi, et comment la vis tu?</h3>
      <div class="video"><iframe src="https://www.youtube.com/embed/9Ta3b3kzEhU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

      <p>«J’ai été servant de messe pendant des années. Je pense que je devais avoir 5, 6 ans quand j’ai commencé,
        j’étais tout petit bonhomme. Dans la semaine, le matin de bonne heure, fallait se rendre à l’église, il y avait des
        messes tous les jours dans ce temps là. J’ai toujours bien respecté ma grand-mère dans ces croyances.
        Je l’ai suivi beaucoup à un moment donné. Puis, j’ai lâché. Je suis croyant, mais pas selon la définition
        de l’église catholique. Je crois à un être supérieur qui est un être de lumière ou un être... appele les comme tu veux là.
        </br></br>
        Les autochtones dans le temps, ils croyaient à un être supérieur, ils disaient
        le Créateur. Ils disaient pas Dieu ou Jésus, ils connaissaient pas, ils avaient pas encore cette notion là.
        Il y avait un Créateur, quelque chose qui a créé ce que tu as là. Et ils remerciaient, il y en a qui disaient
        que c'est le soleil qui a fait ça. Ils avaient pas tort, sans soleil, les plantes ne peuvent pas croître. Ils
        remerciaient le soleil pour donner la nourriture, les plantes qu’il y avait là: c’était le soleil créateur.
      </br></br>
        Mais quand on regarde ça, au bout de la ligne, on est tous des créateurs.
        C’est à toi de créer, de créer des choses, le bien-être en toi.»</p>
    </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Comment vois tu le futur des jeunes Premières Nations au Québec et au Canada?</h3>
<div class="video"><iframe src="https://www.youtube.com/embed/Y3VBkA8T1gs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  <p> «Je pense qu’il y a beaucoup de jeunes qui font leur marque aujourd’hui. Grâce à des parents qui ont été plus
    loin qu'eux-autres ont été. Dans le sens où, les jeunes aujourd’hui ont beaucoup plus de facilité à aller
    dans les écoles, les écoles supérieures, et les universités. Dans la communauté ici, c’est spécial, Odanak est la
    communauté à travers la province de Québec la plus scolarisée. Avant les autochtones, fallait pas trop les
    scolariser, fallait qu'ils restent là, en plan. D’alleurs ils ont fait les réserves par rapport à ça,
    on a été mis dans des réserves. La réserve c’est une prison. D’ailleurs c’est pour ça que, t’as remarqué depuis le
    début je parle pas de réserves, je parle de communauté. </br></br>
    Les jeunes s’impliquent énormément dans la culture. T’as remarqué ici à Odanak, t’as rencontré quelques jeunes qui sont impliqués.
    Comme Luc avec <u><a href="/land/tradition" target="_blank">le frêne noir</u></a>, l’esturgeon fumé qu’il fait. C’est la culture ça. Je suis fier de voir ça, que les
    jeunes s’impliquent dans la culture. La garder vivante. On est là, on était là, on va l’être encore demain.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Quels sont les stéréotypes et préjugés que tu aimerais ne plus entendre anymore et contre lesquels tu aimerais lutter?</h3>
  <!-- delete video "last part" upload version about stereotypes-->
<p>«Beaucoup de gens classent encore les autochtones dans une catégorie.
  Un exemple, ils voient un autochtone en état d’ébriété: "c’est tous des alcooliques !" Non. C’est encore présent
  dans bien des mentalités, de généraliser des Nations par rapport à un ou deux individus.
  C’est pas parce-que t’es autochtone et que t’es ivre, que tous les autochtones de la province du Québec c’est des
  soulons. Ca n’a aucun rapport. Quand tu connais pas quelque chose, t’en ris ou te le ridiculises.»</p>
</div></div>

<!-- FIELDNOTES MISSING
  <p>expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
   Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.
   // pareil pour l'entrevue avec Michel -> sélectionner passages prochs de la spiritualité vue au sens large:<ul>

   </p>-->

</div>
</body>
