<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h2>Keep exploring here</h2></br>
          <% include ../circle-opt.svg %>
          <h3>Curious about the other interviews?</h3>
          <ul><h5>
            <li> <a href="/land/interview">Luc Gauthier Nolett</a></li>
            <li> <a href="/language/interview">Monique Ilet Nolett</a></li>
            <li> <a href="/art/interview">Guy Sioui Durand</a></li>
            </ul></h5>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Michel Durand Nolett</h1>
      <iframe src="https://youtube.com/embed/zcJiKrPeUbc"height="360" src="" frameborder="0" allowfullscreen>
      </iframe>
      <p>... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
<!--
  <p>expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
   Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.
   // pareil pour l'entrevue avec Michel -> sélectionner passages prochs de la spiritualité vue au sens large:<ul>
     <li>Médecine traditionnelle par les plantes</li>
     <li>Symboles</li>
     <li>Roue de médecine</li></ol>
   </p>-->
