<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
      </div>
      </div>
      <div class="col-xs-8">
      <h1>Michel Durand Nolett</h1>
<img src="/pictures/spirit/interview/michel.jpg" class="img-responsive center" alt=""/>
<p class="caption">taken by Marie Kristine Petiquay</p>
      <p>Short biography... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h3>About traditional medicines among the Abenaki</h3>
      <p><b>audio</b>Mais la majorité des gens qui étaient ici c’est des nomades cueilleurs-chasseurs. Sauf plus au Sud les Mohawk qui étaient sédentaires. C’est là que tu vois les différences dans les médecines traditionnelles. Ils vont te parler des recettes. (…)
Tandis que les nomades, une semaine il est ici, l’autre semaine il est à Sherbrooke. La plante qui se trouve ici, près du fleuve, peut-être que t’en trouveras pas à Sherbrooke. Ca va être un autre, mais ça va être les deux le même effet.  </p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
  <h3>What is your place in the community in terms of traditional knowledge?</h3>
      <p>Je fais partie des aînés. J’ai eu la chance, la très grande chance, d’avoir une grand-mère et une arrière grand-mère qui m’ont enseigné beaucoup.
    On restait tous dans la même maison. Dans ce temps là c’était normal, aujourd’hui on voit beaucoup moins ça, mais les gens restaient tous ensemble, on restait tous dans la même maison. Les grands parents pis les enfants ensemble. Ca c’était une grosse chance. C’est regrettable aujourd’hui qu’on ait plus ça parce-que les aînés redonnent plus aux enfants… l’histoire, les traditions. [00:59] Et moi ma grand-mère m’a enseigné beaucoup le volet plantes médicinales. J’allais chercher des plantes médicinales pour elle, j’aimais beaucoup ma grand-mère. Je l’aime encore même si elle est plus là, ça fait plusieurs années. C’est ça, elle me disait ‘j’ai besoin de telle plante’’, elle me la montrait. Elle connaissait pas le nom souvent ou elle donnait des noms où ça n’avait aucun rapport et elle me disait ‘‘ben regarde, ça faut que t’en trouves’’. Parce-que mon terrain de jeu c’était la forêt alentours, la rue awassos que tu vois aujourd’hui c’était pas ça là, il y a avait trois maisons… et c’est ce tout ce qu’il y avait. Le reste c’était du bois, de la forêt puis c’était mon terrain de jeu. Faq je partais pis à un moment donné, ah je me rappelais, j’avais mis ça dans mes poches, je le sortais, c’est cette plante là ? Je l’apportais : ‘’-c’est celle là que tu veux ? -Oui’’. Alors je savais où il y en avait, je pouvais lui en chercher. Même qu’avec mes amis je m’en suis fait un jeu, avec quelques uns de mes amis c’était le premier qui en trouverait. On va chercher une plante et qui est le premier qui va en trouver. C’était un jeu de trouver des plantes médicinales, pourquoi ? On savait pas à quoi ça servait jusqu’au jour où j’ai goûté à sa médecine…  J’ai su à quoi ça servait les plantes que j’allais chercher, c’était un goût à découvrir. [02 :31] C’est bon, pas pour le goût mais tu vas guérir plus vite avec ça. Faq j’ai appris un peu de même. Un peu plus tard, j’ai fait mes études en foresterie. Comme forestier, on apprend les plantes. Et je suis venu à faire des rercherches sur la médecine traditionnelle wabanakiak. Comment les wabanakiak dans le temps, sur le territoire se soignaient, quelles plantes qui prenaient, ainsi de suite. Aller plus loin même sur le côté spirituel des choses. J’ai poussé plus sur ce côté-là. Et qu’est-ce-qui m’aidé beaucoup ? Ca a été moins long dans mes recherches aussi car j’avais mon arrière grand-mère, qui elle est née en 1873. Elle est morte elle avait 100 ans. Et moi mon plaisir était de parler avec mon arrière grand-mère et de lui demander: ‘’toi quand t’étais jeune, comment c’était?’’. La faire raconter son histoire quand elle était tout petite fille et qu’elle était en forêt avec ses parents. Faq là elle me racontait des choses, pis elle me parlait de plantes aussi. </p>

<p><b>txt</b>Sur le côté des plantes, je suis malheureusement un des seuls là… Il ny en a pas beaucoup, peut-être une ou deux autres personnes qui utilisent les plantes parfois un petit peu mais pour diffuser l’information et diffuser le savoir traditionnel sur les plantes, je suis à peu près, je suis le seul. Je m’envoie pas de fleurs là, il n’y en a pas d’autres. Quand il y a un atelier sur les plantes médicinales, quand il y a une conférence sur les plantes médicinales, c’est moi qui va être là.</p>
</div></div>


<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
  <h3>What is spirituality for you, how do you live it?</h3>
  <p>«Qu’est-ce-qui arrive sur ce côté-là, ça a été le le volet religion, qui est rentré beaucoup en ligne de compte avec les années. Ma grand-mère est une femme qui était extrêmement pieuse, religieuse. Elle, fallait qu’elle aille à la messe tous les jours. Faq moi fallait que je la suive.  J’ai servi la messe pendant des années, des années. Je pense que je devais avoir 10 ans quand j’ai commencé, j’étais tout petit bonhomme. Dans la semaine, le matin de bonne heure, fallait se rendre à l’église, tous les jours. Il y avait des messes tous les jours dans ce temps là. On s’entend que ça fait déjà qulques années de ça là. Moi j’ai toujours bien respecté ma grand-mère dans ces croyances. Moi aussi, je l’ai suivi beaucoup à u moment donné. Puis à un moment donné, j’ai lâché. Je suis croyant, mais pas selon la définition comme de l’église catholique si on veut. Je crois à un être supérieur [46 :26] qui est un être de lumière ou un être… appele les comme tu veux là. Si on va das le monda, ts Bouddha, t’as Jésus. Il y en a, il y en a des noms, on pourrait écrire un livre juste sur les noms. Mais a revient tout le temps à un, à une chose : un être supérieur que tu peux croire. [46:52] Les autochtones dans le temps, ils croyaient à un être supérieur, au Créateur, qu’ils nommaient, ils disaient le Créateur. Ils disaient pas Dieu ou Jésus, ils connaissaient pas, ils avaient pas encore cette notion là. Il y avait un Créateur, quelque chose qui a créé ce que t’as là. Et ils remerciaient, il y en a qui disaient que le soleil a fait ça. Ils avaient pas tort, pas de soleil, les plantes peuvent pas croître. Faq ils remerciaient le soleil pour donner la nourriture, les plantes qu’il y avait là : c’était le soleil créateur. Ainsi de suite, il y avait beaucoup de choses de même, c’était tout le temps par rapport à un créateur quelconque. Moi c’est un peu ça aussi, c’est un peu dans ce sens là, que je continue à cheminer dans mes croyances. Avec la possibilité d’un être supérieur, de quelque chose de supérieur à moi, qui créé des choses. Mais quand on regarde ça au bout de la ligne, on est tous des créateurs. [48:11] Quand on regarde la religion catholique, c’est une [phrase] que je connais le plus qui el dit clairement : Et Dieu créa l’homme à son image. C’est de même que c’est écrit dans la Bible, c’est aps moi qui a inventé ça là, j’ai pas dit ça aujourd’hui. Si on regarde ça, ben oui pourquoi pas. C’est à toi de créer, de créer des choses, le bien-être en toi.»</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
  <h3>Could you tell me more about the Medicine Wheel and its pratical application?</h3>
  <p>«La roue de médecine c’est comme le tambour de guérison. Chacun peut avoir son interprétation de la roue de médecine. Premièrement c’est ça. La base est là pour tout le monde, il vont tous te dire la même affaire. Tu dis la roue de médecine dans les quatre directions, nord, sud, est, ouest. Comme le tambour de uérison quand tu le construis, si tu le mets à l’envers, c’est une roué de médecine.  T’as les quatres directions et t’as les quatre cycles de vie : l’enfant, l’adolescent, l’adulte et l’aîné, les couleurs par rapport au nord, au sud, à l’est et à l’ouest. Tout est là, dans ton tambour de guérison et quand tu le mets à plat, à l’envers, c’est une roue de médecine portative. Les roues de médecine souvent elles vont être faites à l’extérieur, avec des pierres, ou ça peut être avec des branches. C’est chacun qui va concevoir sa roue de médecine. Moi j’en ai une dans mon jardin. J’ai les quatre, dirigé au quatre coins cardinaux. Avec des quartz à chacun point cardinau, du silice. C’est très, très énergétique. Et dans la roue de médecine, des plantes médicinales. Parce-que moi je me sers beaucoup de plantes médicinales. (...)</br>/br>
    Moi le mien c’est ça, l’anneau, plus la peau, mais j’ai dessiné un ours sur la peau. Parce-que l’ours c’est l‘animal de guérison en forêt. J’ai mis des plumes alentours, quatre plumes, des plumes de grand héron. Le héron s’est l’oiseau de la guérison spirituelle. C’est pas des affaires que tu mets : ‘’ allons bon, on va mettre des billes, on va mettre ci, tsé on va décorer ça un sapin de Noël’’… Non, non ! Faut que tu y ailles ae  quelque chose qui signifie quelques chose. (...)</br></br>Il y en a qui vont dire : ‘’ah non, non la roue de médecine, c’est de même qu’il faut que fasses ça, faut que tu mettes le ici, faut que tu fasses, ci, faut que tu fasses ça… Non, non. Moi je suis pas uniformiste. Regarde, vas-y toi avec ton cœur, ton esprit. Tu fais des choses pis ça va être correct. [59 :24] Tu peux demander de l’aide à d’autres alentours, qui ont la connaissance pour savoir, faut tu que je mettes ça, les points cardinaux. Ca c’est un incontournable, le nord, le sud, l’est et l’ouest.»</p>
<h5>C’est comme une assiette à tartes. T’as ton assiette, pis t’as ta croûte, après ça t’as décidé ce que tu mets dedans. SI tu mets des fraises et framboises, au lieu de mettre des pommes… Tsé c’est ça là, tu vas avoir une tarte pareil, mais ça va dépendre de ce que tu veux avoir comme tarte. La roue de médecine c’est la même chose, le tambour de médecine c’est la même chose.</h5>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
  <h3>How do you envision the future of young First Nations in QUebec and Canada?</h3>
  <p> «Les Premières Nations c’est pas le Québec, c’est l’Amérique au complet, esl Amériques au complet. On est tous de la même souche des Premières Nations. On s’est donné des noms différents dans le temps, pour être cpables de se reconnaître sur le territoire. Je pense qu’avec les juenes, il y a beaucoup de jeunes qui font leur marque aujourd’hui. Grâce à des parents qui ont été plus loin que eux-autres ont été. Dans le sens où, les jeunes aujourd’hui ils ont beaucoup plus de faciliter à aller dans les écoles, les écoles supérieures. Dans la communauté ici, c’est spécial. Odanak, je ne sais pas si t’en as entendu parler, on est la communauté à travers la province de Québec la plus scolarisée.
-Ah ouai. Ici à Odanak, des gens avec des baccalauréats, des matrîses et des doctorats, c’est pas rare.»(...)</br></br>
Avant les autochtones, fallait pas trop les scolariser, ils restent là en clans. D’alleurs ils ont fait les résveres par rapport à ça. La réserve c’est une prison. D’ailleurs c’est pour ça que, t’as remarqué depuis le début je parle aps de réserves, je parle de commaunauté. J’aime pas le mot réserve, on est obligés encore d’utilier ‘réserve’ quand j’écrit des rapports, je suis obligé de marquer ‘réserve’. Parce-que ça l’a été enregistré au ministère comme ça. Eux-autres là-bas, ils comprennent pas si tu mets autre chose que ‘réserve’. [01:05:35]. Les jeunes s’impliquent énormément dans la culture. T’as remarqué ici à Odanak. T’as rencontré quelques jeunes qui sont impliqués. Comme Luc avec le frêne noir, l’esturgeon fumé qu’il fait. C’est la culture ça. Pis je suis fier de voir ça, que les jeunes s’impliquent dans la culture. La garder vivante. On est là, on était là, on va l’être encore demain.</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
  <h3>What are the stereotypes and prejudices which you can't stand anymore and would like to fight against?</h3>
<p>«Les stéréotypes c’est ça, les gens sont encore, beaucoup de gens qui classent les autochtones dans une catégorie. Un exemple, ils voient un autochtone en état d’ébriété : ‘’c’est tous des alcooliques !’’ Non. C’est encore présent dans ben des mentalités, de ben des gens.De voir de généraliser des Nations par rapport à un ou deux individus. C’est pas parce-que t’es autochtone et que t’es ivre, que tous les autochtones de la province du Québec c’st des soulons. Ca n’a aucun rapport.Quand tu connais pas quelque chose, t’en ris ou te le ridiculises. Les gens ne connaissent pas les autochones qu’est-qu’ils font ?
</br>- Ils en rient ou ils les ridiculisent… Espérons que ça change.
»</p>
</div></div>
<!--
  <p>expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
   Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.
   // pareil pour l'entrevue avec Michel -> sélectionner passages prochs de la spiritualité vue au sens large:<ul>
     <li>Médecine traditionnelle par les plantes</li>
     <li>Symboles</li>
     <li>Roue de médecine</li></ol>
   </p>-->

</div>
</body>
