<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">

  <p>expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
   Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.
   // pareil pour l'entrevue avec Michel -> sélectionner passages prochs de la spiritualité vue au sens large:<ul>
     <li>Médecine traditionnelle par les plantes</li>
     <li>Symboles</li>
     <li>Roue de médecine</li></ol>
   </p>

</div>
</body>
