<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <h4 class="wheeltitle"> Découvrir la langue au travers de...</h4>
<h1> Photographies </h1>
<div class="row">
<div class="col-xs-12">
<h5> Ces photos ont été prises dans le cadre d'ateliers de photographie participative à partir de la méthode PhotoVoice</h5>
<p> J'ai décidé de mélanger les territoires et les photographes afin de créer une impression d'ensemble des terres parcourues.
Contrairement aux pages présentant sur <a href="/the-communities">les communautés</a>, ici seont uniquement présentées les
photos prises par <a href="/the-women">ces jeunes</a> dans le cadre des ateliers. Les légendes en dessous des photographies
informent sur: l'auteur, le lieu, la saison. Parfois, elles sont accompagnées d'un commentaire, d'une histoire ou d'une
explication fournie par la photographe.
Le choix de l'ordre et du classement a été saisi sur un ordre chronologique.</p>
</div></div>
<!-- ROW 1-->
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/1.jpg"><img src="/pictures/spirit/photo/1.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br></br>
«J'ai choisit le feu car à l’époque, il représentait la vie. Sans feu, tu peux pas te réchauffer, ni faire à manger.
Pour les remercier les esprits, on faisait brûler des objets ou des plantes, comme de la sauge.
C’est un élément rassembleur, on se réunissait autour du feu notamment pour les histoires, la tranmission orale.»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/2.jpg"><img src="/pictures/spirit/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, 13.08.2016</br></br>
«Ma soeur Wapi est partie en canot avec d'autres jeunes, accompagnés d'aîné(e)s des trois communautés. Ils ont
traversé une bonne partie du territoire atikamekw. Ca c'est leur arrivée à Manawan. Il y avait beaucoup d'émotions,
avec ma famille on était vraiment fiers d'elle.»<</p></div>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/spirit/photo/3.jpg"><img src="/pictures/spirit/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, 13.08.2016</br></br>
  «Ma soeur a beaucoup cheminé pendant cette expédition là, elle a mûri. Ca permettait de voir toute l'étendue de leur
  territoire, à la base c'était pour ça»</p>
</div></div>
<!-- ROW 2
<div class="row">
  <div class="col-xs-4 gallery">
    <a target="_blank" href="/pictures/spirit/photo/4.jpg"><img src="/pictures/spirit/photo/4.jpg" class="img-responsive center"/></a>
    <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</p>
  «...»</div>
  <!--
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/5.jpg"</a>
<img src="/pictures/spirit/photo/5.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/6.jpg"</a>
<img src="/pictures/spirit/photo/6.jpg" class="img-responsive center"/>
  <div class="desc"> ...</div>
</div></div>
<!-- ROW 3
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/7.jpg"</a>
<img src="/pictures/spirit/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/8.jpg"</a>
<img src="/pictures/spirit/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/spirit/photo/8.jpg"</a>
<img src="/pictures/spirit/photo/8.jpg" class="img-responsive center"/>
  <div class="desc"> ...</div>
</div></div>
-->
</div>
</body>
