<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
  <h3>Keep exploring here</h3>
      <% include ../circle-opt.svg %>
</div>
</div>
<div class="col-xs-8">
<h1>Photographs </h1>
<h3> All the pictures presented here were taken by some of <a href="/the-women"><u>the women</u></a> at the center of the project.</h3>
      <p>Photography belongs to the traditional methods of visual anthropology and for decades, it has been seen
      as an objective way to record and reveal the reality. The anthropologist would document the culture and its people
      from his/her own eye and disregard the inherent subjectivity, along with the power structures.
       For this project, I was strongly inspired by the guidelines of <a href="/www.photovoice.org"><u>PhotoVoice</u></a>, a participatory action research (PAR) method.
       It seeks to bring positive social change in marginalised and minority communities by providing photographic training. Seeing it through their lense, we might better
       understand how they perceive spirituality and its importance for their identity. </br></br>

      «Ethnographers should be interested in how informants use the content of the images as vessels in which to invest meanings and through which to produce and represent their knowledge, self-identities, experiences and emotions.»*
      The photographs were collected on the ground (during the fieldwork) and online (via a Facebook group).
      The comments were mostly formed during the review process, which happened half a year after my stay.
    </br></br>
      A more detailed account of the whole process and its collaborative dimension can be found in the anthropological notes at the bottom of the page.
</br>
  <em>* Sarah Pink, Doing Visual Ethnography</em></p>
  <h5> These pictures were taken by <a href="the-women/Marie-Christine-Petiquay" target="_blank"><u>Marie Kristine Petiquay</u></a> and <a href="the-women/Raphaelle-Obomsawin" target="_blank"><u>Raphaelle Obomsawin</u></a></h5>
</div></div>
<!-- ROW 1-->
<div class="row">
  <div class="col-xs-4">
  </div>

<div class="col-xs-5 gallery">
  <a target="_blank" href="/pictures/spirit/photo/1.jpg"><img src="/pictures/spirit/photo/1.jpg" class="img-responsive right"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, July 2016</br></br>
«I choose the fire because back at the time, it represented life. Without fire, you can't stay warm nor cook food.
To thank the spirits, we burned objects or plants, such as sage. It is a unifying element, we gathered
around the fire for the telling of stories, the oral transmission.»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>

<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/spirit/photo/2.jpg"><img src="/pictures/spirit/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, August 2016</br></br>
«My sister Wapi went on a canoe trip with other youths from the three atikamekw communities and they were
 accompanied by elders. They crossed a vast part of the atikamekw territory. That's their arrival in Manawan.
 It was a very emotional moment, my family and I were really proud of her.»</p>
</div></div>

<!-- ROW 2-->

<div class="row">
    <div class="col-xs-4">
      </div>
<div class="col-xs-8 gallery">
<a target="_blank" href="/pictures/spirit/photo/3.jpg"><img src="/pictures/spirit/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, August 2016</br></br>
  «My sister grew a lot during this expedition, she matured. It allowed to see the whole scope of the territory,
  that was the initial reason of the trip.»</p>
</div></div>

</div>
</body>
