<% include ../partials/header %>
<head>
  <title>Spiritual visions</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
  <h3>Keep exploring here</h3>
      <% include ../circle-opt.svg %>
</div>
</div>
<div class="col-xs-8">
  <h1>SPIRIT ~ Photographs</h1>
  <p>Photography belongs to the traditional methods of visual anthropology and for decades, it was seen
  as an objective way to record and reveal reality. Anthropologists used to document a culture and its people, and disregard the inherent subjectivity, along with the power structures.
  </br>Nowadays, introspection and reflective methodologies are important aspects of research.
For this project, I was strongly inspired by the guidelines of <a href="http://www.photovoice.org/" target="_blank"><u>PhotoVoice</u></a>, a participatory action research (PAR) method.
   It seeks to bring positive social change in marginalised communities and minorities by providing photographic training. Seeing the world directly through the lense of <a href="/the-women"><u>these women</u></a>, I hope to better
   understand how they perceive spirituality and its importance for the development of their identities.
</div></div>

  <!-- ROW 1-->
  <div class="row">
    <h5> These pictures were taken by <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a> and <a href="/the-women/Raphaelle-Obomsawin" target="_blank"><u>Raphaelle Obomsawin</u></a></h5>
    <div class="col-xs-6 gallery">  <a target="_blank" href="/pictures/spirit/photo/1.jpg"><img src="/pictures/spirit/photo/1.jpg" class="img-responsive pull right"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, July 2016</br></br>
«I choose the fire because back at the time, it represented life. Without fire, you can't stay warm nor cook food.
To thank the spirits, we burned objects or plants, such as sage. It is a unifying element, we gathered
around the fire for the telling of stories, the oral transmission.»</p>
</div></div>

<div class="row">
<div class="col-xs-12 gallery">
  <a target="_blank" href="/pictures/spirit/photo/2.jpg"><img src="/pictures/spirit/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, August 2016</br></br>
«My sister Wapi went on a canoe trip with other youths from the three atikamekw communities and they were
 accompanied by elders. They crossed a vast part of the atikamekw territory. That's their arrival in Manawan.
 It was a very emotional moment, my family and I were really proud of her.»</p>
</div></div>

<!-- ROW 2-->

<div class="row">
<div class="col-xs-12 gallery">
<a target="_blank" href="/pictures/spirit/photo/3.jpg"><img src="/pictures/spirit/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Tapiskwan Sipi, August 2016</br></br>
  «My sister grew a lot during this expedition, she matured. It allowed to see the whole scope of the territory,
  that was the initial reason of the trip.»</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
    <h3> <img src="/pictures/fieldnotess.png" class="img-responsive pull-left" alt="fieldnotes"/>Photography sessions ~ how it all began</h3>
  <p>The photography sessions marked the tangible start of the project with <a href="/the-women" target="_blank"><u>the women</u></a>.
     One evening, I sat down with all of them at the bar where <u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica</u></a> worked,
     and I presented the idea of taking pictures together, using the guidelines of PhotoVoice. We listed several
     topics, and I asked them to pick a theme in which they were most interested. I informed myself about their visual
     cultures, how photography was used in their families, and I learned about their skills and curiosity for this medium of expression and representation.
     Two of them had previous experiences and were eager to practice their passion as part of the project.
    The three others had never manipulated a professional camera, and among them, only one was curious to try it out.
    We organized several photography sessions during the summer with all the women interested and available, either in small groups or just with me.
    At the beginning, I would give them my camera, and explain the settings. Each woman decided which representations of spirituality they wanted to share. Later on, I borrowed a camera, so that we could take pictures together.
    Marie Kristine even bought her own camera, which highly supported the production of photographs and the development of her artistic practice (see her <u><a href="https://mkpetiquay.wixsite.com/mkphotography" target="_blank">website</u></a> here).
    Finally, the photographs were collected during the initial fieldwork as well as online, posted on a private Facebook group.
     For the comments, I came back half a year after my first stay in 2016, and sat down with them individually. By then, I had begun to program the website, so we could do
    the review process in-situ, meaning select the photographs they wanted to display, and add comments, date and place directly in the code.</br></br>

    The work of the visual anthropologist Sarah Pink inspired me greatly because of her ethics and her methodologies. She writes:
     «Ethnographers should be interested in how informants use the content of the images as vessels in which to invest meanings and
      through which to produce and represent their knowledge, self-identities, experiences and emotions.»*</br>
    The photography sessions combined my own experience and practice of facilitating photography with youths, as well as theoretical and practical
      insights from visual anthropology and the participatory action research Photovoice. I saw it as a way to build connection
      with the women (by spending time together doing something we enjoy), to foster their exploration and creativity with digital technology,
      and to co-produce an online space where their perceptions can unfold.
      </br></br>
      <em>*<u><a href="https://digital-ethnography.com/team/sarah-pink/" target="_blank">Sarah Pink</u></a> is a Professor of Design and Media Ethnography in Melbourne, Australia - Doing Visual Ethnography</em></p>
      <h3>Are you interested in collaborative methodologies, visual/media anthropology and digital tools ? You can access my bachelor thesis <u><a href="/the-research" target="_blank" class="align-right">here</u></a>.</h3>

</div></div>


</div>
</body>
