<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Sound recordings</h1>
    <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
      enabled me to record moments of cultural expression, listening to the steps on the ground, the bells...
      I wish these recordings to bring an intimate insight into the atikamekw, wolastok and abenakis cultures,
      adding a layer of perception into the diversity of celebrations and identities of these Nations.
      These sounds were recorded by Louise Watson in the summer of 2016.</p>
</br></br>
<h3> Pow wow sounds 1</h3>
    <audio src="/audio/spirit/powwow1.mp3" controls="true"/></audio>
    <p>About pow wow: pow wow were forbidden until...</br></br>
    What is a pow wow? From Ivanie's interview.</p>
      <audio src="/audio/interview/iva2.mp3" controls="true"/></audio>
  </div>
  <div class="col-xs-4">
    <h3> Pow wow sounds 2</h3>
    <audio src="/audio/spirit/powwow2.mp3" controls="true"/></audio>
    <p>...</p>
  </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>

  <div class="col-xs-8">
      <h3>Jingle dress</h3>
      <audio src="/audio/spirit/powwow3.mp3" controls="true"/></audio>
      <p>...</p>
    </div></div>

  <div class="row">
      <div class="col-xs-4">
      </div>
  <div class="col-xs-4">
      <h3>Fire and drum</h3>
      <audio src="/audio/spirit/fire-and-drum.mp3" controls="true"/></audio>
      <p>recorded at Odanak, the night of the pow-wow</p>
    </div>
    <div class="col-xs-4">
      <h3>Words from a Maliseet elder: Red Hawk Eagle</h3>
      <audio src="/audio/spirit/elder.mp3" controls="true"/></audio>
      <p>Take a deep breath now... And with every breath of air, we breathe in the life of the Great Spirit.
      In 1963 at the first pow-wow, I renounced catholicism. I excommuniate mysef or whatever.
    We are Indians, we are Skipians. In the first place, our planet is called Skip Kanup.  </p>
    </div></div>

</div>
</body>
