<% include ../partials/header %>
<head>
  <title>Ceremonial sounds</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>SPIRIT ~ Sound recordings</h1>
    <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
      enabled me to record moments of cultural expression, listening to the beats of the drum merging with the steps on the ground.
      I wish these recordings to bring an intimate insight into the Atikamekw, Wolastok and Abenaki cultures,
      adding a layer of perception into the diversity of celebrations and identities of these Nations.</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>Sounds of a traditional pow-wow </h3>
</div></div>
<div class="row">
  <div class="col-xs-4">
    Drummers <audio src="/audio/spirit/drummers.mp3" controls="true"/>Beats</audio>
    </div>

      <div class="col-xs-4">
  Jingle dancers<audio src="/audio/spirit/jingle.mp3" controls="true"/></audio>
  </div>
  <div class="col-xs-4">
  Closing the night <audio src="/audio/spirit/fire_and_drum.mp3" controls="true"/></audio>
</div> </div>


    <div class="row">
      <div class="col-xs-12">
      <p> <img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/>
            These sounds were recorded by Louise Watson in the summer of 2016.
    </br>Traditionally, only men were allowed to play the drums..
        The drummers and singing groups invited to Odanak</u></a> were: Aw8ssisak Akik, Aln8bak, Eastern singers, Buffalo Hat singers, Moosetown, and Black Hawk singers.
        The sound of the jingle dancers is a very distinctive one at a pow-wow. They have their own time and space to showcase their practice.
      The first night of the pow-wow in Odanak, a huge ceremonial fire was lit. All generations gathered and shared songs and a precious moment of togetherness.</p>
</div></div>
</div>
</body>
