<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">

  <h4 class="wheeltitle">Ecouter le territoire au travers d'...</h4>
  <h1> Enregistrements sonores</h1>
  <div class="row">
    <h5> Pow wow sounds </h5>
    <div class="col-xs-4">
      <h4>Jingle dress</h4>
      <audio src="/audio/spirit/powwow1.mp3" controls="true"/></audio>
      <p></p>
    </div>
    <div class="col-xs-4">
      <h4>...</h4>
      <audio src="/audio/spirit/powwow2.mp3" controls="true"/></audio>
      <p></p>
    </div>
    <div class="col-xs-4">
      <h4>...</h4>
      <audio src="/audio/spirit/powwow3.mp3" controls="true"/></audio>
      <p></p>
    </div></div>

  <div class="row">
  <div class="col-xs-6">
      <h4>Fire and drum</h4>
      <audio src="/audio/spirit/fire-and-drum.mp3" controls="true"/></audio>
      <p>taken at Odanak, the night of the pow-wow</p>
    </div>
    <div class="col-xs-6">
      <h4>Words from a Maliseet elder: Red Hawk Eagle</h4>
      <audio src="/audio/spirit/elder.mp3" controls="true"/></audio>
      <p>Take a deep breath now... And with every breath of air, we breathe in the life of the Great Spirit.
      In 1963 at the first pow-wow, I renounced catholicism. I excommuniate mysef or whatever.
    We are Indians, we are Skipians. In the first place, our planet is called Skip Kanup.  </p>
    </div></div>

</div>
</body>
