<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Sound recordings</h1>
    <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
      enabled me to record moments of cultural expression, listening to the beats of the drum merging with the steps on the ground.
      I wish these recordings to bring an intimate insight into the Atikamekw, Wolastok and Abenaki cultures,
      adding a layer of perception into the diversity of celebrations and identities of these Nations.
      These sounds were recorded by Louise Watson in the summer of 2016.</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
<h3>Sounds of a traditional pow-wow </h3>
    <audio src="/audio/spirit/drummers.mp3" controls="true"/></audio>
    <audio src="/audio/spirit/drummers2.mp3" controls="true"/></audio>
    <p>Men singing and drumming at the pow-wow of Odanak</p></br>

    <audio src="/audio/spirit/jingle.mp3" controls="true"/></audio>
    <p>The sound of the jingle dancers is a very distinctive one at a pow-wow.</p>
  </div>

  <div class="row">
    <div class="col-xs-4">
    </div>

  <div class="col-xs-8">
    <h3>Ivanie Aubin Malo shares about the different pow-wow</h3>
    <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
    <audio src="/audio/entrevues/iva2.mp3" controls="true"/></audio>[original in French]
      <p>«The pow-wows are Indigenous gatherings, though it’s also open to non-Indigenous. Yes exactly, non-Indigenous people are welcome. There are competitive and traditional pow-wows. In the competitive pow-wows, the dancers and the drummers have numbers, and in the traditional pow-wows, they don’t. That’s the main difference. Competitive, some people win, traditional ones there are no winners, everyone wins. In the pow-wows, there is crafting, food, traditional songs and dances. There is also contemporary dance. Fancy shawl counts among the contemporary dances, but contemporary doesn’t mean new from this year. It means new from 1920.»</p>
      </div></div>

  <div class="row">
      <div class="col-xs-4">
      </div>

  <div class="col-xs-8">
      <h3>Fire and drum</h3>
      <audio src="/audio/spirit/fire_and_drum.mp3" controls="true"/></audio>
      <p>The first night of the pow-wow in Odanak, a huge ceremonial fire as lit. All generations gathered and shared songs and a precious moment of togetherness.</p>
    </div>
    <!--
    <div class="col-xs-4">
      <h3>Words from a Maliseet elder: Red Hawk Eagle</h3>
      <audio src="/audio/spirit/elder.mp3" controls="true"/></audio>
      <p>Take a deep breath now... And with every breath of air, we breathe in the life of the Great Spirit.
      In 1963 at the first pow-wow, I renounced catholicism. I excommuniate mysef or whatever.
    We are Indians, we are Skipians. In the first place, our planet is called Skip Kanup.  </p>-->
    </div>

</div>
</body>
