<% include ../partials/header %>
<head>
  <title>SPIRIT</title>
</head>

<body>
<div class="container">
  <div class="row">
<h1>Revitalizing the connection to the <strong>spirituality</strong></h1>
<p>.................................</p>
<ul>Exlore the land through...
  <li>Sound recordings</li>
  <li>Photographs from the participatory workshops</li>
  <li>Biographical interview</li>
  <li>A traditional practice: ash pounding</li>
  <li>Stories from the sharing circle</li>
</ul>

  </div>

</div>
</body>
