<% include ../partials/header %>
<head>
  <title>Spiritual tradition: celebration</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>SPIRIT ~ Traditional practices</h1>
      <img src="/pictures/spirit/trad/powwow-odanak.jpg" class="img-responsive"/>
      <p class="caption">Pow-wow Odanak, July 2016</p>
    </div>
    <p>Pow-wows are celebrations of Indigenous dances, music, foods, and crafts.
      They merge ceremonial and social elements, and represent a time and space to foster cultural pride, to enrich traditional heritage, and to celebrate resilience and healing.
      It's also an opportunity for cross-cultural sharing, including all Nations (Indigenous and non-Indigenous) and generations.
       In Canada, the 1876 Indian Act obstructed the celebration of powwows by restricting Indigenous peoples’
       right to conduct cultural and spiritual ceremonies and wear traditional outfits. Read more about the history of pow-wow <u><a href="https://www.encyclopediecanadienne.ca/en/article/history-of-powwows" target="_blank">here</u></a>. </p>
    </div>

 <div class="row">
  <div class="col-xs-4">
  <h3>First part: Dancing</h3>
  <img src="/pictures/spirit/trad/ivanie.jpg" class="img-responsive"/>
  </div>
  <div class="col-xs-4">
  <h3>Second part: Drumming</h3>
  <img src="/pictures/spirit/trad/drum.jpg" class="img-responsive"/>
  </div>
  <div class="col-xs-4">
  <h3>Third part: Healing</h3>
    <img src="/pictures/spirit/trad/cedre1.jpg" class="img-responsive"/>
  </div></div>

      <div class="row">
    <div class="col-xs-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VpQ40Zlx5kw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div></div>

      <div class="row">
        <h3>Two kinds of pow-wow</h3>
    <div class="col-xs-4">
        <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273"><p>Ivanie Aubin Malo</p>
      </div>
            <div class="col-xs-8">
              <audio src="/audio/entrevues/iva2.mp3" controls="true"/></audio>[original recording in French]
        <p>«The pow-wows are Indigenous gatherings, but it’s also open to non-Indigenous. Yes, non-Indigenous people are welcome. There are competitive and traditional pow-wows. In the competitive pow-wows, the dancers and the drummers have numbers, and in the traditional pow-wows, they don’t. That’s the main difference. Competitive, some people win, traditional ones there are no winners, everyone wins. In the pow-wows, there is crafting, food, traditional songs and dances. There is also contemporary dance. Fancy shawl counts among the contemporary dances, but contemporary doesn’t mean new from this year. It means new from 1920.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>The example of Wendake</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MLVBymchjzk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p><u><a href="/art/interview" target="_blank">Guy</u></a> explains what makes the site of the pow-wow in Wendake particular. Wendake is the only community of the Huron-Wendat Nation.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>The power of the drums</h3>
  <!-- video Madawaska pow wow link from sound -->
  <iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/238219266" webkitAllowFullScreen width="640"></iframe>
  <p>This video was recorded by Louise Watson at the pow-wow of Odanak, in July 2016.</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h2>For now, this part is only available in French</h2>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>La pratique du tambour de guérison de Michel Durand Nolett</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cncDQU_S3dw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

<h3>Qu'est-ce-que le tambour de guérison et comment travailles tu avec ?</h3>
<p>«Moi mon tambour, je lui ai donné un nom. Je l’appelle psychologue-psychiatre parce-que c’est la même affaire au bout de la ligne. On utilise le tambour de guérison pour quoi ? Pour travailler notre pshychisme, pour travailler sur l’esprit. Pis quand on va le monter, on va mettre tous nos états d’âmes dans le tambour. Comme on va faire avec un psychologue, un psychiatre. Avec le pschologue, le psychiatre il va te faire parler. Au bout de la ligne, tu avs lui donner toutes les solution, toutes les réponses pis il va te les répéter. C’est à peu près ça. Si tu prends le tambour, tu vas te mettre en dessous d’un arbre pis tu vas, en dessous d’un arbre que t’affectiones tout particulèrement, tu t’assoies là et tu prends ton tambour et tu lui fais du léger avec. Tu réfléchis, tu médites : ‘’qu’est-ce-que je fais ? Où je m’en va avec ça ? Comment ça’’ Et les réponses viennent, arrivent à un moment donné. Ah ouai, si je fais telle affaire. Ok t’as consulté ton psychologue, ton psychiatre et il t’a donné la réponse par la méditation la tranquilité. C’est sûr que tu fais pas ça que le bord du trottoir, t’es mieux d’aller en forêt, de te choisir un arbre, de t’assoir à côté. Tout ça aussi, l’énergie de l’arbre l’énergie du sol, ça a t’aider à prendre des décisions beaucoup plus éclairées.»</p>
      <!--<img src="/pictures/bubbles/michel.png" alt=""height="285" width="256">-->
</div></div>


<div class="row">
<div class="col-xs-12">
  <h3>À quoi ressemble ton tambour de guérison?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/392EmdR459s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Moi le mien c’est ça, l’anneau, plus la peau, mais j’ai dessiné un ours sur la peau. Parce-que l’ours c’est l‘animal de guérison en forêt. J’ai mis des plumes alentours,
    quatre plumes, des plumes de grand héron. Le héron s’est l’oiseau de la guérison spirituelle. C’est pas des affaires que tu mets : ‘’ allons bon, on va mettre des billes,
    on va mettre ci, tsé on va décorer ça un sapin de Noël...’’ Non, non ! Faut que tu y ailles avec quelque chose qui signifie quelque chose. (...)
    <!--</br></br>Il y en a qui vont dire : ‘’ah non, non la roue de médecine, c’est de même qu’il faut que fasses ça,
    faut que tu mettes le ici, faut que tu fasses, ci, faut que tu fasses ça… Non, non. Moi je suis pas uniformiste.
    Regarde, vas-y toi avec ton cœur, ton esprit. Tu fais des choses pis ça va être correct. [59 :24]
    Tu peux demander de l’aide à d’autres alentours, qui ont la connaissance pour savoir, faut tu que je mettes ça,
    les points cardinaux. Ca c’est un incontournable, le nord, le sud, l’est et l’ouest.-->»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Travailler avec des enfants</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yDXwDRTm_dM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«Quand je travaille avec les enfants, avec mes petits-enfants surtout c’est avec eux que je travaillé le plus. Les autres je suis moins porté à le faire. C’est facile avec le tambou de guérison, de voir l’état d’âme d’un enfant, d’un petit, que lui n’a pas encore la notion de Dieu, de toutes sortes de choses de même. Tu lui donnes le tambour de guérison ps tu vois la réaction qu’il va avoir avec. Ou tu laisses trainer ton tambour de guérison pour voir comment il va s’en servir et tu le vois faire, tu le laisses aller. La façon qu’il va le prendre la façon qu’il va l’utiliser, tu vas être capable immédiatement pour faire quelque chose avec.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
    <h3>Ancestral recipes</h3>
    <img src="/pictures/spirit/trad/mira-alexis.jpg" class="img-responsive"/>
  <p class="caption">Mira Fréchette and Alexis Wawanolett at the pow-wow of Wôlinak, summer 2016</p>
</div></div>

<div class="row">
  <h3>Sumac Vinaigrier ~ Zal8nakawn / Zalônakwam</h3>
<div class="col-xs-5">
  <img src="/pictures/spirit/trad/sumac1.jpg" class="img-responsive"/>
  <p class="caption">Recipe by Mira Fréchette and Alexis Wawanolett</p>
</div>
<div class="col-xs-7">
  <h5>As an infusion or a syrup, it can be used to treat a cold and coughing.</br>
    Its red tannin can be used as a dye.</br>
    In kitchens, it can substitute lemon. It's also a refreshing lemonade in the summer.</h5>
</div></div>

<div class="row">
  <h3>White cedar ~ K8sk / Môlôgadw</h3>
<div class="col-xs-5">
  <img src="/pictures/spirit/trad/cedre.jpg" class="img-responsive"/>
  <p class="caption">Recipe by Mira Fréchette and Alexis Wawanolett</p>
</div>
<div class="col-xs-7">
  <h5>One of the four sacred plants in the medicine wheel.</h5>
</div></div>

<div class="row">
  <h3>Plantain ~ 8wdibagol</h3>
<div class="col-xs-5">
  <img src="/pictures/spirit/trad/plantain.jpg" class="img-responsive"/>
  <p class="caption">Recipe by Mira Fréchette and Alexis Wawanolett</p>
</div>
<div class="col-xs-7">
  <h5>It helps soothe any insect bite (mosquito, wasp) or eczema.</br>
  It also calms heartburns and some inflammations.</h5>
</div></div>

<div class="row">
  <h3>Molène ~ Mahah8dowi adam8</h3>
<div class="col-xs-5">
  <img src="/pictures/spirit/trad/molene.jpg" class="img-responsive"/>
  <p class="caption">Recipe by Mira Fréchette and Alexis Wawanolett</p>
</div>
<div class="col-xs-7">
  <h5>With the roots, the Abenaki used to make tooth necklaces for babies.</h5>
</div></div>

<div class="row">
  <h3>Chou gras</h3>
<div class="col-xs-5">
  <img src="/pictures/spirit/trad/chougras.jpg" class="img-responsive"/>
  <p class="caption">Recipe by Mira Fréchette and Alexis Wawanolett</p>
</div>
<div class="col-xs-7">
  <h5></h5>
</div></div>


</div>
</body>
