<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h2>Keep exploring here</h2></br>
          <% include ../circle-opt.svg %>
          <h3>Curious about the other traditional pratices?</h3>
          <ul><h5>
            <li> <a href="/land/trad">Ash pounding</a></li>
            <li> <a href="/language/trad">Storytelling</a></li>
            <li> <a href="/art/trad">Basket weaving</a></li>
          </ul></h5>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Celebrating</h1>
      <p>... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <img src="/pictures/spirit/trad/drum.jpg" class="img-responsive"/>
    <p>Collective drums at pow-wow of Odanak</p>
<p> expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
  Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.</p>
<ol>
<li>pow wow</li>
<li>prière de Monique Nollet Ille</li>
<li>symbole spirituel: la roue de médecine</li>
<li> objet cérémoniel: le tambour de guérison</li>
</ol>
<p> Clip vidéo entrevue Michel Durand Nolett</p>

</div></div>

</div>
</body>
