<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <h1 class="wheel title">Perpétuer la spiritualité au travers de... </h1>
<h1>Pratiques traditionelles: la célébration et la prière</h1>
<p> expliquer les difficultés particulières d'assister à des cérémonies et encore plus de les filmer/enregeistrer!
  Choix de pratiques pas uniquement spirituelles, aussi connectées à la langue et à l'art.
  //<ol>
<li>pow wow</li>
<li>prière de Monique Nollet Ille</li>
<li>symbole spirituel: la roue de médecine
<p> Clip vidéo entrevue Michel Durand Nolett</p></li>
<li>e</ol>
  <li> objet cérémoniel: le tambour de guérison
    <p> Clip vidéo entrevue Michel Durand Nolett</p>/li>
</p>

</div>
</body>
