<% include ../partials/header %>
<head>
  <title>Spiritual tradition: celebration</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Celebrating together</h1>
      <p>On this page, you will learn about a celebration common to many First Nations: the pow-wow.
        These gatherings were forbidden until 1970.  </p>
      <img src="/pictures/spirit/trad/drum.jpg" class="img-responsive"/>
      <p class="caption">Traditional drum, pow-wow Odanak, July 2016, by Louise Romain Watson</p>
    </div></div>


      <div class="row">
    <div class="col-xs-12">
        <h3>Ivanie Aubin Malo shares about the different kinds of pow-wow</h3>
        <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
        <audio src="/audio/entrevues/iva2.mp3" controls="true"/></audio>[original recording in French]
          <p>«The pow-wows are Indigenous gatherings, but it’s also open to non-Indigenous. Yes, non-Indigenous people are welcome. There are competitive and traditional pow-wows. In the competitive pow-wows, the dancers and the drummers have numbers, and in the traditional pow-wows, they don’t. That’s the main difference. Competitive, some people win, traditional ones there are no winners, everyone wins. In the pow-wows, there is crafting, food, traditional songs and dances. There is also contemporary dance. Fancy shawl counts among the contemporary dances, but contemporary doesn’t mean new from this year. It means new from 1920.»</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VpQ40Zlx5kw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div></div>

    <div class="row">
  <div class="col-xs-12">
  <h3>The power of the drums</h3>
  <!-- video Madawaska pow wow link from sound -->
  <iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/238219266" webkitAllowFullScreen width="640"></iframe>
  <p>This video was recorded by Louise Watson at the pow-wow of Odanak, in July 2016.</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What is the healing drum and how do you work with it?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cncDQU_S3dw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Moi mon tambour, je lui ai donné un nom. Je l’appelle psychologue-psychiatre parce-que c’est la même affaire au bout de la ligne. On utilise le tambour de guérison pour quoi ? Pour travailler notre pshychisme, pour travailler sur l’esprit. Pis quand on va le monter, on va mettre tous nos états d’âmes dans le tambour. Comme on va faire avec un psychologue, un psychiatre. Avec le pschologue, le psychiatre il va te faire parler. Au bout de la ligne, tu avs lui donner toutes les solution, toutes les réponses pis il va te les répéter. C’est à peu près ça. Si tu prends le tambour, tu vas te mettre en dessous d’un arbre pis tu vas, en dessous d’un arbre que t’affectiones tout particulèrement, tu t’assoies là et tu prends ton tambour et tu lui fais du léger avec. Tu réfléchis, tu médites : ‘’qu’est-ce-que je fais ? Où je m’en va avec ça ? Comment ça’’ Et les réponses viennent, arrivent à un moment donné. Ah ouai, si je fais telle affaire. Ok t’as consulté ton psychologue, ton psychiatre et il t’a donné la réponse par la méditation la tranquilité. C’est sûr que tu fais pas ça que le bord du trottoir, t’es mieux d’aller en forêt, de te choisir un arbre, de t’assoir à côté. Tout ça aussi, l’énergie de l’arbre l’énergie du sol, ça a t’aider à prendre des décisions beaucoup plus éclairées.»</p>
      <!--<img src="/pictures/bubbles/michel.png" alt=""height="285" width="256">-->
</div></div>


<div class="row">
<div class="col-xs-12">
  <h3>What is your healing drum like?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/392EmdR459s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Moi le mien c’est ça, l’anneau, plus la peau, mais j’ai dessiné un ours sur la peau. Parce-que l’ours c’est l‘animal de guérison en forêt. J’ai mis des plumes alentours, quatre plumes, des plumes de grand héron. Le héron s’est l’oiseau de la guérison spirituelle. C’est pas des affaires que tu mets : ‘’ allons bon, on va mettre des billes, on va mettre ci, tsé on va décorer ça un sapin de Noël...’’ Non, non ! Faut que tu y ailles avec quelque chose qui signifie quelque chose. (...)<!--</br></br>Il y en a qui vont dire : ‘’ah non, non la roue de médecine, c’est de même qu’il faut que fasses ça, faut que tu mettes le ici, faut que tu fasses, ci, faut que tu fasses ça… Non, non. Moi je suis pas uniformiste. Regarde, vas-y toi avec ton cœur, ton esprit. Tu fais des choses pis ça va être correct. [59 :24] Tu peux demander de l’aide à d’autres alentours, qui ont la connaissance pour savoir, faut tu que je mettes ça, les points cardinaux. Ca c’est un incontournable, le nord, le sud, l’est et l’ouest.-->»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Working with children</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yDXwDRTm_dM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«Quand je travaille avec les enfants, avec mes petits-enfants surtout c’est avec eux que je travaillé le plus. Les autres je suis moins porté à le faire. C’est facile avec le tambou de guérison, de voir l’état d’âme d’un enfant, d’un petit, que lui n’a pas encore la notion de Dieu, de toutes sortes de choses de même. Tu lui donnes le tambour de guérison ps tu vois la réaction qu’il va avoir avec. Ou tu laisses trainer ton tambour de guérison pour voir comment il va s’en servir et tu le vois faire, tu le laisses aller. La façon qu’il va le prendre la façon qu’il va l’utiliser, tu vas être capable immédiatement pour faire quelque chose avec.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3> Reading of an Abenaki prayer by <u><a href="/language/interview" target="_blank">Monique Nolett Ille</u></a></h3>
  <iframe src="https://www.youtube.com/embed/NV6MpZDUjZw" width="640" height="360" frameborder="0" allowfullscreen>
  </iframe>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>Aln8baî Aîamih8mek</h3>
<p> Kchi Niwaskw, kizi nodamna lal8mow8gan kzel8menek, tbestawi!</br>
Askwa ndaw8ssiwi ta npiwssessi, nd'achwaldam wijokamw8gan ta sasaginnow8gan.</br>
Ntawakol chiba tbestak klal8mow8gan; nsizekol askamiwi namitoak toji wskiwligek nakilh8d kizos; neljial wlilawatoak kdakina.</br>
K'nadodmol wji milian waw8damw8gan wji kizi n'kinamotlhowa kkawajow8gan nijiak;</br>
llagidamw8gan k8ttlezid al8miwi wanibagok ta nagwiwi senek.</br>
Kchi Niwaskw, k'nadodmol wji kizi mlikigia, nda wji paami waw8damoa ndaki nijiak, kanwa wji kawhowa nkadonalgoakw niatta.</br>
Ni chiga ma8wi adoji machinaa, n'kiziji wanaskol wlidbimiwi.</p>
</br>
<h3>La prière d'un indien</h3>
<p>Ô Grand Esprit, dont la voix se fait entendre dans le vent et qui d'un souffle anime tout l'univers, écoute-moi! </br>
Je suis un de tes enfants, petit et faible, j'ai besoin de ton aide et de ta sagesse.</br>
Que mes oreilles soient attentives à ta voix; que mes yeux contemplent à jamais la splendeur d'un soleil couchant;
que mes mains respectent ta création.</br>
Rends-moi sage, afin que j'apprenne ce que tu as enseigné à mon peuple; la leçon cachée en chaque feuille et sous chaque rocher.</br>
Je demande la force, non  d'être supérieur à mes frères, mais de combattre mon pire ennemi, moi-même.</br>
Fais que je sois toujours prêt à venir à toi les mains sans taches, le regard limpide. Quand ma vie s'éteindra comme un soleil
couchant, je veux que mon âme puisse aller vers toi en toute confiance.</p>
</div></div>

</div>
</body>
