<% include ../partials/header %>
<head>
  <title>Tradition spirituelle: célébration</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Continue à explorer ici</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Spiritualité ~ Pratiques traditionnelles</h1>
      <img src="/pictures/spirit/trad/powwow-odanak.jpg" class="img-responsive"/>
      <a class="btn btn-default main pull-right" href="/spirit/trad">English</a>
      <p class="caption">Pow-wow d'Odanak, Juillet 2016</p></br></br>
    </div>
    <p>Les pow-wows sont des célébrations de danses, de musiques, de nourriture, et d'artisanats autochtones.
      Ils combinent des éléments cérémoniaux et sociaux, et constituent un moment particulier pour cultiver la fierté culturelle, pour enrichir l'héritage traditionnel et pour célébrer la résilience et la guérison.
      C'est aussi une opportunité de partage entre différentes cultures, ouvertes à toutes les communautés(autochtones et non-autochtones) et les générations.
       Au Canada, la Loi sur les Indiens de 1876 Indian Act interdisait la célébration de pow-wows en restreignant les droits des peuples autochtones
       de meber leurs cérémonies spirituelles et culturelles et de porter leur habits traditionnels. Pour plus d'information sur l'histoire des pow-wows <u><a href="https://www.encyclopediecanadienne.ca/en/article/history-of-powwows" target="_blank">par ici</u></a>. </p>
    </div>

 <div class="row">
  <div class="col-xs-6">
  <h3>Première section: Danses</h3>
  <img src="/pictures/spirit/trad/ivanie.jpg" class="img-responsive"/>
  </div>
  <div class="col-xs-6">
  <h3>Seconde section: Tambours</h3>
  <img src="/pictures/spirit/trad/drum.jpg" class="img-responsive"/>
  </div></div>

      <div class="row">
    <div class="col-xs-12">
      <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/VpQ40Zlx5kw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
  </div></div>

      <div class="row">
        <h3>Deux sortes de pow-wow</h3>
    <div class="col-xs-4">

        <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
        <audio src="/audio/entrevues/iva2.mp3" controls="true"/></audio>
      </div>
            <div class="col-xs-8">

        <p>Ivanie Aubin Malo: </br>«Les pow-wows sont des rassemblement autochtones, mais c'est aussi ouvert aux non-autochtones. Oui les non-autochtones sont bienvenus. Il y a les pow-wows compétitifs et traditionnels.
          Dans les pow-wows compétitifs, les danseurs et les joueurs de tambours ont des numéros, et dans les pow-wows traditionnels ils n'en n'ont pas.
          C'est la grande différence. Compétitif, certaines personnes gagnent, dans les traditionnels il n'y a pas de gagant, tout le monde est gagnant!
           Dans les pow-wows, il y a de l'artisanat, de la nourriture, des chants et des danses traditionnelles. Il y aussi de la danse contemporaine. La danse fancy shawl compte parmi les danses contemporaines...
           mais contemporain ne veut pas dire nouveau de cette année. C'est nouveau de 1920!»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>L'example de Wendake</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/MLVBymchjzk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  <p><u><a href="/art/interview" target="_blank">Guy</u></a> explique ce qui rend le site du pow-wow de Wendake particulier. Wendake est la seule communauté de la Nation Huron-Wendate.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Le pouvoir des tambours</h3>
  <!-- video Madawaska pow wow link from sound -->
  <div class="video"><iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/238219266" webkitAllowFullScreen width="640"></iframe></div>
  <p>Pow-wow d'Odanak, Juillet 2016 (vidéo par Louise).</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Le tambour de guérison</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/cncDQU_S3dw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>

<h3>Qu'est-ce-que le tambour de guérison et comment travailles tu avec ?</h3>
<p>«Moi mon tambour, je lui ai donné un nom. Je l’appelle psychologue-psychiatre parce-que c’est la même affaire
  au bout de la ligne. On utilise le tambour de guérison pour travailler notre psychisme, pour
  travailler sur l’esprit. Avec le pschologue, le psychiatre, il va te faire parler. (...)
  Si tu prends le tambour, tu vas te mettre en dessous d’un arbre que t’affectiones
  tout particulèrement, et tu lui fais du léger avec. Tu réfléchis, tu médites et les réponses arrivent à un
  moment donné. T’as consulté ton psychologue, ton psychiatre et il t’a donné la réponse par la méditation la
  tranquilité. L’énergie de l’arbre l’énergie du sol, ça a t’aider à prendre des décisions beaucoup plus éclairées.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>À quoi ressemble ton tambour de guérison?</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/392EmdR459s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
  <p>«Le mien c’est l’anneau, plus la peau, mais j’ai dessiné un ours sur la peau. Parce-que l’ours c’est
    l‘animal de guérison en forêt. J’ai mis des plumes alentours, quatre plumes de grand héron.
    Le héron c’est l’oiseau de la guérison spirituelle. C’est pas des affaires que tu mets "allons bon, on va
    mettre des billes, on va décorer ça en sapin de Noël". Non, non! Faut que tu y ailles avec quelque chose
    qui signifie quelque chose.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Comment travailles tu avec les enfants et le tambour?</h3>
<div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/yDXwDRTm_dM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
<p>«Quand je travaille avec les enfants, avec mes petits-enfants c’est avec eux que j'ai travaillé le plus,
  c’est facile avec le tambour de guérison de voir l’état d’âme d’un enfant, d’un petit. Tu lui donnes le tambour
  de guérison et tu vois la réaction qu’il va avoir avec. Ou tu laisses trainer ton tambour de guérison pour qu'il
  puisse s'en servir, et tu le laisses aller. La façon qu'il va le prendre, la façon qu’il va l’utiliser,
  tu vas être capable immédiatement de l'interpeller et de faire quelque chose avec.»</p>
</div></div>

</div>
</body>
