<% include ../partials/header %>
<head>
  <title>Spiritual tradition: celebration</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>SPIRIT ~ Traditional practices</h1>
      <img src="/pictures/spirit/trad/powwow-odanak.jpg" class="img-responsive"/>
      <a class="btn btn-default main pull-right" href="/spirit/tradition">Français</a>
      <p class="caption">Pow-wow Odanak, July 2016</p></br></br>
    </div>
    <p>Pow-wows are celebrations of Indigenous dances, music, foods, and crafts.
      They merge ceremonial and social elements, and represent a time and space to foster cultural pride, to enrich traditional heritage, and to celebrate resilience and healing.
      It's also an opportunity for cross-cultural sharing, including all Nations (Indigenous and non-Indigenous) and generations.
       In Canada, the 1876 Indian Act obstructed the celebration of powwows by restricting Indigenous peoples’
       right to conduct cultural and spiritual ceremonies and wear traditional outfits. Read more about the history of pow-wow <u><a href="https://www.encyclopediecanadienne.ca/en/article/history-of-powwows" target="_blank">here</u></a>. </p>
    </div>

 <div class="row">
  <div class="col-xs-6">
  <h3>First part: Dancing</h3>
  <img src="/pictures/spirit/trad/ivanie.jpg" class="img-responsive"/>
  </div>
  <div class="col-xs-6">
  <h3>Second part: Drumming</h3>
  <img src="/pictures/spirit/trad/drum.jpg" class="img-responsive"/>
  </div></div>

      <div class="row">
    <div class="col-xs-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VpQ40Zlx5kw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div></div>

      <div class="row">
        <h3>Two kinds of pow-wow</h3>
    <div class="col-xs-4">
        <img src="/pictures/bubbles/iva.png" alt="" height="298" width="273">
<p class="record">[French recording]</p><audio src="/audio/entrevues/iva2.mp3" controls="true"/></audio>
      </div>
            <div class="col-xs-8">
                      <p>Ivanie Aubin Malo</br>«The pow-wows are Indigenous gatherings, but it’s also open to non-Indigenous.
          Yes, non-Indigenous people are welcome. There are competitive and traditional pow-wows.
          In the competitive pow-wows, the dancers and the drummers have numbers, and in the traditional pow-wows, they don’t.
          That’s the main difference. Competitive, some people win, traditional ones there are no winners, everyone wins. In the pow-wows, there is crafting, food, traditional songs and dances. There is also contemporary dance. Fancy shawl counts among the contemporary dances, but contemporary doesn’t mean new from this year. It means new from 1920.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>The example of Wendake</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/MLVBymchjzk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  <p><u><a href="/art/interview" target="_blank">Guy</u></a> explains what makes the site of the pow-wow in Wendake particular. Wendake is the only community of the Huron-Wendat Nation.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>The power of the drums</h3>
  <!-- video Madawaska pow wow link from sound -->
  <div class="video"><iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/238219266" webkitAllowFullScreen width="640"></iframe></div>
  <p>Pow-wow of Odanak, July 2016 (video by Louise).</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>The healing drum</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/cncDQU_S3dw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>

<h3>What is the healing drum and how do you work with it?</h3>
<p>«I gave a name to my drum. I call him a psychologist-psychiatrist because it's the same thing at the end of the line. We use the healing drum to work our psyche, to work on the mind. With the psychologist, the psychiatrist, he'll make you talk. (...)  If you take the drum, go under a tree that you love, and you gently drum with it... you think, you meditate and the answers come at some point. You consulted your psychologist, your psychiatrist and he gave you the answer through meditation, the tranquility. The energy of the tree, the energy of the soil, it has to help you make much more informed decisions.»</p>
</div></div>


<div class="row">
<div class="col-xs-12">
  <h3>What does your healing drum look like?</h3>
  <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/392EmdR459s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
  <p>«Mine is the ring plus the skin, but I drew a bear on the skin. Because the bear is the healing animal in the forest. I put feathers around, four great blue heron feathers. The heron is the bird of spiritual healing. You do not put random things like "let's put marbles, and decorate it like a Christmas tree. "No, no! You have to go with something which means something.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you work with the children and the drum?</h3>
<div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/yDXwDRTm_dM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
<p>«When I work with children, especially with my grandchildren because it is with them that I have worked the most, it is easy to see the state of mind of a child with the healing drum. You give him the healing drum and you see the reaction he is going to have with it. Or you let your healing drum nearby for the child to use, and you let the child do. The way he is going to take it, the way he is going to use it, you are going to be able to immediately challenge him and do something with it.»</p>
</div></div>
</div>
</body>
