<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
          </div>
    </div>
    <div class="col-xs-8">
    <h1>Sharing circles</h1>
    <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
      Traditionally, sharing circles were used as a format for communication, decision-making and support. Among indigenous peoples,
      teachings were/are passed through oral traditions, such as stories, requiring listening and observation.
      Accordingly, I consider this method as a way to honour indigenous ontologies and epistemologies, or as
      Michael Anthony Hart* puts it: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
      of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
      then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.
    </br>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation and implementing tools that represent my culture and my identity.
    For that reason, the only traditional element I maintained was a talking piece to guide the process, a sacred object
     that held special meaning to me. The questions were developped on my own, bringing together personal reflections, and
     inputs from readings, conversations and various events. I translated the answers from french into english and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I also included my voice for the sake of transparency.
     The circle started with the question: "how are you today?" and ended with a reflection on the methodology:
     "how did you find it? what would you change/improve?"
     I didn't include these final thoughts from the women, but they can be found in the anthropological notes below.
     </p>
    </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
              <img src="/pictures/language/circle.jpg" alt="" class="img-responsive"/>
        <h5> This circle features Lisa Aubin Bérubé, Catherine Boivin, Marie Kristine Petiquay and myself.
          It took place in Odanak on July 5th 2016. </h5>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h2>What is the connection you have with your language?</h2>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/cath1.wav" controls="true"/></audio>
    <p><b>Catherine:</b> Depuis que j’habite ici, c’est sûr que je parle pas tout le temps atikamewk, je suis encore en train de parler en français là d’ailleurs.Mettons que quand je vais à Wemo, ça prend du temps avant de repartir. Justement je disais ça tantôt à Lisa, des fois on dirait que j’ai un accent. Mais dès que je parle, quand je commence à parler avec ma mère, ça revient naturel, je me rends compte que la langue quand même c’est ancré en moi. Mais faut que je continue à apprendre, à le parler. Pis je vois l’importance. Parce-que je perds souvent des mots, j’en perds beaucoup. Faq c’est ça, ma connexion avec ma langue est un peu effritée mais pas mal présente</p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>Moi l’autre jour, il y a quelqu’un qui m’a dit que quand je parlais atikamekw je sonnais comme une non-auochtone ayant appris la langue, plus tard. Ca m’a fait piqué un peu. Elle ‘a dit que je chialais comme une blanche dan le fond, qui parlait la langue comme les prêtres. Ben pas comme les prêtres.</p>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath1.wav" controls="true"/></audio>
    <p><b>Catherine:</b> Priests aren't like that...</p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>En tout cas, le fait qu’on m’ai dit ça, je me suis rendue compte que je suis vraiment en train de la perdre ma langue. Je sonne même plus comme un ‘native speaker’. Ca m’attriste beaucoup. </p>

        <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
      <p><b>Louise:</b> J’ai pas grand-chose à dire sur le sujet mais je veux juste dire que c’était l’avis de une personne, pis c’est que l’avis de une personne. Je pense le plus important c’est ta famille, pis tes ami.e.s, que t’arrives encore à communiquer avec eux. Mais après c’est clair que ça se perd quand tu la pratiques pas mais… c’est tout. </p>

      <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/cath1.wav" controls="true"/></audio>
      <p><b>Catherine:</b> C’est comme moi quand je te dis que j’ai un accent dès que je parle en atikamekw. Parce-que t’as, dans le fond t’as l’habitude d’^tre en ville et on parle en français. Quand on parle en français, le mouvement de nos bouches mettons, on parle pas de la même façon. Dès qu’on parle en atikamekw, c’est sûr qu’on a un accent. Mais dès que tu parles avec ta famille, c’est différent. Parce-que tu avs mieux… plus tu vas le reparler, plus tu vas t’ancrer, ça va mieux se passer. La personne avait tort. Elle savait pas de quoi elle parlait. </p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/lisa1.wav" controls="true"/></audio>
        <p><b>Lisa:</b> I don't have anything to say. </p>
</div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h2> How do you think the language contributes to the construction of your self, of your identity?</h2>

      <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
      <p><b>Catherine:</b> Ben moi je dirais que l’atikamekw ça a quand même, c’est quand même une très belle langue. Quand tu la décortiques, quand tu prends le temps de déchiffer chaque mot, t trouves un sens encore plus profond de ce que tu veux dire. C’est tellement logique dans le fond je me dis que l’identité face à ça c’est que par exemple. Le mot nocimic, ça m’a marqué. La définition nocimic, ça veut dire forêt mais quand tu décortiques le mot, nocim c’est comme pour dire d’où je viens. Donc nous les autochtones, on vient de la forêt, quand on dit ça, on dit ‘là d’où je viens’. Ca a plus de profondeur on dirait. Quand tu te rattaches à ça, quand tu prends le temps, on dirait que ça te fait réaliser que t’as quelque chose de très riche en toi. </p>

      <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
      <p><b>Marie Kristine:</b>Ben là vous allez dire, on dirait que je dis juste des affaires négatives aujourd’hui mais une autre affaire qui me frustre, que j’entends souvent. Que j’entend moins souvent ces jours-ci mais je l’ai quand même entendu souvent. Tsé les gens qui disent que les autochtones qui parlent plus leur langue, c’est plus des vrais. Ca me fait chier, prce-que j’ai pu en cotôyer des gens qui parlaient plus leur langue. Et c’est pas vrai pentoute, tu vois bien que leur culture est encore bien vivante, même si ils parlent plus. Je suis pas d’accord avec eux dans le fond, avec ces gens-là, qui savent pas de quoi ils parlent.</p>

      <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
      <p><b>Catherine:</b> Ben je trouve que t’as raison. Parce-que c’est vrai que, on dirait qu’on va mettre la langue dans l’identité. Oui il y a sûrement une part d’identité là-dedans, mais d’un côté pour ceux qui parlent plus leur langue, eux vont chercher ils vont quand même avoir cette identité là d’autochtone, de leur Nation. Je pense que, comme MK dit, c’est différent aujourd’hui parce-que justement on en a connu des non-autochtones, ben des autochtones je suis vraiment méchante, je em suis juste trompée dans mes mots [10 :08]. On a plus à die ça, que c’est important la langue mais pas au point tel que ça fait partie de l’identité tellement parce-que ça peut être autre chose vraiment. </p>

      <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
      <p><b>Lisa:</b>La langue c’est la seule chose qui manque pour être proche de mon identité. Selon moi, la langue, la manière que tu parles c’est la manière que tu vas le voir. Avec tous les gens que je connais, autochtones ils parlent tous des langues différentes mais à leur manière. C’est comme plus beau que le français ! C’est descriptif, c’est quelqu chose qui est poétique. On dit que le français c’est poétique là ça l’est pas. Ca l’est pas tant que ça. Selon moi la langue c’est ça. C’est une nouvelle manière, ben c’est pas une nouvelle c’est une vieille, une vieille manière de voir le monde et de le décrire. </p>

      <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/lou2.wav" controls="true"/></audio>
      <p><b>Louise:</b>Ce que j’aime dans le… Par exemple quand je déménage en Allemagne et je parle allemand, c’est le fait de développer une autre identité. En tout cas, quand tu changes de pays et que tu changes aussi de langue, c’est comme les gens connaissent absoluement ps ton passé pis tu peux comme complètment reconstruire ton passé. Ca se ressent aussi dans la langue, parce-que par exemple le français que je parle quand je suis chez nous c’est beaucoup plus ghetto, is c’ets beaucoup plus du français de banlieue, j’ai aps envie de parler le beau français, c’était plus pour l’école. Mais quand je suis en Allemagne, vraiment le bon allemand, être bien comprise par les gens. Même au sein d’une langue, tu pex avoir diférents niveaux de parler. Je trouve c’est le fun. </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h2> What should be done, what would be the measures to take to revitalize languages, yours or other languages? Or examples already happening...</h2>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath3.wav" controls="true"/></audio>
    <p><b>Catherine:</b> Ben chez nous la langue est enseignée jusqu’à la troisième année du primaire. Les cours sont enseignés en langue atikamewkw, donc je pense c’est une bonne manière de préserver la langue parce-que les enfants il faut qu’ils apprenent de cette façon je pense. Pour reviatliser les langues partout en fait c’est, il faudrait que ça s’enseigne justement, pour ceux qui veulent. Parce-qu’il y en a, j’en connais pleins, j’en connais une maintenant qui voudrit l’apprendre. C’est bon pour eux et il y en peut-être qui prennent pas conscience. Peu-être qu’ils veulent apprendre mais ils savent pas encore. </p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>Chez nous aussi c’est comme ça. Les cours se donnent en atikamekw jusqu’en troisième année mais en plus, je em rappèle au secondaire. On avait des cours d’atikamekw qui étaient donnés aussi par un linguiste, c’était un linguiste atikamekw. Puis là en y pensant, je me rends compte que les gens dans ce cours-là, ils prenaient pas trop le cours au sérieux, mais ils auraient du. Parce-que le cours se donne plus maintenant, ben pas au secondaire en tout cas. Ils ont comme cancellé le projet.</p>

    <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
    <p><b>Lisa:</b>De ce que je vois, je pense que la première langue qui devrait être apprise dans les écoles c’est la langue autochtone, et après le français ou l’anglais. Mais c’est vraiment plus important que les gens apprenent. Comme je l’ai dit tntôt c’est comme ça qu’ils voient le monde, qu’ils apprenent. J’aurai aimé ça, avoir ça. Ou juste comme… Ma Nation envoie souvent des lexiques, mais il y a aucun cours qui se donne chez nous. </p>

    <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
    <p><b>Louise:</b>J’ai vu ça c’était je me disais c’est clair dans les écoles, c’est clair que dans les écoles c’est la meilleure façon pour les jeunes générations. Mais je me dis avec les nouvelles technologies aussi  toutes les possibilités d’Internet, c’est dommage que ce soit pas plus employé aussi. Justement parce-que les langues autochtones c’est des langues orales. Ca fait plus de sens d’utiliser la technologie avec ça. Je me demande s’il y a beaucoup de projects avec ça… </p>

</div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h2> What is a word you like in your language, either for its meaning or for the way it is pronounced, or the way you learned it?</h2>

    <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
    <p><b>Lisa:</b>Je connais pas beaucoup de mots… [18:43] Mais je dirais dans ma langue, ce serait oduk parce-que c’est mon nom. C’est la première chose qui m’a vraiment été donné de malécite dans ma vie. Faq que je suis fière de l’avoir.</p>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Catherine:</b> That's so cute! My little deer.</p>

    <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
    <p><b>Lisa:</b> I like also konoronhkwa. It means I love you in mohawk.</p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>Moi je pense je l’ai déjà mentionné dans un autre cercle auparavant. Un mot que j’aime particulièrement c’est odehimin. First parce-que les fraises c’est mon fruit préféré. Dehimin c’est une fraise. Aussi parce-que dans odhimin, t’as le mot odehi. Dans le fond c’est le mot pour le cœur, qui veut dire cœur et après il y a le suffix ‘de’.</p>

    <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
    <p><b>Louise:</b>A heart berry...</p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>C’est très poétique je trouve [20 :29] Je trouve ma langue c’est de même, comme ce que disais Catherine tantôt avec nocimik. </P>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h2>How is the language connected to the land?</h2>

      <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
      <p><b>Louise:</b>C’est quelque chose que j’ai beaucoup beaucoup entendu quand je suis allée voir des aînées à Montréal ou dans d’autres places ils disaient comme [21:18] maringoins [21:32] ils disaient comme que c’était lié au territoire et je me demande si c’est quelque chose qui fait sens pour vous et si c’est aussi lié aux pratiques traditionnelles et aux pratiques spirituelles. </p>

      <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
      <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
      <p><b>Marie Kristine:</b>Je sais que dans les trois communautés atikamekw, oui on parle tou les même langue mais pas tout ç fait. Tsé il y a certains gens qui vont dire  un mot pour décrire une chose, d’autres qui ont dire une autre chose. L’exemple qui me vient en tête c’est ‘anogozach’ pis ‘anizomuch’. anogozach’ c’est chez vous ça ? </p>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Catherine:</b> Yes.</p>

    <img src="/pictures/bubbles/mk.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Marie Kristine:</b>Pis anizomuch c’est chez nous. Ca veut dire écureuil. Plus t’es éloigné aussi des grandes villes urbaines, plus l’accent est fort… Mieux elle est parlée aussi je dirais… Je pense aux gens d’Opitciwan, genre des fois même moi je les comprends pas. </p>

    <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
    <p><b>Lisa:</b> What was the question again?</p>

    <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lou1.wav" controls="true"/></audio>
    <p><b>Louise:</b>How is the language connected to the land, and to spiritual and traditional practices? </p>

    <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/lisa2.wav" controls="true"/></audio>
    <p><b>Lisa:</b> Ma blonde parle sa langue, il y a plusieurs choses qu’elle fait quand elle parle dans sa langue. Mettons qu’un enfant est triste, elle va le prendre dans ses bras et lui parler dans sa langue et il va tout de suite être rassuré. Il sait, en tout cas l’enfant avec personne pis quand elle l’a pris dans ses bras et parlé dans sa langue, l’enfnt était juste émerveillé. Il s’est calmé et il l’a regardé. Quand elle arrose ses plantes elle parle en kaniengaha. C’est comme si c’était quelque chose de naturel, qu’il fallait qu’elle parle tout le temps dans sa langue pour avoir une meilleure connexion. C’est beau témoignage de la nature par rapport à sa langue. Pis ça l’a poussé en criss ! Il y a du beau maïs qui est sorti de là ! Je pense que c’est… C’est comme la foi en la langue, c’est ça que je voyais là-dedans.</p>

    <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
    <audio src="/audio/land/circle/cath2.wav" controls="true"/></audio>
    <p><b>Catherine:</b> Ben moi je pense à un mot en particulier mettons, au niveau plus spiritualité, c’est encore un truc que j’ai appris dans un vidéo. Quand tu pries, dans la langue on dit ‘…’. Ca veut dire genre je parle. Je me parle. Ce serait la traduction comme : je parle, je me parle. J’étais très étonnée, je trouve c’est simple. C’est tellement logique, parce-que c’est vrai que tu parles à quelqu’un, quand tu pries tu parles. Tu communiques quelque chose, c’est aussi simple que ça. </p>

  </div>
</div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
      </br></br>
<img src="/pictures/fieldnotes.png" class="img-responsive img-left" alt="" height="298" width="273"/>
<p>This was the third sharing circle that took place. I had created a Facebook event a week before, where I had published the questions
to allow the participants to think about their answers. The informal discussion that happened before set the atmosphere, which I felt as relaxed and intriguing.
Due to a technical issue, I couldn't record the whole sharing on video and decided to work only with the audio file.</p>
  </div>
</div>


</div>
</body>
