<% include ../partials/header %>
<head>
  <title>Sharing circle on language</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
          </div>
    </div>
    <div class="col-xs-8">
      <h1>Language ~ Sharing circle</h1>
      <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
        Traditionally, sharing circles were used as a format for communication, decision-making and support. Among Indigenous peoples,
        traditional teachings are passed on orally and through stories, requiring listening and observation.
        Michael Anthony Hart* declares: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
        of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
        then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.»
        Implementing this practice as a method was a way to honour Indigenous ontologies and epistemologies. </br></br>
       *<em><a href="https://fernwoodpublishing.ca/authors/view/michael-anthony-hart-kaskitemahikan" target="_blank" >Michael Anthony Hart</a>
        is an Indigenous academic from the Fisher River Cree Nation. Quote from "From Our Eyes -
      Sharing circles: Utilizing traditional practise methods for teaching, healing and supporting".</em></p>
     </div></div>

    <div class="row">
      <div class="col-xs-12">
              <img src="/pictures/language/circle.jpg" alt="" class="img-responsive"/>
        <h5> This circle features Lisa Aubin Bérubé, Catherine Boivin, Marie Kristine Petiquay and myself.
          It took place in Odanak on July 5th 2016. </h5>
</div></div>

<div class="row">
  <div class="col-xs-12">
    <h3>What is the connection you have with your language?</h3>
</div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
                  </div>
    <div class="col-xs-9">
        <p><b>Catherine:</b>«Since I live here, I don’t get to speak Atikamekw all the time for sure, I’m still speaking french currently by the way. But when I go to Wemotaci,
          it takes time before it kicks off again. I was telling that to Lisa actually, sometimes it seems like I have an accent. But as soon as I speak, when I start talking with my mother, it comes back naturally and I realize how the language is still anchored in me. Though I still need to learn it, to speak it. I see how important it is because often I lose words, I forget a lot. So that’s it, my connection with the language is a bit scattered but still present.»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
    </div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«The other day, someone told me that when I speak Atikamekw, I sound like a non-native who learned the language later on. It hurt a little. Well, she told me I was talking like a white person, who spoke like the priests. Well, not like the priests...»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
      </div>
    <div class="col-xs-9">
        <p><b>Catherine:</b>«Priests aren't like that...»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
    </div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«Anyway, the fact that I was told that, I realized that I’m really losing my language. I don’t even sound like a native speaker. It makes me very sad.»</p>
    </div></div>


    <div class="row">
    <div class="col-xs-3">
            <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
    </div>
              <div class="col-xs-9">
          <p><b>Louise: </b>«I just want to say that it’s the opinion of one person, and only of that person. I think the most important is your family, your friends, that you can still communicate with them. But for sure, you lose the language when you don’t practice it but…. that’s all.»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
      </div>
    <div class="col-xs-9">
        <p><b>Catherine:</b>«It’s like me when I say that I have an accent when I speak Atikamekw. Because you have, well you are used to be in the city, and we speak French. When we speak French, like the movement of our mouths, we talk in a different way. So when we speak Atikamekw, for sure we have an accent. But as soon as you talk with your family, it’s different. Because you will get better… The more you will speak it, the more you will be anchored, it will improve. The person was wrong. She didn’t know what she was talking about.»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
    </div>
            <div class="col-xs-9">
        <p><b>Lisa: </b>«I don’t have anything to say to that.»</p>
    </div></div>

<div class="row">
  <div class="col-xs-12">
    <h3>How do you think the language contributes to the construction of your self, of your identity?</h3>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«Well I would say that the Atikamekw is a very beautiful language. When you analyze it, when you take time to decipher each word, you find an even deeper meaning of what you want to say. It’s so logical actually, so identity in regards to that… Well for example the word nocimic really left its mark on me. The definition of <em>nocimic</em> means the forest, but when you analyze the word, nocim means the place where I come from. So as Indigenous peoples, we come from the forest, when we say that, we say “there where I come from”. It has more depth it seems… When you connect to that, when you take the time, it seems like it makes you realize that you have something very rich in you.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«Well you are going to say that I only tell negative stuff today, but another thing that frustrates me, and that I hear often… I hear it less often these days, but I still heard it quite often. You know people say that Natives who don’t speak their language, they aren’t real Natives. It pisses me off, because I met people who didn’t speak their language. And it’s not true at all, you see that their culture is still alive, even though they don’t speak. I disagree with them, with these people, they don’t know what they are talking about.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«I think you are right. Because it’s true, it seems like you put the language in the identity. Yes, there is surely a part of identity in there, but on the other side, for those who don’t speak their language, they are going to look for it, they will still have this Indigenous identity, the identity of their Nations. I think, just like MK said, it’s different today […] we don’t have to say that. The language is important but not to the point that it’s part of the identity, because the identity can be something else.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>«The language is the only thing I’m lacking to be close to my identity. The way I see it, the language, the way you talk is the way you see. With all the people I know, all the Indigenous people speak different languages, but in their own way. It’s like more beautiful than French! It’s descriptive, it’s something poetic. We say that French is poetic but it’s not, not that much. That’s how I understand the language. It’s a new way, well it’s not new, it’s old, an old way of seeing and describing the world.»</p>
</div></div>

    <div class="row">
    <div class="col-xs-3">
      <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
    <p><b>Louise: </b>«What I like about… For example, when I’m in Germany, and I speak German, it’s about developing another identity. Anyway, when you change your country and you change also your language, it’s like people don’t know anything about your past. You can completely reconstruct your past. You also feel it in the language, because for example the French I speak when I’m back home, it’s way more street French, it’s more the French of the suburbs. I don’t want to speak the beautiful French, that was more for school. But when I’m in Germany, it’s more the proper German, being really understood by the people. Even within the same language, you can have different levels of practice. I think it’s fun!»</p>
  </div></div>

<div class="row">
  <div class="col-xs-12">
    <h3>What should be done, what would be the measures to take to revitalize languages, yours or other languages? Or examples already happening...</h3>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«Well back home, the language is taught until the third year of primary school. The classes are taught in Atikamekw language, so I think that is a good way to preserve the language, because the children, they have to learn that way I think. To revitalize the languages everywhere, it should be taught actually, for those who want it.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«Back home it’s also like that. The classes are given in Atikamekw until the third year, and more. I remember in secondary school, we had Atikamekw courses which were taught by a linguist, it was an Atikamekw linguist. And now, thinking about it, I realize that the students didn’t really take the class seriously, but they should have. Because the course isn’t taught anymore, well not at the secondary level at least. They cancelled the project.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>«From my point of view, I think that the first language that should be learned in the schools is the Indigenous language, and then French or English. But It’s really more important that people learn it. As I said earlier, that’s how they see the world, how they learn it. I would have like that, to have that. Or just like… My Nation often sends lexica, but there are no classes given back home.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«For sure in the schools, it’s the best way to learn for the young generations. But I’m thinking, with new technologies, also with all the possibilities of the Internet, it’s a shame it’s not used more. Precisely because the Indigenous languages are oral languages. It makes more sense to utilize the technology with that. I wonder if there are a lot of projects like that...»</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
    <h3> What is a word you like in your language, either for its meaning or for the way it is pronounced, or the way you learned it?</h3>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>«I don’t know many words... But I would say in my language, it would be <em>oduk</em>, because it’s my name. It’s the first real Maliseet thing that was given to me in my life. So I’m proud to have that.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>« That’s so cute! My little deer.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
</div>
        <div class="col-xs-9">
    <p><b>Lisa: </b>« I also like <em>konoronhkwa</em>. It means "I love you" in Mohawk.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«For me, I think I already mentioned it in another circle before. A word I really like is <em>odehimin</em>. First, because strawberries are my favorite fruit. <em>Dehimin</em> it’s a strawberry. Also because in <em>odehimin</em>, you have the word <em>odehi</em>. And that’s the word for the heart, it means heart, and then there is the suffix 'of'.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«A heart berry...»</p>
</div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
    </div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«I find it very poetic. I think my language is like that, just like Catherine said earlier with <em>nocimik</em>.»</p>
    </div></div>


<div class="row">
  <div class="col-xs-12">
    <h3>How is the language connected to the land?</h3>
</div></div>

<div class="row">
<div class="col-xs-3">
  <img src="/pictures/bubbles/louise.png" alt=""height="245" width="220">
</div>
<div class="col-xs-9">
<p><b>Louise: </b>«It’s something I really heard a lot when I went to listen to elders in Montreal and in other places, they said that it was connected to the land. I wonder if it makes sense for you, and if it’s also related to the traditional and spiritual practices.»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
</div>
      <div class="col-xs-9">
    <p><b>Marie Kristine: </b>«I know that in the three Atikamekw communities, yes we all talk the same language, but not quite. Some people will use a specific word to describe something, other people will use another one. The example coming to mind is <em>anogozach</em> and <em>anizomuch</em>. Anogozach, is it what you use?»</p>
</div></div>

<div class="row">
<div class="col-xs-3">
    <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
  </div>
<div class="col-xs-9">
    <p><b>Catherine:</b>«Yes.»</p>
</div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/mk.png" alt=""height="245" width="220">
    </div>
          <div class="col-xs-9">
        <p><b>Marie Kristine: </b>«And we use <em>anizomuch</em>. It means squirrel. The further you were from the big cities, the stronger  the accent…. The better it is spoken too, I would say. I think about the people of Opticiwan, even I don’t understand them sometimes!»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/lisa.png" alt=""height="245" width="220">
    </div>
            <div class="col-xs-9">
        <p><b>Lisa: </b>«My girlfriend speaks her language, and there are several things she does when she speaks in her language. Let’s say a child is sad, she will take him/her into her arms, and talk to the child in her language, and right away she/he will be reassured. It didn’t work with anyone, and when she took the child into her arms and talked in her language, he/she was simply amazed. The child calmed down and looked at her. When she waters her plants, she talks in Kanienke’haga/Mohawk. It’s as if it was something natural, she had to always speak in her language to have a better connection. It’s a beautiful testimony of Nature to her language. And the plants fucking grew! There is beautiful corn which grew out of there. I think it’s like… the faith in the language, that is what I saw there.»</p>
    </div></div>

    <div class="row">
    <div class="col-xs-3">
        <img src="/pictures/bubbles/cath.png" alt="" height="250" width="225">
      </div>
    <div class="col-xs-9">
        <p><b>Catherine:</b>«I think about a word in particular, more in the spiritual dimension, it’s again something I learned in a video. When you pray in the language, you say <em>[transcription missing]</em>. It means I talk. I talk to myself. That would be the translation. I was very surprised, I think it’s easy. It is so logical, because it’s true that you talk to someone, when you pray, you talk. You communicate something, it’s as easy as that.»</p>
    </div></div>

  <div class="row">
      <div class="col-xs-12">
        <h5>Insight into my anthropological journal ~ June 6th 2016, Odanak</h5>
        <img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/>
      <p>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation, thus I implemented elements that were also representative of my culture and my identity.
    The questions were developped on my own, bringing together personal reflections, and inputs from readings, conversations and various events.
     </br></br>I translated the answers from French into English and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I included my voice because I find it more transparent and honest.
     The circle started with the question:  "How are you today?" and ended with a reflection on the methodology:
     "How did you find it? What would you change/improve?"
     These final thoughts from the women can be found in the anthropological notes at the very bottom.

  </br></br>«This was the third sharing circle that took place. I had created a Facebook event a week before, where I had published the questions
to allow the participants to think about their answers. The informal discussion that happened before set the atmosphere, which I felt as relaxed and intriguing.
Due to a technical issue, I couldn't record the whole sharing on video and decided to work only with the audio file.»</br>
<u><a href="/the-researcher" target="_blank">Louise Romain</u></a></p>
  </div></div>


</div>
</body>
