<% include ../partials/header %>
<head>
  <title>Entrevue avec des aînés abénakis</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-4">
    <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
      <h3>Continue d'explorer ici</h3>
      <% include ../circle-opt.svg %>
  </div></div>
  <div class="col-xs-8">
  <h1>Monique Nolett Ille</h1>
  <a target="_blank" href="/pictures/language/interview/monique.jpg"><img src="/pictures/language/interview/monique.jpg" class="img-responsive center" /></a>
  </div></div>

<div class="row">
<div class="col-xs-12">   <a class="btn btn-default main pull-right" href="/language/interview">English</a>
<h3>Professeur d'une langue en voie de disparition</h3>
<p>De nos jours, les personnes connaissant la langue abénakise dans la province de Québec se comptent sur les doigts d'une main.
   Monique est l'une d'entre elles. Elle a donné des cours de langue pendant 12 ans dans la communauté d'Odanak,
   bien que durant la majorité de sa vie, elle ne parlait pas sa langue maternelle.</p>
</br>
<p>«Mon nom est Monique Nolett Ille. <em>Nd'aliwizi Monique Nolett Ille»</em>. </p>
<audio src="/audio/language/monique1.mp3" controls="true"/></audio>
<p>«et j'habite dans la communauté d'Odanak.</br><em>N'wigi Odanak.»</em></p>
<audio src="/audio/language/monique2.mp3" controls="true" width="80px"/></audio>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>Quel rôle avez vous joué dans la communauté concernant la langue abénakise?</h3>
<p>«Quand je suis revenue [à Odanak], j’ai pris ma retraite, il y a quand même plusieurs années, plus de 25 ans.
   Je ne parlais pas abénakis et j’avais jamais pensé à parler abénakis de toute ma
   vie. J’ai vécu à Montréal presque tout le temps de ma vie active. Quand je suis revenue, avec
   mon mari on avait décidé de prendre une retraite, et juste à ce moment là, il y avait des cours d’abénakis
   qui ont commencé à se donner comme par hasard là, vraiment. C’était Cécile Wawanolett qui elle-même
   était revenue des Etats-Unis et qui avait vécu toute sa vie aux Etats-Unis et puis qui était revenue elle aussi
   au moment de sa retraite. Elle parlait couramment abénakis, elle se rappellait, et en plus elle était
   capable de l’enseigner. (...) Cécile a donné des cours jusqu’en 1997. Je me suis inscrite, en me disant "coup donc,
   c’est le fun. J’ai arrêté de travailler c’est pas pour m’enkiloser le cerveau, ça va me
   tenir éveillée un petit peu là." Quand son mari est décédé, elle est retournée aux Etats-Unis, alors on m’a demandé
    si je voulais la remplacer. J’ai dit oui ! Mettons que moi j’étais toujours intéressée plus que les autres
    probablement et puis je n’avais pas arrêté de tout ce temps là. Parce que souvent je me retrouvais avec une de mes cousine,
    Annette, je ne sais pas si tu l’as rencontré Annette.»
</br><a href="/art/trad" target=_"blank">«-<u>Oui.</u>»</a></br>
 «Annette et moi on était toutes les deux régulièrement au cours. Au départ de Cécile, on m’a demandé de la
 remplacer. Je l’ai fait, j’ai donné des cours pendant une bonne douzaine d’années.»</p>
</div> </div>

<div class="row">
<div class="col-xs-12">
<h3> Qui étaient les participants, est-ce-qu'il y avait des jeunes, des moins jeunes, des femmes, des hommes... ?</h3>
<p> «Il y avait de tout, mais c’était pas vraiment des jeunes, des jeunes il y en a eu très peu. C’était surtout des gens dans les
  40, 50, 60 ans. Je pense aussi qu'il y en a beaucoup qui sont venus c’était un peu... peut-être comme moi quand
  j’ai commencé aussi, un peu de la nostalgie, de l’ancien temps... Parce-qu’on se souvenait d’avoir entendu
  parler abénakis. Mais on avait jamais parler abénakis, de toute façon c’était pas pour nous autres, c’était les
  vieux qui parlaient abénakis. Mais la musique de la langue était comme restée puis il y en a plusieurs, comme Annette,
  comme Dolorès (la sœur d’Annette), elles venaient et c’était un peu pour ça je pense, se rappeler aussi.
  Mais parmi les jeunes, il y en a eu quelques uns qui sont venus comme ça. Ils avaient entre 14 et 19 ans.
  Ils venaient à une session, après ça ils ne revenaient plus. Ils n'avaient pas le temps, il avaient d’autres choses en fin de compte.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
    <h3>Quelles sont les spécificités de la langue abénakise?</h3>
    <p>«Mettons qu’il y a le son 'on', qui est un son assez particulier dans la langue abénakise,
      qu’on entend rarement. J’ai décidé, à l’instar de Masta justement, d’écrire un 8 pour ce son là.
      Parce-que habituellement Laurent écrivait 'on' avec un accent circonflexe, les autres c’était un o avec un
      trait un bas, c’était de toute sorte de façon mais... traîner des accents c’est vraiment pas très intéressant.
      Parce-que quand tu ne mets pas l’accent, ça change le son. Je trouvais ça vraiment intéressant le 8 de Masta qui
       lui l’avait pris dans Aubéry (qui signifiait un 'w', ou 'o' mais ça veut pas dire la même chose).
Masta lui a décidé de mettre le 8 pour le son 'an'. Je trouvais ça vraiment intéressant, alors j’ai décidé
d’employer le 8 parce-que je me suis dit, une fois que tu le sais, tu l’oublies pas le son 'on'. Autrement
si t’oublies ton accent circonflexe là, ça devient 'o' et c’est pas la même chose. À part ça je veux dire,
non il n'y a pas grand-chose. Je ne sais pas dans les autres langues autochtones si c’est comme ça aussi...
mettons que pour lui et elle, il n’y a pas de masculin ni de féminin. C’est la même chose. Tandis qu’en anglais, <em>he or she</em>.»</p>
    <img src="/pictures/language/interview/ouvrages.jpg" class="img-responsive"/>

<!-- [09 :46]capsule sonore [10:50] <audio src="/audio/monique.mp3" controls="true"/></audio>-->
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Quelle est la situation actuelle de la langue abénakisse et son futur?</h3>
  <p>Monique: «Franchement je ne sais pas, j’en ai aucune idée. La seule chose que je sais, c’est que ça deviendra jamais la langue
    officelle d’Odanak, ça s’est entendu. En partant de là, je pense qu’il va toujours y avoir des gens qui vont
    s’intéresser. Mais ça va rester quand même un intérêt marginal. Ca revivra pas comme langue vivante qui va s’employer.»
</br></br>Louise: «Je discutais avec certains jeunes, comme Raphaelle Obomsawin, Kenny Panadis, qui aimeraient
apprendre la langue. J’imagine ce n’est pas leur priorité pour le moment, mais ils m’ont dit qu’ils aimeraient
l’apprendre un jour.»
</br></br>Monique: «Un jour, ok..  Ca fait que c’est ça l’avenir. Ca te donne une idée, je veux dire c’est ça
l’avenir: "ah je veux aller au cours, ah la langue abénakise!". Il faut le faire, faut pas rien qu’en parler.
C’est ça les gens aiment beaucoup en parler mais "ah c’est malheureux, on ne parle plus notre langue".
C'est pour ca que mettons moi au début j’étais un petit peu plus... "on va donner des cours, les gens vont s’intéresser" mais...
 non en fin de compte.
</br>Au bout de 25 ans, il n'y a pas vraiment d’évolution. Et il y a eu des cours tout le temps depuis ce temps là...»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <img src="/pictures/language/interview/books.jpg" class="img-responsive center" height="480px" alt=""/>
  <h3>Qu'est ce qui empêche la revitalisation de la langue abénakise?</h3>
  <p>Monique: «Les gens ne sont pas intéressés, j'ai l'impression qu'ils ne sont pas intéressés.
  C’est comme ils se disent "Qu’est ce que ça va me donner ? Je vais le savoir, après je m’en servirai pas. Je pourrais pas m’en servir."»
</br></br>Louise: «Oui c’est vrai. C’est pas comme chez mon amie atikamekw, elle le parle mais c’est parce-qu’elle le parle avec sa grand-mère,
et d'autres membres de sa famille. Mais à Odanak, même si les jeunes l’apprenaient, ils pourraient même pas le parler avec leurs aîné(e)s.»</br>
</br>Monique: «Non, c'est ca. Par example, Raymonde qui travaille pour la Petite Enfance ici, c'est comme une garderie.
Elle s’occupe des jeunes enfants (entre 3 et 6 ans), elle leur enseigne beaucoup de mots abénakis.
Mais c’est sûr qu’après ça, quand ils sortent de là, ils les oublient.
</br></br>Louise: «Et il n'y a pas d'école dans la communauté non plus... »
</br></br>Monique: «Pour avoir un école, il faudrait qu’il y ait des professeurs. Moi je pourrais pas enseigner à
des jeunes enfants, je n’ai aucun diplôme de professeur non plus. Même s'ils apprenaient la langue à l'école, s’ils
arrivent à la maison et qu'ils disent un mot, la réponse serait: "quoi qu’est-ce-que tu dis ?".
Kizos c’est le soleil, tout le monde sait ça, mais je veux dire c’est un exemple. La réaction est comme:
'Parle donc français aussi, on te comprends pas ou parles anglais, avec ton abénaki là on comprend rien de ce que tu dis.
Parce-que si les parents parlent pas, ils se sentent frustrés, et puis les enfants se disent "moi je le sais mais Maman elle sait pas, pis Papa non plus."»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <img src="/pictures/fieldnotes.png" class="img-responsive pull-right" alt="" height="185" width="200"/>
</div>
    <div class="col-xs-4">
      <h5>Insight into my anthropological journal ~ July 24th 2016, Odanak</h5>
    </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
<p>«I felt very honored to be welcomed with so much generosity, simplicity and goodness. I felt confortable most of the time and I found particularly interesting to observe my internal patterns, to make them conscious and to oblige myself to keep my mouth shut.
Generally, it was at times hard to stay silent -not to ask questions- and at other times, it felt more natural. The more I kept quiet, the more the silence became familiar. I realized that my ways to help, to show something new, something different, and my approach towards being together,
are largely shaped and defined by my culture. I had to learn to stay at my place, with my words and with my body. I perceived this understanding as part of the process of self-decolonizing (even though it's still unclear to me).
I felt particularly well during the transmission of the story: my function, my role at that time, the space I had reached in such a short amount of time spent with the family.
I was invited to come back, which is always a clear sign that I have been a good guest. I hope the opportunity will present itself.»</br>
<u><a href="/the-researcher" target="_blank">Louise Romain Watson</u></a></p>
</div>
</div>

<!--
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
      <h2> Michel Durand Nolett</h2>
      <img src="/pictures/bubbles/michel.png" alt=""height="285" width="256">
    </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
      <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/DyTvixfLBVA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
      <p>«Moi quand j’étais plus jeune, chez nous ça parlait presque juste en wabanaki pis j’ai perdu ça à un moment donné parce-que à l’école les religieuses qui enseignaient à l’école, nous empêchaient de parler la langue, c’était la langue des païens et si on était pris en flagrant délit de parler dans la cour de récréation ben on était punis. Je suis pas mal dans les dernières générations qu’on a eu ces choses-là avec les religieuses au couvent, à l’école, pour nous empêcher de parler notre langue maternelle. Mais chez moi, dans la maison ça parlait… Mon arrière grand-mère parlait pas beaucoup français, ni beaucoup anglais. Elle se débrouillait mais c’était assez basique. Elle était beaucoup à l’aise en wabanaki. Quand elle me racontait ses histoires, à un moment donné souvent elle partait pis, c’était en wabanaki c’était pas en français. Des fois j’étais obligée de la ramener parce-que je comprenais pas trop ce qu’elle voulait dire.»</p>
</div></div>
-->

    <!--<audio src="/audio/monique.mp3" controls="true"/></audio>-->
</div></div>

</div>
</body>
