<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-4">
    <div class="miniwheel" data-spy="affix" data-offset-top="60">
      <h2>Keep exploring here</h2></br>
      <% include ../circle-opt.svg %>
      <h3>Curious about the other interviews?</h3>
      <ul><h5>
        <li> <a href="/land/interview">Luc Gauthier Nolett</a></li>
        <li> <a href="/art/interview">Guy Sioui Durand</a></li>
        <li> <a href="/spirit/interview">Michel Durand Nolett</a></li>
      </ul></h5>
    </div>
  </div>
  <div class="col-xs-8">
  <h1>Monique Nolett Ille</h1>
  <p>... </p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
<a target="_blank" href="/pictures/language/interview/monique.jpg"><img src="/pictures/language/interview/monique.jpg" class="img-responsive center" /></a>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
<h3>Professeur d'une langue en voie de disparition</h3>
<p>Monique est une des dernières locutrices capable de s'exprimer en abénakis. Suite à des années d'apprentissage de
  la langue, elle a pris la relève comme professeur pendant 12 ans dans sa communauté d'origine, Odanak.</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-4">
<p>Je m'appelle Monique Nolett Ille... Nd'aliwizi Monique Nolett Ille. </p></br>
<!-- [00 :17] capsule sonore [00 :44] -->
<audio src="/audio/monique.mp3" controls="true"/></audio>
</div>
<div class="col-xs-4">
<p>J’habite dans la communauté abénakise d’Odanak... N'wigi Odanak.</p></br></br>
<!-- [01 :43] capsule sonore -->
<audio src="/audio/monique.mp3" controls="true" width="80px"/></audio>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
<h3>De novice...</h3>
<p>Monique part à Montréal à 17 ans. Elle y passe toute sa vie active, puis décide de rentrer sur Odanak avec son mari pour prendre sa retraite.
  C'était il y a 25 ans. Depuis son retour dans la communauté à aujourd'hui, son niveau de maitrîse de la langue est passé
  du rien à une certaine maîtrise: <em>"J’ai pas parlé abénaki, j’avais jamais pensé à parler abénaki de toute ma vie. Et puis, quand je
  suis revenue, il y avait des cours d’abénaki qui ont commencé à se donner comme par hasard là. C’était Cécile
  Wawanolett, qui avait vécue toute sa vie aux Etats-Unis et puis qui était revenue elle aussi au moment de sa retraite.
  Elle parlait couramment abénaki, elle se rappellait et elle était capable de l’enseigner. Alors quand Cécile a
  commencé à donner des cours, je me suis inscrite en me disant ’coup donc, c’est le fun. J’ai arrêté de travailler
  c’est pas pour m’enkiloser le cerveau quand même, ça va me tenir éveillée un petit peu."</em></p>
</div>
<div class="col-xs-4">
  <h3> à professeur! </h3>
</br></br>
<p>A partir de là, Monique suit les leçons avec rigueur et beaucoup de plaisir. Elle voit beaucoup d'autres étudiant(e)s de tout âge,
  lâcher le cours et ne pas revenir. <em>"Cécile a donné des cours jusqu’en 1997. Mettons que moi j’étais toujours,
    comme intéressée plus que les autres probablement et puis j’avais pas arrêté de tout ce temps là. Parce-que souvent
    je me retrouvais avec une de mes cousines, <a target="_blank "href="/art/trad">Annette [tresseuse de paniers abénakis]</a>."</em>
    En raison de sa persévérance et de son intérêt profond pour sa langue natale, on lui demande d'assurer la relève
    lorsque Cécile décide de partir.</p>
</div> </div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
    <h3> Quelques particularités de la langue abénakise</h3>
    <img src="/pictures/language/interview/ouvrages.jpg" class="img-responsive right"/>
      <ul><li>Exemple d'une sonorité distinctive</li>
<p>Monique m'explique qu'il existe un son, assez particulier à la langue abénakise, le son 'on'.
  Au fil du temps, les linguistes autochtones et non-autochtones qui ont re-transcrit la langue ont opté pour différentes
  manières d'écrire ce son. Dans ses ouvrages, "Initiation à la grammaire abénakise" et "Vocabulaire français-abénaki",
  Monique a choisit d'utiliser le chiffre 8 car: <em>"traîner des accents c’est vraiment pas très intéressant. Parce-que
  quand tu mets pas l’accent, ça change le son... Je trouvais ça vraiment intéressant le 8 de Masta, qui lui
l’avait pris dans Aubéry, [bien que] dans Aubéry ça veut pas dire la même chose mais le 8 était [là]".</em></p>
<!-- [09 :46]capsule sonore [10:50] -->
<audio src="/audio/monique.mp3" controls="true"/></audio>
</br>
<li>La question du genre</li>
<p>A l'instar de l'atikamekw, où la grammaire s'établit autour d'une distinction entre genre animé et inanimé,
  il n'existe pas de différenciation entre le genre masculin et féminin. <!-- infos à ajouter, autres sources-->
  <em>"Je sais pas dans les autres langues autochtones si c’est comme ça aussi. Mettons que pour lui et elle,
    je veux dire il n’y a pas de masculin ni de féminin, c’est la même chose. Tandis qu’en anglais, he or she…"</em>
</p> </ul>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-4">
  <h3>Retour sur le passé</h3>
  <p> Durant ses douze années d'enseignement à Odanak, elle a reçu très peu de jeunes participants. Ils assistaient
    à un cours ou deux et ne revenaient plus. <em>"C’était surtout
  des gens dans les 40, 50, 60 ans. Il y en a beaucoup, je pense, qui sont venus, peut-être comme moi quand j’ai commencé
  aussi, un peu [à cause] de la nostalgie, de l’ancien temps. Parce-qu’on se souvenait d’avoir entendu parler abénaki,
  mais on avait jamais parler abénaki, de toute façon c’était pas pour nous autres, c’était les vieux qui
  parlaient abénaki. Mais la musique de la langue était comme restée puis il y en a plusieurs, comme Annett, comme
  Dolorès sa soeur, elles venaient pis c’était un peu pour ça je pense, se rappeler aussi…"</em>
 </p>
</div>
<div class="col-xs-4">
  <h3>Regard vers l'avenir</h3>
  <p>Quand je lui demande son avis sur le futur de la langue abénakise, elle me répond d'abord qu'elle ne sait pas.
    Avec honnêteté, elle exprime sa déception en me confiant que ces années d'efforts n'ont pas porté leurs fruits
    comme elle l'aurait souhaité: <em>"mettons que au début j’étais un petit peu plus… tsé, on va donner des cours,
   les gens vont s’intéresser mais… non en fin de compte. Au bout de 25 ans, il [n']y a pas vraiment
    d’évolution, et il y a eu des cours tout le temps depuis ce temps là…"</em> Bien qu'en voie d'extinction, Monique reste
    cependant certaine que la langue ne disparaîtra jamais complètement: <em>"La seule chose que je sais, c’est que ça
    deviendra jamais la langue officelle d’Odanak, ça s’est entendu. Je pense qu’il va toujours y avoir des gens qui
    vont s’intéresser, mais ça va rester quand même un intérêt marginal… Ca revivra pas comme langue vivante qui
    va s’employer."</em></p>
</div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
<div class="col-xs-8">
  <img src="/pictures/language/interview/books.jpg" class="img center" height="480px" alt=""/>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
<iframe src="https://www.youtube.com/embed/NV6MpZDUjZw" width="640" height="360" frameborder="0" allowfullscreen>
</iframe>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-4">
  <h3>Aln8baî Aîamih8mek</h3>
  <p> Kchi Niwaskw, kizi nodamna lal8mow8gan kzel8menek, tbestawi!</br>
  Askwa ndaw8ssiwi ta npiwssessi, nd'achwaldam wijokamw8gan ta sasaginnow8gan.</br>
Ntawakol chiba tbestak klal8mow8gan; nsizekol askamiwi namitoak toji wskiwligek nakilh8d kizos; neljial wlilawatoak kdakina.</br>
K'nadodmol wji milian waw8damw8gan wji kizi n'kinamotlhowa kkawajow8gan nijiak;</br>
llagidamw8gan k8ttlezid al8miwi wanibagok ta nagwiwi senek.</br>
Kchi Niwaskw, k'nadodmol wji kizi mlikigia, nda wji paami waw8damoa ndaki nijiak, kanwa wji kawhowa nkadonalgoakw niatta.</br>
Ni chiga ma8wi adoji machinaa, n'kiziji wanaskol wlidbimiwi.</p>
  </div>
  <div class="col-xs-4">
  <h3>La prière d'un indien</h3>
  <p>Ô Grand Esprit, dont la voix se fait entendre dans le vent et qui d'un souffle anime tout l'univers, écoute-moi! </br>
  Je suis un de tes enfants, petit et faible, j'ai besoin de ton aide et de ta sagesse.</br>
  Que mes oreilles soient attentives à ta voix; que mes yeux contemplent à jamais la splendeur d'un soleil couchant;
  que mes mains respectent ta création.</br>
  Rends-moi sage, afin que j'apprenne ce que tu as enseigné à mon peuple; la leçon cachée en chaque feuille et sous chaque rocher.</br>
  Je demande la force, non  d'être supérieur à mes frères, mais de combattre mon pire ennemi, moi-même.</br>
  Fais que je sois toujours prêt à venir à toi les mains sans taches, le regard limpide. Quand ma vie s'éteindra comme un soleil
  couchant, je veux que mon âme puisse aller vers toi en toute confiance.</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <p>Quel est l'intérêt d'apprendre une langue lorsque qu'elle n'est plus parlée, même par les aîné(e)s? Contrairement
    à d'autres Nations comme les atikamekw où la première langue n'est pas celle des colons, pour la Nation wabanaki,
    la difficulté réside dans l'incapacité de pratiquer au sein des communautés. Comment et pourquoi assurer la continuité
    d'une langue en voie d'extinction?  Monique cite l'exemple positif de: <em>Raymonde Dallat qui travaille pour la
    Petite Enfance. Elle leur enseigne beaucoup de mots abénakis, mais c’est sûr qu’après ça, quand ils sortent de
    là, ils les oublient."</em>
    Un défi similaire se pose à la Nation wolastoqiyik/malécité et c'est ce dont Lisa traite dans son projet final à Kiuna.</p>
    <!-- capsule sonore [19 :24] [19 :53] -->
      </br>
    <audio src="/audio/monique.mp3" controls="true"/></audio>
</div></div>

</div>
</body>
