<% include ../partials/header %>
<head>
  <title>Interview with Abenaki elders</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-4">
    <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
      <h3>Keep exploring here</h3>
      <% include ../circle-opt.svg %>
  </div></div>
  <div class="col-xs-8">
  <h1>Monique Nolett Ille</h1>
  <a target="_blank" href="/pictures/language/interview/monique.jpg"><img src="/pictures/language/interview/monique.jpg" class="img-responsive center" /></a>
  </div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-8">
<h3>Teacher of a disappearing language</h3>
<p>As of today, the fluent abenaki speakers in the province of Quebec can be counted on one hand. Monique is one of them. She gave language classes in 1é years long. her une des dernières locutrices capable de s'exprimer en abénakis. Suite à des années d'apprentissage de
  la langue, elle a pris la relève comme professeur pendant 12 ans dans sa communauté d'origine, Odanak.</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-4">
<p>«My name is Monique Nolett Ille... <em>Nd'aliwizi Monique Nolett Ille»</em>. </p>
<audio src="/audio/language/monique1.mp3" controls="true"/></audio>
</div>
<div class="col-xs-4">
<p>«and I live in the abenaki community of Odanak.</br><em>N'wigi Odanak.»</em></p>
<audio src="/audio/language/monique2.mp3" controls="true" width="80px"/></audio>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
<h3>Which role did you have in the community in regards to the abenakis language?</h3>
<p>«-When I came back, I started to retire, years from now… 25 years ago. I did not speak abenaki and all my life, I never thought to speak abenakis. I lived in Montreal most of my active life. When I came back [to Odanak], we decided to retire with my husband, and just around that time, there were abenaki classes started, coincidently. It was Cécile Wawanolett, who came back from the United States and had spent most of her life there, and she came back for her retirement too. She fluently spoke abenaki and was able to teach it. (…) Cécile started giving classes in 1997. I signed up, telling myself “well, that’s fun! I stopped working it’s not to stiffen my brain, so the classes will keep me intellectually awake.” When her husband died, she went back to the U.S. and I was asked to take over. So I said yes ! Let’s say that I was alway interested more than the others and I hadn’t stop practicing since then. Because I usually met with one of my cousin, Annett… I don’t know if you met Annett?»
</br><a href="/art/trad" target=_"blank">«-<u>I did.</u>»</a></br> «-Sometimes, Annett and I were the onlly ones in the class you know, but we were there… So when I was asked to take over, I did and taught classes for about 12 years.»</p>
</div> </div>


<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
<h3> How were the participants, were there youths, older people, men, women… ?</h3>
<p> «There was everything, but there were not a lot of young people, just a few. It was mostly people in their 40’s, 50’s, and 60’s. There were also many who came, I think, for... maybe like me when I first started, there was a bit of nostalgia, of the old days. You know, because we remembered hearing abenaki. But we never spoke abenaki, it was not for us anyway, it was the old people who spoke abenaki. But the music of the language stayed. Then, there are several people, like Annett, like Dolores (Annett's sister), they came and it was a bit for that I think, to remember... But among the youths, a few came by, but they weren't that much interested. They were between 14 and 19 years old. They came to a session and didn't come back afterwards. They didn't have time, they had other things to do.»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
    <h3>What are some of the specifities of the abenaki language ?</h3>
    <p>«Well there is the sound 'on',  which is a sound that is quite peculiar in the abenaki language, which is rarely heard. I decided, just like Masta, to write an 8 for that sound there. Because Laurent usually writes a 'on' with a circumflex accent, the others an 'o' with a dash down, there were all sorts of ways but... learning accents is not very interesting. Because when you put the accent, it changes the sound. I found Masta’s 8 really interesting, which had been taken in Aubéry (which meant a 'w', a 'o'. So it does not mean the same thing). Masta decided to put the 8 for 'an'. I found it really interesting so I decided to use the 8 because I said to myself, once you know it, you know its the sound 'on'. Otherwise if you forget your circumflex accent there, it becomes 'o' and it's not the same thing. Other than that I mean, no there is not much. I do not know if it’s like that in the other aboriginal languages as well ... let's say that for him and her, there is no masculine or feminine. It's the same thing. While in English: he or she.»</p>
    <img src="/pictures/language/interview/ouvrages.jpg" class="img-responsive"/>

<!-- [09 :46]capsule sonore [10:50] <audio src="/audio/monique.mp3" controls="true"/></audio>-->
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
  <h3>What si the current situation of the abenaki language and its future?</h3>
  <p>«Frankly, I don’t know, I have no idea. The only thing I know is that it will never become the official language of Odanak, that’s for sure. So from there, I mean, I think there will always be people who will be interested. But it will still remain a marginal interest. It will not be revived again as a living language that will be commonly used.»
</br></br>«-I was chatting with some young people, like Raphaelle Obomsawin, Kenny Panadis, who would like to learn the language. I imagine this is not their priority at the moment but they said they would like to learn it one day.»
</br></br>«One day... So that's the future. It gives you an idea, I mean the future is like: "Ah I want to go to the class, ah the abenaki language! You know, you have to do it, not just talk about it. People like to talk about it, but "ah it's unfortunate, we no longer speak our language!". So that's why, at the beginning I was a little more: we will give classes, people will be interested but... in the end, no.</br>
 After 25 years, there is no real evolution. And there have been language classes all the time since then...»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
  <img src="/pictures/language/interview/books.jpg" class="img-responsive center" height="480px" alt=""/>
  <h3>What is preventing the revitalization of the abenaki language?</h3>
  <p>«-People are not interested, I have the impression they are not interested. As if they ask themselves: "what will it bring me? I'll know it and then, I won't use it. I can't use it."»
</br></br>«-Yes, it's true. It's not like my atikamekw friend, she speaks it but it's because <a href="/language/trad"><u>she talks with her grandmother</u></a> and other family members. But here, even if the kids learned it, they could not even talk with their elders.»</br>
</br>«-No, that's it. For example, Raymonde Dallat who works for la Petite Enfance here, it's like a daycare. Well, she takes care of the  young children (between 3 and 6 years old) and teaches them many abenaki words. But for sure afterwards, when they get out of there, they forget it.
</br></br>«-And there's no school in the community either... »
</br></br>«-Well to have a school, there must be teachers. I couldn't teach young children, I have no teaching certificate either you know. Even if they learned [the language] at school, they would come home and say a word in abenaki, the response would be: "What are you saying?".
Mgezo means the sun, everyone knows that, it's an example. The reaction is like: "Speak French! We don't understand you, or speak English. In abenaki, no one understands what you are saying." Because the parents do not speak it, so they feel frustrated. Then the children say: "well I know it, but Mom, she doesn't know, and Daddy neither". So it's annoying.»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <img src="/pictures/fieldnotes.png" class="img-responsive pull-right" alt="" height="185" width="200"/>
</div>
    <div class="col-xs-4">
      <h5>Insight into my anthropological journal ~ July 24th 2016, Odanak</h5>
    </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
<p>I felt very honored to be welcomed with so much generosity, simplicity and goodness. I felt confortable most of the time and I found particularly interesting to observe my internal patterns, to make them conscious and to oblige myself to keep my mouth shut.
Generally, it was at times hard to stay silent -not to ask questions- and at other times, it felt more natural. The more I kept quiet, the more the silence became familiar. I realized that my ways to help, to show something new, something different, and my approach towards being together,
are largely shaped and defined by my culture. I had to learn to stay at my place, with my words and with my body. I perceived this understanding as part of the process of self-decolonizing (even though it's still unclear to me).
I felt particularly well during the transmission of the story: my function, my role at that time, the space I had reached in such a short amount of time spent with the family.
I was invited to come back, which is always a clear sign that I have been a good guest. I hope the opportunity will present itself. </p>
</div>
</div>

  <div class="row">
    <div class="col-xs-4">
      <img src="/pictures/bubbles/michel.png" alt=""height="285" width="256">
    </div>
    <div class="col-xs-4">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DyTvixfLBVA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <p>Moi quand j’étais plus jeune, chez nous ça parlait presque juste en wabanaki pis j’ai perdu ça à un moment donné parce-que à l’école les religieuses qui enseignaient à l’école, nous empêchaient de parler la langue, c’était la langue des païens et si on était pris en flagrant délit de parler dans la cour de récréation ben on était punis. Je suis pas mal dans les dernières générations qu’on a eu ces choses-là avec les religieuses au couvent, à l’école, pour nous empêcher de parler notre langue maternelle. Mais chez moi, dans la maison ça parlait… Mon arrière grand-mère parlait pas beaucoup français, ni beaucoup anglais. Elle se débrouillait mais c’était assez basique. Elle était beaucoup à l’aise en wabanaki. Quand elle me racontait ses histoires, à un moment donné souvent elle partait pis, c’était en wabanaki c’était pas en français. Des fois j’étais obligée de la ramener parce-que je comprenais pas trop ce qu’elle voulait dire. </p>
</div></div>


    <!--<audio src="/audio/monique.mp3" controls="true"/></audio>-->
</div></div>

</div>
</body>
