<% include ../partials/header %>
<head>
  <title>LANGUAGE</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-3">
        <p>Go back to the wheel</p>
        <a href="/home"><img src="/pictures/circle.png" class="img-responsive"/></a>
    </div>
    <div class="col-xs-9">
<img src="/pictures/circle/language-banner.jpg" class="img-responsive" alt=""/>
<p class="caption">Tshieuten Vachon writing in Naskapi at Présence Autochtone Festival, Montréal, août 2016</p>

<!--
  <div class="row">
    <div class="col-xs-6">
      <div class="btn-group" role="group" aria-label="">
    <a href="/language/sounds"><button type="button" class="btn btn-default">
      <img src="/pictures/sounds-icon.png" height="115" width="115" alt="" ><h5>Sound recordings</h5></button></a>

<a href="/language/photo"><button type="button" class="btn btn-default">
  <img src="/pictures/photo-icon.png" height="115" width="150" alt="" ><h5>Photographs</h5></button>

  <a href="/language/interview"><button type="button" class="btn btn-default">
  <img src="/pictures/interview-icon.png" height="115" width="150" alt="">
  <h3>Interview with Monique Nolett Ille: former teacher of threathened language</h3></button>
</div </div>

  <div class="col-xs-6">
  <a href="/language/trad"><button type="button" class="btn btn-default">
<img src="/pictures/trad-icon.png" height="115" width="150" alt="" ><h5>Filming a traditional practice: storytelling</h5></li>

<a href="/language/circle"><button type="button" class="btn btn-default">
<img src="/pictures/circle-icon.png" height="115" width="150" alt="" ><h5>Reflections from the sharing circle</h5></button>
      </div> </div>
    </div>

<h3>Language is an essential element in building identity, as it is through word that a culture constructs
its world vision, and maintains itself by passing on written and oral knowledge.</h3>

<h5>«Language is more than a tool for expression. It is a bond to our ancestral cosmology, it reveals a profound
understanding of our place in the world, with Mother Earth, and with each generation it regenerates the connection
between all living beings» </br>
Ellen Gabriel, President of Quebec Native Women Inc. Mohawk Nation </h5>

<p> A strategy implemented by the colonial system to oppress and assimilate indigenous peoples, was the interdiction
to practice and pass on their languages. Children and youth in boarding schools were physically punished when they spoke
their native tongues, while the older generations restrained themselves to protect their families from further suffering.
Now the situation is improving as the Canadian governement is supporting the restauration of some indigenous languages.
Though, the consequences of these destructive cultural policies are noticeable at various levels.</p>
</div></div>

<div class="row">
  <div class="col-xs-6">
<p>Each Nation has its own language and this research applies only to the atikamekw, abenakis and wolastoqiyik
Nations in Quebec, the latter two sharing various similarities.
The status of language in these particular Nations varies extremely: in the three <strong>atikamekw</strong>
  communities, the language is strong at home and at school. Here students are being taught until the age of 8 or 9
  exclusively in the local tongue. The <strong>abenaki</strong> Nation has only a few fluent speakers, mostly elders,
  even though language classes have been ongoing since 1960. The<strong> wolastok</strong> language is extinct in
  the province of Quebec. In New Brunswick, a university is teaching the language.</p>
</div>

<div class="col-xs-6">
<img src="/pictures/language/map.jpg" class="img-center" alt=""/>
</div>-->
</div>
</div>
</div>
</body>
