<% include ../partials/header %>
<head>
  <title>Language: overview</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
<img src="/pictures/circle/language-banner.jpg" class="img-responsive" alt=""/>
<p class="caption">Tshieuten Vachon writing in Naskapi at FIrst Peoples Festival 2016, Montréal</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
<h3>«Language is more than a tool for expression. It is a bond to our ancestral cosmology, it reveals a profound
understanding of our place in the world, with Mother Earth, and with each generation it regenerates the connection
between all living beings » </br></br><em>Ellen Gabriel, President of Quebec Native Women Inc. Mohawk Nation</em> <!-- ref missing--> </h3>

<p><img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/>Language is an essential element in building identity,
as it is through words that a culture constructs its world vision, and further develops by passing on written and oral knowledge.
A strategy implemented by the colonial system to oppress and assimilate Indigenous peoples, was the interdiction
to speak their languages. Children and youth in boarding schools were physically punished when they spoke
their native tongues, while the older generations restrained themselves to protect their families from further suffering.
Nowadays, the Canadian governement is supporting the revitalization of Indigenous languages and some urban Indigenous organisations
offer classes in various languages, especially for youth. But the consequences of these destructive cultural policies still left their marks.</p>
</div></div>

<div class="row">
  <div class="col-xs-12">
<p>Each Nation has its own language, which may differ slightly from community to community.
  During this research project, I mostly worked with the Atikamekw, Abenaki and Wolastoqiyik Nations in Quebec.
  As displayed on the diagram below, the two latter belong to the various similarities.
The status of language in these particular Nations varies extremely: in the three <strong>Atikamekw</strong>
  communities, the language is strong at home and at school. Here students are being taught until the age of 8 or 9
  exclusively in the local tongue. The <strong>Abenaki</strong> Nation has only a few fluent speakers, mostly elders,
  even though language classes have been ongoing since 1960. The<strong> Wolastok</strong> language is extinct in
  the province of Quebec. The University of New Brunswick hosts the <u><a href="https://www.unb.ca/fredericton/education/mmi/" target="_blank">Mi'kmaq-Wolastoqey Centre</u></a>.
  They develop an app "Wolastoqey Latuwewakon" to promote language learning. Read more <a href="https://www.universityaffairs.ca/news/news-article/a-new-app-co-created-at-the-university-of-new-brunswick-aims-to-revitalize-the-wolastoqey-language/" target="_blank">here</a>
 </p>
  <h3> Want to know more? Read the interview with <u><a href="/language/interview" target="_blank">Monique Nolett Ille</a></u>, former teacher in Abenaki language,
  or listen to <u></a href="/language/sounds" target="_blank">songs</u></a>.</h3>

<img src="/pictures/language/map.jpg" class="img-center img-responsive" alt="language map"/>
<!-- ref missing-->

</div></div>

<!--
  <a href="/language/interview"><button type="button" class="btn btn-default">
  <img src="/pictures/interview-icon.png" height="115" width="150" alt="">
  <h3>Interview with Monique Nolett Ille: former teacher of threathened language</h3></button>
</div </div>

  <div class="col-xs-6">
  <a href="/language/trad"><button type="button" class="btn btn-default">
<img src="/pictures/trad-icon.png" height="115" width="150" alt="" ><h5>Filming a traditional practice: storytelling</h5></li>

  -->
</div>
</body>
