<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
  <h2>Keep exploring here</h2>
      <% include ../circle-opt.svg %>
  <h3>Curious about the other participatory photography?</h3>
  <ul><h5>
  <li> <a href="/land/photo">Land</a> </li>
  <li> <a href="/art/photo">Art</a></li>
  <li> <a href="/spirit/photo">Spirit</a></li>
</ul></h5>
</div></div>

    <div class="col-xs-8">
<h1> Photographs </h1>
<h5>These pictures were taken by Marie Kristine Petiquay and Raphaelle Obomsawin</h5>
<p>... </p>
</div></div>

<!-- ROW 1-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/1.jpg"><img src="/pictures/language/photo/1.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 07.04.2016</br>
  «My kokom (grandmother) speaks mostly atikamekw. With her, I realized that I was slowly loosing my language, I have to look for my words.
  It makes me sad that my language is going away... even though I still speak it you know! I learned french when I was 2 years old
  et the Disney movies taught me a lot. Most of the youth in Manawan speak french. I would like to pass on the atikamekw
  language to my children.»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/2.jpg"</a>
<img src="/pictures/language/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br>
  «You see the signs and question yourself on what you see. You seek information, which makes you learn the language,
   like without noticing it.»</p>
</div>
</div>

<!-- ROW 2-->
<div class="row">
  <div class="col-xs-4">
  </div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/3.jpg"</a>
<img src="/pictures/language/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br>
  «Event with the loss of the language, the community persists to keep abenakis names for the signs.
  Including the stop sign, which is in english and in abenakis.»</p>
</div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/4.jpg"</a>
<img src="/pictures/language/photo/4.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br>
  «Though the small size of the community, many services are offered. We have access to nurses, psychologists…»</p>
</div></div>
<!-- ROW 3
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/4.jpg"</a>
<img src="/pictures/language/photo/5.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/3.jpg"</a>
<img src="/pictures/language/photo/6.jpg" class="img-responsive center"/></a>
  <div class="desc">.</div>
</div></div>
ROW 4
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/7.jpg"><img src="/pictures/language/photo/7.jpg" class="img-responsive center"/></a>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/8.jpg"><img src="/pictures/language/photo/7.jpg" class="img-responsive center"/></a>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/8.jpg"><img src="/pictures/language/photo/8.jpg" class="img-responsive center"/></a>
  <div class="desc"> ...</div>
</div></div>
-->
</div>
</body>
