<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
  <h3>Keep exploring here</h3>
      <% include ../circle-opt.svg %>

</div></div>

<div class="col-xs-8">
  <h1>Photographs </h1>
  <h3> All the pictures presented here were taken by some of <a href="/the-women"><u>the women</u></a> at the center of the project.</h3>
        <p>Photography belongs to the traditional methods of visual anthropology and for decades, it has been seen
        as an objective way to record and reveal the reality. The anthropologist would document the culture and its people
        from his/her own eye and disregard the inherent subjectivity, along with the power structures.
         For this project, I was strongly inspired by the guidelines of <a href="/www.photovoice.org"><u>PhotoVoice</u></a>, a participatory action research (PAR) method.
         It seeks to bring positive social change in marginalised and minority communities by providing photographic training. Seeing it through their lense, we might better
         understand how they perceive the language and its importance for their identity. </br></br>

        «Ethnographers should be interested in how informants use the content of the images as vessels in which to invest meanings and through which to produce and represent their knowledge, self-identities, experiences and emotions.»*
        The photographs were collected on the ground (during the fieldwork) and online (via a Facebook group).
        The comments were mostly formed during the review process, which happened half a year after my stay.
      </br></br>
        A more detailed account of the whole process and its collaborative dimension can be found in the anthropological notes at the bottom of the page.</br>
    <em>* Sarah Pink, Doing Visual Ethnography</em></p>
    <h5>These pictures were taken by <a href="the-women/Marie-Christine-Petiquay" target="_blank"><u>Marie Kristine Petiquay</u></a> and <a href="the-women/Raphaelle-Obomsawin" target="_blank"><u>Raphaelle Obomsawin</u></a></h5>

</div></div>

<!-- ROW 1-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/language/photo/1.jpg"><img src="/pictures/language/photo/1.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, April 2016</br></br>
  «My kokom* speaks mostly atikamekw. With her, I realized that I was slowly loosing my language, I have to look for my words.
  It makes me sad that my language is going away... even though I still speak it you know! I learned french when I was 2 years old
  and the Disney movies taught me a lot. Most of the youths in Manawan speak french. I would like to pass on the atikamekw
  language to my children.»</br>
<em>*grandmother in atikamekw</em></p>
</div></div>

<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/language/photo/2.jpg"</a>
<img src="/pictures/language/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, July 2016</br></br>
  «You see the street signs and question yourself on what you see. You seek information, which makes you learn the language,
   like without noticing it.»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/language/photo/3.jpg"</a>
<img src="/pictures/language/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, July 2016</br></br>
  «Event with the loss of the language, the community persists to keep abenakis names for the signs.
  Including the stop sign, which is in english and in abenakis.»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/language/photo/4.jpg"</a>
<img src="/pictures/language/photo/4.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, July 2016</br></br>
  «Though the small size of the community, many services are offered. We have access to nurses, psychologists…»</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <img src="/pictures/fieldnotes.png" class="img-responsive pull-right" alt="" height="185" width="200"/>
</div>
    <div class="col-xs-4">
      <h5>Insight into my anthropological journal ~ June 19th 2016, Odanak</h5>
    </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
<p>The participatory session with Raphaelle took place! I felt very honored to be welcomed with so much generosity, simplicity and goodness. I felt confortable most of the time and I found particularly interesting to observe my internal patterns, to make them conscious and to oblige myself to keep my mouth shut.
Generally, it was at times hard to stay silent -not to ask questions- and at other times, it felt more natural. The more I kept quiet, the more the silence became familiar. I realized that my ways to help, to show something new, something different, and my approach towards being together,
are largely shaped and defined by my culture. I had to learn to stay at my place, with my words and with my body. I perceived this understanding as part of the process of self-decolonizing (even though it's still unclear to me).
I felt particularly well during the transmission of the story: my function, my role at that time, the space I had reached in such a short amount of time spent with the family.
I was invited to come back, which is always a clear sign that I have been a good guest. I hope the opportunity will present itself. </p>
</div>
</div>

<!-- ROW 3
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/4.jpg"</a>
<img src="/pictures/language/photo/5.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/3.jpg"</a>
<img src="/pictures/language/photo/6.jpg" class="img-responsive center"/></a>
  <div class="desc">.</div>
</div></div>
ROW 4
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/7.jpg"><img src="/pictures/language/photo/7.jpg" class="img-responsive center"/></a>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/8.jpg"><img src="/pictures/language/photo/7.jpg" class="img-responsive center"/></a>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/language/photo/8.jpg"><img src="/pictures/language/photo/8.jpg" class="img-responsive center"/></a>
  <div class="desc"> ...</div>
</div></div>
-->
</div>
</body>
