<% include ../partials/header %>
<head>
  <title>Traditional Indigenous songs</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata~spy="affix" data~offset~top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
          </div>
    </div>
    <div class="col-xs-8">
    <h1>Language ~ Sound recordings</h1>
    <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
      enabled me to record moments of cultural expression, listening to the voices honoring the circle of life and appreciating the gifts of Mother Earth.
      I wish these recordings to bring an intimate insight into the Atikamekw, Wolastok and Abenaki cultures,
      adding a layer of perception into the diversity of languages and identities of these Nations.</p>
    </div></div>

      <div class="row">
        <div class="col-xs-12">
      <h3>Pimatisiwin ~ Atikamekw song</h3>
      <audio src="/audio/language/pimatisiwin.mp3" controls="true"/></audio>
      <p><em>Tapwe mirowacin ~ Pimatisiwin ~ Weweta e kanawapataman</em> </br></br>
      It's true, it's beautiful ~ Life ~ When I look at it closely </br></br>
    C'est vrai, c'est beau ~ La vie ~ Quand je la regarde avec attention </br></br>

      </div></div>

  <div class="row">
    <div class="col-xs-12">
    <h3>Wolastoq ~ Maliseet song</h3>
    <audio src="/audio/language/wolastoq.mp3" controls="true"/></audio>
    <p> Wolastoq*  is going, flowing and growing ~ Wolastoq is flowing down to the sea</br>
    Mother, carry me, a child I will always be ~ Mother, carry me, a child I will always be </br></br>
    Wolastoq se déverse, se déverse et se rétreint ~ Wolastoq se déverse dans l'océan</br>
    Mère-Terre porte moi, un enfant je resterai ~ Mère-Terre porte moi, un enfant je resterai</br></br>
    <em>Wolastoq pomaloqey, acide bumigo ~ Wolastoq pomaloqey, solbeq olomiya</br>
    Nikuwoss bumiphin wasis oc nil oskomiw Nikuwoss bumiphin wasis oc nil oskomiw</em></br></br>
    *the river, la rivière</p>
  </div></div>

  <div class="row">
    <div class="col-xs-12">
            <h3>Abenaki songs</h3>
      <audio src="/audio/language/nigawee.mp3" controls="true"/></audio>
    <p><em>[Abenaki transcription coming soon]</em></p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
  <audio src="/audio/language/awihande.mp3" controls="true"/></audio>
  <p><em>[Abenaki transcription coming soon]</em></p>
</div></div>

<div class="row">
  <div class="col-xs-12">
  <p> <img src="/pictures/fieldnotess.png" class="img-responsive pull-left" alt="fieldnotes"/>These sounds were recorded by Louise Romain Watson in the summer of 2016. </br></br>
      <em>Pimatisiwin</em> was recorded on the first night of the pow-wow of Odanak. Young and old had gathered around the huge fire and, in this moment of celebration, singers from Wemotaci were praising the force of life. But the first time I heard this song was in the movie <a href="https://www.facebook.com/avantlesrues/videos/1049567848444327/" target="_blank"><u>Before the Streets</u></a>.</br></br>
      <em>Wolastoq</em> was recorded during the Fête des Deux Nations in Cacouna, Quebec. Drummers from the <a href="http://www.madawaskamaliseetfirstnation.com/" target="_blank"><u>Madawaska First Nation</u></a>  came from New Brunswick to perform traditional songs and dances.
      I\m incredibly thankful for the help of Ivanie Aubin-Malo and Allan Tremblay for the transcription of the Wolastoq lyrics.
      <u><a href="/spirit/trad">Here</a></u> you can also watch a video of the celebration!</br>
    The amazing composer and vocalist <u><a href="http://jdutchermusic.com/" target="_blank">Jeremy Dutcher</a></u> is a young Wolastoq engaged in the revitalization of his language. He merges classical music, linguistic reclamation and musical ethnography!</br>
     «The revitalization of music is a catalyst for the promotion of culture more generally, as well as language and indigenous ways of living and knowing. I believe song is a critical method of language and value learning and, by extension, a specifically Wolastoqiyik worldview. Traditional Wolastoq songs are no longer sung here and it is my greatest desire to change that.» <u><a href="https://dominionated.ca/albums/jeremy-dutcher-wolastoqiyik-lintuwakonawa/" target="_blank">*</u></a></br></br>
      Both Abenaki songs were recorded during the pow-wow of Wôlinak, Abenaki community. </p>
</div></div>

</div>
</body>
