<% include ../partials/header %>
<head>
  <title>Traditional Indigenous songs</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
          </div>
    </div>
    <div class="col-xs-8">
    <h1>Sound recordings</h1>
    <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
      enabled me to record moments of cultural expression, listening to the voices honoring the circle of life and appreciating the gifts of Mother Earth.
      I wish these recordings to bring an intimate insight into the Atikamekw, Wolastok and Abenaki cultures,
      adding a layer of perception into the diversity of languages and identities of these Nations.
      These sounds were recorded by Louise Watson in the summer of 2016.</p>
</br></br>
      <h3>Song in Atikamekw language</h3>
      <audio src="/audio/language/pimatisiwin.mp3" controls="true"/></audio>
      <p><em>Tapwe mirowacin - Pimatisiwin - Weweta e - Kanawapataman</em> </br></br>
      It's true, it's beautiful - Life - when I look at it closely </br></br>
    C'est vrai, c'est beau - La vie - Quand je la regarde avec attention </br></br>

I first heard this song in the movie <a href="https://www.facebook.com/avantlesrues/videos/1049567848444327/" target="_blank"><u>Before the Streets</u></a>.
    This song was recorded on the first night of the pow-wow of Odanak. Young and old had gathered around the huge fire and, in this moment of celebration, singers from Wemotaci were praising the force of life.</br></p>
      </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
    <h3>Song in Wolastoq/Maliseet language</h3>
    <audio src="/audio/language/wolastoq.mp3" controls="true"/></audio>
    <p> Wolastoq [the river] is going, flowing and growing - Wolastoq is flowing down to the sea
    Mother, carry me, a child I will always be - Mother, carry me, a child I will always be </br></br>
    Wolastoq [la rivière] se déverse, se déverse et se rétreint - Wolastoq se déverse dans l'océan
    Mère-Terre porte moi, un enfant je resterai - Mère-Terre porte moi, un enfant je resterai</br></br>
    <em>[still looking for the Wolastoq/Maliseet transcription]</em></br></br>
     This song was recorded during the Fête des Deux Nations in August 2016. Drummers from the <a href="http://www.madawaskamaliseetfirstnation.com/" target="_blank"><u>Madawaska First Nation</u></a> (New Brunswick) came to Cacouna, Quebec, to perform traditional songs and dances.
     Curious to watch a <u><a href="/spirit/trad">video of the celebration?</a></u>.</br>
   </br>You should also check out the amazing composer and vocalist <u><a href="http://jdutchermusic.com/" target="_blank">Jeremy Dutcher</a></u>, young Wolastoq engaged in the revitalization of his language, merging classical music, linguistic reclamation and musical ethnography!</br>
    «The revitalization of music is a catalyst for the promotion of culture more generally, as well as language and indigenous ways of living and knowing. I believe song is a critical method of language and value learning and, by extension, a specifically Wolastoqiyik worldview. Traditional Wolastoq songs are no longer sung here and it is my greatest desire to change that.» <u><a href="http://jdutchermusic.com/nluhkon/" target="_blank">*</u></a>
    </p>
  </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
            <h3>Songs in Abenaki language</h3>
      <audio src="/audio/language/nigawee.mp3" controls="true"/></audio>
    <p><em>[Abenaki transcription coming soon]</em></br>
      This song was recorded during the pow-wow of Wôlinak, Abenaki community.</p>
  </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
  <div class="col-xs-8">
  <audio src="/audio/language/awihande.mp3" controls="true"/></audio>
  <p><em>[Abenaki transcription coming soon]</em></br>
    This song was recorded during the pow-wow of Wôlinak, Abenaki community.</p>
</div></div>

<!-- rires de femmes
[00:30 - 00:50]-->

</div>
</body>
