<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">

  <h4 class="wheeltitle">Ecouter le territoire au travers d'...</h4>
  <h1> Enregistrements sonores</h1>
  <div class="row">
    <h5> ... </h5>
    <div class="col-xs-3">
      <h4>Atikamekw song</h4>
      <audio src="/audio/language/pimatisiwin.mp3" controls="true"/></audio>
      <p>Pimatisiwin: the good life</br> Tapwe mirowacin - Pimatisiwin - Weweta e - Kanawapataman </br>
      The life is good - ... - ... </br>
    La vie est belle ... - ... </p>
  </div>
  <div class="col-xs-3">
    <h4>Wolastoq song</h4>
    <audio src="/audio/language/wolastoq.mp3" controls="true"/></audio>
    <p> Wolastoq [the river] is flowing, flowing and growing - The river is flowing down to the sea
    Mother, carry me, a child I will always be  - Mother, carry me, a child I will always be </br>
    Wolastq [la rivière] se déverse, se déverse et se rétreint? -  Wolasoq se déverse dans l'océan
    Mère-Terre porte moi, un enfant je resterai - Mère-Terre porte moi, un enfant je resterai</br>
    [wolastoq version]

    </p>
  </div>
    <h4>Abenaki songs</h4>
    <div class="col-xs-3">
    <audio src="/audio/language/nigawee.mp3" controls="true"/></audio>
    <p>Tradition song celebrating the harvest...</p>
  </div>
  <div class="col-xs-3">
  <audio src="/audio/language/awihande.mp3" controls="true"/></audio>
  <p>Tradition song celebrating the seeds...</p>
</div></div>

<!-- rires de femmes
[00:30 - 00:50]-->

</div>
</body>
