<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
        <h2>Keep exploring here</h2></br>
        <% include ../circle-opt.svg %>
        <h3>Curious about the other sound recordings?</h3>
        <ul><h5>
          <li> <a href="/land/sounds">Land</a></li>
          <li> <a href="/spirit/sounds">Spirit</a> </li>
        </ul></h5>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Sound recordings</h1>
    <p> These sounds were recorded in the summer of 2016. They have a cultural relevance according to the Nations, their
      territories and practices.</p>
  </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
      <h3>Song from the atikamekw Nation</h2>
      <audio src="/audio/language/pimatisiwin.mp3" controls="true"/></audio>
      <p>Pimatisiwin: the good life</br> Tapwe mirowacin - Pimatisiwin - Weweta e - Kanawapataman </br>
      The life is good - ... - ... </br>
    La vie est belle ... - ... </p>
  </div>
  <div class="col-xs-4">
    <h3>Song from the wolastoqiyik Nation</h3>
    <audio src="/audio/language/wolastoq.mp3" controls="true"/></audio>
    <p> Wolastoq [the river] is flowing, flowing and growing - The river is flowing down to the sea
    Mother, carry me, a child I will always be  - Mother, carry me, a child I will always be </br>
    Wolastq [la rivière] se déverse, se déverse et se rétreint? -  Wolasoq se déverse dans l'océan
    Mère-Terre porte moi, un enfant je resterai - Mère-Terre porte moi, un enfant je resterai</br>
    [wolastoq version]
    </p>
  </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
    <h3>Songs from the abenaki Nation</h3>
      <audio src="/audio/language/nigawee.mp3" controls="true"/></audio>
    <p>Tradition song celebrating the harvest...</p>
  </div>
  <div class="col-xs-4">
  <audio src="/audio/language/awihande.mp3" controls="true"/></audio>
  <p>Tradition song celebrating the seeds...</p>
</div></div>

<!-- rires de femmes
[00:30 - 00:50]-->

</div>
</body>
