<% include ../partials/header %>
<head>
  <title>...</title>
</head>

  <body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h2>Keep exploring here</h2></br>
          <% include ../circle-opt.svg %>
          <h3>Curious about the other traditional pratices?</h3>
          <ul><h5>
            <li> <a href="/land/trad">Ash pounding</a></li>
            <li> <a href="/art/trad">Basket weaving</a></li>
            <li> <a href="/spirit/trad">Celebrating</a> </li>
          </ul></h5>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Storytelling</h1>
      <p>... </p>
    </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <img src="/pictures/language/trad/MKkokom1.jpg" class="img-responsive center" alt=""/>
<h5>Lors d'une après-midi à Manawan, Marie Kristine lui demande raconter une histoire.</h5>

<audio src="/audio/language/histoirekokom.mp3" controls="true" /></audio>
<p>[from 01:30]</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
    <a target="_blank" href="/pictures/language/trad/MKkokom2.jpg"><img src="/pictures/language/trad/MKkokom2.jpg" class="img-responsive center"/></a>
    <p class="caption">Manawan, 07.04.2016</p>
  </div>
<div class="col-xs-4">
  <p> Je ne sais pas quelle histoire je pourrais te raconter. Isabelle et Louise, ses filles, lui demandent de raconter
    l’histoire de la tornade. MK lui demande si elle s’en souvient, kokom
    répond oui, elle avait 5 ans. Louise ajoute que le grand père avait 9 ans car ils avaient 4 ans de différence.</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <p> Les cours se donnaient à l’église en ce temps là par une sœur et pendant que les cours
    se donnaient, un monsieur est entré par l’arrière du batiment et il est rentré dans l’église.</p>
  </div>
  <div class="col-xs-4">
<a target="_blank" href="/pictures/the-communities/manawan/church.jpg"><img src="/pictures/the-communities/manawan/church.jpg" class="img-responsive center" alt=""/></a>
    </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
      <p> Les cours se donnaient à l’église en ce temps là par une sœur et pendant que les cours
        se donnaient, un monsieur est entré par l’arrière du batiment et il est rentré dans l’église.</p>
      </div>
      <div class="col-xs-4">
    <a target="_blank" href="/pictures/language/trad/MKkokom3.jpg"><img src="/pictures/language/trad/MKkokom3.jpg" class="img-responsive center" alt=""/></a>
        </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
        <a target="_blank" href="/pictures/trad/kokom.jpg"><img src="/pictures/language/trad/kokom.jpg" class="img-responsive center"/></a>
        <p class="caption">prise par Marie-Kristine Petiquay, Manawan, 07.04.2016</p>
</div></div>

</div>
</body>
