<% include ../partials/header %>
<head>
  <title>...</title>
</head>

  <body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Storytelling</h1>
      <p>The passing on of stories is an essential ... In the summer 2016, I was hosted in the atikamekw community of Manawan.
      Special events happened : the 80's birthday of kokom* Thérèse, and the celebration of her 65th year of marriage with her recently deceased husband.
     </p>
      <iframe width="560" height="430" src="https://www.youtube.com/embed/7nwBAd3Rg8o" frameborder="0" allowfullscreen></iframe>
    </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
<h3>Marie Kristine asks her grandmother to tell a story</h3>
<p>‘’I don’t know which story I could tell.’’ The kokom said. Isabelle and Louise, the kokom’s daughters, ask her to tell the story about the tornado. MK asks if she remembers. Kokom says yes, she was 5 years old. Louise adds grandpa was 9 because he was 4 years older than her.</p>
  <img src="/pictures/language/trad/MKkokom1.jpg" class="img-responsive center" alt=""/>
<!--<audio src="/audio/language/histoirekokom.mp3" controls="true" /></audio>
<p>[from 01:30]</p>-->
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <p>Kokom turns to her sister Annie. “We were both going to school, right? We were young, we must have been 5 years old or so. Our sister Lucie was also going. I don’t think our brother Dominic (the youngest brother) was going yet. The classes were held at the church back then. The teacher was a nun. That day, a man walked in the church and told the nun to take the kids out. There was a storm coming. It was particularly windy that day. The man told us to run away. I didn’t see the man, I didn’t see who it was because I didn’t turn back to look. So we all stood up to run out of the church but the nun wanted us to pray before going. The man got mad and told them there was no time for that. We had to get out of the church. Everybody was running. I don’t even remember who was at school with me, I was so scared. I didn’t even think about looking for my older sister before going out.”</p>
    <a target="_blank" href="/pictures/the-communities/manawan/church.jpg"><img src="/pictures/the-communities/manawan/church.jpg" class="img-responsive vertical" alt=""/></a>
    <p class="caption">Manawan, 07.04.2016</p>
    </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <p>The kokom now turns to MK. “The priest went out from the front and as I watched him run away, I saw a part of the roof and the wall being pulled by the tornado. All of a sudden, there was a lot of light inside the church. Kids started running out by the hole the tornado created. Some were injured. Nails were sticking out the walls and a lot of the kids were hurt by those nails. Some had open wounds because of those nails. I decided to go out by that hole too. Some would slide on the floor as they went out and they’d fall on the grass because the church was higher than the ground. I remember I was sobbing. I was terrified because of the rain and the thunder. The sky was really dark. Psitosiw (tornado, translated right away by Isabelle. New atikamekw word for MK). A tornado went through the church, right where we were all sitting minutes before. All the kids were crying, sobbing. </p>
    <a target="_blank" href="/pictures/language/trad/MKkokom2.jpg"><img src="/pictures/language/trad/MKkokom2.jpg" class="img-responsive center"/></a>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
  <p> I felt a hand gripping mine. (MK says the kokom is using the present tense in atikamekw) And the boy who gripped my hand started running, pulling me with him. He took me further away, in security. We were running, hand in hand, and got to this house, looking for shelter. We were soaking wet and our hosts gave us and the other kids who followed towels. (10 years later, that’s the man she married).
Your grandfather always like reminding me of that story. He always said that God wanted him to save me so that we could marry later. I don’t remember anything after we got to the house. I don’t even remember if my parents came to get me.</p>

    <a target="_blank" href="/pictures/language/trad/MKkokom3.jpg"><img src="/pictures/language/trad/MKkokom3.jpg" class="img-responsive center" alt=""/></a>
        </div></div>
</br></br>
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h5>Kokom Thérèse by her grand daughter <a href="the-women/Marie-Christine-Petiquay"><em>Marie Kristine Petiquay</em></a></br>Manawan, 07.04.2016<h5>
        <a target="_blank" href="/pictures/trad/kokom.jpg"><img src="/pictures/language/trad/kokom.jpg" class="img-responsive center"/></a>
        <p>«My kokom speaks mostly atikamekw. With her, I realized that I was slowly loosing my language, I have to look for my words.
        It makes me sad that my language is going away... even though I still speak it you know! I learned french when I was 2 years old
        et the Disney movies taught me a lot. Most of the youth in Manawan speak french. I would like to pass on the atikamekw
        language to my children.» </br>from <a href="language/photo" target="_blank"><u>the participatory workshop on language.</u></a></p>

</div></div>
</br></br>
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <img src="/pictures/fieldnotes.png" class="img-responsive pull-right" alt="" height="185" width="200"/>
</div>
    <div class="col-xs-4">
      <h5>Insight into my anthropological journal ~ June 19th 2016, Manawan</h5>
    </div></div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
<p>I felt very honored to be welcomed with so much generosity, simplicity and goodness. I felt confortable most of the time and I found particularly interesting to observe my internal patterns, to make them conscious and to oblige myself to keep my mouth shut.
Generally, it was at times hard to stay silent -not to ask questions- and at other times, it felt more natural. The more I kept quiet, the more the silence became familiar. I realized that my ways to help, to show something new, something different, and my approach towards being together,
are largely shaped and defined by my culture. I had to learn to stay at my place, with my words and with my body. I perceived this understanding as part of the process of self-decolonizing (even though it's still unclear to me).
I felt particularly well during the transmission of the story: my function, my role at that time, the space I had reached in such a short amount of time spent with the family.
I was invited to come back, which is always a clear sign that I have been a good guest. I hope the opportunity will present itself. </p>
</div>
</div>

</div>
</body>
