<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>LAND ~ Sharing circle</h1>
    <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
      Traditionally, sharing circles were used as a format for communication, decision-making and support. Among Indigenous peoples,
      traditional teachings are passed on orally and through stories, requiring listening and observation.
      Michael Anthony Hart* declares: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
      of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
      then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.»
      Implementing this practice as a method was a way to honour Indigenous ontologies and epistemologies. </br></br>
     *<em><a href="https://fernwoodpublishing.ca/authors/view/michael-anthony-hart-kaskitemahikan" target="_blank" >Michael Anthony Hart</a>
      is an Indigenous academic from the Fisher River Cree Nation. Quote from "From Our Eyes -
    Sharing circles: Utilizing traditional practise methods for teaching, healing and supporting".</em></p>
</div></div>

    <div class="row">
      <div class="col-xs-12">
        <iframe width="500" height="400" src="https://www.youtube.com/embed/a_a7unZDw2w" frameborder="0" allowfullscreen></iframe>
        <h5> This circle features Lisa Aubin Bérubé, Catherine Boivin, Jessica Ann Watso Raphaelle Obomsawin and myself.
          It took place in Odanak on July 5th 2016. </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>What do you consider as your territory, your home at the moment?</h3>
        <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/jess1.mp3" controls="true"/></audio>
        <p><b>Jessica Ann:</b> My territory it’s like everything, it’s not only my reserve. I grew up in Notre Dame, it’s at the edge of the reserve. It’s our home, it is the fishing, the hunting. My family, we fish, we hunt from my mother’s side, which isn’t indigenous. It is almost more my home there (Notre Dame) than around here [Odanak], but this would be like my town you know. And at the same time, our home is everywhere, all around my town. </p>

          <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/raph1.mp3" controls="true"/></audio>
          <p><b>Raphaelle:</b> Well my land it is 6,7km², being 6km² in Odanak and 0,7km² in Wôlinak, for 2500 registered abenakis residents,
            from the census of 2012.</p>

            <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
            <audio src="/audio/land/circle/lou1.mp3" controls="true"/></audio>
          <p><b>Louise:</b>My territory is for sure the city, I think, and above all the urban spaces.</p>

            <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
                  <audio src="/audio/land/circle/lisa1.mp3" controls="true"/></audio>
            <p><b>Lisa:</b> For me, my territory would be the place where I grew up, Ottoburn Park, the city. But I would also say the mountain which is nearby, because my mother would always bring us there, it’s the landscape we have there. So it feels like, every time I see it, it’s my mountain. And every one knows that! </p>

            <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
                  <audio src="/audio/land/circle/cath1.mp3" controls="true"/></audio>
            <p><b>Catherine:</b> My land, there are several places too, well… I think a lot about the family cabin in Manawan. We call it the camp of the 10 because my grand-mother and my grand-father had 10 children, well from my mother’s side. Anyway, they are 10. I have a lot of memories attached to this place. Since I was young, there are a lot of… that’s where I learned most of my knowledge, like regarding fishing or fish in general. That is where I learned to watch and observe. But since then you know, I would say Pierreville, Odanak. It is as if I adopted the place, and even when I think about the future, what I want… For sure, I’ll go live in the woods but… I really enjoyed living in Odanak. I would like that, to stay close because it is a very beautiful place. In the town nearby [Pierreville], there are great people too, I met some nice people.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3> If you close your eyes and think about your land, what are the images that come to your mind?
          Like the colors… Or words potentially too.</h3>
      </div></div>

          <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/cath2.mp3" controls="true"/></audio>
          <p><b>Catherine:</b> Well right away thinking of it, it’s often the ground which is very… The ground with the sun, the rays of sun touching it. Those were my favorite mornings in our cabin, but everywhere else too actually. Because I also go often in the camp of my step-father, which is on atikamekw land. I like when between the trees, you see some water through it. Also, the sound which… the most is when you hear the squirrels ‘tiktik’ like that. The silence too, the silence, it seems fresh. Anyway, that is the word that comes to me: fresh. </p>

          <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/lisa2.mp3" controls="true"/></audio>
          <p><b>Lisa:</b>  Well for me it is something quite new, because I discovered New Brunswick two years ago. When you arrive in New Brunswick, there is the Madawaska river, that’s what I see, with the mountains in the back. I see the autumn, with all the colors. You see there, that is a lake but it so huge that it looks like a river. That’s what I see. I see my moutain too. </p>

          <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
          <p><b>Raphaelle:</b>  What I see is a place where I can breathe, because I have always been awkward in social environments and when I am outside, it seems that all my… It’s weird to say, but it seems that all my anxieties go away, when I can be on my own, with myself. Without anyone to judge me. Being with no one, I feel good. It is weird to say. It is a relaxing, soothing place. </p>

          <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
          <p><b>Jessica Ann:</b> When I think about my land, it seems like I just see the sunrise, the sunset, the rain, the nice weather, my house and my dog. Water actually. When I was younger, I would spend my days with my grand-father in a rowboat on the river. Water is my home.</p>

          <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
          <audio src="/audio/land/circle/lou2.mp3" controls="true"/></audio>
          <p><b>Louise:</b>Well for me it is the noise, the pollution, and many lights.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3> What are the connections you have with the land of other Nations?</h3>
      </div></div>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lisa2.mp3" controls="true"/></audio>
        <p><b>Lisa:</b> Well, when I arrived in Odanak, it was the first reserve I had been to. I felt welcomed, I met a lot of people, such as the three girls here. It’s like my second home Odanak, because I developped myself here. It’s like the rest of Ottoburn. In Kahnawage too I have my space. Every time you enter a new place I think, a new community, people welcome you, they are happy to see you, you feel good and you become attached to the people. And when you become attached to them, you feel at home. </p>

        <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
        <p><b>Raphaelle:</b> I traveled only in one other community, it’s Kahnawage. With the school, Kiuna. And I didn’t like it but not because of the place. People were kind or at least they were treating us as if we were part of them, or as if we were from the same family. But otherwise I can’t tell what it looks like because I have never been in other communities apart from Odanak and Wôlinak. </p>

        <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/cath3.mp3" controls="true"/></audio>
        <p><b>Catherine:</b> I think what connects me… It seems like, getting out of my community, I didn’t know how to treat my community, I didn’t know what I could do. It seems like I wasn’t connected that much, and coming here it feels like I am more connected, like I want to connect myself more with my land. If I come back to my territory, I would like to have a garden, I want to cultivate, I want to respect Nature. It seems like since I’m here, I learned to broaden my vision. And that is what is needed sometimes, what I think young people need in my community. To open up their horizons, to understand that you are not alone, that there are other people further away who can bring you something. </p>

        <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
        <p><b>Jessica Ann:</b> I think that… You know, before I wasn’t living in Odanak, I didn’t go to school [Kiuna], I didn’t know anything. Since I started at the school, I learned about my Nation, about my ancestors, about my life. Then I met Lisa who is here, pursuing what she is looking for. Whatever it is she is looking for. Catherine, who lives what we are learning. Raph who knows a lot about tradition already, because she works at the museum. Me, it seems like I’m landing from nowhere. </p>

        <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lou1.mp3" controls="true"/></audio>
        <p><b>Louise:</b>I felt an incredibly warm welcome, whether it is here or in Manawan, by MK’s family. It was just amazing, how they invited me at all stages, I went to the mass with them, then to the cemetary. I was invited for supper. I find there is a quick opening of wanting to interact with others, and have a good time, as simple as that. That’s what I liked, it was simple.
   Back home, it’s not that easy. Well, I’m under the impression that it is more complicated to open your door to people you don’t know, that there is more fear, more mistrust.</p>
    </div></div>

    <div class="row">
        <div class="col-xs-12">
        <h3> What do you feel are the dangers that threaten your land? What do you want to defend or protect?</h3>
</div></div>

        <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
        <p><b>Jessica Ann:</b> I think we should focus more on our traditions, our values, our culture and stop thinking about the economic developpement, the exterior developpement and what people will think of us. The degradation… You know, they don’t want to open a school because when they were younger, they were bullied. Now they don’t want to open a school, but we need our youths to learn, they want to learn, to be what we are. It is not all about money in life.</p>

        <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
        <p><b>Catherine:</b> I will follow up on Jess here. Our land [atikamekw] is still here, it is still quite vast. But it’s as if we don’t know what to do with it actually. It seems that we are forced to develop it with money, to make money with it. So it is complicated, we are like stuck, it seems. We have so much land, I don’t mean we have a lot but it’s as if we didn’t know how to use it, how to manage it. I feel stuck thinking about it. I think the danger is precisely the ambitions which can become… which can harm the beauty of our land, of the nature, of the animals, it’s all that I am talking about. People who come to cut wood, it creates conflicts between families and that hurts me, seeing this.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> For me, it’s similar to the girls. My band council is now individualist. They just think about getting their benefits and money. It creates a gap within the council all the time. Honestly, we have way bigger problems than that, such as the pipelines which will cross all maliseet land and I am under the impression that nothing is happening.</p>

        <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
        <p><b>Jessica Ann:</b> In Odanak, it seems like we are erasing ourselves, that we are causing ourselves to fade. We have a big museum, we have a school which shares our values, which shares what we want, and we are here, not wanting to step forward with that. Let’s say people like me who would be willing to do it, there is no space for that here.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> It is colonized. Colonialized. Colonized from within. Corrupted. There are white people in my council you know…</p>

        <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
        <p><b>Raphaelle:</b> I think that, among the abenakis, we already lost enough land since the last 500 years so to say. We don’t have anything anymore, whether it is on the side of traditions, we can say that there is almost no one anymore who practices and speaks the language. I would say we are too open in Odanak and in Wôlinak too. In Odanak, any one can move in, it’s the same in Wôlinak. There are so many non-natives on the reserve, that at some point there will be so much intermix, that Odanak won’t exist in 500 years from now.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> There won’t be anyone registered.</p>

        <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lou1.mp3" controls="true"/></audio>
        <p><b>Louise:</b>Back home, I think the challenge has to do with the environment and the protection of nature, and in general both go along. The pipeline project for example, it’s just huge companies which want to make a lot of money, and they don’t care about the Earth and the people. </p>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Who passed on what you know about your land and what would you like to pass on?</h3>
</div></div>

        <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
        <p><b>Catherine:</b> For me, I would say my mother… mostly my mother but it’s also my family, my uncles, my aunts, my grand-parents, my father too. I believe it’s important to know what belongs to us, where we come from and also what it is to be indigenous. That’s what I want to pass on, to tell them: “you are like…” well, not limiting myself to telling them “you are atikamekw”, it seems like we can be more than that. What I want to pass on is really the knowledge, how to survive in the woods, how to respect nature, respect each other, the other cultures, respect yourself. The respect.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> I would say above all my mother, who did her best with what she knew. My brother a lot too, because he was the first in my family who wanted to share everything, all he had learned about the maliseet and he brought back the pride in that regard, because we didn’t have it. I want to go learn the language and bring it back into my family and to other people who want to learn it. I want my children to speak the language. Respect too, is something very important. Maybe also the autonomy with nature, I don’t know how to say it but being autonomous with nature. And pride too.</p>

        <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
        <p><b>Raphaelle:</b> In my case, nobody passed on traditions to me because my grand parents were already dead when I was a baby. My father has never been really interested in his own culture. My parents weren’t helpful on that matter. Though my father always supported me still, to participate in traditional activities, to take part in the pow-wow… but I was never tempted when I was younger, I was too embarassed to go dance. As of today, I regret it. After that, I started learning about my own culture when I did archeological digs in 2013, which was the fortified fort of Odanak. It is really then that I started being curious. I would find some things, and the first important object I found was a micmac pipe, dating around 1500 I think. I found it entertaining to be able to find objects that used to belong to my ancestors, or had been obtained through swap, because you know I am abenakis, not micmac. After that, I was a guide at the museum. It’s my fourth year, this year. From there, I read books on First Nations and discovered a passion for crafting, I really like doing that. So I share what I learn with my parents. Because my dad seems more interested about his culture since I am curious about it. Sometimes, he asks me question, he would like me to teach him crafting too. Pass it on to my sisters, or I don’t know, to people of my community who aren’t necessarily interested, just like I was at the beginning, but now I really like that and I am passionate about it.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Are there any particular symbols which link you to your land, or any sounds or smells?</h3>
      </div></div>

        <img src="/pictures/bubbles/jess.png" alt=""height="298" width="273">
        <p><b>Jessica Ann:</b> Fish. Smoked fish. My grand father would smoke fish every week in his house. My mother would give me money and tell me to go buy some fish, and when I’d arrived he wouldn’t let me pay. Otherwise the birds. My grand-father taught me to watch the birds and recognise what they are. I didn’t really learn what they were, but we would check together in books, their songs. Every morning when I wake up, I listen to the birds. Also my protestant anglican church I think.</p>

        <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
        <p><b>Raphaelle:</b> For me, I don’t really know if it’s a sound, but I would say the wind. I don’t know why, it’s like a source of freedom somehow. It is hard to explain. I don’t know, that’s how I feel. You breathe, it is fresh, I don’t know it allows you to live, the freedom.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> For me it would be… Foremost the river. First, it links me to my people, the people of the beautiful river [wolastoqiyik]. On our flags, we always have a river. That would be the symbol. My mother, every time it rained, she would take us out and we would go play outside in the rain. We would play basketball in the rain. Often we would go chase the frogs at the frog pond. So the smell would be the one of the rain and the pond. And it doesn’t stink the pond, it smells good, there are a lot of animals there. These are good memories related to the water, so that’s what I see.</p>

        <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
        <p><b>Catherine:</b> For me it would be as I mentioned earlier, the squirrels, the morning and the birds too. But also the smell would be the one of water, of the wind and the gentle smell of toasted bread. Bread you would bake on the saucepan. It would smell so good in the morning. Sometimes too, when we .. , we would run far and the sound of our parents calling us to come do the dishes, but we would run away to flee. The cabin was actually like some sort of island, and we would go in the back and hide not to go do the dishes.</p>

        <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lou1.mp3" controls="true"/></audio>
        <p><b>Louise:</b>The bass reminds me of home. Sometimes, you walk in the city and you hear just the vibrations of night clubs. Well, not everywhere in the city, I am exaggerating a little, where I hang out anyways. And the concrete I think. Yes, the concrete is really my territory.</p>

      </div>
    </div>

    <div class="row">
  <div class="col-xs-12">
<h3>What do you like most about your land and what do you miss?</h3>
</div></div>

        <img src="/pictures/bubbles/cath.png" alt=""height="298" width="273">
        <p><b>Catherine:</b>
        For me it would be the food actually. To eat on the land, like the bacon in the morning, in particular the toast, the delicious toast. My uncle’s gruel. He makes it, he prepares it sweet right away, with milk. Otherwise my grand mother, my grand mother who did… I miss the sound of the voice of my grand mother. Seeing my uncles preparing the fish, because we put a net just in front of the cabin. And when we could swim, until my grand mother would close the pool, well it wasn’t really a pool but she would decide when we could go swim and when it was over. That was fun, that was a good time.</p>

        <img src="/pictures/bubbles/lisa.png" alt=""height="298" width="273">
        <p><b>Lisa:</b> I love to look, I love to taste, I love, I love! Whom I miss most is my grand father, because I have so many questions.</p>

        <img src="/pictures/bubbles/raph.png" alt=""height="298" width="273">
        <p><b>Raphaelle:</b> What I like is having a place where you can be yourself without being judged. Let’s say here in Odanak, people understand you, they have the same interests as you, the same tastes so to say. If we didn’t have that, we would be ordinary. Here it feels like unique, you know we are unique in our own ways, but here we are together as a community. That’s what I would miss, not to have a place where we are all together.</p>

        <img src="/pictures/bubbles/louise.png" alt=""height="298" width="273">
        <audio src="/audio/land/circle/lou1.mp3" controls="true"/></audio>
        <p><b>Louise:</b>Whom I miss most are my friends, because that’s what makes Berlin feels like home for me I think.  I miss vegetarian food a lot, because in Berlin, it is so… everywhere you can eat vegetarian, for real cheap and super delicious. In Montreal, it’s not the same. Well, you can eat vegetarian, but not that easy. Those are the two things I like most: my friends and eating.</p>
      </div>
      </div>

        <div class="row">
          <div class="col-xs-12">
<img src="/pictures/fieldnotess.png" class="img-responsive pull-left" alt="fieldnotes"/>
<p> Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
     As a host, I was mindful of avoiding cultural appropriation and implementing tools that represent my culture and my identity.
    For that reason, the only traditional element I maintained was a talking piece to guide the process, a sacred object
     that held special meaning to me. The questions were developped on my own, bringing together personal reflections, and
     inputs from readings, conversations and various events. I translated the answers from French into English and I intended to
     keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
     I also included my voice for the sake of transparency.
     The circle started with the question: "how are you today?" and ended with a reflection on the methodology:
     "how did you find it? what would you change/improve?"
</br></br>
    Final thoughts from the women:
    This was the first sharing circle that took place. I had created a Facebook event a week before, where I had published the questions
to allow the participants to think about their answers. The informal discussion that happened before set the atmosphere, which I felt as relaxed and intriguing.
Due to a technical issue, I couldn't record the whole sharing on video and decided to work only with the audio file.</p>
      </div>
    </div>





</div>
</body>
