<% include ../partials/header %>
<head>
  <title>Entrevues sur le territoire wabanaki</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Continue d'explorer ici</h3>
        <% include ../circle-opt.svg %>
      </div></div>
    <h1>Territoire ~ Entrevues</h1>
    <div class="col-xs-8">
            <img src="/pictures/land/bureau.jpg" class="img-responsive center"/>
            <a class="btn btn-default main pull-right" href="/land/interview">English</a>

</div>
<p>Le Bureau Terre et Environment est une institution à Odanak. Il a été ouvert en 2007, à l'initiative de Michel, Luc, et d'une biologiste.
  Les deux hommes sont nés et ont grandis à Odanak, et ils y sont très engagés, prenant soin de l'habitat naturel,
  et maintenant les practiques et valeurs traditionelles, tel le battage de frêne.
  Tu peux suivre leur travail </a href="https://www.facebook.com/Bureau-environnement-et-terre-dOdanak-367476303301681/" target="_blank"><u>ici</u></a>.
</div>

<div class="row">
<div class="col-xs-6">
    <h3>Première histoire: </br>Luc Gauthier Nolett</h3>
    <img src="/pictures/bubbles/luc.png" alt=""height="280" width="256"/>
  </div>
  <div class="col-xs-6">
    <h3>Deuxième histoire: </br>Michel Durand Nolett</h3>
    <img src="/pictures/bubbles/michel.png" alt=""height="285" width="256"/>
  </div></div>

<div class="row">
  <div class="col-xs-12">
  <h3>Qui es tu et d'où viens tu?</h3>
    <iframe src="https://youtube.com/embed/RUIDg2XNlgY" frameborder="0" allowfullscreen>  </iframe>
    <p>«Je suis de la communauté autochtone des Abénakis d’Odanak. Je suis né ici en 1978. J’ai jamais quitté la réserve, j’ai tout le temps vécu ici, présentement je suis établi ma maison est construite, et j’vais mourir ici.»</p>
  </div></div>

  <div class="row">
    <div class="col-xs-12">
    <h3>Que fais tu à Odanak?</h3>
    <iframe src="https://youtube.com/embed/P3cMatRlxsc" frameborder="0" allowfullscreen>
    </iframe>
      <p>«Je travaille pour le Conseil de bande, en partenariat avec les travaux publics. On travaille des projets
        sur les espèces en péril, en biologie. Pour la communauté, on travaille sur des projets environnementaux de toute sorte.»</p>
      <img src="/pictures/land/bureau1.jpg" class="img-responsive center"target="_blank"</>
    </div></div>

  <div class="row">
  <div class="col-xs-12">
  <h3>Étais-tu passioné par ça étant plus jeune?</h3>
    <audio src="/audio/land/luc.mp3" controls="true"/> </audio>original recording in rench</br>
    <p> «Ma mémoire de jeunesse, quand j’étais jeune je voulais être garde chasse, dans le temps c’était garde chasse.
      A la petite école, mon rêve c’était de devenir garde chasse. Autant que j’ai pas les compétences mentales
      pour faire ça, mais quand même aujourd’hui je travaille dans un bureau en environment pis je gère des projets
      sur les espèces en péril. Je suis pas loin de mon but. Je travaille avec des aînés pis des plus jeunes.
      (...) On s’occupe que la communauté soit propre, c’est un peu cette transmission là aussi du territoire,
      quand tu t’en vas à la chasse, quand tu t’en vas à la pêche de ramasser des cochonneries et des petites choses simples de même.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>J’ai parcouru plusieurs fois le sentier Tolba, je le trouve super. J’y suis allée avec une des jeunes, Raphaelle.
  Elle travaille au musée depuis quelques années, et recommande le sentier aux touristes, mais avec moi, c’était la première fois qu’elle y allait.</h3>
<a href="/pictures/land/photo/13.jpg"><img src="/pictures/land/photo/13.jpg" target="_blank" class="img-responsive center"/></a>
<p class="caption"> prise durant l'<a href="/land/photo" target="_blank"><u>atelier de photographie</u></a> sur le territoire, par Raphaelle Obomsawin, Odanak</p>

  <p> «C’est quand même important d’avoir l’intérêt de savoir qu’est-ce-qu’il y a là. On a inauguré le sentier en 2009
    et on voulait un partenariat avec le musée, former des guides qui auraient été dans le sentier, expliquer
    différentes choses dépendamment des compétences ou des compréhensions de la personne. Par exemple, je suis particulièrement
    bon avec les oiseaux, l'identification d’oiseaux. Je suis pas ornithologue, mais j'aime ça, je suis amateur. Les animaux aussi je trouve ça trippant.
    Ca aurait pu être un complément mais le musée n'a pas voulu embarquer. Nous autres on l’a fait plusieurs fois pour des groupes de
    jeunes d’école élémentaire, de primaire, un petit peu les ados... Souvent on organise des ateliers aussi, comme pour la journée
    de la Terre. On va se déplacer avec nos petites choses, aller participer aux ateliers journée de la Terre un peu
    partout. On fait tout le temps des petits évènements comme ça. On participe au pow-wow, on rencontre du monde comme toi.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Quelle est ta pratique avec le frêne?</h3>
  <iframe  src="https://youtube.com/embed/LB4XTqVh-a4" frameborder="0" allowfullscreen>
  </iframe>
    <p> «L’utilisation du frêne pour nous c’est l’artisanat, aujourd'hui. Je suis un des derniers qui s’occupe de la
      transmission de cette petite partie de la culture qu’on connait encore, qu’on aime bien perpétrer. (...)
      Ça permet de fournir en même temps nos aînées qui sont les dernières à faire des paniers.
      Ma tante Annette, <u><a href="/art/trad" target="_blank">elle en fait</u></a>, sa petite fille Anne Jo elle
      en fait aussi. Mais c’est ça, dans les jeunes il n’y en a pas beaucoup. La moyenne d’âge c’est 70 en montant.»</p>
<img src="/pictures/land/trad/battage2.jpg" class="img-center" alt=""/>
<p class="caption">Luc et Kenny Panadis <u><a href="/land/trad" target="_blank">battant le frêne</u></a> au festival Présence Autochtone à Montréal.</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Penses-tu que les jeunes sont intéressés par cette pratique traditionnelle?</h3>
<iframe src="https://www.youtube.com/embed/k2o_kp7cWrw" frameborder="0" gesture="media" allowfullscreen></iframe>
      <p> «De là à les faire sortir, de là à leur faire enlever l’écran, le Facebook pis Twitter...?
        C’est dur de les sortir de cette torpeur là. Faut pas les lâcher pentoute. Faut les prendre par la main.»
    </br></br>«Tu me parlais tantôt de comment j’envisage le futur... C’est incertain là, qu’est-ce-qui subsiste
    de ma culture aujourd’hui en 2016?»</p>
    </div></div>

<div class="row">
<div class="col-xs-12">
    <h3>Quels sont les défis auxquels font face les jeunes autochtones dans la société d'aujourd'hui?</h3>
    <audio src="/audio/entrevues/luc2.mp3"> </audio>
      <p>Luc: «Le défi c’est de trouver son identité au travers de ces ras-de marées médiatiques. (...)
Moi je fais partie de la Loi avant 1985, ma mère elle s’est marié avec un blanc. Mon père aujourd’hui il est Indien.
Il a toujours été indien mais ça a pris 50 ans pour que les démarches soient faites. Finalement, mon père a eu ses cartes
d’indien Abénakis mais avant ça il était blanc avec ma mère. Ma mère a perdu ses droits, faq moi j’étais pas indien.
Je suis né pas Abénakis.»</br></br>
Louise: «Mais tu es né ici?»</br></br>
Luc: «Ouai, ouai. C’était la guerre là, c’était la guerre totale. Mes amis dont le père est Abénakis,
leur mère tombait Abénakis. Faq que ça a brassé... Les jeunes aujourd’hui ils ont pas connu ça mais ils connaissent
encore le préjugé que "ah les indiens c'est tous des pas bons, c'est tous des pas travaillants." Ça c’est des
préjugés en tant que tel qui me passent un peu par-dessus la tête, parce-que je sais ce qu’on est capable de faire.
Mais moi c’est plutôt l’ignorance... Les préjugés du monde ils sont souvent pas fondés. C’est l’homme qui a vu l’homme qui a vu l’ours.» </p>
    </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>L'histoire du Bureau Terre et Environment</h3>
  <img src="/pictures/land/truck.jpg" class="img-responsive center"target="_blank"</>
  <p>«Quand on a ouvert le bureau ici en 2007, il y avait Michel, une biologiste pis moi. On était trois.
    Depuis 2009, je suis ici pis là ça roule, les projets roulent. Jusqu’en 2014, j’étais tout seul ici.» </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/mWddbq2B-Jg" frameborder="0" gesture="media" allowfullscreen></iframe>
    <p>«N’importe qui dans la communauté, les aîné.e.s viennent nous voir pour les aider, ils ont quelque chose de lourd à transporter, des arbres n’importe quoi, on est là pour aider.  Moi c’est sûr je veux transmettre l’esprit. T’es tu obligé aujourd’hui tout le temps de sortir de l’argent pour avoir un coup de main ? Ca me semble… Je veux dire on est ce qu’on est, on est accueillants, moi je suis de même pis toute ! Je veux que le monde qui vienne ici, ben il se rappelle un peu de nous autres.» </p>
  </div></div>

    <div class="row">
    <div class="col-xs-12">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MI58JYD0Qjk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <p>«Je l’ai appelé comme ça par rapport au programme de gestion des terres et de l’environnement. Depuis 2008/2009, c’est le bureau
    Environnement et Terre, et le Conseil de bande en est très fier, fier de parler de notre bureau. On a fait beaucoup de progrès en quelques années
    au niveau environnemental avec la création de sites de récupération de résidus domestiques dangeureux, on a fait des
    deux sentiers d’interprétation. On a trouvé plusieurs dépotoirs clandestins, des anciens, des moyennement anciens et des nouveaux.
    On a fait le nettoyage de tout ça, ça a été une très très bonne chose.»</p>
</div></div>

    <div class="row">
    <div class="col-xs-12">
  <h3>Que fais tu pour la communauté?</h3>
<iframe src="https://www.youtube.com/embed/AKdelEn4QwY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Je travaille comme gestionnaire foncier au Conseil de bande. Gestionnaire foncier pour les Premières Nations,
    comme Odanak, c’est un programme qui comporte l‘environnement et les terres. Les transferts entre deux individus
    pour l’achat, la vente de terrain, de maison, l’arpentage, ainsi de suite. Et aussi s’occuper que tous les test en
    environnement soit fait, en engageant ou en faisant lui-même les rapports dans l’environnement.»</br></br>
  On a fait d’évaluation environnementale dernièrement pour arriver à un processus qui s’appelle
  GTPN, la loi sur la Gestion des Terres des Premières Nations. C’est un processus qui demande beaucoup d’informations,
  dont l’information en environnement, comment est la santé environnementale de la communauté. C’est ça qu’il faut
  mettre par écrit pour arriver ensuite, le jour que la loi va être en force dans la communauté, qu’on va prendre
  charge de nos terres. Mais qu’on soit avec des terrains qui sont pas contaminés, qui sont pas dégradés d’une façon ou d’une autre.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Qu'est ce qui t'as amené à être gestionnaire foncier à Odanak?</h3>
  <iframe src="https://www.youtube.com/embed/gRyuPzrMXPQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Je suis forestier de formation, et je travaillais pour le Grand Conseil comme contractuel, pour des projets
    éventuels pour les communautés d’Odanak et de Wôlinak. Et j’ai penché sur le côté environnemental avec
    le projet Tolba et dans le même temps, le Conseil de bande m’a approché en me disant: "On aurait
    besoin d’un gestionnaire foncier dans la communauté et nous croyons que t’es la personne qui peut faire la job.
    Faq j’ai vérifié qu’est-ce-que ça engageait, qu’est-ce-que c’était et j’ai accepté de devenir gestionnaire
    foncier tout en gardant mon chapeau de forestier et de personne qui travaille avec les espèces en péril.»</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Comment vois tu le processus de revitalisation de dérouler?</h3>
    <h2>Battage de frêne</h2>
    <p>Michel: «Ce volet là est très présent dans la communauté, les gens nous appelent <u><a href="/land/tradition" target="_blank">comme à Montréal</u></a>
      pour faire une démonstration de battage de frêne, dans les <u><a href="/spirit/tradition" target="_blank">pow-wows</u></a>. C’est quelque chose qui avait été perdu qui ne se faisait plus.
      Ca c’est fait dans les pow-wows très anciens mais dans les plus récent, c’était plus là ce volet-là.
      Mais là c’est revenu, à chaque pow-wow il y a une démonstration de battage de frêne parce-que c’est quelque chose qui nous appartient et qui est directement relié à la communauté.» </p>
    <img src="/pictures/land/trad/battage3.jpg" class="img-responsive"/>
    <p>Luc et Kenny battant le frêne au festival Présence Autochtone. Apprends en davantage sur cette pratique traditionnelle <u><a href="/land/tradition" target="_blank">ici</a></u></p>


  <h2>Dances, chants et tambours</h2>
  <p>Michel: «Pour les danses, là aussi plusieurs personnes ont continué à faire les danses.
    Nicole O’Bomsawin a continué ce volet-là, les chants la même chose, il y a plusieurs personnes comme Jacques Watso
     et Daniel Nolett, ils ont un groupe de tambour avec chants, ça c’est pas quelque chose qui s’est perdu au
     contraire, ça s’est même amélioré que ce que c’était avant. Faq ça va très, très, très bien.»</p>
    <img src="/pictures/spirit/trad/powwow.jpg" class="img-responsive"/>
    <p>Nicole animant les danses avec les enfants Abénakis au pow-wow d'Odanak. Apprends en davantage sur les pow-wows <u><a href="/spirit/tradition" target="_blank">ici</a></u></p>
  </div></div>

</div>
</body>
