<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
        <h2>Keep exploring here</h2></br>
        <% include ../circle-opt.svg %>
        <h3>Curious about the other interviews?</h3>
        <ul><h5>
          <li> <a href="/language/interview">Monique Ilet Nolett</a></li>
          <li> <a href="/art/interview">Guy Sioui Durand</a></li>
          <li> <a href="/spirit/interview">Michel Durand Nolett</a></li>
        </ul></h5>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Luc Gauthier Nolett</h1>
    <iframe height="360" src="https://youtube.com/embed/g01Vwr1ZGvE" frameborder="0" allowfullscreen>
    </iframe>
    <p>... </p>
  </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
  <h3>Short biography</h3>
<p> Luc est né à Odanak en 1978. <em>"J’ai jamais quitté la réserve, j’ai tout le temps vécu ici, là présentement je
  suis établi, ma maison est construite pis je vais mourir ici."</em> Depuis tout petit, il est passioné par le
  territoire: <em>"à la petite école, mon rêve c’était de devenir garde chasse."</em> Il est désormais employé par
  le Conseil de bande et travaille au Bureau Terre et ENnvironnement en partenariat avec les travaux publics sur des
  projets environnementaux de toute sorte, comme par exemple sur les espèces en péril. <em>"On gère l’aspect aussi de
  la communauté un peu sur tous les niveaux, on fait la taille des arbres, l’abattage d’arbres dangeureux, on est
  polyvalents. On s’occupe que la communauté soit propre, c’est un peu cette transmission là aussi du territoire,
  tsé quand tu t’en vas à la chasse, quand tu t’en vas à la pêche de ramasser des cochonneries pis des petites
  choses simples de même."</em> Durant les périodes plus chaude de l'année, ils animent des ateliers comme pour
  la journée de la Terre, le 21 juin et participe également au pow-wow.</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-4">
  <h3> Loi C-31 et statut 6.1 / 6.2</h3>
    <p> <em>"Moi je fais partie de la Loi avant 1985. Ma mère elle a perdu ses droits,
      faq moi j’étais pas indien. Je suis né pas abénaki même si je suis né dans la communauté.
      C’était la guerre là, c’était la guerre totale. Mes amis que leur père est abénaki ben
eux-autre leur mère tombait abénakise. Faq que ça a brassé…  Les jeunes aujourd’hui ils ont pas connu
ça."</em></p>
  </div>
  <div class="col-xs-4">
  <h3> Regard vers l'avenir?</h3>
  <p><em>"C’est incertain là,
 qu’est-ce-qui subsiste de ma culture moi aujourd’hui en 2016 là ? C’est triste. Il y a plus personne qui
parle abénaki, il y a plus pratiquement personne qui pratique des rituels traditionnels: la tente
suante, les mariages, les baptêmes, la fête du maïs, la fête de l’automne. On fête l’équinoxe, le solstice d’été,
parce-qu’on le fête avec une activité de camping. Cette année c’était cool, les jeunes viennent avec nous autres, Kenny qui es là
avec Chris qui s’occupent des jeunes de les faire pêcher en avant. On a été faire des démonstrations
de pêche au filet, on a fait fumé du poisson, on a fait des dream catchers, on a fait des danses, on a
chanté. C’est une activité rassembleur pis c’est important aujourd’hui. Notre
tradition c’est qu’est ce que je fais avec toi là aujourd’hui, tsé nous autres c’est pour moi encore,
c’est l’oral."</em> </p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
  <h3>Batteurs de frêne</h3>
      <img src="/pictures/land/trad/battage1.jpg" class="img-responsive center" alt=""/>
<p>L'été 2016, Michel, Luc et Kenny étaient présents au Festival Présence Autochtone à Montréal pour battre le frêne.
  <em>"Je suis un des derniers qui s’occupe de la transmission de cette petite
partie de la culture qu’on connait encore, qu’on aime bien perpétrer. Dans le fond je m’occupe d’aller chercher le
bois, de l’identification, d’aller l’abattre, de revenir avec ici, de m’occuper du battage pis de la transmission de ce savoir là. Pis de fournir en
même temps nos aînées qui sont les dernières à faire des paniers, il y a pas beaucoup de jeunes qui
en font. Ma tante Annett qui était là-bas elle, elle en fait, sa petite fille Angèle elle en fait aussi. Mais
c’est ça dans les jeunes il n’y en a pas beaucoup. La moyenne d’âge c’est 70 en montant.""</em>
 </p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
  <img src="/pictures/land/trad/battage.jpg" class="img-responsive center" alt=""/>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-8">
  <h3> Bureau Terre et Environnement</h3>
  <img src="/pictures/land/bureau.jpg" class="img-responsive center"/>
<p><em>"Quand on a ouvert le bureau ici en 2007, il y avait Michel, une biologiste pis moi. On était trois. Pis on
fait un projet de 16 semaines. Pis ça a commencé là, projet tortue en 2007, pis en 2008 il y a eu un
autre projet mais moi j’ai pas participé, j’ai été exclu. En 2009 je suis revenu, j’ai été accepté pis là
ben depuis 2009 je suis ici pis là ça roule, les projets roulent. Là jusqu’en 2014, j’étais tout seul ici. On
avait des emplois de stagiaire l’été mais sinon j’étais tout seul pour faire tout ce qu’on fait
maintenant à six. Que là aujourd’hui, à six on peut dire, ok les travaux publics ont besoin d’aide, on
s’en va… Tsé  lui mon chom qui arrive avec son tracteur. Il était à l’aide sociale. Tsé il se foutait un
peu de la communauté, il était un peu rebelle face à ça. Tsé un jour je savais qu’il trippait sur la
chasse, la pêche pis un peu sur la nature. On avait besoin d’un bonhomme...
j’ai été le chercher chez eux, je savais qu’il avait pas d’emploi, qu’il avait des
compétences. Je suis allé le chercher pis on a eu ses services. Aujourd’hui il est employé permanent
au Conseil de bande. On essaie de faire pareil avec Kenny pis Danny, on essaie de les introduire
tranquillement. Introduire des projets, inventer des projets, des idées, ramener du financement pour
faire travailler le monde. C’est là-dessus tsé… J’espère juste que ça, ça va continuer pis que le Conseil
de bande va voir le travail qu’on fait pis la qualité des jeunes qu’on a. Tsé, j’ai été moi aussi, j’ai été
rebelle, le gars qui s’en vient sur le tracteur c’est un rebelle, Kenny c’était un rebelle tsé on est toute.
On est la plus belle gagne qu’il y a dans notre sphère de travail"
</em>
</p>
</div></div>

</div>
</body>
