<% include ../partials/header %>
<head>
  <title>Interviews about the land</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div></div>
    <h1>LAND - Interviews</h1>
    <div class="col-xs-8">
        <img src="/pictures/land/bureau.jpg" class="img-responsive center"/>
</div>
<p>The Enviromental Office is now an institution in Odanak. It started in 2007, at the initiative of Michel, Luc, and a biologist. Both born and raised in Odanak,
  they have been deeply engaged in the community, taking care of the natural habitat, and upholding traditional values and practices, such as ash pounding.
  You can follow up their work </a href="https://www.facebook.com/Bureau-environnement-et-terre-dOdanak-367476303301681/" target="_blank"><u>here</u></a>.
</div>

<div class="row">
<div class="col-xs-6">
    <h3>First story: </br>Luc Gauthier Nolett</h3>
    <img src="/pictures/bubbles/luc.png" alt=""height="280" width="256"/>
  </div>
  <div class="col-xs-6">
    <h3>Second story: </br>Michel Durand Nolett</h3>
    <img src="/pictures/bubbles/michel.png" alt=""height="285" width="256"/>
  </div></div>

<div class="row">
  <div class="col-xs-12">
  <h3>Who are you and where are you from?</h3>
    <iframe src="https://youtube.com/embed/RUIDg2XNlgY" frameborder="0" allowfullscreen>  </iframe>
    <p>«I was born here in 1978. I never left the reserve, I always lived here, presently I’m settled here, and I’m gonna die here.»</p>
  </div></div>

  <div class="row">
    <div class="col-xs-12">
    <h3>What do you do in Odanak?</h3>
    <iframe src="https://youtube.com/embed/P3cMatRlxsc" frameborder="0" allowfullscreen>
    </iframe>
      <p>«I work for the Band Council, together with the Public Works. We work on projects about endangered species, on environmental projects of all kinds.»</p>
      <img src="/pictures/land/bureau1.jpg" class="img-responsive center"target="_blank"</>
    </div></div>

  <div class="row">
  <div class="col-xs-12">
  <h3>Were you passionate about that when you were young?</h3>
    <audio src="/audio/land/luc.mp3" controls="true"/> </audio>original recording in french</br>
    <p> «Yes, yes, yes. In my youth memory, when I was young I wanted to be a gamekeeper, at the time it was called gamekeeper.
      At primary school, my dream was to become game-keeper. I don’t have the mental skills to do that, but today I work in an
      environmental office and I manage projects with endangered species. So I’m not that far from my goal. I work
      with elders and with younger ones. (...) We also take care that the community stays clean, it’s also this kind of transmission of the land. You know, when you go hunting, when you go fishing, you pick up the trash, simple things like that.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3>I walked several times on the Tolba path, I find it great. I went there with one of the youth, Raphaelle.
  She has been working at the museum for a couple years, and recommends the walk to tourists, but it was her first time on the Tolba path.</h3>
<a href="/pictures/land/photo/13.jpg"><img src="/pictures/land/photo/13.jpg" target="_blank" class="img-responsive center"/></a>
<p class="caption"> taken during the <a href="/land/photo" target="_blank"><u>photography workshop</u></a> on the land, by Raphaelle Obomsawin, Odanak</p>

  <p> «Still, it’s important to have an interest in knowing what is there. We inaugurated the path in 2009, we wanted a partnership with the museum, to train guides who would have walked and would have explained things depending on their competencies and their understandings. For example, I am particularly good with the birds, identifying the birds. I’m not an ornithologist, but I like that, I’m an amateur. Well in the end, it didn’t work out… Otherwise, we did it several times with groups of children from elementary school, primary school, and also with youths. We also organize workshops, such as for Earth Day. We will go to places with our things, take part in Earth Day workshops all around. We always do little events like that. We participate in the pow-wow and meet people like you.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What is your practice with the ash tree?</h3>
  <iframe  src="https://youtube.com/embed/LB4XTqVh-a4" frameborder="0" allowfullscreen>
  </iframe>
    <p> «I am one of the last who takes care of the transmission of this little part of the culture that we still know, that we like to pass on. (...)it provides our elders who are the last ones to weave baskets, there aren’t many youths who do it.»</p>
<img src="/pictures/land/trad/battage2.jpg" class="img-center" alt=""/>
<p class="caption">Learn more about <u><a href="/land/trad" target="_blank">traditional ash pounding</u></a></p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Do you think that young people are interested by that traditional practice?</h3>
<iframe src="https://www.youtube.com/embed/k2o_kp7cWrw" frameborder="0" gesture="media" allowfullscreen></iframe>
      <p> «To the point that they go out, that they put away their screen, their Facebook, and Twitter...? (...) It’s hard to move them away from this torpor. We shouldn’t give up at all, we have to take them by the hand.»
    </br></br>«What remains of my culture, today in 2016?»</p>
    </div></div>

<div class="row">
<div class="col-xs-12">
    <h3>What are the challenges faced by Indigenous youth in today's society?</h3>
    <audio src="/audio/entrevues/luc2.mp3"> </audio>
      <p>«The challenge is to find your identity through this mediatic landslide.»(...)</br>
«- In my case, I’m part of the law before 1985, my mother married a white guy. Well, today my father is Indian. He has always been an Indian but it took 50 years for the procedures to go through. Eventually, my father got his card as Abenaki Indian, but before that he was white with my mother. My mother lost her rights, so I wasn’t Indian. I wasn’t born Abenaki. </br>
Louise: - But your were born here?</br>
- Yes, yes. It was the war, the absolute war. Some of my friends had an Abenaki father, so their mother became Abenaki. It created tensions… The young people today, they didn’t know that but they still know the prejudice that “ah the Indians they don’t know how to do anything, they are all bad people, they are all lazy.” These prejudices like that,
I don’t pay them any mind because I know what we are able to do. It’s rather the ignorance that I dislike. The prejudices of the people aren’t often grounded.
It’s the man who saw the man who saw the bear.» </p>
    </div></div>

<div class="row">
<div class="col-xs-12">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/mWddbq2B-Jg" frameborder="0" gesture="media" allowfullscreen></iframe>
<p>«Anyone in the community, the elders come see us to ask for help, they have something heavy to transport, trees, whatever, we are here to help. For sure, I want to pass on that spirit. Are you always forced today to pull out some money to get a helping hand? It seems…  I mean, we are what we are, we are welcoming, I am like that! I want people who come here to they remember us.» </p>
</div></div>

  <div class="row">
  <div class="col-xs-12">
  <h2>For now, this section is only available in French.</h2>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How did the Enviromental Office come to exist?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MI58JYD0Qjk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <p>«Quand on parle du Bureau Environnement et Terre, le pourquoi que je l’ai appelé Environnement et Terre, c’est un bureau qui n’existait pas à Odanak, un département qui n’existait pas, qui était inexistant.
    Je l’ai appelé comme ça par rapport au programme de gestion des terres et de l’environnement. Faq à partir de là,
    je me suis dit bon on travaille en environnement, je travaille pour les terres, ça va être un Bureau d’environnement et des terres.
    On a gardé cette appellation, j’ai proposé au Conseil de bande, ils m’ont dit : ‘c’est bien, c’est correct’. Depuis 2008/2009, c’est le bureau
    Environnement et Terre et le Conseil de bande en est très fier, fier de parler de notre bureau, on a fait beaucoup de progrès en quelques années
    au niveau environnemental avec la création de sites de récupération, les sites RDD récupération de résidus domestiques dangeureux, on a fait des
    sentiers d’interprétation, deux sentiers d’interprétation pas juste un, on a fait un blitz de nettoyage de la communauté avec l’aide du
    Ministère des Affaires Indiennes pour nettoyer toutes les forêts et tous les terrains de la communauté. On a trouvé plusieurs dépotoirs clandestins,
    des anciens, des moyennement anciens et des nouveaux. On a fait le nettoyage de tout ça, ça a été une très très bonne chose.»</p>
</div></div>

    <div class="row">
    <div class="col-xs-12">
  <h3>What do you do for the community?</h3>
<iframe src="https://www.youtube.com/embed/AKdelEn4QwY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Comme travail pour la communauté, je travaille comme gestionnaire foncier au Conseil de bande. Gestionnaire foncier pour les Premières Nations,
    comme Odanak, c’est un programme qui comporte l‘environnement et les terres. C’est les deux volets sur lesquels le gestionnaire foncier
    doit travailler et si on veut, ça ressemble un peu à un notaire. Les transferts entre deux individus pour la l’achat, la vente de terrain,
    de maison, l’arpentage, ainsi de suite. Et aussi l’environnement, s’il y a à faire des vérifications en environnement des phases 1 et 2.
    C’est le gestionnaire foncier qui doit s’occuper que tous les test en environnement soit fait, en engageant ou en faisant lui-même les rapports
    dans l’environnement.»</p>
  <!--On a fait une phase E, d’évaluation environnementale dernièrement pour arriver à un processus qui s’appelle GTPN, la Loi sur la Gestion des Terres des Premières Nations. C’est un processus qui demande beaucoup d’informations, dont l’information en environnement, comment est la santé environnementale de la communauté. C’est ça qu’il faut mettre par écrit pour arriver ensuite, le jour que la loi va être en force dans la communauté, qu’on va prendre charge de nos terres, de la gestion des terres. Mais qu’on soit avec des terrains qui sont pas contaminés, qui sont pas dégradés d’une façon ou d’une autre. [02 :53] C’est une façon de faire. On part, comme je disais à des gens, on part à zéro, on met le cadran à l’année zéro et on part avec une nouvelle gestion de nos terres. C’est de les garder dans le meilleur état possible. C’est un peu le mandat que j’ai comme gestionnaire foncier dans la communauté [03 :22], d’ici les prochains deux ans. -->
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What brought you to be land manager in Odanak?</h3>
  <iframe src="https://www.youtube.com/embed/gRyuPzrMXPQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«C’est très simple, c’était pas quelque chose que je visais premièrement. Je suis forestier de formation, et je travaillais pour le Grand Conseil comme contractuel et
    je travaillais pour le volet environnemental et foresterie en même temps, pour des projets éventuels pour les communautés d’Odanak et de Wôlinak,
    j’étais au Grand Conseil à l’époque. Et j’ai penché sur le côté environnemental avec un projet qui s’appelle le projet Tolba et dans le même temps,
    le Conseil de bande m’a approché en me disant: ‘bon ben il y a toujours des concours à l’interne qui ouvrent, t’es là ? Et on aurait besoin d’un gestionnaire
    foncier dans la communauté et nous croyons que t’es la personne qui peut faire la job. Faq j’ai vérifié qu’est-ce-que ça engageait, qu’est-ce-que c’était et
    j’ai accepté de devenir gestionnaire foncier tout en gardant mon chapeau de forestier et de personne qui travaille avec les espèces en péril, cet autre volet là.
    Faq je faisais les deux en parallèle mais pour arriver très vite à la conclusion que c’était pas en parallèle, c’était ensemble.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you see the process of revitalization unfolding?</h3>
  <ol>
<li><p>Territoire: «On parle en premier du territoire. Mais le territoire c’est ça c’est qu’on travaille quotidiennement,
  moi comme gestionnaire foncier je travaille quotidiennement à retrouver les territoires qu’on a perdu. Soit par un
  achat de terrain, comme... un autre terrain qu’il avait complètement de l’autre côté de la communauté, qu’on
  appele le juge Gill. Et ce terrain là, c’était un terrain de juge, qui avait cédé à un moment donné, donc on savait
  qu’il serait rendu mais ce terrain n’était plus à Odanak, c’était rendu Pierreville. On a rendu ce terrain là au d
  ernier propriétaire, on l’a acheté parce-que lui l’avait acheté. Il faut donner une juste part à cette personne là.
  Donc on a acheté le terrain et aujourd’hui on a fait le sentier Koak qui est sur ce terrain à. Avec l’histoire du
  terrain, avec le juge Gill.(..) Le sentier d’interprétation est sur le terrain, très beau terrain, qu’on a aménagé
   parce-que là aussi il y a des gens qui commençaient à se l’approprier trop par la coupe d’arbres et toutes sortes
   de choses. Faq avant que ça devienne trop, on a arrêté tout ça et avec le Conseil de bande, on en fait un sentier
   dinterprétaion pour protéger le milieu. Pourquoi le sentier koak c’est parce-qu’au bout du terrain il y a une
   pinède, Koak ça veut dire pin.»</p></li>
<li><p>Battage de frêne: «Ce volet là est très présent dans la communauté, les gens nous appelent comme à Montréal pour faire une démonstration de battage de frêne, au pow-wow pour faire une démonstration de battage de frêne, c’est quelque chose qui avait été perdu qui ne se faisait plus. Ca c’est fait dans les pow-ww très anciens mais dans les plus récent, c’était plus là ce volet-là. Mais là c’est revenu, à chaque pow-wow t’as une démonstration de battage de frêne parce-que c’est quelque chose qui nous appartient et qui est directement relié à la communauté.» </p></li>
<li><p>Dance et tambour: «Pour les danses, là aussi plusieurs personnes ont continué à faire les danses.
  Nicole O’Bomsawin a continué ce volet-là, les chants la même chose, il y a plusieurs personnes comme Jacques Watso
   et Daniel Nolett, ils ont un groupe de tambour avec chants, ça c’est pas quelque chose qui s’est perdu au
   contraire, ça s’est même amélioré que ce que c’était avant. Faq ça va très, très, très bien.»</p></li>
</ol>
</div></div>

</div>
</body>
