<% include ../partials/header %>
<head>
  <title>LAND</title>
</head>

<body>
<div class="container">
  <div class="row">

    <!--
    <div class="col-xs-4">
      <a wheel navigation></a>
    </div> -->

    <div class="col-xs-4">
<h1> Revitalizing the connection to the <strong>land</strong> </h1>
<p>Below you will find the different activities of the project related to the territory. </p>
<ul>Explore the different media elements:
  <li>Sound recordings</li>
  <li>Photographs from the participatory workshops</li>
  <li>Biographical interview</li>
  <li>Video of a traditional practice: ash pounding</li>
  <li>Stories from the sharing circle</li>
</ul>
</div>
<div class="col-xs-4">

  </div>

</div>
</div>
</body>
