<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="miniwheel">
  <h1>Keep exploring here</h1>
  <img src="/pictures/circle.png" height="350" width="350"/>
  <p>Curious about the other participatory photography?</p>
  <ul>
  <li> <a href="/language/photo">LANGUAGE</a></li>
  <li> <a href="/art/photo">ART</a></li>
  <li> <a href="/spirit/photo">SPIRIT</a> </li></ul>
    </div>

    <div class="col-xs-4">
      </div>
  <div class="col-xs-8">
<h1>Photographies </h1>
<h3> Ces photos ont été prises dans le cadre d'ateliers de photographie participative à partir de la méthode PhotoVoice</h3>
<p> J'ai décidé de mélanger les territoires et les photographes afin de créer une impression d'ensemble des terres parcourues.
Contrairement aux pages présentant sur <a href="/the-communities">les communautés</a>, ici seont uniquement présentées les
photos prises par <a href="/the-women">ces jeunes</a> dans le cadre des ateliers. Les légendes en dessous des photographies
informent sur: l'auteur, le lieu, la saison. Parfois, elles sont accompagnées d'un commentaire, d'une histoire ou d'une
explication fournie par la photographe.
Le choix de l'ordre et du classement a été saisi sur un ordre chronologique.</p>
</div></div>

<!-- ROW 1-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/1.jpg"><img src="/pictures/land/photo/1.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
  C'est mon petit spot secret de baignade.</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/2.jpg"><img src="/pictures/land/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
«Ca me rappelle mon chalet, il y avait pleins de ronds empilés. J'ai pris celle-ci car ça me rappelle quand j'allais dans le bois avec mon grand-père et qu'il entassait des rondins.»  </p>
</div></div>

<!-- ROW 2-->
<div class="row">
  <div class="col-xs-4">

  </div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/3.jpg"><img src="/pictures/land/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
  Le site du pow-wow. La première édition du pow-wow a eu lieu en 2006, 100 ans après la création de la réserve.</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/4.jpg"><img src="/pictures/land/photo/4.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
  «Je voulais montrer l'exploration du territoire au travers de ma nièce, Rocksanne»</p>
</div></div>

<!-- ROW 3-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/5.jpg"><img src="/pictures/land/photo/5.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
  «...»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/6.jpg"><img src="/pictures/land/photo/6.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 11.07.2016</br>
  «Ah nitosis (ma tante) regarde les bêbêtes!»</p>
</div></div>

<!-- ROW 4-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/land/photo/7.jpg"><img src="/pictures/land/photo/7.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
    «J'aime la grandeur de ce pin blanc»</p></div>

<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/land/photo/8.jpg"><img src="/pictures/land/photo/8.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
    «On renaît de nos racines»</p>
  </div></div>

  <!-- ROW 5-->
  <div class="row">
    <div class="col-xs-4">

    </div>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/land/photo/9.jpg"><img src="/pictures/land/photo/9.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
    «Ca m'évoque des sensations de quiétude, de paix, de tranquilité.»</p></div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/10.jpg"><img src="/pictures/land/photo/10.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
    «Cet arbre a un côté dark, mystérieux. Ca me rappelle qu'on a vécu des moments difficiles. Qu'on a perdu gros
    dans notre peuple, qu'on est plus beaucoup. Malgré tout les racines continuent à pousser, même si l'arbre est
    tombé»</p>
  </div></div>

<!-- ROW 6-->
  <div class="row">
    <div class="col-xs-4">

    </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/11.jpg"><img src="/pictures/land/photo/11.jpg"
    class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
    «J'aime l'aspect d'unité des petites baies»</p></div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/12.jpg"><img src="/pictures/land/photo/12.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
  «Ca donne l'impression que notre terrtoire est immense, vaste, qu'il va jusque l'infini.
  Dans le fond c'est quasiment plus rien. C'est juste une impression qu'on a.»</p></div>
</div>

<!--ROW 7-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/13.jpg"><img src="/pictures/land/photo/13.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
  «Le sentier Tolba»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/14.jpg"><img src="/pictures/land/photo/14.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomwasin, Odanak, juillet 2016</br>
  «...»</p>
</div></div>

<!-- ROW 8-->
<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/15.jpg"><img src="/pictures/land/photo/15.jpg" class="img-responsive center"/>
<p class="caption">Marie-Kristine Petiquay, Manawan, 16.08.2016</br>
«C'est deux frères qui se chamaillent... Dans le fond, ça me rappelle
Voici à quoi MK et Wapi et ressembleraient s'ils étaient des chiots.</p>
</div>

<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/16.jpg"><img src="/pictures/land/photo/16.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 07.04.2016</br>
  «C'est ma mère et mon amie innu, à laquelle je souhaitais faire découvrir le territoire.
   dans le bois allant pour collecter les colets»</p>
</div></div>

<!-- ROW 9-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/the-women/land/photo/17.jpg"><img src="/pictures/land/photo/17.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Manawan, 07.04.2016</br>
  Colet de lièvre«...»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/the-women/land/photo/18.jpg"><img src="/pictures/land/photo/18.jpg" class="img-responsive center"/>
<p class="caption">Marie-Kristine Petiquay, Manawan, 07.04.2016</br>
«C'est la manière traditionnelle de cuisiner, sur le feu directement»</p>
</div></div>

<!-- ROW 10-->
<div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/19.jpg"><img src="/pictures/land/photo/19.jpg" class="img-responsive center"/>
  <p class="caption">Marie-Kristine Petiquay, Manawan, novembre.2016</br>
  «Les spécialités culinaires de chez nous: doré et orignal.
  Tout le monde fait ça, c'est vraiment les spécialités. C'est notre terre et mère à nous... Peut-être plus rivière!  Rien qu'en regardant la photo ça me donne faim!»</p>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/land/photo/20.jpg"><img src="/pictures/land/photo/20.jpg" class="img-responsive center"/>
<p class="caption">Marie-Kristine Petiquay, Witosipik,(Manawan), 31.12.2016</br>
«C'est notre chalet. C'était la première fois qu'on y retournait en famille depuis la mort de mon
mocom (grand-père)»</p>
</div></div>

<!-- ROW 11-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/land/photo/21.jpg"><img src="/pictures/land/photo/21.jpg" class="img-responsive center"/>
<p class="caption">Marie-Kristine Petiquay, Manawan, 07.04.2016</br>
«On est allés passer le jour de l'An au chalet car mon grand-père aimait ça aller là-bas pour ça.»</p>
</div></div>


</div>
</body>
