<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-4">
    <div class="miniwheel" data-spy="affix" data-offset-top="60">
      <h2>Keep exploring here</h2></br>
      <% include ../circle-opt.svg %>
      <h3>Curious about the other sound recordings?</h3>
      <ul><h5>
        <li> <a href="/language/sounds">Language</a></li>
        <li> <a href="/spirit/sounds">Spirit</a> </li>
      </ul></h5>
    </div>
  </div>
  <div class="col-xs-8">
  <h1>Sound recordings</h1>
  <p> These sounds were recorded in the summer of 2016. They have a cultural relevance according to the Nations, their
    territories and practices.</p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <h3><a href="/the-communities/Odanak">Odanak</a> by night</h3>
    <audio src="/audio/land/odanakbynight.mp3" controls="true"/></audio>
    <p></p>
</div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
<div class="col-xs-4">
<h3><a href="/the-communities/Odanak">Cacouna</a> and the beautiful river</h3>
   <audio src="/audio/land/cacounariver.mp3" controls="true"/></audio>
   <p>Wolastoq: the river</p>
</div>
<div class="col-xs-4">
  <audio src="/audio/land/cacounawalking.mp3" controls="true"/></audio>
  <p>Walking on the land:
    Wolastoqiyik identify themselves as People of the River as they were established along Wolastoq/Saint John River.
  The river bears a profound meaning for the Nation, physically, spiritually and symbolically.
  Traditionally, it provided an abundance of food, medicines and a means of transportation for the population
  to survive and to thrive. Seen as the source of their identity, the river is to be found on the
  flag of the Nation and is celebrated in songs. Its sacredness continues
 to be honoured, nowadays through gathering such as the pow-wow which takes place on the riverbanks.</br>
  <a target="_blank " href="http://www.virtualmuseum.ca/edu/ViewLoitLo.do;jsessionid=FE7AF5B8F97F743502B8B51BE0EAA971?method=preview&lang=EN&id=310" src="http://www.virtualmuseum.ca/edu/ViewLoitLo.do;jsessionid=FE7AF5B8F97F743502B8B51BE0EAA971?method=preview&lang=EN&id=310"
   >*Source*</a></p>
 </div></div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <h4><a href="/the-communities/manawan">Manawan</a></h4>
  <h2>Birds by the lake</h2>
  <audio src="/audio/land/manawan/birds.mp3" controls="true"/></audio>
  <p>Manawan means "where the eggs are laid"</p>
</div>

  <div class="col-xs-4">
  <h2>The waves/ Le ressac des vagues</h2>
  <audio src="/audio/land/manawan/waves.mp3" controls="true"/></audio>
  <p>[from 02:20]</p>
</div></div>
<!--
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  <h4>A tranquille summer afternoon</h4>
  <audio src="/audio/land/manawan/home.mp3" controls="true"/></audio>
  <p>[from 00:35 - 01:05]</p>
</div></div>-->

</div>
</body>
