<% include ../partials/header %>
<head>
  <title>Sounds of the land</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-4">
    <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
      <h3>Keep exploring here</h3>
      <% include ../circle-opt.svg %>
  </div></div>
  <div class="col-xs-8">
  <h1> LAND ~ Sound recordings</h1>
  <p>The medium of sound can convey an atmosphere while allowing space for imagination. Because it is more discret and less intimidating than a camera, the sound recorder
    enabled me to record moments of cultural expression, listening to the melodies from the land. I selected sounds particularly relevant for these peoples.
    I wish these recordings to bring an intimate insight into the Atikamekw, Wolastok and Abenaki cultures,
    adding a layer of perception into the diversity of territories and identities of these Nations.</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Odanak by night</h3>
    <audio src="/audio/land/odanakbynight.mp3" controls="true"/></audio>
    <p>This sound is particular to a summer night in the Abenaki community of <u><a href="/the-communities/Odanak" target="_blank">Odanak</u></a>. Even if Odanak is situated in an urban area, there is a diverse wildlife, including animals such as deer, turkey, hare, frogs, sturgeon and more.
      The hunting, trapping and fishing activities are regulated by a code of practice, enacted by the governement of Quebec and the band councils of the Abenaki Nation.
    Among other things, <a href="https://gcnwa.com/en/hunting-fishing/" target="_blank"><u>this code of practice</u></a> promotes: "the protection of the territory, its wildlife and habitats; the teaching of healthy and safe practices, and ancestral knowledge to the younger generation;
the valuing of the specific abenaki culture, including the possibility of family and community practices and traditions."</p>
</div></div>

<div class="row">
<div class="col-xs-12">
<h3><a href="/the-communities/Cacouna" target="_blank"><u>Cacouna</u></a> and the Wolastoq river</h3>
   <audio src="/audio/land/cacounariver.mp3" controls="true"/></audio>
      <p>For over a millenia, the Wolastoq/Saint John River has nurtured the Maliseet Nation, physically, culturally and spiritually.
        Stretching to New Brunswick, the watershed represents the traditional territory of the Wolastoqiyik, meaning "people of the beautiful river" in Maliseet language.
      Seen as the source of their identity, the river is a strong national symbol, present on the flag of the Nation, and <a  target="_blank" href="/language/sounds"><u>celebrated in songs</u></a>.
      Often, development projects, such as the recent Energy East pipeline, threaten the health of the river, as a source of medicines, foods and ceremonial practices for the river dwellers.
    </br> Sources used: <u><a target="_blank " href="http://www.virtualmuseum.ca/edu/ViewLoitLo.do;jsessionid=FE7AF5B8F97F743502B8B51BE0EAA971?method=preview&lang=EN&id=310">Virtual Museum Canada</a></u>
    and <u><a target="_blank " href="http://www.pc.gc.ca/apps/dfhd/page_nhs_eng.aspx?id=13012&i=64629">Directory of Federal Heritage Designations</a></u>
    </p>
</div></div>

<div class="row">
  <div class="col-xs-12">
  <h3>A summer day by the lake <a href="/the-communities/manawan" target="_blank"><u>Manawan</u></a></h3>
  <audio src="/audio/land/manawan/birds.mp3" controls="true"/></audio>
  <audio src="/audio/land/manawan/waves.mp3" controls="true"/></audio>
  <p>In atikamekw language, Manawan means "place where we gather the eggs". The toponymy of the land holds great meaning, as explained on
    the <u><a href="http://www.toponymie.gouv.qc.ca/ct/ToposWeb/Fiche.aspx?no_seq=231960" target="_blank">National toponymie website</u></a>.
  In the summer, the lake offers a playground, a source of substitence, a space to gather and rest. Both motor boats and canoes are used on the water.
  </div></div>

<div class="row">
    <div class="col-xs-12">
    <p>These sounds were recorded by Louise Romain Watson in the summer of 2016, while visiting the communities.</p>
</div></div>
</div>
</body>
