<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
<h4 class="wheeltitle">Ecouter le territoire au travers d'...</h4>
<h1> Enregistrements sonores</h1>

<div class="row">
  <div class="col-xs-4">
    <h4><a href="/the-communities/Odanak">Odanak</a> </br>by night</h4>
    <audio src="/audio/land/odanakbynight.mp3" controls="true"/></audio>
    <p>recorded on May 13th</p>
</div>

<h4><a href="/the-communities/Odanak">Cacouna</a></br>
  and the beautiful river</h4>
     <div class="col-xs-4">
   <audio src="/audio/land/cacounariver.mp3" controls="true"/></audio>
   <p>Wolastoq: the river</p>
</div>
<div class="col-xs-4">
  <audio src="/audio/land/cacounawalking.mp3" controls="true"/></audio>
  <p>Walking on the land</p>
</div>

<p> Wolastoqiyik identify themselves as People of the River as they were established along Wolastoq/Saint John River.
  The river bears a profound meaning for the Nation, physically, spiritually and symbolically.
  Traditionally, it provided an abundance of food, medicines and a means of transportation for the population
  to survive and to thrive. Seen as the source of their identity, the river is to be found on the
  flag of the Nation and is celebrated in songs. Its sacredness continues
 to be honoured, nowadays through gathering such as the pow-wow which takes place on the riverbanks.</br>
  <a target="_blank " href="http://www.virtualmuseum.ca/edu/ViewLoitLo.do;jsessionid=FE7AF5B8F97F743502B8B51BE0EAA971?method=preview&lang=EN&id=310" src="http://www.virtualmuseum.ca/edu/ViewLoitLo.do;jsessionid=FE7AF5B8F97F743502B8B51BE0EAA971?method=preview&lang=EN&id=310"
   >*Source*</a></p>
 </div>

<div class="row">
  <h4><a href="/the-communities/manawan">Manawan</a></h4>
  <div class="col-xs-4">
  <h4>Birds by the lake</h4>
  <audio src="/audio/land/manawan/birds.mp3" controls="true"/></audio>
  <p>Manawan means "where the eggs are laid"</p>
</div>

  <div class="col-xs-4">
  <h4>The waves/ Le ressac des vagues</h4>
  <audio src="/audio/land/manawan/waves.mp3" controls="true"/></audio>
  <p>[from 02:20]</p>
</div>
  <div class="col-xs-4">
  <h4>A tranquille summer afternoon</h4>
  <audio src="/audio/land/manawan/home.mp3" controls="true"/></audio>
  <p>[from 00:35 - 01:05]</p>
</div></div>

</div>
</body>
