<% include ../partials/header %>
<head>
  <title>Battage de frêne pounding: a traditional Abenaki practice</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Continue à explorer ici</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Territoire ~ Pratique traditionnelle</h1>
    <img src="/pictures/land/trad/battage1.jpg" class="img-responsive"/>
      <a class="btn btn-default main pull-right" href="/spirit/trad">English</a>
    <p class="caption">Luc Gauthier Nolett et Kenny Panadis battant le frêne noir au festival Présence Autochtone à Montréal, été 2016</p>
  </div></div>

<div class="row">
      <h3>Le frêne noir: un arbre sacré pour les Wabanaki</h3>
      <div class="col-xs-5">
    <a href="land/interview"><img src="/pictures/bubbles/michel.png" alt=""height="280" width="256"></a>
      </div>
    <div class="col-xs-7">
    </br>
      <p>«Selon la légende, les Wabanakiak on est nés du frêne. C’est notre arbre sacré, surtout le frêne noir.
        Il y en a trois sortes, le rouge, le noir et le blanc. Le noir c’est celui qu’on prend pour battre, pour
        faire de la vannerie fine. Pour nous autres, c’est un arbre sacré.» <u><a href="/spirit/interview" target="_blank">Michel Durand Nolett</a></u></p>

      </div></div>

      <img src="/pictures/land/trad/mtl.jpg" class="img-responsive"/>
<p class="caption">Frênes dans le parc du Mont-Royal, Montréal. </p>

  <div class="row">
    <div class="col-xs-12">
      <h3>Nés du frêne: histoire originelle des Abénakis</h3>
    <p>Various versions of the story exist.
      According to most tales, Gluskabe or Glooskap is not a god, but a cultural hero, a trickster who had
      supernatural powers and used them to manipulate the world, making it more habitable for humans.</br>
      The video below tells the creation story in Western Abenaki language. It was made for the graphic novel Dawn Land.
      It is not directly part of Circle of Voices but it is displayed here because it constitutes insightful audio-visual material.</p>
  <!-- ELABORATE ON THAT VIA LINKS https://thecanadianencyclopedia.ca/en/article/abenaki/ </p>
  http://www.firstpeople.us/FP-Html-Legends/How-Glooskap-Made-The-Elves-And-Fairies-Passamaquoddy.html -->
  <div class="video"><iframe src="https://www.youtube.com/embed/GgnAR-rwsj0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  </div></div>

  <div class="row">
        <div class="col-xs-12">
    <h3>Battre et fendre le frêne</h3>
  <div class="video"><iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/239949718" webkitAllowFullScreen width="640"></iframe></div>
<p><b>Luc</b>: «We use the ash for handicrafts, for us nowadays. I am one of the last who takes care of the transmission of this little part of the culture that we still know, that we like to pass on. Yes, I’m responsible for that, so I’m in charge of going to get the wood, identifying it, cutting it down, and coming back here to deal with the pounding, and the passing on of this knowledge.»</br></br>
<b>Kenny</b>: «It’s really an art to pound the ash. You really have to…If you’re not calm, you won’t be able to pound. You really have to be calm, otherwise it won’t work. You have to learn with the other person. When you are able to pound, when you can listen to the sound because if it does ‘tactac’ it doesn’t work. It has to be like ‘tac tac tac tac tac’. For sure it can be dangerous, some people find it dangerous. But once you’re used to it, you know it, as soon as you hear a ‘tactac’ you take your axe away.»</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
  <h3> Le défi de conserver la pratique traditionnelle vivante dans la communauté</h3>
    <div class="video"><iframe src="https://www.youtube.com/embed/fyEQ7AqZDRs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
  <p>«J’étais au Conseil de bande, on discutait de frêne noir avec Clément M’Sadoques.
  On s'est rendu compte qu’on était les deux seuls dans la communauté qui connaissaient le frêne noir.
  C'est <u><a href="/land/entrevue" target="_blank">Luc</u></a> qui a été le premier, pour lui montrer comment tu choisis ton frêne noir, comment tu l’identifies premièrement en forêt?</br></br>
  Au début du XXème siècle, jusque dans les années 50, beaucoup, beaucoup d’agriculteurs ici alentours,
  ont rasé la forêt de frêne noir pour pas qu'ici les gens d’Odanak en aient. Parce-que les gens d’Odanak
  faisaient de la vannerie fine. Ma grand-mère, mon arrière grand-mère faisaient de la vannerie pendant l’hiver et
  rendu au printemps, partaient avec le train et se rendaient à Ogunquit et York Beach. Elles partaient
  aux Etats-Unis, elles s’achetaient des robes, des affaires. Elles étaient très avant-gardistes par rapport aux
  femmes aux alentours ici. Il s’est créé une certain jalousie que: "les sauvagesses étaient mieux habillées que
  nous autres".»</p>
</div></div>

  <div class="row">
  <div class="col-xs-12">
    <p>Michel a déjà collaboraté sur un <u><a href="http://veritablesexperts.com/Contenu/ressvegetalesmenupanfrenecoen.html" target="_blank">projet</u></a> about black ash basketry.
    The video below is extracted from there and was realized by <u><a href="http://www.laboiterougevif.com/" target="_blank">La Boite Rouge Vif.</u></a></p>
<a href="http://veritablesexperts.com/Contenu/medias/RessourcesVegetales/frene/1_Coupe_frene_noir_720-364.mp4" target="_blank"><img src="/pictures/land/trad/boiterouge.jpg" class="img-responsive"></></a>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Qu'est ce qui se passe ensuite? Par ici si la curiosité vous pique d'en apprendre plus sur <u><a href="/art/trad">la vannerie Abénakise</u></a>!</h3>
    <img src="/pictures/land/trad/battage.jpg" class="img-responsive"/>
  <p class="caption">Luc Gauthier Nolett et Kenny Panadis fendant le frêne noir au festival Présence Autochtone à Montréal, été 2016</p>
  </div></div>

</div>
</body>
