<% include ../partials/header %>
<head>
  <title>Ash pounding: a traditional Abenaki practice</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>Ash pounding: a traditional Abenaki practice</h1>
    <img src="/pictures/land/trad/battage1.jpg" class="img-responsive"/>
    <p class="caption">Luc Gauthier Nolett and Kenny Panadis pounding black ash at the First Peoples Festival in Montreal, summer 2016</p>
  </div></div>

<div class="row">
      <div class="col-xs-4">
      </div>
<div class="col-xs-8">
    <a href="land/interview"><img src="/pictures/bubbles/michel.png" alt=""height="280" width="256"></a>
      <h5>«According to the legend, the Wabanakiak are born from the ash. It is our sacred tree, especially the black ash. There are three kinds: red, black and white. We pound the black ash and use it to weave baskets. For us, it’s a sacred tree.» <u><a href="/spirit/interview" target="_blank">Michel Durand Nolett</a></u></h5>
      <!--<h3>The story of Glooskap</h3>
    <p> There are various versions of the story, depending on the nation. According to most tales, Gluskabe is not a god, but a cultural hero, a trickster who had supernatural powers and used them to manipulate the world around it, making it more habitable for the humans.
    https://thecanadianencyclopedia.ca/en/article/abenaki/
  </p>
  http://www.firstpeople.us/FP-Html-Legends/How-Glooskap-Made-The-Elves-And-Fairies-Passamaquoddy.html
<iframe width="560" height="315" src="https://www.youtube.com/embed/GgnAR-rwsj0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
-->
      <img src="/pictures/land/trad/mtl.jpg" class="img-responsive"/>
<p class="caption">Ash trees in the Mont-Royal parc, Montreal, by Louise Watson. </p>
  </div></div>
<!--
<div class="row">
      <div class="col-xs-4">
      </div>
<div class="col-xs-8">
<h3> Keeping the traditional practice alive in the community </h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fyEQ7AqZDRs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«...»</p>

<p>Michel has previously collaborated on a <u><a href="http://veritablesexperts.com/Contenu/ressvegetalesmenupanfrenecoen.html" target="_blank">a project</u></a> about black ash basketry. The video below is extracted from there and was realized by <u><a href="http://www.laboiterougevif.com/" target="_blank">La Boite Rouge Vif.</u></a></p>
  <iframe width="650" height="328" frameborder="0" src="http://veritablesexperts.com/Contenu/medias/RessourcesVegetales/frene/1_Coupe_frene_noir_720-364.mp4"></iframe>
</div></div>-->

  <div class="row">
        <div class="col-xs-4">
        </div>
  <div class="col-xs-8">
    <h3>Pounding and splitting black ash</h3>
<iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/239949718" webkitAllowFullScreen width="640"></iframe>
<p>[in the video in french] </br><b>Luc shares</b>: «We use the ash for handicrafts, for us nowadays. I am one of the last who takes care of the transmission of this little part of the culture that we still know, that we like to pass on. Yes, I’m responsible for that, so I’m in charge of going to get the wood, identifying it, cutting it down, and coming back here to deal with the pounding, and the passing on of this knowledge.»</br></br>
<b>Kenny</b>: «It’s really an art to pound the ash. You really have to…If you’re not calm, you won’t be able to pound. You really have to be calm, otherwise it won’t work. You have to learn with the other person. When you are able to pound, when you can listen to the sound because if it does ‘tactac’ it doesn’t work. It has to be like ‘tac tac tac tac tac’. For sure it can be dangerous, some people find it dangerous. But once you’re used to it, you know it, as soon as you hear a ‘tactac’ you take your axe away.»</p>

    <h5>What happens next? Over here if you're curious to learn more about <u><a href="/art/trad">Abenaki basketry</u></a>!</h5>
    <img src="/pictures/land/trad/battage.jpg" class="img-responsive"/>
  <p class="caption">Luc Gauthier Nolett and Kenny Panadis pounding black ash at the First Peoples Festival in Montreal, summer 2016</p>
  </div></div>

</div>
</body>
<% include partials/footer %>
