<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <h1 class="wheel title"> Vivre le territoire au travers d'une... </h1>
<h1>Pratique traditionelle: battage de frêne</h1>

<div class="row">
<div class="col-xs-6">
  <img src="/pictures/land/battage1.jpg" class="img responsive left"/>
</div>
</div>




</div>
</body>
