<% include ../partials/header %>
<head>
  <title>Ash pounding: a traditional Abenaki practice</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
      </div>
    </div>
    <div class="col-xs-8">
    <h1>LAND ~ Traditional practice</h1>
    <img src="/pictures/land/trad/battage1.jpg" class="img-responsive"/>
    <a class="btn btn-default main pull-right" href="/land/tradition">Français</a>
    <p class="caption">Luc Gauthier Nolett and Kenny Panadis pounding black ash at the First Peoples Festival in Montreal, summer 2016</p>
  </div></div>

<div class="row">
      <h3>The black ash: a sacred tree for the Wabanaki</h3>
      <div class="col-xs-5">
    <a href="land/interview"><img src="/pictures/bubbles/michel.png" alt=""height="280" width="256"></a>
  </div>
    <div class="col-xs-7">
    </br>
      <p>«According to the legend, the Wabanakiak are born from the ash. It is our sacred tree, especially the black ash.
        There are three kinds: red, black and white. We pound the black ash and use it to weave baskets. For us, it’s a sacred tree.»
        <u><a href="/spirit/interview" target="_blank">Michel Durand Nolett</a></u></p>
      </div></div>

      <img src="/pictures/land/trad/mtl.jpg" class="img-responsive center"/>
<p class="caption">Ash trees in the Mont-Royal parc, Montreal. </p>

  <div class="row">
    <div class="col-xs-12">
      <h3>Born from the ash tree: Abenaki creation story</h3>
    <p>Various versions of the story exist.
      According to most tales, Gluskabe or Glooskap is not a god, but a cultural hero, a trickster who had
      supernatural powers and used them to manipulate the world, making it more habitable for humans.</br>
      The video below tells the creation story in Western Abenaki language. It was made for the graphic novel Dawn Land.
      It is not directly part of Circle of Voices but it is displayed here because it constitutes insightful audio-visual material.</p>
  <!-- ELABORATE ON THAT VIA LINKS https://thecanadianencyclopedia.ca/en/article/abenaki/ </p>
  http://www.firstpeople.us/FP-Html-Legends/How-Glooskap-Made-The-Elves-And-Fairies-Passamaquoddy.html -->
<iframe src="https://www.youtube.com/embed/GgnAR-rwsj0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div></div>

  <div class="row">
        <div class="col-xs-12">
    <h3>Pounding and splitting black ash</h3>
<iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/239949718" webkitAllowFullScreen width="640"></iframe>
<p><b>Luc</b>: «We use the ash for handicrafts, for us nowadays. I am one of the last who takes care of the transmission of this little part of the culture that we still know, that we like to pass on. Yes, I’m responsible for that, so I’m in charge of going to get the wood, identifying it, cutting it down, and coming back here to deal with the pounding, and the passing on of this knowledge.»</br></br>
<b>Kenny</b>: «It’s really an art to pound the ash. You really have to…If you’re not calm, you won’t be able to pound. You really have to be calm, otherwise it won’t work. You have to learn with the other person. When you are able to pound, when you can listen to the sound because if it does ‘tactac’ it doesn’t work. It has to be like ‘tac tac tac tac tac’. For sure it can be dangerous, some people find it dangerous. But once you’re used to it, you know it, as soon as you hear a ‘tactac’ you take your axe away.»</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
  <h3> The challenge of keeping the traditional practice alive in the community </h3>
  <iframe src="https://www.youtube.com/embed/fyEQ7AqZDRs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«I was at the Band council, we were talking about black ash with Clément M’Sadoques.
    We suddenly realized that we were the only people in the community who knew about black ash.
    It's <u><a href="/land/interview" target="_blank">Luc</u></a> who was the first one, to show him how to choose your black ash, and first, how do you identify it in the woods?</br></br>

    At the beginning of the 20th century, up to the 1950's, many many farmers around here cut down all black ash trees, so that the people from Odanak don't get any.
    Because the people in Odanak were doing basketry. My grandmother, my great-grandmother were weaving baskets
    during the winter, and with the arrival of spring, they would take the train and go to <em>Ogonkwitt et ...Washit, à Yolbi.</em>
    They were traveling to the United States, where they would buy dresses and other things. They were absolute trendsetters
    compared to women around here. From there, people started to be jealous that: "the savages were better dressed than us".»</p>
</div></div>

  <div class="row">
  <div class="col-xs-12">
    <p>Michel has previously collaborated on a multimedia project about black ash basketry.
    The video below is extracted from <u><a href="http://veritablesexperts.com/Contenu/ressvegetalesmenupanfrenecoen.html" target="_blank"> there</u></a>
    and was realized by <u><a href="http://www.laboiterougevif.com/" target="_blank">La Boite Rouge Vif.</u></a></p>
<a href="http://veritablesexperts.com/Contenu/medias/RessourcesVegetales/frene/1_Coupe_frene_noir_720-364.mp4" target="_blank"><img src="/pictures/land/trad/boiterouge.jpg" class="img-responsive"></></a>
  </div></div>

      <div class="row">
      <div class="col-xs-12">
    <h3>What happens next? Go over here if you're curious to learn more about <u><a href="/art/trad">Abenaki basketry</u></a>!</h3>
    <img src="/pictures/land/trad/battage.jpg" class="img-responsive"/>
  <p class="caption">Luc Gauthier Nolett and Kenny Panadis splitting black ash at the First Peoples Festival in Montreal, summer 2016</p>
  </div></div>

</div>
</body>
