<% include ../partials/header %>
<head>
  <title>About Circle of Voices</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
  <!--<a class="btn btn-default main pull-right" href="/about/apropos">Français</>
  <a href="/about/apropos"><button type="button" class="btn btn-default">Français</a>
  </button>-->
  
    <h3>Cultural revitalization among First Nations</h3>
  <img src="/pictures/art/trad/foin.jpg" class="img-responsive"</>
  <p class="caption">Designed by <u><a href="http://newhive.com/clairomain/home" target="_blank">Claire Romain</u></a></p>
<h3>What is Circle of Voices?</h3>
  <p>Circle of Voices is a digital anthropological research project aiming to bring educational awareness about the situation of Indigenous women and youths, and more broadly about Indigenous rights. It started in 2016 with young women from the Atikamekw, Abenaki and Wolastoqiyik/
Maliseet Nations in Quebec, Canada. The project explores cultural revitalization through four themes: land, language, art and spirituality. It merges collaborative methodologies with digital tools, and included the following activities: participatory photography workshops, sharing circles, sound recordings and video clips of traditional practices, inter-generational dance workshops (fancy shawl), and personal narratives (biographical interviews) with the women and with knowledge holders.
</br></br>The research project consists of an <u><a href="/the-research" target="_blank">academic writing</u></a> and an interactive website. circleofvoices.com is an attempt to use the web space to present anthropological academic knowledge and invite indigenous expertise and perspectives.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>On social media, Circle of Voices wishes to offer a digital space to uphold stories of pride, resilience and hope for Indigenous youth. </h3>

  <a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png" /></a>
  <a href="https://www.instagram.com/circleofvoices/" target="_blank"><img src="/icons/insta.png" /></a>
<ul>
  <li>Counteract the negative representations of their cultures and their identities displayed by the media.</li>
  <li>Support the youth experiencing isolation, discrimination and marginalization.</li>
<li>Contribute to the digitalization and the dissemination of Indigenous knowledge and rights.</li>
</ul>

<h5>Who is behind the project?</h5>
<p>It was initiated by <u><a href="/the-researcher" target="_blank">Louise Romain Watson</u></a>, young European digital anthropologist and activist-researcher, willing to challenge the traditional ways of sharing academic research by bridging it with new technologies and the arts, framed within the defense of Indigenous rights.
</br>As co-hosts of the social media accounts, <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a> is a key collaborator and a dear friend behind Circle of Voices. The other women who took part in the research project are: <u><a href="/the-women/Catherine-Boivin" target="_blank">Catherine Boivin</u></a>,  and <u><a href="/the-women/Lisa-Aubin-Berube" target="_blank">Lisa Aubin Bérubé</u></a>, <u><a href="/the-women/Ivanie-Aubin-Malo" target="_blank">Ivanie Aubin Malo</u></a>, <u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica Ann Watso</u></a> and <u><a href="/the-women/Raphaelle-Obomsawin" target="_blank">Raphaelle OBomsawin</u></a>.

</div></div>

</div>
</body>
<% include ../partials/footer %>
