<% include ../partials/header %>
<head>
  <title>About Circle of Voices</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
  <a class="btn btn-default main pull-right" href="/about/apropos">Français</a>

    <h3>Cultural revitalization among First Nations</h3>
  <img src="/pictures/art/trad/foin.jpg" class="img-responsive"</><p class="caption">Weaving sweetgrass in <u><a href="/the-communities/odanak" target="_blank">Odanak</u></a>, Louise</p>
<h3>What is Circle of Voices?</h3>
  <p>Circle of Voices is a research project in digital anthropology centered on the cultural revitalization of young
First Nations in Quebec. Together with women from the Nehirowisiw (Atikamekw), Abenaki and Wolastoq (Maliseet)
Nations, we explored how they connect back to their cultures. The project includes the following activities:
participatory photography workshops (PhotoVoice), sharing circles, sound recordings, video clips of traditional
practices, inter-generational dance workshops (fancy shawl), and biographical narratives with the youth and with
knowledge holders. The multimedia contents of the research are divided in four themes: land, language, art and
spirituality, and they can be accessed through the non-linear interactive platform.
</br></br>
The vision of the project is to counteract the demeaning representations of Indigenous cultures and identities, as well as to contribute to the digitalization and the dissemination of Indigenous knowledge and rights.</h2>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>On social media</h3>

    <a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png" /></a>
    <a href="https://www.instagram.com/circleofvoices/" target="_blank"><img src="/icons/insta.png" /></a>

  <p>Circle of Voices aims to bring educational awareness about the situation of Indigenous women, youths, and more broadly Indigenous rights.
  There is a wish to uphold stories of pride, resilience and hope for Indigenous youth.</p>
  <img src="/pictures/the-women/niona-team.JPG" class="img-responsive center"</><p class="caption">Youth members of <u><a href="https://niona.org/" target="_blank">NIONA</u></a> in Wôlinak during a photoshoot</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<h3>Who is behind Circle of Voices?</h3>
<p>It was initiated by <u><a href="/the-researcher" target="_blank">Louise Romain</u></a>, a French digital
  anthropologist and activist-researcher, willing to challenge the traditional ways of sharing academic research
  by bridging it with new technologies and the arts, framed within the defense of Indigenous rights.
The women who took part in the research project are: <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a>,  and <u><a href="/the-women/Lisa-Aubin-Berube" target="_blank">Lisa Aubin Bérubé</u></a>, <u><a href="/the-women/Ivanie-Aubin-Malo" target="_blank">Ivanie Aubin Malo</u></a>, <u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica Ann Watso</u></a> and <u><a href="/the-women/Raphaelle-Obomsawin" target="_blank">Raphaelle OBomsawin</u></a>.

</div></div>

</div>
</body>
<% include ../partials/footer %>
