<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
<h1></h1>
<div class="row">
  <div class="col-xs-6">
    <h3>Français</h3>
<p>Cercle de voix est un projet de recherche multimédia et collaboratif réalisé au Québec à l'été 2016
avec des jeunes femmes Premières Nations. Centré autour de leurs parcours, nous avons exploré les
 connexions entre le processus de revitalisation culturelle et la construction de l'identité au travers
de quatre thèmes: le territoire, la langue, l'art et la spiritualité.</p>
<h4>Approche employée</h4>
<p>Le projet fusionne des méthodes de l’anthropologie visuelle et digitale avec des pratiques traditionnelles tirées de l’oralité.
Ainsi le projet comprend des ateliers de photographie participative, des entrevues biographiques,
des cercles de partage, quelques ateliers de danse traditionnelle, des écrits académiques ainsi que
des enregistrements sonores et vidéos. Il sera accessible à partir de l’été 2017 sur circleofvoices.com
et vise à accomplir deux objectifs.
</p>

<h4>Objectifs</h4>
<ul><li>Sensibiliser sur les réalités des jeunes autochtones, en particulier
celles des femmes</li>
<li>Soutenir la défense de leurs droits en faisant le lien entre le mouvement de
revitalisation et celui d’auto-détermination</li>
</ul>
<h4>Extension du projet sur les réseaux sociaux</h4>
<p>En parallèle de présenter la recherche sur le site, le projet s’étendra sur les réseaux sociaux au
travers d’une page Facebook avec l’idée de proposer à d'autres jeunes autochtones de partager leurs
histoires autour de la fierté et résilience de leurs cultures. Ces contributions, ouvertes à toutes
formes de média (photo, vidéo, sons ou textes) seront publiées sur un blog annexe à
circleofvoices.com, créant ainsi une plateforme leur permettant de promouvoir leurs créations
artistiques et initiatives diverses, de s'inspirer et de s'encourager mutuellement pour la résurgence de
leurs Nations et de leurs identités.</p>

<h4>Apports du projet</h4>

<h3> Qui est derrière ça? </h3>
<p> Courte biographie...</p>
</div>

<div class="col-xs-6">
  <h3> English</h3>
  <p>  Circle of Voices is a collaborative multimedia research project conducted in Quebec in the summer
  of 2016 with young Native women. Centered around their paths, we explored the interplay between
  the process of cultural revitalization and the construction of their identity through four topics: land,
  language, art and spirit.</p>
  <h4> Methodological approach</h4>
  <p>Merging methodologies of visual and digital anthropology with traditional
  oral practices, the project entails participatory photography workshops, biographical interviews,
  sharing circles, traditional dance workshops, academic writings as well as sound and video
  recordings.</p>

  <h4>Objectives</h4>
  <ul><li>Bring educational awareness about the situation of Native youth, in particular women</li>
  <li>Uphold the defense of their rights by linking the movements of revitalization and self-
  determination</li>
  </ul>
<h4> Extension of the project on social media</h4>
<p>Aside from presenting the research on the website, the project will extend to social networks via a
Facebook page with the idea to open the possibility for other indigenous youths to share their
stories around the pride and resilience of their cultures. These contributions, open to all forms of
media (photo, video, sound and text) will be published on a blog connected to circleofvoices.com,
creating a space for them to share their artistic creations and various initiatives, to inspire and
support one another around the resurgence of their Nations and their identities.</p>

<h4>Benefits of the project</h4>

<h3> Who's behind that? </h3>
<p> Short bio...</p>
</div>

</div>

</div>
</body>
