<% include ../partials/header %>
<head>
  <title>About Circle of Voices</title>
  <!-- Hotjar Tracking Code for http://www.circleofvoices.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2099940,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
  <a class="btn btn-default main pull-right" href="/about/apropos">Français</a>

    <h3>Cultural revitalization among Quebecs' First Nations</h3>
  <img src="/pictures/art/trad/foin.jpg" class="img-responsive"</><p class="caption">Weaving sweetgrass in <u><a href="/the-communities/odanak" target="_blank">Odanak</u></a>, Louise</p>
<h3>What is Circle of Voices?</h3>
  <p>
Through web design, creative collaborative activities (such as photography and dancing), biographical narratives and multimedia recordings of traditional practices, Circle of Voices addresses the
contemporary realities of some First Nations’ cultures and identities. The central theme of the research project is <b>cultural revitalisation</b>,
understood as the reclaiming, restoring and regenerating of relationships with the land, with ancestral practices, with belief systems and
with each other.</br></br> This website offers a non-linear form of navigation: </br>
- By interacting with the wheel, you can discover the multimedia contents of the research through the themes of lands, languages, arts and
spirits, and hear the testimonies from knowledge holders. </br>- In the section 'Youths' stories', you are invited to delve into the biographies of young women from the Nehirowisiw (Atikamekw), Abenaki
and Wolastoq (Maliseet) Nations, who are the central collaborators to the research.
<!--
    Circle of Voices is a research project in digital anthropology centered on the cultural revitalization of young
First Nations in Quebec. Together with women from the Nehirowisiw (Atikamekw), Abenaki and Wolastoq (Maliseet)
Nations, we explored how they connect back to their cultures. The project includes the following activities:
participatory photography workshops (PhotoVoice), sharing circles, sound recordings, video clips of traditional
practices, inter-generational dance workshops (fancy shawl), and biographical narratives with the youth and with
knowledge holders.-->
</br></br>
The vision of the project is to counteract the demeaning representations of Indigenous cultures and identities,
as well as to contribute to the digitalization and the dissemination of Indigenous knowledge and rights.</h2>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>On social media</h3>

    <a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png" /></a>
    <a href="https://www.instagram.com/circleofvoices/" target="_blank"><img src="/icons/insta.png" /></a>
<img src="/pictures/circle/CoV.png" class="img-responsive"</>
  <p>These accounts are used to raise awareness about the current realities experienced by Indigenous peoples, by sharing news from and/or about Indigenous peoples.
    A strong focus is the advocacy for Indigenous rights and climate justice.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<h3>Who is behind Circle of Voices?</h3>
<p>It was initiated by <u><a href="/the-researcher" target="_blank">Louise Romain</u></a>, a French digital
  anthropologist and activist-researcher, willing to challenge the traditional ways of sharing academic research
  by bridging it with new technologies and the arts, framed within the defense of Indigenous rights.
The women who took part in the research project are: <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a>,  and <u><a href="/the-women/Lisa-Aubin-Berube" target="_blank">Lisa Aubin Bérubé</u></a>, <u><a href="/the-women/Ivanie-Aubin-Malo" target="_blank">Ivanie Aubin Malo</u></a>, <u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica Ann Watso</u></a> and <u><a href="/the-women/Raphaelle-Obomsawin" target="_blank">Raphaelle OBomsawin</u></a>.

</div></div>

</div>
</body>
<% include ../partials/footer %>
