<% include ../partials/header %>
<head>
  <title>Acknowledgements</title>
</head>

<body>
<div class="container">
  <div class="row">
    <h1> Acknowledgements</h1>
<p>First of all, this project could have happened without the collaborators of the project:</br></br>
  Marie Kristine Petiquay, and her family who hosted me in Manawan </br>
  Jessica Ann Watso </br>
  Raphaelle Obomsawin</br>
  Catherine Boivin</br>
  Lisa-Aubin-Berube and Ivanie-Aubin-Malo, as well as their family members, including their talented brothers Louis-Xavier and Julien, and parents.
</br></br>
  And the knowledge holders:</br>
  Guy Sioui Durand</br>
  Monique Nolett Ille</br>
  Michel Durand Nolett</br>
  Luc Nolett, and his colleagues at the Environmental Office, like Kenny and Christopher, and his mother Diane, who hosted me in Odanak.
</br></br>
Thank you to Kiuna College (especially to the director Prudence Hannis and the librarian Raphael Benedict) and to the community of Odanak.
</br></br>
Thank you to my relatives for their continuous support: my mother, my dad, my sister and my grand-mother. I also want to appreciate the important men in my life: Lenny Watson, who proofread all my translation, and Oliver Macer, whose love kept me motivated.
</br></br>
For the technical help:
Tamas Marton Meszaros from <u><a href="https://intermediasolutions.dk/">Intermedia Solutions</u></a> for the video editing</br>
Ezequiel Mums for his patience and efficiency, helping me with svg, javascript and the launch via heroku!</br>
Open Tech School, in particular the mentors Pierre, Martin, Giorgia, Jessica, Steffan and Martin.</br>
Lenny Watson for the design of the wheel, and Claire Romain for the graphic design of the logo and social media materials.
</br></br>
For lending me out their cameras:
Geoffrey Bugnon and Catherine.
</br></br>
For their precious feedbacks and advices:
Eugene Boulanger, Jen Castro, Oana Radu, Paul Wattez, Marion Carrier, Thora Herrmann, Stephanie Boulais, Red Hair Crow, Elizabeth LaPensée.
</br></br>
I want to thank the Institute of Social and Cultural Anthropology at Freie Universität, in Berlin, Germany for
allowing me to give out a website instead of a dry paper, in particular my supervisors: Florian Walter and Thomas Stodulka.</br>
And the Center for Oral History and Digital Storytelling in Montreal, Quebec for receiving me as a visiting researcher.
</br></br>
Credits for the icons found on the <u><a href="https://thenounproject.com/" target="_blank">nounproject</u></a>:</br>
Icons for the circle: Video by Adrien Coquet ~ Camera by Aleksandr Vector ~ Communication by Makarenko Andrey ~
Microphone by Alexander Skowalsky ~ Community by Oksana Latysheva ~ Footsteps by b Farias ~ Field Notes by Mike O'Brien</br>
Social media icons: Camera by Aybige (Instagram )</p>

</div>
</div>
</body>
