<% include ../partials/header %>
<head>
  <title>Acknowledgements</title>
</head>

<body>
<div class="container">
  <div class="row">
    <h1> Acknowledgements</h1>
<p>First all the participants, the six young women and the knowledge holders; Kiuna College (Prudence Hannis and Raphael Benedict)
Communauté d'Odanak, Diane who hosted me
familie Aubin Malo/Aubin Bérubé, famille de MK à Manawan

My relatives: my mother, my dad, my sister and my grand-mother.

For the technical encouragement:
Open Tech School, in particular the mentors Pierre, Martin, Giorgia, Jessica, Steffan and Martin. Ezequiel for his
patience and efficiency, Lenny for bringing idea of the wheel into visual realization

For lending me out their cameras:
Geoffrey Bugnon, Catherine

For their feedbacks and advices:
Eugene Boulanger, Oana Radu, Paul Wattez, Marion Carrier, Thora Herrmann

I want to thank the Institute of social and cultural anthropology at Freie Universität, in Berlin, Germany for
allowing me to give out a website instead of a dry paper, in particular my supervisors: Florian Walter and Thomas Stodulka.

Credits for the icon found on the nounproject:
Video by Adrien Coquet
Camera by Aleksandr Vector
Communication by Makarenko Andrey
Microphone by Alexander Skowalsky
Community by Oksana Latysheva
Footsteps by b Farias
Field Notes by Mike O'Brien</p>
</div>
</div>
</body>
