<% include ../partials/header %>
<head>
  <title>À propos de Cercle de Voix</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
  <a class="btn btn-default main pull-right" href="/about/about">English</a>
    <h3>Revitalisation culturelle chez les Premières Nations</h3>
  <img src="/pictures/art/trad/foin.jpg" class="img-responsive"</>
  <p class="caption">Designé par <u><a href="http://newhive.com/clairomain/home" target="_blank">Claire Romain</u></a></p>
<h3>Qu'est-ce-que Cercle de Voix ?</h3>
  <p>Cercle de voix est un projet de recherche anthropologique digital visant à éveiller les consciences sur la situation des femmes et des jeunes autochtones, ainsi que sur leurs droits. Commencé en 2016, la recherche eu lieu au Québec, Canada, avec des jeunes femmes des nations atikamekw, abénakises et wolastoqiyik/malécites. Cercle de Voix explore la revitalisation culturelle au travers de 4 thèmes: le territoire la langue, l’art et la spiritualité. Combinant des méthodologies collaboratives et des outils digitaux, le projet inclut les activités suivantes: ateliers de photographie participatives, cercles de partage, enregistrements sonores et clips vidéo de pratiques traditionnelles, ateliers de danse intergénérationnels (danse fancy) et histoires personnelles (entrevues biographiques).
</br></br>Le projet de recherche comprend un <u><a href="/the-research" target="_blank">écrit académique</u></a> (en anglais) et un site web interactif. <em>circleofvoices.com</em> tente d’utiliser l’espace web pour présenter des connaissances académiques anthropologiques et inviter des perspectives et savoirs autochtones.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <h3>On social media, Circle of Voices wishes to offer a digital space to uphold stories of pride, resilience and hope for Indigenous youth. </h3>

  <a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png" /></a>
  <a href="https://www.instagram.com/circleofvoices/" target="_blank"><img src="/icons/insta.png" /></a>
<ul>
  <li>•	Sensibiliser sur les réalités des jeunes autochtones, en particulier celles des femmes
    Counteract the negative representations of their cultures and their identities displayed by the media.</li>
  <li>Support the youth experiencing isolation, discrimination and marginalization.</li>
<li>•	Soutenir la défense de leurs droits en faisant le lien entre le mouvement de revitalisation et celui d’auto-détermination
  Contribute to the digitalization and the dissemination of Indigenous knowledge and rights.</li>
</ul>

<h5>Qui est derrière le projet?</h5>
<p>Le projet fut initié par <u><a href="/the-researcher" target="_blank">Louise Romain Watson</u></a>, anthropologue digitale et chercheuse-activiste d’Europe. Elle souhaite défier la manière traditionnelle de partager la recherche académique, en la reliant avec les nouvelles technologies et les arts, tout en défendant les droits des peuples autochtones.
</br>En plus d’être la co-hôte des réseaux sociaux, <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a> est une des collaboratrices essentielles de Cercle de Voix.
Les autres femmes ayant participé au projet sont: <u><a href="/the-women/Catherine-Boivin" target="_blank">Catherine Boivin</u></a>, <u><a href="/the-women/Ivanie-Aubin-Malo" target="_blank">Ivanie Aubin Malo</u></a>, <u><a href="/the-women/Lisa-Aubin-Berube" target="_blank">Lisa Aubin Bérubé</u></a>,
<u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica Ann Watso</u></a> et <u><a href="/the-women/Raphaelle-Obomsawin" target="_blank">Raphaelle OBomsawin</u></a>.

</div></div>

</div>
</body>
<% include ../partials/footer %>
