<% include ../partials/header %>
<head>
  <title>À propos de Cercle de Voix</title>
</head>

<body>
<div class="container">
<div class="row">
<div class="col-xs-12">
  <a class="btn btn-default main pull-right" href="/about">English</a>
    <h3>Revitalisation culturelle chez les Premières Nations</h3>
  <img src="/pictures/art/trad/foin.jpg" class="img-responsive"</>
  <p class="caption">Tressage de foin d'odeur à <u><a href="/the-communities/odanak" target="_blank">Odanak</u></a>, Louise</p>

<h3>Qu'est-ce-que Cercle de Voix ?</h3>
  <p>Cercle de Voix est un projet de recherche en anthropologie digitale, centré sur la revitalisation culturelle de jeunes Premières Nations au Québec. Avec des femmes des Nations Nehirowisiw (Atikamekw), Abénakis et Wolastoq (Malécite), nous avons exploré comment elles se connectent à leurs cultures. Le projet inclue les activités suivantes: ateliers de photographie participative (PhotoVoice), cercles de partage, enregistrements sonores et vidéos de pratiques traditionnelles, ateliers intergénerationnels de danse fancy, et histoires biographiques avec les jeunes et avec des détenteurs de savoirs traditionnels. Les contenus multimédias de la recherche sont divisés en quatre thèmes: le territoire, la langue, l’art et la spiritualité, et tout est accessible au travers de la plateforme interactive non-linéaire.

</br></br>La vision du projet est de contrer les représentations négatives des cultures et identités autochtones, et de contribuer à  la numérisation et à la dissémination des savoirs et des droits autochtones.</p>
</div>
</div>

    <div class="row">
    <div class="col-xs-12">
      <h3>Sur les réseaux sociaux</h3>

        <a href="https://www.facebook.com/pg/circleofvoices.digianthro/" target="_blank"><img src="/icons/fb.png" /></a>
        <a href="https://www.instagram.com/circleofvoices/" target="_blank"><img src="/icons/insta.png" /></a>

    <p>Cercle de Voix vise à sensibiliser les consciences sur la situation des femmes et des jeunes autochtones, ainsi que
        sur leurs droits. Nous souhaitons soutenir les histoires de fierté, de résilience et d'espoir pour la jeunesse autochtone.</p>
    </div>
    </div>

<h3>Qui est derrière Cercle de Voix?</h3>
<p>Le projet fut initié par <u><a href="/the-researcher" target="_blank">Louise Romain</u></a>, anthropologue digitale et chercheuse-activiste française. Elle souhaite défier la manière traditionnelle de partager la recherche académique,
  en la reliant avec les nouvelles technologies et les arts, tout en défendant les droits des peuples autochtones.
 Les femmes ayant participé au projet sont: <u><a href="/the-women/Marie-Christine-Petiquay" target="_blank">Marie Kristine Petiquay</u></a>, <u><a href="/the-women/Ivanie-Aubin-Malo" target="_blank">Ivanie Aubin Malo</u></a>, <u><a href="/the-women/Lisa-Aubin-Berube" target="_blank">Lisa Aubin Bérubé</u></a>,
<u><a href="/the-women/Jessica-Ann-Watso" target="_blank">Jessica Ann Watso</u></a> et <u><a href="/the-women/Raphaelle-Obomsawin" target="_blank">Raphaelle OBomsawin</u></a>.

</div></div>

</div>
</body>
<% include ../partials/footer %>
