<% include ../partials/header %>
<head>
  <title>Revitalizing the arts</title>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-xs-12">
<img src="/pictures/circle/art-banner.jpg" class="img-responsive center" alt=""/>
<p class="caption">Dream catcher made by Louis-Xavier Aubin-Bérubé*, Odanak.</p>
</div></div>

<!--
<div class="row">
  <div class="col-xs-12">
  <h3>The multimedia elements displayed here present ways in which <strong>art</strong> can be bridged</h3>
</div></div>

<div class="row">
  <div class="col-xs-4">
    <div class="btn-group" role="group" aria-label="">
  <a href="/art/photo"><button type="button" class="btn btn-default">
    <img src="/pictures/photo-icon.png" height="115" width="150" alt="" ><h5>Photographs</h5></button>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="btn-group" role="group" aria-label="">
  <a href="/art/interview"><button type="button" class="btn btn-default">
    <img src="/pictures/interview-icon.png" height="140" width="180" alt=""><h5>Interview with Guy Sioui Durand
    </h5></button>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-3">
      <div class="btn-group" role="group" aria-label="">
    <a href="/art/dance"><button type="button" class="btn btn-default">
      <img src="/pictures/dance-icon.png" height="145" width="115" alt="" ><h5>Intergenerational dance workshops</h5></button></a>
      </div>
    </div>

    <div class="col-xs-5">
      <div class="btn-group" role="group" aria-label="">
  <a href="/art/trad"><button type="button" class="btn btn-default">
    <img src="/pictures/trad-icon.png" height="120" width="160" alt="" ><h5>Filming a traditional practice: basket weaving</h5></li>
</button>
      </div>
    </div>

      <div class="col-xs-4">
      <div class="btn-group" role="group" aria-label="">
<a href="/art/circle"><button type="button" class="btn btn-default">
    <img src="/pictures/circle-icon.png" height="150" width="165" alt="" ><h5>Reflections from the sharing circle</h5></button>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <h3>Art is a way to express identity, to heal, to reclaim your culture, and to pass it on.</h3>

    <h5>«...» </br></h5>

    <p>Traditional artistic expressions, such as songs and dances, were forbidden by the Indian Act. They were allowed in the 1960's as it became a great source to generate income via tourism.
    In the past decades, indigenous artists ave been exploring the traditional materials and techniques, sometimes bridging it with more recent tools and inspirations.</p>
</div></div>-->

</div>
</body>
