<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
        </div>
    </div>

    <div class="col-xs-8">
      <h1>ART ~ Sharing circle</h1>
      <p> Commonly called talking or healing circles, this practice highlights knowledge through personal and collective disclosure.
        Traditionally, sharing circles were used as a format for communication, decision-making and support. Among Indigenous peoples,
        traditional teachings are passed on orally and through stories, requiring listening and observation.
        Michael Anthony Hart* declares: «As a reflection of traditional world views, sharing circles can facilitate the empowerment
        of First Nations peoples. (...) When First Nations utilize processes that are based upon their views within their communities,
        then the people determine their own destinies. Sharing circles can be one of the many active components of self-determination.»
        Implementing this practice as a method was a way to honour Indigenous ontologies and epistemologies. </br></br>
       *<em><a href="https://fernwoodpublishing.ca/authors/view/michael-anthony-hart-kaskitemahikan" target="_blank" >Michael Anthony Hart</a>
        is an Indigenous academic from the Fisher River Cree Nation. Quote from "From Our Eyes -
      Sharing circles: Utilizing traditional practise methods for teaching, healing and supporting".</em></p>
     </div></div>

    <div class="row">
      <div class="col-xs-12">
              <img src="/pictures/art/circle.jpg" alt="" class="img-responsive"/>
        <h5> This circle features Raphaelle Obomsawin, Catherine Boivin, Marie Kristine Petiquay and myself.
          It took place in Odanak on July 5th 2016. </h5>
</div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
    <h3></h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WXaibT9jgRA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
            <h3></h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/A1LsbMliP8s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div></div>

    <div class="row">
      <div class="col-xs-12">
<img src="/pictures/fieldnotess.png" class="img-responsive pull-left" alt="fieldnotes"/>
  <p>Drawing on my own previous experiences of facilitating circles in Europe, I hosted this sharing circle the way I learned and felt confortable with.
   As a host, I was mindful of avoiding cultural appropriation, thus I implemented elements that were also representative of my culture and my identity.
  The questions were developped on my own, bringing together personal reflections, and inputs from readings, conversations and various events.
   </br></br>I translated the answers from French into English and I intended to
   keep the balance between staying true to what was shared and emphasizing the most pertinent elements.
   I included my voice because I find it more transparent and honest.
   The circle started with the question:  "How are you today?" and ended with a reflection on the methodology:
   "How did you find it? What would you change/improve?"
   These final thoughts from the women can be found in the anthropological notes at the very bottom.</p>
</div></div>

</div>
</body>
