<% include ../partials/header %>
<head>
  <title>Intergenerational dance workshops</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
        <h3>Keep exploring here</h3>
        <% include ../circle-opt.svg %>
        </div>
    </div>
    <div class="col-xs-8">
    <h1>Intergenerational dance workshops</h1>
    <p> These workshops took place in the communities of Odanak and Cacouna.
      and were attended by some of the young <a href="/the-women" target="_blank"><u>women</u></a>, girls and older Abenaki women.
      All the workshops were hosted by <a href="/the-women/Ivanie-Aubin-Malo" target="_blank"><u>Ivanie Aubin Malo</u></a> who is experienced in hosting dance workshops with various age groups.</p>
      </div></div>

    <div class="row">
      <div class="col-xs-12">
<h3> First workshop in <u><a href="/the-communities/odanak" target="_blank">Odanak</a></u>, Abenaki Nation</h3>
<img src="/pictures/art/dance/1.jpg" alt="" class="img-responsive"/>
<p><img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/> The first workshop took place behind the church, by the river. Ivanie and I, the hosts, met the women under the large pine trees. At 7:30pm, the mass ends and the elder Thérèse joins us. Even though she approaches 90 years old, we can feel the passion alive in her when she taps her feet on the ground, following the drum beats. Thérèse Gaudet OBomsawin is local figure in Odanak, the knowledge holder of the different dances passed on to many generations of abenaki women. The workshop starts, the youngest are standing, the older women sitting by, all attentive to Ivanie's words. She first introduces the origins, the history and the evolution of the fancy shawl dance.<!--<audio src= </audio>-->
Together, we practice the first steps and the first jumps. The transmission seems to unfold freely between the women. I switch between dancing and recording, embracing the roles of curious participant and external observer.
Ivanie radiates as she teaches, proud and joyful, caring for the needs and the possibilities of the group. Lise and Elise had brought their hand drums. From my point of view, the workshop unfolds in two parts. First, Ivanie focuses on the young Nibi, who had learned the dance previously in the annual pow wow. They are both wearing a pink shawl. Lisa and I join them in the jumps, the turns and the intensity increases over time. The pace, the complexity and the endurance. The older women smile at us and their feet tap with ours. Later on, Elise joins the circle for the shawl dance when Nibi leaves to sit on her mother's laps. The participants were Lisa Aubin-Bérubé, Nibi Wawanoloath, Thérèse OBomsawin, Lisa OBomsawin, Louise Romain.</p>

 <div class="video"><iframe src="https://player.vimeo.com/video/240272982" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<p class="caption">recorded by Louise Romain, edited by Tamás from Intermedia Solutions.</p>
</div></div>

  <div class="row">
<div class="col-xs-12">
  <h3> Second workshop in <u><a href="/the-communities/odanak" target="_blank">Odanak</a></u>, Abenaki Nation</h3>
  <img src="/pictures/art/dance/2.jpg" alt="" class="img-responsive"/>
  <p><img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/> This workshop took place in the Abenaki Museum.
 </br> Participants: Lisa Aubin-Bérubé, Marie-Kristine Petiquay, Manon Hamel and her daughters (Maryanne and Émilie), Nathalie Hamel and her children (Liliane and Akian), Mira and her daughters, Jenny-Lee Gill, Corinne Blandel, and Louise Romain.</<p>

<h3>Learning the basics</h3>
   <div class="video"><iframe src="https://player.vimeo.com/video/241374399" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

<h3>The final choreography</h3>
      <div class="video"><iframe src="https://player.vimeo.com/video/241374440" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

  <p class="caption">recorded by Louise Romain, edited by Tamás from Intermedia Solutions.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
   <h3> Third workshop in <u><a href="/the-communities/cacouna" target="_blank">Cacouna</a></u>, Maliseet/Wolastoq Nation</h3>
        <img src="/pictures/art/dance/6.jpg" alt="" class="img-responsive"/>
        <p><img src="/pictures/fieldnotesss.png" class="img-responsive pull-left" alt="fieldnotes"/>This workshop took place in Cacouna, during the Two NAtions celebrations. </br>
          Participants: youths from the Madawaska Maliseet First Nation.</<p>
    <div class="video"><iframe src="https://player.vimeo.com/video/241374503" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

            <p class="caption">recorded by Louise Romain, edited by Tamás from Intermedia Solutions.</p>
    </div></div>
<!-- FINAL FIELDNOTES
<p>Finally, the activity where I saw the authority as truly shared
My role was to take care of the logistic side, organizing people and places, creating opportunities for the sharing of the dance.
As a dancer, I enjoyed learning new steps and jumping along,stepping in and out of the shooting.the transmission
happened freely between the women, without any intervention from my side. </p> -->

  </div>
</body>
