<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
        <h2>Keep exploring here</h2></br>
        <% include ../circle-opt.svg %>
        </div>
    </div>
    <div class="col-xs-8">
    <h1>Sharing circles</h1>
    <p> These circles took place in the summer of 2016. ... </p>
      </div></div>

    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">

      </div></div>

  </div>
</body>
