<% include ../partials/header %>
<head>
  <title>Interview with Guy Sioui Durand</title>
</head>

<body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Continue à explorer ici</h3>
          <% include ../circle-opt.svg %>
        </div></div>
      <div class="col-xs-8">
      <h1>ART ~ Entrevue</h1>
      <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive center"/><a class="btn btn-default main pull-right" href="/art/interview">English</a>
      <h3>Guy Sioui Durand</h3>
    </div></div>

    <div class="row">
    <div class="col-xs-12">
      <p>Guy is a well-known figure in the world of contemporary art, especially Indigenous contemporary art. But his
        knowledge and world-views have something of moves our humanity, and he reaches beyond his many labels (as independant curator, art critic, sociologist, and performer).
        «My role is to fracture all that, let's go walk in the woods, let us replenish on other things, and above all,
        I'm wondering now: what would be the real concepts, the true notions to define Amerindian imaginary art,
        in an Amerindian way.» To learn even more about his work, you can visit his <u><a href="https://siouidurand.org/" target="_blank">website</a></u>.
        If I had to resume his thought in one sentence, it would probably be this one:
        "Thinking in action".
    </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Qui es tu et que fais tu?</h3>
<iframe src="https://www.youtube.com/embed/LExWeYd42aU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Je suis un Sioui, je suis membre du clan du loup et je fais partie de la maison longue à <em>Kwenwinrak</em>,
    les cérémonies, pour ce qui est de mon héritage, de mon ancrage de Wendate. J’ai un doctorat en sociologie, je suis
    un commissaire indépendant d’exposition dans le monde des arts visuels, je suis un théoricien de l’art
    amérindien, de l’art actuel, je suis un conférencier-performeur et aussi, j’enseigne depuis 5 ans à la seule
    institution d’enseignement entièrement autochtone sur une réserve, l’institution Kiuna à Odanak.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Au travers de ton travail, de tes voyages et de tes rencontres, comment vois tu la ré-appropriation culturelle se former?
    Comment devient-elle réalité et partie du quotidien des gens?</h3>
<iframe  src="https://www.youtube.com/embed/kYFw_46SdtQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«Pour moi, c’est comme si j’avais dépasser ces mots et ces catégories là qui sont pas les miens, qui sont ceux...
  Ce sont des mots qui viennent de la société, qu’on tente de nous imposer: réconciliation, réappropriation.
  Pour moi le mot qui me vient et que je vais te dire, c’est affirmation. Déjà c’est positif, deuxièmement ça
  signifie qu’il y eu un travail intérieur de fait et que, affirmation ça correspond un peu à toutes les
  plateformes, toutes les circulations, j’affirme... être un Wendate, j’affirme une certaine vision, une certaine
  compréhension et explication par exemple de l’art amérindien contemporain.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Quels sont les paradigmes actuels de l'indigénéité?</h3>
  <iframe src="https://www.youtube.com/embed/bAVGUImcrS4" frameborder="0" allowfullscreen></iframe>
  <p>«We are moving beyond old categories of the invented Indian, the constructed Indian, all of these. At the time where there is
    a planetary counciousness for the survival of the Earth We are, we are re-discovering that there were groups and peoples, who
    had visions which might still have a relevant message today. And from there, we are discovering again a lot of this pressure
    on the Amerindian.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Comment vois tu le futur des Premières Nations au Québec et au Canada?</h3>
  <iframe src="https://www.youtube.com/embed/BhphwbANd7o" frameborder="0" allowfullscreen></iframe>
<p>«On voit là en à peine 3 ans, cet incroyable intérêt pour la revitalisation, tu l’as employé au début, des
  langues, des danses, des chants.Donc il y a un futur, qu’on le veuille ou non, il ne s’en va pas vers l’extinction.
  Mais il s’en va vers un grand défi qui va être pour ceux et celles qui sont à la ville.»</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>Et en ce qui concerne les femmes autochtones?</h3>
<iframe src="https://www.youtube.com/embed/voib0ekIPBw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p>«Before conquest, before colonization, before enforcing values that you know as well, women have always been
  at the center of everything.»</br></br>
  «I welcome transition when it arrives, and I'm going to give you an example. Urban Indigenous women have
  started to play the drums, Among elders, it's inconceivable that women play drums, but I see here an evolution.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Quel serait ton message à livrer aux jeunes?</h3>
  <iframe src="https://www.youtube.com/embed/xOcDzHhrP0Y" frameborder="0" allowfullscreen></iframe>
  <p>«Je salue la transgression lorsqu’elle arrive.»</br></br>
  «Essentiellement, d’ailleurs tout ça le bout de chemin, la synthèse, la conclusion… c’est de ré-habiliter l’amour. Parce-que c’est toujours inventé, c’est toujours faire des contacts, des connexions, des rencontres. Et c’est le faire avec l’autre et pas avec soi-même, sortir du narcissisme.» </p>
</div></div>

<div class="row">
<div class="col-xs-12">
<img src="/pictures/art/interview/fleche.JPG" alt="" class="img-responsive center"/>
<p class="caption">Guy présentant la flèche du temps à la conférence de clôture du RIAPA ~ Rassemblement Internations d'Art Performance Autochtone, in La Chambre Blanche, Quebec (September 2018).
«Changing the world through art, changing art through Indigenous art, and changing Indigenous art through Indigenous performative art.»</p>

</div></div>

</div>
</body>
