<% include ../partials/header %>
<head>
  <title>Interview with Guy Sioui Durand</title>
</head>

<body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div></div>
      <div class="col-xs-8">
      <h1>Guy Sioui Durand</h1>
      <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive center"/>
      <p class="caption">taken by Louise Watson at the National Library in Montreal, summer 2016</p>
    </div></div>

<div class="row">
<div class="col-xs-4"></div>

<div class="col-xs-8">
    <h3>This page is currently under translation</h3>
  </br></br>
  <h3>Qui es tu et que fais tu dans la vie?</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LExWeYd42aU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«Je suis un Sioui, mon nom en français Guy Sioui Durand, je suis membre du clan du loup et je fais partie de la maison longue à Kwenwinrak, les cérémonies. Pour ce qui est de mon héritage, de mon ancrage de wendate. J’ai un doctorat en sociologie, je suis un commissaire indépendant d’exposition dans le monde des arts visuels, je suis un théoricien de l’art amérindien, de l’art actuel, je suis un conférencier-performeur et aussi, j’enseigne depuis 5 ans à la seule institution d’enseignement entièrement autochtone sur une réserve, l’institution Kiuna à Odanak.»</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3> Au travers de ton travail, pis de tes voyages, de tes rencontres, comment vois-tu la revitalisation culturelle évoluer? Comment ça se concrétise et s’inscrit dans le quotidien vraiment des gens ?s</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kYFw_46SdtQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«Pour moi, c’est comme si j’avais dépasser ces mots et ces catégories là qui sont pas les miens. Ce sont des mots qui viennent de la société, qu’on tente de nous imposer.
  Pour moi le mot qui me vient et que je vais te dire, c’est affirmation. Déjà c’est positif, deuxièmement ça signifie qu’il y eu un travail intérieur de fait et que, affirmation ça correspond un peu à toutes les plateformes, toutes les circulations, j’affirme… d’être un wendate, j’affirme une certaine vision, une certaine compréhension et explication par exemple de l’art amérindien contemporain.»</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>Naviguer la construction de son identité comme autochtone</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bAVGUImcrS4" frameborder="0" allowfullscreen></iframe>
<p>    «Mon rôle à moi c’est de fracturer ça, allons marcher dans le bois, allons ressourcer sur d’autres choses et surtout, je me pose des questions maintenant: quels seraient les vrais concepts, les vraies notions pour définir de manière amérindienne, l’art amérindien imaginaire.»
C’est toujours la sempiternelle question, la rencontre, comment se découvrir, se rencontrer, se re-découvrir.</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>Comment tu vois le futur des jeunes Premières Nations au Québec et au Canada, en particulier celui des femmes autochtones? </h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BhphwbANd7o" frameborder="0" allowfullscreen></iframe>
<p>«On voit là en à peine 3 ans, cet incroyable intérêt pour la revitalisation, tu l’as employé au début, des langues, des danses, des chants.Donc il y a un futur, qu’on le veuille ou non, il ne s’en va pas vers l’extinction. Mais il s’en va vers un grand défi qui va être pour ceux et celles qui sont à la ville.»</p>
  </div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>Un dernier message à livrer?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xOcDzHhrP0Y" frameborder="0" allowfullscreen></iframe>
  <p>«Je salue la transgression lorsqu’elle arrive.»</br></br>
  «Essentiellement, d’ailleurs tout ça le bout de chemin, la synthèse, la conclusion… c’est de ré-habiliter l’amour. Parce-que c’est toujours inventé, c’est toujours faire des contacts, des connexions, des rencontres. Et c’est le faire avec l’autre et pas avec soi-même, sortir du narcissisme.» </p>
</div></div>

</div>
</body>
