<% include ../partials/header %>
<head>
  <title>Interview with: Guy Sioui Durand</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Guy Sioui Durand</h1>
      <p>... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive"/>
</div></div>

<div class="row">
<div class="col-xs-4"></div>

<div class="col-xs-8">
  <h3>Who are you and what do you do in your life?</h3>
  <p> video clip 1</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
<h3> Through your work, you journeys, and encounters, how do you see cultural re-appropriation unfolding and how does it become reality, part of people's daily lives?</h3>
<p>clip video 2</p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>Identity</h3>
  <p>sound clip blue
  Mon rôle à moi c’est de fracturer ça, allons marcher dans le bois, allons ressourcer sur d’autres choses et surtout, je me pose des questions maintenant: quels seraient les vrais concepts, les vraies notions pour définir de manière amérindienne, l’art amérindien imaginaire. </p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>About indigenous youths</h3>
  <p>sound clip green</p>
  </div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <h3>A last message to deliver?</h3>
  <p> Humanity, love</p>
</div></div>

</div>
</body>
