<% include ../partials/header %>
<head>
  <title>Interview with Guy Sioui Durand</title>
</head>

<body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div></div>
      <div class="col-xs-8">
      <h1>ART ~ Interview</h1>
      <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive center"/>
      <p class="caption">Guy Sioui Durand taken by Louise Watson at the National Library in Montreal, summer 2016</p>
    </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Who are you and what do you do?</h3>
<iframe src="https://www.youtube.com/embed/LExWeYd42aU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«I am a Sioui, I am member of the wolf clan, and I am part of the longhouse in <em>Kwenwinrak</em>, the ceremonies that's for my heritage, for my anchoring as a Wendat. Pour ce qui est de mon héritage, de mon ancrage de wendate.
    I am an independent commissioner of exhibitions in the world of visual arts. I am theorist of Amerindian art, of contemporary art, I am a lecturer-performer, and I also have been teaching for five years at the only educational institution entirely Indigenous on a reservation, the institution Kiuna in Odanak.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Through your work, your journeys and your encounters, how do you see cultural re-appropriation unfolding?
    How does it become reality, and part of people's daily lives?</h3>
<iframe  src="https://www.youtube.com/embed/kYFw_46SdtQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«For me, it's as if I had moved beyond these words and these categories which are not mine... it's words which come from society that try to be imposed upon us: reconciliation, re-appropriation.
  For me, the word that comes and that I will share with you, it's affirmation. First, it's positive. Second, it means that an inner work is done. I affirm to be a Wendat, I affirm a particular vision, a particular understanding and explanation for example, of contemporary Indigenous art.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Navigating the construction of one's identity as Indigenous</h3>
  <iframe src="https://www.youtube.com/embed/bAVGUImcrS4" frameborder="0" allowfullscreen></iframe>
<p>    «Mon rôle à moi c’est de fracturer ça, allons marcher dans le bois, allons ressourcer sur d’autres choses et surtout, je me pose des questions maintenant: quels seraient les vrais concepts, les vraies notions pour définir de manière amérindienne, l’art amérindien imaginaire.»
C’est toujours la sempiternelle question, la rencontre, comment se découvrir, se rencontrer, se re-découvrir.</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you see the future of young First Nations in Quebec and Canada, in particular of Indigenous women?</h3>
  <iframe src="https://www.youtube.com/embed/BhphwbANd7o" frameborder="0" allowfullscreen></iframe>
<p>«On voit là en à peine 3 ans, cet incroyable intérêt pour la revitalisation, tu l’as employé au début, des langues, des danses, des chants.Donc il y a un futur, qu’on le veuille ou non, il ne s’en va pas vers l’extinction. Mais il s’en va vers un grand défi qui va être pour ceux et celles qui sont à la ville.»</p>
  </div></div>

<div class="row">
<div class="col-xs-12">
  <h3>A last message to deliver?</h3>
  <iframe src="https://www.youtube.com/embed/xOcDzHhrP0Y" frameborder="0" allowfullscreen></iframe>
  <p>«Je salue la transgression lorsqu’elle arrive.»</br></br>
  «Essentiellement, d’ailleurs tout ça le bout de chemin, la synthèse, la conclusion… c’est de ré-habiliter l’amour. Parce-que c’est toujours inventé, c’est toujours faire des contacts, des connexions, des rencontres. Et c’est le faire avec l’autre et pas avec soi-même, sortir du narcissisme.» </p>
</div></div>

</div>
</body>
