<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>

    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h2>Keep exploring here</h2></br>
          <% include ../circle-opt.svg %>
          <h3>Curious about the other interviews?</h3>
          <ul><h5>
            <li> <a href="/land/interview">Luc Gauthier Nolett</a></li>
            <li> <a href="/language/interview">Monique Nolett Ille</a></li>
            <li> <a href="/spirit/interview">Michel Durand Nolett</a></li>
          </ul></h5>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Guy Sioui Durand</h1>
      <p>... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive"/>
</div></div>

</div>
</body>
