<% include ../partials/header %>
<head>
  <title>Interview with Guy Sioui Durand</title>
</head>

<body>
    <div class="container">
      <div class="row">
      <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div></div>
      <div class="col-xs-8">
      <h1>ART ~ Interview</h1>
      <img src="/pictures/art/interview/guy.jpg" alt="" class="img-responsive center"/><a class="btn btn-default main pull-right" href="/art/entrevue">Français</a>
      <h3>Guy Sioui Durand</h3>
        </div></div>

<div class="row">
<div class="col-xs-12">
  <p>«My role is to fracture all that, let's go walk in the woods, let us replenish on other things, and above all,
    I'm wondering now: what would be the real concepts, the true notions to define Amerindian imaginary art,
    in an Amerindian way.»
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Who are you and what do you do?</h3>
<iframe src="https://www.youtube.com/embed/LExWeYd42aU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <p>«I am a Sioui, I am member of the wolf clan, and I am part of the longhouse in <em>Kwenwinrak</em>, the
    ceremonies. That's regarding my heritage, my anchoring as a Wendat. I have a PhD in sociology, I am an independent
    commissioner of exhibitions
     in the world of visual arts. I am theorist of Amerindian art, of contemporary art, I am a lecturer-performer,
     and I also have been teaching for five years at the only educational institution entirely Indigenous on a
     reservation, the institution Kiuna in Odanak.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Through your work, your journeys and your encounters, how do you see cultural re-appropriation unfolding?
    How does it become reality, and part of people's daily lives?</h3>
<iframe  src="https://www.youtube.com/embed/kYFw_46SdtQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<p>«For me, it's as if I had moved beyond these words and these categories which are not mine... it's words which come from society that try to be imposed upon us: reconciliation, re-appropriation.
  For me, the word that comes and that I will share with you, it's affirmation. First, it's positive. Second, it means that an inner work is done. I affirm to be a Wendat, I affirm a particular vision, a particular understanding and explanation for example, of contemporary Indigenous art.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What are today's paradigms of Indigeneity?</h3>
  <iframe src="https://www.youtube.com/embed/bAVGUImcrS4" frameborder="0" allowfullscreen></iframe>
<p>«We are moving beyond old categories of the invented Indian, the constructed Indian, all of these. At the time where there is
  a planetary counciousness for the survival of the Earth We are, we are re-discovering that there were groups and peoples, who
  had visions which might still have a relevant message today. And from there, we are discovering again a lot of this pressure
  on the Amerindian.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>How do you see the future of young First Nations in Quebec and Canada?</h3>
  <iframe src="https://www.youtube.com/embed/BhphwbANd7o" frameborder="0" allowfullscreen></iframe>
<p>«We notice how, in a bit less than three years, there is this incredible interest for the revitalization of languages,
  of dances, of songs. So there is a un futur, whether we want it or not, it's not going towards *extinction*.
  But there is a great challenge, for those who live in cities.»</p>
  </div></div>

  <div class="row">
  <div class="col-xs-12">
    <h3>And what about Indigenous women?</h3>
<iframe src="https://www.youtube.com/embed/voib0ekIPBw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p>«Before conquest, before colonization, before enforcing values that you know as well, women have always been
    at the center of everything.»</br></br>
    «I welcome transition when it arrives, and I'm going to give you an example. Urban Indigenous women have
    started to play the drums, Among elders, it's inconceivable that women play drums, but I see here an evolution.»</p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>What would be your message to the youth?</h3>
  <iframe src="https://www.youtube.com/embed/xOcDzHhrP0Y" frameborder="0" allowfullscreen></iframe>
  <p>«There is a great challenge, for those staying in cities. Now comes a young generation, who might get rid of their
    inhibitions easier than before, who is more guts. The danger is that there is a heritage,
    a legacy, a wisdom, (...) that they don't forget all these connections.» </p>

    <!--<p>  «It's always the eternal question of the encounter, how to discover each other, to meet, to discover each other again.»</p>
</br></br>
  Essentially, the synthesis, the conclusion of all that.. is to rehabilitate love. Because it's always invented,
  it's always about making contacts, connections, encounters. And it's about doing it with others, and not with oneself, getting out of narcissim.» </p>-->
</div></div>

<div class="row">
<div class="col-xs-12">
<img src="/pictures/art/interview/fleche.jpg" alt="" class="img-responsive center"/>
<p class="caption">Guy presenting the arrow of time at the closing conference of RIAPA ~ Rassemblement Internations d'Art Performance Autochtone, in La Chambre Blanche, Québec (September 2018).</p>
</div></div>

</div>
</body>
