<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
<h1 class="wheeltitle">S'instruire sur l'art au travers d'une...</h1>
<h1>Entrevue avec un personnage: Guy Sioui Durand</h1>

</div>
</body>
