<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="miniwheel" data-spy="affix" data-offset-top="60">
  <h2>Keep exploring here</h2>
      <% include ../circle-opt.svg %>
<h3>Curious about the other participatory photography?</h3>
<ul><h5>
<li> <a href="/land/photo">Land</a> </li>
<li> <a href="/language/photo">Language</a></li>
<li> <a href="/spirit/photo">Spirit</a></li>
</ul></h5>
  </div>
</div>
  <div class="col-xs-8">
<h1> Photographs </h1>
<h5> These pictures were taken by Marie Kristine Petiquay and Raphaelle Obomsawin</h5>
<p> Inspired from PhotoVoice
Following a chronological order.</p>
</div></div>

<!-- ROW 1-->
<div class="row">
  <div class="col-xs-4">

  </div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/1.jpg"><img src="/pictures/art/photo/1.jpg" class="img-responsive center"/></a>
    <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br></br>
  «It is inspiring because it is the houses of 'the past'»</p>
</div>
  <div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/art/photo/2.jpg"><img src="/pictures/art/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br></br>
«This scene represents the life style of autrefois. It is the winter camp of our ancestors, life in community
before the modernity. One can see the wigwam in the back.»</p>
</div></div>

<!-- ROW 2-->
<div class="row">
<div class="col-xs-4">

</div>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/art/photo/4.jpg"><img src="/pictures/art/photo/4.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Lac Simon, 23.07.2016</br></br>
  «That was the first pow-wow of my niece Rocksanne. She received her chawl et her dress by her grandmother from the father side.
   I wanted to show two perspectices: one before stepping into the dance, like observing...»</p>
</div>
  <div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/3.jpg"><img src="/pictures/art/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Lac Simon, 23.07.2016</br></br>
«... and then, participating. She observes because we learn by observing.
Observation is an essential element of learning among First Nations.»</p>
</div></div>

<!-- ROW 3-->
<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8 gallery">
  <a target="_blank" href="/pictures/art/photo/5.jpg"><img src="/pictures/art/photo/5.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Odanak, 03.04.2016 </br></br>
«This is an experimental piece, I'm learning new techniques.»</p>
</div></div>

<!-- FINAL --->

<!-- ROW 4
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/7.jpg"</a>
<img src="/pictures/art/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/8.jpg"</a>
<img src="/pictures/art/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/8.jpg"</a>
<img src="/pictures/art/photo/8.jpg" class="img-responsive center"/>
  <div class="desc"> ...</div>
</div></div> -->

</div>
</body>
