<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <div class="row">
  <h4 class="wheeltitle"> Découvrir l'art au travers de...</h4>
<h1> Photographies </h1>
<div class="col-xs-12">
<h5> Ces photos ont été prises dans le cadre d'ateliers de photographie participative à partir de la méthode PhotoVoice</h5>
<p> J'ai décidé de mélanger les territoires et les photographes afin de créer une impression d'ensemble des terres parcourues.
Contrairement aux pages présentant sur <a href="/the-communities">les communautés</a>, ici seont uniquement présentées les
photos prises par <a href="/the-women">ces jeunes</a> dans le cadre des ateliers. Les légendes en dessous des photographies
informent sur: l'auteur, le lieu, la saison. Parfois, elles sont accompagnées d'un commentaire, d'une histoire ou d'une
explication fournie par la photographe.
Le choix de l'ordre et du classement a été saisi sur un ordre chronologique.</p>
</div></div>
<!-- ROW 1-->
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/1.jpg"><img src="/pictures/art/photo/1.jpg" class="img-responsive center"/></a>
    <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</p>
  «...»</div>
  <div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/art/photo/2.jpg"><img src="/pictures/art/photo/2.jpg" class="img-responsive center"/></a>
  <p class="caption">Raphaelle Obomsawin, Odanak, juillet 2016</br></br>
«Cette scène représente le mode de vie d'autrefois. C'est le campement d’hiver de nos ancêtres, la vie en communauté
avant la modernité. On peut voir le wigwam au fond.»</div>
<div class="col-xs-4 gallery">
<a target="_blank" href="/pictures/art/photo/4.jpg"><img src="/pictures/art/photo/4.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Lac Simon, 23.07.2016</br></br>
  «C'était le premier pow-wow de ma nièce Rocksanne. Elle reçu son châle et sa robe par sa grand-mère paternelle.
   J'ai voulu montré comme deux perspectives: avant d'entrer dans la danse, comme l'observation et après, la participation»</p>
</div></div>

<!-- ROW 2-->
<div class="row">
  <div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/3.jpg"><img src="/pictures/art/photo/3.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, Lac Simon, 23.07.2016</p>
«C'était le premier pow-wow de ma nièce Rocksanne. Elle reçu son châle et sa robe par sa grand-mère paternelle.
 J'ai voulu montré comme deux perspectives: avant d'entrer dans la danse, comme l'observation et après, la participation»
Elle observe parce-qu'on apprend en observant. L'apprentissage chez les Premières Nations se fait beaucoup par l'observation.</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/5.jpg"><img src="/pictures/art/photo/5.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie Kristine Petiquay, 03.04.2016</p>
«Expérimentation. J'essai de nouvelles techniques.»
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/6.jpg"><img src="/pictures/art/photo/6.jpg" class="img-responsive center"/></a>
  <p class="caption">Marie-Kristine Petiquay, Odanak, juillet 2016</p>
</div></div>

<!-- ROW 3
<div class="row">
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/7.jpg"</a>
<img src="/pictures/art/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/8.jpg"</a>
<img src="/pictures/art/photo/7.jpg" class="img-responsive center"/>
  <div class="desc">...</div>
</div>
<div class="col-xs-4 gallery">
  <a target="_blank" href="/pictures/art/photo/8.jpg"</a>
<img src="/pictures/art/photo/8.jpg" class="img-responsive center"/>
  <div class="desc"> ...</div>
</div></div> -->

</div>
</body>
