<% include ../partials/header %>
<head>
  <title>Basket weaving</title>
</head>

<body>

<div class="container">
    <div class="row">
    <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Basket weaving with as and sweetgrass</h1>
      <img src="/pictures/art/trad/tressage.jpg" class="img-responsive"/>
    <p class="caption">Women from Odanak weaving and selling baskets at the First Peoples Festival in Montreal</p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
    <iframe src="https://player.vimeo.com/video/238199856" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>  </p>
</div></div>

<div class="row">
<div class="col-xs-4">
</div>

<div class="col-xs-8">
  <iframe src="https://player.vimeo.com/video/238218554" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>Some of there information have been extracted from<u><a href="https://umaine.edu/nativeamericanprograms/wp-content/uploads/sites/320/2017/07/Neuman-Basketry-of-the-Wabanaki-Indians.pdf">article</a></u> about basketry
</p>
</div></div>

</div>
</body>
