<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>
<div class="container">
  <h1 class="wheel title"> Vivre l'art au travers d'une... </h1>
<h1>Pratique traditionelle: le tressage de paniers</h1>

<div class="row">
<div class="col-xs-6">
<img src="/pictures/art/tressage/jpg" class="img responsive center"/>

</div>

</div>


</div>

</div>
</body>
