<% include ../partials/header %>
<head>
  <title>...</title>
</head>

<body>

<div class="container">
    <div class="row">
    <div class="col-xs-4">
        <div class="miniwheel" data-spy="affix" data-offset-top="60">
          <h2>Keep exploring here</h2></br>
          <% include ../circle-opt.svg %>
          <h3>Curious about the other traditional pratices?</h3>
          <ul><h5>
            <li> <a href="/land/trad">Ash pounding</a></li>
            <li> <a href="/language/trad">Storytelling</a></li>
            <li> <a href="/spirit/trad">Celebrating</a> </li>
          </ul></h5>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>Basket weaving</h1>
      <p>... </p>
    </div></div>

  <div class="row">
  <div class="col-xs-4">
  </div>

  <div class="col-xs-8">
<img src="/pictures/art/trad/tressage.jpg" class="img-responsive"/>
  <p> Women from Odanak weaving and selling baskets at Presence Autochtone Festival in Montreal</p>
</div></div>

</div>
</body>
