<% include ../partials/header %>
<head>
  <title>Basket weaving</title>
</head>

<body>

<div class="container">
    <div class="row">
    <div class="col-xs-4">
        <div class="miniwheel" xdata-spy="affix" data-offset-top="60">
          <h3>Keep exploring here</h3>
          <% include ../circle-opt.svg %>
        </div>
      </div>
      <div class="col-xs-8">
      <h1>ART ~ Tradition</h1>
      <p>«Basket making signifies a process of decolonization, as the production of baskets is inseparable from assertions of tribal/band sovereignty, land use rights, and indigenous identities in
  twenty-first-century America and Canada.» ~ </br><em>R. Sockbeson, Waponahki intellectual tradition of weaving educational policy</em>
</br>Basket weaving is an ancestral tradition among the Abenaki. Usually practiced by women, they use ash splints and sweetgrass.</p>
    </div></div>

      <div class="row">
      <div class="col-xs-12">
    <img src="/pictures/art/trad/tressage.jpg" class="img-responsive"/>
  <p class="caption">Annett and her granddaughter Anne Jo from Odanak, weaving and selling baskets at the First Peoples Festival in Montreal, summer 2016</p>
</div>

  <div class="row">
  <div class="col-xs-12">
<h3>Abenaki women weaving at the First Peoples Festival in Montreal</h3>
<div class="video"><iframe src="https://player.vimeo.com/video/238199856" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<p class="caption">There are two categories of baskets: utility baskets, for transporting, processing and storing food or other items, and fancy baskets. The ones displayed in the video clip are mainly of the fancy type, with twists, curls and bright colours. Recorded by Louise Watson. </p>
</div></div>

<div class="row">
<div class="col-xs-12">
  <h3>Historical context</h3>
      <img src="/pictures/art/trad/lady.jpg" class="img-responive"/>
      <p class="caption">Printed postcard of Dora O'bomsawin (1889-1952), found on <u><a href="http://iroquoisbeadwork.blogspot.no/2013/11/wabanaki-basketry.html" target="_blank">this blog</a></u></p>
      <p>Traditionally, the weaving of ash splints has been passed on within families, generations after generations. This practice took a new economic, cultural and social meaning for Wabanaki* families at the beginning of the 18th century,
        when traders, tourists and museums started to shape a consumer market. The women would weave during the winter, and travel with their baskets and their crafting materials to big cities like Boston, New York and Philadelphia.
        Later during the 19th century, the families set up camps in resort towns to sell their creations to wealthy summer residents and vacationers. The introduction of new manufacturing tools and aniline dyes allowed for a wider diversity of colours and designs.</br>
      </br>The situation of the Wabanaki basket makers took a different turn during the 20th century. First, tourism declined because of the Great Depression and the premise of World War II, in which numerous First Nations men and women served. After the war, many Wabanaki families migrated to southern New England, enticed by new job opportunities and trying to escape the racial discrimination.
        Then, there was less demand for utility baskets due to the competition with plastic containers and foreign imports. Last but not least, the Wabanaki suffered from coastal development and changes in land use, restricting their access to traditional gathering sites for ash and sweetgrass, as well as the selling sites.</p>
        <p class= "caption">*I use the term Wabanaki here because this information come from <u><a href="https://umaine.edu/nativeamericanprograms/wp-content/uploads/sites/320/2017/07/Neuman-Basketry-of-the-Wabanaki-Indians.pdf" target="_blank">Neuman and Neptune</u></a>, where basketry is described as a tradition practiced by the different Nations of the Wabanaki Confederacy: the Passamoquody, the Mi'kmaq, the Wolastoqiyik/Maliseet, the Penobscot and the Abenaki.
            My anthropological fieldwork was conducted only among the latter one, while the literature generaly deals with the Nations in Maine, USA. The traditional lands of the Wabanaki included parts of northern New England, western Maine and southeastern Quebec.</p>

</div></div>

<div class="row">
<div class="col-xs-12">
  <div class="video"><iframe src="https://player.vimeo.com/video/238218554" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    <p class="quote">«Sweetgrass is the hair of our mother: separately, each strand is not as strong as the strands are when braided together.» Mary Ritchie <u><a href="http://www.nativetech.org/basketry/sweetindex.html" target="_blank">*</a></u></p>
  <p>«Baskets are like a signboard where Indigenous people could communicate their feelings about their surroundings and their changing existence; they can help us understand the lives of their makers.»</p>
  <p class="caption">These quotes come from the educational website Native Tech. Learn more about basketry <u><a href="http://www.nativetech.org/basketry/index.html" target="_blank">here</a></u>!</p>
</div></div>

</div>
</body>
